<div id="loader"   class="loader"></div>
<div class="container-fluid contSpace">
  <div class="row furniture-list">
    <div class="col-sm-12">
      <div class="list">
				<div class="row">
					<div class="downloadBtn">
						<button style="cursor:pointer" matTooltip="Download" type="button" (click)="exportToStallFurnitureCSV()">
							<i class="material-icons">get_app</i>
						</button>
					</div>
					<div class="refreshBtn"><button style="cursor:pointer" type="button" matTooltip="Refresh" (click)="reload_stall_furniture_list()" ><i class="material-icons"> refresh</i></button></div>
          <mat-accordion class="example-headers-align col-sm-12">
             <mat-panel-title>
                <h3>Furniture</h3>
               </mat-panel-title>
            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
              <mat-expansion-panel-header>
                <mat-panel-description class="text-right">
                  <mat-icon matTooltip="Info"><i class="material-icons">info</i></mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="row icon-info" >
                <div class="col-sm-8">
                    <h6>Pavillions:</h6>
                    <div class="row">                      
                      <div class="col-sm-6" style="padding: 0px 2px 0px 12px;">                       
                        <div class="mrgn-b-xs" style="float:left;clear:both;width:100%;" *ngFor="let pav_type of (masterData.pavillion_types  | slice:0:9) ;">
                          <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                          <div  style="float:left;width:12px;text-align:center;"> : </div>
                          <div  style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                        </div>                          
                      </div>
                      <div class="col-sm-6" style="padding: 0px 2px;">
                        <div class="mrgn-b-xs" style="float:left;clear:both;width:100%;" *ngFor="let pav_type of (masterData.pavillion_types  | slice:9:18) ;">
                          <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                          <div  style="float:left;width:12px;text-align:center;"> : </div>
                          <div  style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                        </div>   
                      </div>
                    </div>
                </div>               
                <div class="col-sm-2">
                  <h6>Type:</h6>
                  <p class="mrgn-b-xs" *ngFor="let std_type of masterData.stand_types;">{{std_type.short_code}}: {{std_type.name}}</p>                 
                </div>
                <div class="col-sm-2">
                  <h6>Location:</h6>                 
                  <p class="mrgn-b-xs" *ngFor="let std_loc of masterData.stand_locations;">
                    <img src="../../assets/images/{{std_loc.short_code}}.png" width="23">: {{std_loc.name}}
                  </p>                 
                </div>
                <!--<div class="col-sm-2">
                  <h6>Form Status:</h6>
                  <p class="mrgn-b-xs"><span class="Approved"></span> : Aprroved</p>
                  <p class="mrgn-b-xs"><span class="Pending"></span> : Pending</p>
                  <p class="mrgn-b-xs"><span class="NotFilled"></span> : Not Filled</p>                                  
                  <p class="mrgn-b-xs"><span class="Rejected"></span> : Rejected</p>
                  <h6>Payment Status:</h6>
                  <p class="mrgn-b-xs"><span class="pending"></span> : Pending</p>
                  <p class="mrgn-b-xs"><span class="paid"></span> : Paid</p>
                  <p class="mrgn-b-xs"><span class="failed"></span> : Failed</p> 
                </div>-->
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
       <mat-card class="example-card" style="margin-top:15px;">
				 	<div class="row" layout="row" layout-align="space-between center">
            <div class="col-sm-4">
              <mat-form-field class="example-full-width">
                <mat-icon matPrefix><i class="material-icons">search</i></mat-icon>
                <input type="text" matInput placeholder="Search by company name" (keyup)="search_stalls_by_company($event)" [(ngModel)]="furniture_stall_search"/>
              </mat-form-field>
            </div>
            <div class="col-sm-2 ">              
            </div>
             <div class="col-sm-2 ">
              <mat-form-field>
                <mat-select placeholder="Pavillion" [(ngModel)]="furniture_stall_filter.pavillion_type" (ngModelChange)="get_stall_furniture_list()">
									<mat-option value="">All</mat-option>
									<mat-option *ngFor="let item of masterData.pavillion_types" value="{{item.short_code}}">
										{{item.name}}
									</mat-option>
                </mat-select>
              </mat-form-field>
            </div> 
            <div class="col-sm-2 ">
              <mat-form-field>
                <mat-select placeholder="Type" [(ngModel)]="furniture_stall_filter.stand_type" (ngModelChange)="get_stall_furniture_list()">
									<mat-option value="">All</mat-option>
									<mat-option *ngFor="let item of masterData.stand_types" value="{{item.short_code}}">
										{{item.name}}
									</mat-option>
                </mat-select>
              </mat-form-field>
            </div> 
             <div class="col-sm-2 ">
              <mat-form-field>
                <mat-select placeholder="Location" [(ngModel)]="furniture_stall_filter.stand_location" (ngModelChange)="get_stall_furniture_list()">
									<mat-option value="">All</mat-option>
									<mat-option *ngFor="let item of masterData.stand_locations" value="{{item.short_code}}">
										{{item.name}}
									</mat-option>
                </mat-select>
              </mat-form-field>
            </div>            
          </div>
				 <div class="col-sm-12 exhibitor-pagi" *ngIf="isSuccess && total_furniture_stall > 0">
								<div class="row">
									<div class="col-sm-3">
										<span>Showing: {{ furniture_stall_start_item }}-{{ furniture_stall_end_item }} of {{ total_furniture_stall }}</span> 
									</div>
									<div class="col-sm-3">
										<mat-checkbox class="example-margin" [(ngModel)]="furniture_stall_showall" (ngModelChange)="show_all_furniture_stalls()">
											Show All
										</mat-checkbox>
									</div>		
									<div class="col-sm-6 text-right pad-r-none">
										<mat-list role="list">
											<mat-list-item role="listitem">
												<button mat-button [disabled]="furniture_stall_current_page==0" (click)="furniture_stall_current_page=0;get_stall_furniture_list()">
													<i class="material-icons">first_page</i>
												</button>
											</mat-list-item>
											<mat-list-item role="listitem">
												<button mat-button [disabled]="furniture_stall_current_page==0" (click)="furniture_stall_current_page=furniture_stall_current_page-1;get_stall_furniture_list()">
													<i class="material-icons">keyboard_arrow_left</i>
												</button>
											</mat-list-item>
											<mat-list-item role="listitem" >Page  {{ furniture_stall_current_page + 1 }} of  {{ furniture_stall_pages }}</mat-list-item> 
												<mat-list-item role="listitem">
													<button mat-button [disabled]="furniture_stall_current_page==(furniture_stall_pages-1)" (click)="furniture_stall_current_page=furniture_stall_current_page+1;get_stall_furniture_list()">
														<i class="material-icons">navigate_next</i>
													</button>
												</mat-list-item>
												<mat-list-item role="listitem">
													<button mat-button [disabled]="furniture_stall_current_page==(furniture_stall_pages-1)" (click)="furniture_stall_current_page=(furniture_stall_pages-1);get_stall_furniture_list()">
														<i class="material-icons">last_page</i>
													</button>
												</mat-list-item>
											</mat-list>
										</div>
									</div>
								</div>
          <div class="table-responsive" *ngIf="isSuccess && total_furniture_stall > 0">
   					<table class="table main_table">
								<tr>
									<td class="main_first_td">
										<table class="table first">
						
											<tr class="first_tr">
												<th style="width:20px;word-wrap: break-word;">SR.NO</th>
												<th style="width:30px;" (click)="sort_furniture_stalls('stall_id')" matTooltip="click to sort on this column">Id
													<span  class="table-filter" *ngIf="furniture_stall_sort_col=='stall_id'">
														<i *ngIf="furniture_stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        		<i *ngIf="furniture_stall_sort_dir==0" class="material-icons">arrow_drop_up</i>														
													</span>
												</th>
												<th style="width:170px;" (click)="sort_furniture_stalls('company_name')" matTooltip="click to sort on this column">COMPANY
													<span  class="table-filter" *ngIf="furniture_stall_sort_col=='company_name'">													
														<i *ngIf="furniture_stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        		<i *ngIf="furniture_stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
													</span>
												</th>
												<th style="width:30px;" (click)="sort_furniture_stalls('area')" matTooltip="click to sort on this column">AR.
													<span  class="table-filter" *ngIf="furniture_stall_sort_col=='area'">													
														<i *ngIf="furniture_stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        		<i *ngIf="furniture_stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
													</span>
												</th>
												<th style="width:30px;" (click)="sort_furniture_stalls('pavillion_type')" matTooltip="click to sort on this column">PAV.
													<span  class="table-filter" *ngIf="furniture_stall_sort_col=='pavillion_type'">													
														<i *ngIf="furniture_stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        		<i *ngIf="furniture_stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
													</span>
												</th>
												<th style="width:30px;" (click)="sort_furniture_stalls('stand_type')" matTooltip="click to sort on this column">TYPE
													<span  class="table-filter" *ngIf="furniture_stall_sort_col=='stand_type'">													
														<i *ngIf="furniture_stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        		<i *ngIf="furniture_stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
													</span>
												</th>
												<th style="width:30px;" (click)="sort_furniture_stalls('stand_location')" matTooltip="click to sort on this column">LOC.
													<span  class="table-filter" *ngIf="furniture_stall_sort_col=='stand_location'">													
														<i *ngIf="furniture_stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        		<i *ngIf="furniture_stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
													</span>
												</th>
												<th style="width:50px;" (click)="sort_furniture_stalls('alloted_stall_no')" matTooltip="click to sort on this column">STALL_NO.
													<span  class="table-filter" *ngIf="furniture_stall_sort_col=='stall_no'">													
														<i *ngIf="furniture_stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        		<i *ngIf="furniture_stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
													</span>
												</th>
												<!-- <th style="width:30px;" (click)="sort_furniture_stalls('alloted_hall_no')" matTooltip="click to sort on this column">HALL_NO.
													<span  class="table-filter" *ngIf="furniture_stall_sort_col=='hall_no'">													
														<i *ngIf="furniture_stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        		<i *ngIf="furniture_stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
													</span>
												</th> -->
												<!-- <th style="width:60px;" (click)="sort_furniture_stalls('priority_number')" matTooltip="click to sort on this column">PRIORITY
													<span  class="table-filter" *ngIf="furniture_stall_sort_col=='priority_number'">													
														<i *ngIf="furniture_stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        		<i *ngIf="furniture_stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
													</span>
												</th> -->
												
											</tr>
											<tr *ngFor="let stall of stallFuniture; let i = index">
												<td>{{ pagesize*furniture_stall_current_page + i + 1 }}</td>
												<td>{{ stall.stall_id }}</td>
												<td class="compName">{{ stall.company_name }}</td>
												<td>{{ stall.area }}</td>
												<td class="icon-info" matTooltip="{{stall.pavillion_name}}" matTooltipPosition="above">
													<span class="{{ stall.pavillion_type }}">{{ stall.pavillion_type }}</span>
												</td>
												<td matTooltip="{{stall.stand_type_name}}" matTooltipPosition="above">
													{{ stall.stand_type }}
												</td>
												<td matTooltip="{{stall.stand_location_name}}" matTooltipPosition="above">
													<img src="../../assets/images/{{stall.stand_location}}.png"  width="23"/>
												</td>
												<!-- <td class="nowrap">{{ stall.priority_number }}</td> -->
												<td>{{ stall.alloted_stall_no }}</td>
												<!-- <td>{{ stall.alloted_hall_no }}</td> -->
											</tr>
										</table>
									</td>
									<td class="main_second_td">
										<table class="table">
											<tr class="head_main">
												<th class="item" style="width:80px;">CHAIR</th>
												<th class="item" style="width:80px;">TABLE</th>
												<!-- <th class="item" colspan="3" style="width:100px;">ROUND TBL</th>
												<th class="item" colspan="3" style="width:100px;">HALOGEN</th> -->
												<th class="item" style="width:80px;">SPOT LAMP</th>
											</tr>
											<tr class="head_main">
												<th class="std">STD</th>
												<!-- <th class="ext">EXT</th>
												<th class="tot">TOT</th> -->
												<th class="std">STD</th>
												<!-- <th class="ext">EXT</th>
												<th class="tot">TOT</th> -->
												<!-- <th class="std">STD</th>
												<th class="ext">EXT</th>
												<th class="tot">TOT</th>
												<th class="std">STD</th>
												<th class="ext">EXT</th>
												<th class="tot">TOT</th> -->
												<th class="std">STD</th>
												<!-- <th class="ext">EXT</th>
												<th class="tot">TOT</th> -->
											</tr>
											<tr *ngFor="let stall of stallFuniture">
												<td class="std">{{ stall.std_chair }}</td>
												<!-- <td class="ext">{{ stall.extra_chair }}</td>
												<td class="tot">{{ stall.std_chair +  stall.extra_chair}}</td> -->
												<td class="std">{{ stall.std_table_frill_6_2 }}</td>
												<!-- <td class="ext">{{ stall.extra_table_frill_6_2 }}</td>
												<td class="tot">{{ stall.std_table_frill_6_2 + stall.extra_table_frill_6_2 }}</td> -->
												<!-- <td class="std">{{ stall.std_round_table_glass_top }}</td>
												<td class="ext">{{ stall.extra_round_table_glass_top }}</td>
												<td class="tot">{{ stall.std_round_table_glass_top + stall.extra_round_table_glass_top }}</td> -->
												<!-- <td class="std">{{ stall.std_halogen_250 }}</td>
												<td class="ext">{{ stall.extra_halogen_250 }}</td>
												<td class="tot">{{ stall.std_halogen_250 + stall.extra_halogen_250 }}</td> -->
												<td class="std">{{ stall.std_spot_lamp }}</td>
												<!-- <td class="ext">{{ stall.extra_spot_lamp }}</td>
												<td class="tot">{{ stall.std_spot_lamp + stall.extra_spot_lamp }}</td> -->
											</tr>
										</table>
  								</td>
      					</tr>
  						</table>
							<div class="col-sm-12 exhibitor-pagi">
								<div class="row">
									<div class="col-sm-3">
										<span>Showing: {{ furniture_stall_start_item }}-{{ furniture_stall_end_item }} of {{ total_furniture_stall }}</span> 
									</div>
											
									<div class="col-sm-9 text-right pad-r-none">
										<mat-list role="list">
											<mat-list-item role="listitem">
												<button mat-button [disabled]="furniture_stall_current_page==0" (click)="furniture_stall_current_page=0;get_stall_furniture_list()">
													<i class="material-icons">first_page</i>
												</button>
											</mat-list-item>
											<mat-list-item role="listitem">
												<button mat-button [disabled]="furniture_stall_current_page==0" (click)="furniture_stall_current_page=furniture_stall_current_page-1;get_stall_furniture_list()">
													<i class="material-icons">keyboard_arrow_left</i>
												</button>
											</mat-list-item>
											<mat-list-item role="listitem" >Page  {{ furniture_stall_current_page + 1 }} of  {{ furniture_stall_pages }}</mat-list-item> 
												<mat-list-item role="listitem">
													<button mat-button [disabled]="furniture_stall_current_page==(furniture_stall_pages-1)" (click)="furniture_stall_current_page=furniture_stall_current_page+1;get_stall_furniture_list()">
														<i class="material-icons">navigate_next</i>
													</button>
												</mat-list-item>
												<mat-list-item role="listitem">
													<button mat-button [disabled]="furniture_stall_current_page==(furniture_stall_pages-1)" (click)="furniture_stall_current_page=(furniture_stall_pages-1);get_stall_furniture_list()">
														<i class="material-icons">last_page</i>
													</button>
												</mat-list-item>
											</mat-list>
										</div>
									</div>
								</div>
							</div>
							<span *ngIf="!(isSuccess)" class="errorMessage"> {{ errorMessage }} </span>
							<span *ngIf="total_furniture_stall==0" class="errorMessage"> No records found </span> 
         </mat-card>
        
      </div>
    </div>
  </div>
</div>