<div class="container-fluid contSpace">
    <div class="row badgePage">
      <div class="col-sm-12 list">
        <!-- <div class="row">
           <div class="searchCountBtn"><p>1-8 of 1275</p></div>
            <div class="downloadBtn"><button style="cursor:pointer" type="button"><i class="material-icons">get_app</i></button></div>
            <div class="refreshBtn"><button style="cursor:pointer" type="button" (click)="get_stalls()"><i class="material-icons">
                refresh</i></button></div>
            <mat-accordion class="example-headers-align col-sm-12">
              <mat-panel-title>
                <h3>Fair Catalogue</h3>
              </mat-panel-title>
              <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-description class="text-right">
                    <mat-icon><i class="material-icons">info</i></mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row icon-info">
                  <div class="col-sm-6">
                    <h6>Pavillions:</h6>
                    <div class="row">
                      <div class="col-sm-6" style="padding: 0px 2px 0px 12px;">
                       
                        <div class="mrgn-b-xs" style="float:left;clear:both;" *ngFor="let pav_type of (masterdata.pavillion_types  | slice:0:8) ;">
                          <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                          <div style="float:left;width:12px;text-align:center;"> : </div>
                          <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                        </div>
                      </div>
                      <div class="col-sm-6" style="padding: 0px 2px;">
                        <div class="mrgn-b-xs" style="float:left;clear:both;" *ngFor="let pav_type of (masterdata.pavillion_types  | slice:8:15) ;">
                          <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                          <div style="float:left;width:12px;text-align:center;"> : </div>
                          <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <h6>Type:</h6>
                    <p class="mrgn-b-xs" *ngFor="let std_type of masterdata.stand_types;">{{std_type.short_code}}: {{std_type.name}}</p>
                  </div>
                  <div class="col-sm-2">
                    <h6>Location:</h6>
                    <p class="mrgn-b-xs" *ngFor="let std_loc of masterdata.stand_locations;">
                      <img src="../../assets/images/{{std_loc.short_code}}.png" width="23">: {{std_loc.name}}
                    </p>
                  </div>
                  <div class="col-sm-2">
                    <h6>Form Status:</h6>
                    <p class="mrgn-b-xs"><span class="Approved"></span> : Aprroved</p>
                    <p class="mrgn-b-xs"><span class="Pending"></span> : Pending</p>
                    <p class="mrgn-b-xs"><span class="NotFilled"></span> : Not Filled</p>
                    <p class="mrgn-b-xs"><span class="Rejected"></span> : Rejected</p>
                    <h6>Payment Status:</h6>
                    <p class="mrgn-b-xs"><span class="pending"></span> : Pending</p>
                    <p class="mrgn-b-xs"><span class="paid"></span> : Paid</p>
                    <p class="mrgn-b-xs"><span class="failed"></span> : Failed</p>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div> -->
      </div>
      <!-- start badges-list-->
      <div class="col-sm-12 mrgn-b-lg badges-list list">
        <mat-card>
            <!-- <div class="row" layout="row" layout-align="space-between center">
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-icon matPrefix><i class="material-icons">search</i></mat-icon>
                    <input type="text" (keyup)="search_stalls($event)" [(ngModel)]="stall_search" matInput placeholder="Search by company name or person"
                    />
                  </mat-form-field>
                </div>
                <div class="col-sm-2 ">
                  <mat-form-field>
                    <mat-select placeholder="Form Status" [(ngModel)]="stall_form_status" (ngModelChange)="get_stalls()">
                      <mat-option value="">All</mat-option>
                      <mat-option value="Approved">Approved</mat-option>
                      <mat-option value="Pending">Pending</mat-option>
                      <mat-option value="NotFilled">Not Filled</mat-option>
                      <mat-option value="Rejected">Rejected</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-2 ">
                  <mat-form-field>
                    <mat-select placeholder="Pavillion" [(ngModel)]="stall_filter.pavillion_type" (ngModelChange)="get_stalls()">
                      <mat-option value="">All</mat-option>
                      <mat-option *ngFor="let item of masterdata.pavillion_types" value="{{item.short_code}}">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-2 ">
                  <mat-form-field>
                    <mat-select placeholder="Type" [(ngModel)]="stall_filter.stand_type" (ngModelChange)="get_stalls()">
                      <mat-option value="">All</mat-option>
                      <mat-option *ngFor="let item of masterdata.stand_types" value="{{item.short_code}}">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-2 ">
                  <mat-form-field>
                    <mat-select placeholder="Location" [(ngModel)]="stall_filter.stand_location" (ngModelChange)="get_stalls()">
                      <mat-option value="">All</mat-option>
                      <mat-option *ngFor="let item of masterdata.stand_locations" value="{{item.short_code}}">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <span *ngIf="!(isSuccess)" class="errorMessage"> {{message}} </span>
              <span *ngIf="total_stalls==0" class="errorMessage"> No records found </span> -->
          <div class="row">
            <div class="col-sm-12 exhibitor-pagi mrgn-t-md">
              <div class="row">
                <div class="col-sm-3">
                  <span>Showing: 1-8 of 213</span>
                </div>
  
                <div class="col-sm-9 text-right">
                  <mat-list role="list">
                    <mat-list-item role="listitem">
                      <button mat-button>
                        <i class="material-icons">first_page</i>
                      </button>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      <button mat-button>
                        <i class="material-icons">keyboard_arrow_left</i>
                      </button>
                    </mat-list-item>
                    <mat-list-item role="listitem">Page 1 of 8</mat-list-item>
                    <mat-list-item role="listitem">
                      <button mat-button>
                        <i class="material-icons">navigate_next</i>
                      </button>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      <button mat-button>
                        <i class="material-icons">last_page</i>
                      </button>
                    </mat-list-item>
                  </mat-list>
                </div>
              </div>
            </div>
          </div>
          <mat-card-content>
            <div class="table-responsive">
              <table class="table">
                <thead class="blue-grey lighten-5">
                  <tr>
                    <th style="width:45px">Sr. No.</th>
                    <th style="width:45px">ID <span class="table-filter"><i class="material-icons">arrow_drop_down</i></span></th>
                    <th style="width:100px">COMPANY <span class="table-filter"> <i class="material-icons">arrow_drop_up</i> </span></th> 
                    <th style="width:50px">AREA</th>
                    <th style="width:50px">PAV.</th>
                    <th style="width:50px">TYPE</th>
                    <th style="width:50px">LOC.</th>
                    <th style="width:80px">Priority #</th>
                    <th style="width:80px">NAME</th>
                    <th style="width:80px">MOBILE NO.</th>
                    <th style="width:80px">EMAIL</th>
                    <th style="width:60px" class="pd-rgt">SUBMITTED TIME</th>
                    <th class="text-center" style="width:70px">ACTIONS </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="textNormal">1.</td>
                    <td class="textNormal"><a href="">11</a></td>
                    <td><div class="comp-name"><a href="">Test Enterprises</a></div></td>
                    <td>700</td>
                    <td>O</td>
                    <td>P</td>
                    <td>E</td>
                    <td>K18P-E051</td>             
                    <td class="textNormal">Amit</td>
                    <td class="textNormal">7777777777</td>
                    <td class="textNormal">test@gmail.com</td>
                    <td class="textNormal text-center">04 Sept</td>
                    <td class="textNormal text-center actionLink"><a href="#"><i class="material-icons">perm_identity</i></a></td>
                  </tr>
                  <tr>
                      <td class="textNormal">1.</td>
                      <td class="textNormal"><a href="">11</a></td>
                      <td><div class="comp-name"><a href="">Test Enterprises</a></div></td>
                      <td>700</td>
                      <td>O</td>
                      <td>P</td>
                      <td>E</td>
                      <td>K18P-E051</td>             
                      <td class="textNormal">Amit</td>
                      <td class="textNormal">7777777777</td>
                      <td class="textNormal">test@gmail.com</td>
                      <td class="textNormal text-center">04 Sept</td>
                      <td class="textNormal text-center actionLink"><a href="#"><i class="material-icons">perm_identity</i></a></td>
                    </tr>
                 
                </tbody>
              </table>
            </div>
          </mat-card-content>
          <div class="row">
            <div class="col-sm-12 exhibitor-pagi mrgn-t-md">
              <div class="row">
                <div class="col-sm-3">
                  <span>Showing: 1-8 of 213</span>
                </div>
  
                <div class="col-sm-9 text-right">
                  <mat-list role="list">
                    <mat-list-item role="listitem">
                      <button mat-button>
                        <i class="material-icons">first_page</i>
                      </button>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      <button mat-button>
                        <i class="material-icons">keyboard_arrow_left</i>
                      </button>
                    </mat-list-item>
                    <mat-list-item role="listitem">Page 1 of 8</mat-list-item>
                    <mat-list-item role="listitem">
                      <button mat-button>
                        <i class="material-icons">navigate_next</i>
                      </button>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      <button mat-button>
                        <i class="material-icons">last_page</i>
                      </button>
                    </mat-list-item>
                  </mat-list>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </div><!-- end lateststall-->
    </div>
  </div>