<div class="container-fluid contSpace">
    <div class="row edit-quota company-profile quataPage">
      <div class="col-sm-12 headerInfo">
            <div class="row">
              <div class="col-sm-5 mrgn-t-none mrgn-b-md">
                <h2 class="headerLeft">       
                  <div class="float-left green-txt" >ID -
                    <span class="font-bold-six mrgn-r-md">1052</span>
                    <span class="font-bold-six mrgn-r-md" >Stall No - 1111</span>
                  </div>
                  <div class="stall-status text-uppercase" >
                    <span class="green-dot mrgn-l-sm mrgn-r-sm" ></span>
                    <!-- <span class="yellow-dot mrgn-l-sm mrgn-r-sm" *ngIf="stallDetails.stallinfo.is_formsubmitted==1  && stallDetails.stallinfo.status=='Pending'"></span>
                    <span class="grey-dot mrgn-l-sm mrgn-r-sm" *ngIf="stallDetails.stallinfo.is_formsubmitted==0 && stallDetails.stallinfo.status=='Pending'"> </span>
                   
                    <span class="red-dot mrgn-l-sm mrgn-r-sm" *ngIf="stallDetails.stallinfo.status=='Rejected'"></span>
                    {{stallDetails.stallinfo.status=='Pending' ? (stallDetails.stallinfo.is_formsubmitted ? 'Pending' : 'Not Filled') : stallDetails.stallinfo.status }} -->
                  </div>
                </h2>
              </div>
        
              <div class="col-sm-7 text-right mrgn-t-none mrgn-b-md">
                <div class="headerRight">
                    <button class="can-btn">Cancel approval</button>   
                    <button class="amount-btn">SAVE</button>                  
                </div>
              </div>
            </div>
          </div>  
      <div class="col-sm-12 mrgn-b-lg">
            <div class="row mrgn-b-lg">
                <div class="col-sm-12">
                    <mat-card class="quota  mrgnb-t-lg">
                        <h5 class="pad-b-md font-bold-six">Quota</h5>
                        <table class="table table-striped text-center">
                            <thead>
                                <tr>
                                    <th scope="col" class="white text-left">PRODUCT</th>
                                    <th scope="col" class="stand">STANDARD</th>
                                    <th scope="col" class="ext">EXTRA</th>
                                    <th scope="col" class="tot">TOTAL</th>
                                    <th scope="col" class="use">USED</th>
                                    <th scope="col" class="bal">BALANCE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" class="badg white text-left">
                                        <i class="material-icons"> assignment_ind</i>Badge
                                    </th>
                                    <td class="stand" >
                                        <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;"> 
                                            <input matInput placeholder="" 
                                                maxlength="3" required name="bdg_std"/>  
                                        </mat-form-field>
                                    </td>
                                    <td class="ext" >
                                        <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;"> 
                                            <input matInput placeholder="" maxlength="3"/>  
                                        </mat-form-field>
                                    </td>
                                    <td class="tot" >3</td>
                                    <td class="use" >4</td>
                                    <td class="bal" >5</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="badgreen white text-left">
                                        <img src="../../assets/images/greenpassIcon.png" alt="greenpassicon"> Greenpass
                                    </th>
                                    <td class="stand" >
                                        <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;"> 
                                            <input matInput placeholder="" maxlength="3" />  
                                        </mat-form-field>
                                    </td>
                                    <td class="ext" >
                                        <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;"> 
                                            <input matInput placeholder="" maxlength="3" />  
                                        </mat-form-field>
                                    </td>
                                    <td class="tot" >6</td>
                                    <td class="use" >5</td>
                                    <td class="bal" >4</td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-card>
                </div>
            </div>
            <div class="row mrgn-t-md mrgn-b-m">
              <div class="col-sm-12">
                <mat-card class="extra-reqtable">
                <div class="row">
                  <div class="col-sm-6">
                    <h5 class="font-bold-six">Extra requirements</h5>
                  </div>
                  <div class="col-sm-6 text-right">
                    <button class="amount-btn">₹ 26,000/-</button>
                  </div>
                </div>
                <hr>
                <div>
                  <table width="100%">
                    <tr style="background: #F5F6FA;">
                      <th>PRODUCT</th>
                      <th class="text-center">TOTAL QTY ORDERED</th>
                      <th class="text-center">ISSUE QTY</th>
                      <th class="text-center">TOTAL (RS.)</th>
                    </tr>
                    <tr>
                      <td><img src="assets/images/director's-chair.png" width="50"><span>Director's chair</span></td>
                      <td class="text-center">4</td>
                      <td class="text-center"><input class="text-center" type="number" min="0" max="100"></td>
                      <td class="text-center">₹ 2000</td>
                    </tr>
                    <tr>
                      <td><img src="assets/images/spot-lamp.png" width="50"> <span>Spot lamp</span></td>
                      <td class="text-center">10</td>
                      <td class="text-center"><input class="text-center" type="number" min="0" max="100"></td>
                      <td class="text-center">₹ 3000</td>
                    </tr>
                    <tr>
                      <td><img src="assets/images/plug-point.png" width="50"><span>Plug point 5A</span></td>
                      <td class="text-center">5</td>
                      <td class="text-center"><input class="text-center" type="number" min="0" max="100"></td>
                      <td class="text-center">₹ 5000</td>
                    </tr>
                    <tr>
                      <td><img src="assets/images/octonorm-counter.png" width="50"><span>Octonorm Counter</span></td>
                      <td class="text-center">4</td>
                      <td class="text-center"><input class="text-center" type="number" min="0" max="100"></td>
                      <td class="text-center">₹ 4000</td>
                    </tr>
                  </table>
                </div>
              </mat-card>
              </div>
            </div>    
        </div>
        <div class="col-sm-12 headerInfo">
            <div class="row">      
              <div class="col-sm-12 text-right mrgn-t-none mrgn-b-md">
                <div class="headerRight">
                    <button class="can-btn">Cancel approval</button>   
                    <button class="amount-btn">SAVE</button>                  
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
  