<div class="proposal">
    <div class="container-fluid">
        <div class="text-right history" *ngIf="offer_type=='proposal'" >
            <a href="/proposal/proposal-history"><i class="material-icons">restore</i> Proposal History</a>
        </div> 
        <div class="text-right history" *ngIf="offer_type=='proforma invoice'" >
            <a href="/proposal/proforma-history" ><i class="material-icons">restore</i> Proforma History</a>
        </div>
        <div class="row mrgn-t-sm title">  <h3>Generate {{offer_type}}</h3>  </div>
        <div class="row">
            <div class="col-sm-12 block">
                <div class="wrapper-progressBar">
                    <ul class="progressBar">
                        <li class="active">Enter Email Address</li>
                        <li class="active">Generate {{offer_type}}</li>
                        <li class="active">Send {{offer_type}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="email-main">
            <div class="email-popup">
                <div class="row pdf_main" >
                    <pdf-viewer  [src]="src" [render-text]="true"  style="display: block;"></pdf-viewer>
                </div>
                
                <div class="row" style="padding-top:10px;">
                    <div class="col-sm-6">
                       <a href="{{src}}" target="_blank"> <button type="button" (click)="true" class="email-btn" >View Proforma</button> </a>
                       <!-- <a href="{{src}}" target="_blank">  <span><img src="assets/images/pdf.png" /> </span> </a>  -->
                    </div>
                    <div class="col-sm-6 text-right ">
                        <a href="proposal/send-offer?offer_id={{offer_info.offer_id}}"><button class="email-btn">Preview Email</button></a>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div> 