<div id="loader" class="loader" ></div>
<div class="container-fluid contSpace" *ngIf="readerSummery">
    <div class="row konnectPage">
      <div class="col-sm-12">
          <h2 class="mrgn-t-none mrgn-b-lg"> KISAN Konnect Report</h2>
      </div>
      <div class="col-sm-12">
         <div class="row">
           <div class="col-sm-8">
             <div class="row">
                <div class="col-sm-12 col-md-6">
                    <mat-card class="report-header-block">
                        <mat-list>
                          <mat-list-item class="greenTxt">
                            <mat-icon mat-list-icon>
                              <i class="material-icons"><img src="../../assets/images/k-fair-icon.png"></i>
                            </mat-icon>
                            <h4 mat-line class="font-bold-six">{{getRupeeFormat(readerSummery['exhibitors_used_reader'])}}</h4>
                            <p mat-line>Exhibitors who have used the Greenpass Reader</p>
                          </mat-list-item>
                        </mat-list>
                    </mat-card>
                </div>
                <div class="col-sm-12 col-md-6">
                    <mat-card class="report-header-block">
                        <mat-list>
                          <mat-list-item class="greenTxt">
                            <mat-icon mat-list-icon>
                              <i class="material-icons"><img src="../../assets/images/k-qrcode-icon.png"></i>
                            </mat-icon>
                            <h4 mat-line class="font-bold-six">{{getRupeeFormat(readerSummery['total_scans'])}}</h4>
                            <p mat-line>Total records scanned</p>
                          </mat-list-item>
                        </mat-list>
                    </mat-card>
                </div>
                <div class="col-sm-12 col-md-6 mrgn-t-md">
                    <mat-card class="report-header-block">
                        <mat-list>
                          <mat-list-item class="greenTxt">
                            <mat-icon mat-list-icon>
                              <i class="material-icons"><img src="../../assets/images/k-user-icon.png"></i>
                            </mat-icon>
                            <h4 mat-line class="font-bold-six">{{getRupeeFormat(readerSummery['visitors_used_reader'])}}</h4>
                            <p mat-line>People who have used Brochure Reader</p>
                          </mat-list-item>
                        </mat-list>
                    </mat-card>
                </div>
                <div class="col-sm-12 col-md-6 mrgn-t-md">
                    <mat-card class="report-header-block">
                        <mat-list>
                          <mat-list-item class="greenTxt">
                            <mat-icon mat-list-icon>
                              <i class="material-icons"><img src="../../assets/images/k-lock-icon.png"></i>
                            </mat-icon>
                            <h4 mat-line class="font-bold-six">{{readerSummery['total_locked']}}</h4>
                            <p mat-line>Total locked records</p>
                          </mat-list-item>
                        </mat-list>
                    </mat-card>
                </div>
             </div>
           </div>
           <div class="col-sm-4">
              <div class="greenValue text-center">
                <p class="font-bold-six pad-t-md"><i class="material-icons">star</i> Value added to KISAN.</p>
                <hr />
                <h2 class="font-bold"> ₹ {{getRupeeFormat(readerSummery['total_payment '])}}</h2>
              </div>
           </div>
         </div>
      </div>

      <div class="col-sm-12">
        <mat-card class="mrgn-t-lg">
          <mat-card-content class="konnect-table">
              <div class="row">
                <div class="col-sm-12">
                  <div class="topFilter">
                    <div class="row">
                      <div class="col-sm-5">
                          <mat-form-field class="example-full-width">
                              <mat-icon matPrefix class="vertical-middel"><i class="material-icons">search</i></mat-icon>
                              <input type="text" (keyup)="search_reader($event)" [(ngModel)]="reader_search" matInput placeholder="Search by Exhibitor or Mobile number" />
                          </mat-form-field>
                      </div>
                      <div class="col-sm-4"></div>
                      <!-- <div class="col-sm-3">
                                <mat-form-field>
                                  <mat-select placeholder="Pavilion">
                                    <mat-option value="">Pavilion</mat-option>
                                  </mat-select>
                                </mat-form-field>
                     </div> -->
                      </div>
                  </div>
                  <div class="row pagi pad-t-md pad-b-md">
                    <div class="smDevice col-xs-3 col-sm-3">
                      <span>Showing: {{ getRupeeFormat(reader_start_item) }}-{{ getRupeeFormat(reader_end_item) }} of {{ getRupeeFormat(total_reader) }}</span>
                    </div>
                    <div class="smDevice col-xs-3 col-sm-3">
                      <mat-checkbox class="example-margin" [(ngModel)]="reader_showall" (ngModelChange)="toggle_show_all_invite()" style="display: none;">Show All</mat-checkbox>
                    </div>
                    <div class="smDevice col-xs-6 col-sm-6 text-left">
                      <mat-list role="list" class="float-left">
                        <mat-list-item role="listitem">
                          <button mat-button [disabled]="reader_current_page==0" (click)="reader_current_page=0;getReadersummary()">
                            <i class="material-icons">first_page</i>
                          </button>
                        </mat-list-item>
                        <mat-list-item role="listitem">
                          <button mat-button [disabled]="reader_current_page==0" (click)="reader_current_page=reader_current_page-1;getReadersummary()">
                            <i class="material-icons">keyboard_arrow_left</i>
                          </button>
                        </mat-list-item>
                        <mat-list-item role="listitem">Page {{ getRupeeFormat(reader_current_page + 1) }} of {{ getRupeeFormat(reader_total_pages) }}</mat-list-item>
                        <mat-list-item role="listitem">
                          <button mat-button [disabled]="reader_current_page==(reader_total_pages-1)" (click)="reader_current_page=reader_current_page+1;getReadersummary()">
                            <i class="material-icons">navigate_next</i>
                          </button>
                        </mat-list-item>
                        <mat-list-item role="listitem">
                          <button mat-button [disabled]="reader_current_page==(reader_total_pages-1)" (click)="reader_current_page=(reader_total_pages-1);getReadersummary()">
                            <i class="material-icons">last_page</i>
                          </button>
                        </mat-list-item>
                      </mat-list>
                      <button type="button" mat-raised-button class="greennewBtn text-uppercase" (click)="exportToreaderSummaryCSV()">
                         Export List
                      </button>
                    </div>
                </div>
                  
                    <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col" style="width: 34px">SR.NO.</th>
                              <th scope="col" style="width:200px; text-align: left" (click)="sort_reader('company_name')" matTooltip="click to sort on this column" [matTooltipPosition]="'above'" style="width: 180px;">Company Name
                                <span class="table-filter"  *ngIf="reader_sort_col=='company_name'">
                                  <i *ngIf="reader_sort_dir==1" class="material-icons">arrow_drop_down</i>
                                  <i *ngIf="reader_sort_dir==0" class="material-icons">arrow_drop_up</i>
                              </span>
                              </th>
                              <th scope="col" style="width: 170px;">Contact Person</th>
                              <th scope="col" style="width: 95px;">Mobile</th>
                              <th scope="col" (click)="sort_reader('standard_quota')" matTooltip="click to sort on this column" [matTooltipPosition]="'above'" style="width: 70px;">Quota   
                                <span class="table-filter"  *ngIf="reader_sort_col=='standard_quota'">
                                  <i *ngIf="reader_sort_dir==1" class="material-icons">arrow_drop_down</i>
                                  <i *ngIf="reader_sort_dir==0" class="material-icons">arrow_drop_up</i>
                              </span></th>
                              <th scope="col" (click)="sort_reader('total_scans')" matTooltip="click to sort on this column" [matTooltipPosition]="'above'" style="width: 75px;">Total Scan
                                  <span class="table-filter"  *ngIf="reader_sort_col=='total_scans'">
                                      <i *ngIf="reader_sort_dir==1" class="material-icons">arrow_drop_down</i>
                                  <i *ngIf="reader_sort_dir==0" class="material-icons">arrow_drop_up</i>
                                  </span>
                              </th>
                              <th scope="col" (click)="sort_reader('exhibitor_scans')" matTooltip="click to sort on this column" [matTooltipPosition]="'above'" style="width: 55px;">GP reco
                                  <span class="table-filter" *ngIf="reader_sort_col=='exhibitor_scans'">
                                      <i *ngIf="reader_sort_dir==1" class="material-icons">arrow_drop_down</i>
                                  <i *ngIf="reader_sort_dir==0" class="material-icons">arrow_drop_up</i>
                                  </span>
                              </th>
                              <th scope="col" (click)="sort_reader('visitor_scans')" matTooltip="click to sort on this column" [matTooltipPosition]="'above'"  style="width: 70px;">Broch reco
                                <span class="table-filter" *ngIf="reader_sort_col=='visitor_scans'">
                                    <i *ngIf="reader_sort_dir==1" class="material-icons">arrow_drop_down</i>
                                  <i *ngIf="reader_sort_dir==0" class="material-icons">arrow_drop_up</i>
                                </span>
                            </th>
                            <th scope="col"  matTooltip="click to sort on this column" [matTooltipPosition]="'above'" style="width: 55px;">Bal
                              <span class="table-filter" *ngIf="reader_sort_col=='invite_status'">
                                  <i *ngIf="reader_sort_dir==1" class="material-icons">arrow_drop_down</i>
                                  <i *ngIf="reader_sort_dir==0" class="material-icons">arrow_drop_up</i>
                              </span>
                          </th>
                          <th scope="col" (click)="sort_reader('locked_scans')" matTooltip="click to sort on this column" [matTooltipPosition]="'above'" style="width: 60px;">Lock
                            <span class="table-filter" *ngIf="reader_sort_col=='locked_scans'">
                                <i *ngIf="reader_sort_dir==1" class="material-icons">arrow_drop_down</i>
                                  <i *ngIf="reader_sort_dir==0" class="material-icons">arrow_drop_up</i>
                            </span>
                        </th>
                        <!-- <th scope="col" style="width:95px; text-align: left">Payment</th> -->
                      <!-- <th scope="col">Action</th> -->
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let rdata of readerdata; let i = index">
                              <td>{{ pagesize*reader_current_page + i + 1 }}</td>
                              <td>
                                <div class="cmpOuter"><img class="borderRd" src="{{rdata['media_thumbnail']}}" /></div>
                                <span class="nameSpan">{{rdata['company_name']}}</span></td>
                              <!-- <td class="text-center">24</td> -->
                              <!-- <td class="icon-info" style="text-align:center;" matTooltip="Agri Input" matTooltipPosition="above">
                                <span class="A">A</span>
                              </td> -->
                              <td class="text-center">{{rdata['username']}}</td>
                              <td class="text-center">{{rdata['mobile'].substring(rdata['mobile'].length-10)}}</td>
                              <td class="text-center">{{getRupeeFormat(rdata['standard_quota'])}} </td>
                              <td class="text-center">{{getRupeeFormat(rdata['total_scans'])}}</td>
                              <td class="text-center">{{getRupeeFormat(rdata['exhibitor_scans'])}}</td>
                              <td class="text-center">{{getRupeeFormat(rdata['visitor_scans' ])}}</td>
                              <td class="text-center">{{getRupeeFormat((rdata['standard_quota']+rdata['extra_quota'])-rdata['total_scans'])}}</td>
                              <td class="text-center">{{getRupeeFormat(rdata['locked_scans'])}}</td>
                              <!-- <td matTooltip="{{ rdata['updated_datetime'] | date:'dd MMM'}}" [matTooltipPosition]="'above'"><span style="color: #008940; font-weight: 600">₹100</span>::18 Oct</td> -->
                              <!-- <td style="text-align: center;">
                                <ul>
                                  <li (click)="openMystallDialog()">
                                    <img src="../../assets/images/small-qr-icon.png" width="20"/> 
                                      <div id="dnldBlk" class="qrcodePrint" style="display: none">
                                        <p class="text-center mrgn-t-md mrgn-b-md" style="z-index: 0; margin-bottom:200px">
                                          <qr-code [value]="rdata['media_shortcode']"[size]="1200" [level]="'Q'" [background]="'#ffffff'" [foreground]="'#000'"></qr-code></p>
                                        <div class="row" style="width:1300px; margin: 0 auto;">
                                          <div class="col-sm-6" style="padding-top:70px;">
                                            <img src="../../assets/images/QR-code-Infographic-large.png" width="800" />
                                          </div>
                                          <div class="col-sm-6">
                                            <p class="text-left mrgn-t-md mrgn-b-md mrgn-l-sm" style="font-size: 55px; font-weight:bold; border-bottom:3px solid #000; padding:25px 0 100px; line-height:75px;">Kisan.net अँप मधून QR कोड स्कॅन करा आणि माहिती मिळावा.</p>
                                            <p class="text-left mrgn-t-md mrgn-b-md mrgn-l-sm" style="font-size: 55px; font-weight:bold; padding:25px 0; line-height:75px;">Scan QR code from Kisan.net app and get information.</p>
                                          </div>
                                        </div>
                                    </div>
                                  </li>
                                  <li (click)="openMystallDialogLarge()">
                                    <img src="../../assets/images/large-qr-icon.png" width="25" />
                                    <div  id="dnldBlklarge" class="qrcodePrintLarge printLargeGreen" style="display: none;">
                                        <p class="text-center" style="z-index: 0; margin-top:160px">
                                          <qr-code [value]="rdata['media_shortcode']" [size]="2900" [level]="'Q'" [background]="'#ffffff'" [foreground]="'#008940'"></qr-code>
                                        </p>
                                        <h2 class="text-center font-bold-six">Green Pavilion</h2>
                                      </div>
                                  </li>
                                </ul>
                              </td> -->
                              
                            </tr>
                            
                          </tbody>
                        </table>
                    </div>
                    <div class="row pagi pad-t-md pad-b-md">
                        <div class="smDevice col-xs-3 col-sm-3">
                          <span>Showing: {{ getRupeeFormat(reader_start_item) }}-{{ getRupeeFormat(reader_end_item) }} of {{ getRupeeFormat(total_reader) }}</span>
                        </div>
                        <div class="smDevice col-xs-3 col-sm-3">
                          <mat-checkbox class="example-margin" [(ngModel)]="reader_showall" (ngModelChange)="toggle_show_all_invite()" style="display: none;">Show All</mat-checkbox>
                        </div>
                        <div class="smDevice col-xs-6 col-sm-6 text-left">
                          <mat-list role="list" class="float-left">
                            <mat-list-item role="listitem">
                              <button mat-button [disabled]="reader_current_page==0" (click)="reader_current_page=0;getReadersummary()">
                                <i class="material-icons">first_page</i>
                              </button>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                              <button mat-button [disabled]="reader_current_page==0" (click)="reader_current_page=reader_current_page-1;getReadersummary()">
                                <i class="material-icons">keyboard_arrow_left</i>
                              </button>
                            </mat-list-item>
                            <mat-list-item role="listitem">Page {{ getRupeeFormat(reader_current_page + 1) }} of {{ getRupeeFormat(reader_total_pages) }}</mat-list-item>
                            <mat-list-item role="listitem">
                              <button mat-button [disabled]="reader_current_page==(reader_total_pages-1)" (click)="reader_current_page=reader_current_page+1;getReadersummary()">
                                <i class="material-icons">navigate_next</i>
                              </button>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                              <button mat-button [disabled]="reader_current_page==(reader_total_pages-1)" (click)="reader_current_page=(reader_total_pages-1);getReadersummary()">
                                <i class="material-icons">last_page</i>
                              </button>
                            </mat-list-item>
                          </mat-list>
                          <button type="button" mat-raised-button class="greennewBtn text-uppercase">
                             Export List
                          </button>
                        </div>
                    </div>
                </div>
              </div>
             
          </mat-card-content>
        </mat-card>
      </div>
    </div>
 </div>
 