.cmpOuter {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-right: 10px;
    box-shadow: 0 0 5px #ccc;
    border-radius: 50%;
    img{
        border-radius: 50%;
        float: left;
        margin-right: 5px;
        max-width: 100%;
        height: 100%;
        object-fit: contain;
        width: 100%;
    }
}