<div class="all_center_page" id="login" style="display:none;">
  <div id="loader"   class="loader"></div>
  <main class="mid-section">
    <mat-card class="cards">
      <div class="row no-gutters">
        <div class="col-sm-6">
          <div class="logoBg">
            <div class="logoImg">
              <img src="assets/images/kisan_logo_green.png" title="logo" width="250">
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="contentBg">
            <form #formatata='ngForm' (ngSubmit)="login()" name="loginForm">
              <span *ngIf="!(authService.isSuccess)" class="errorMessage"> {{authService.message}} </span>
              <h4 class="mrgn-b-lg">Login to the dashboard</h4>
              <div>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Username" name="username" [(ngModel)]="username" required>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Password" name="password" [(ngModel)]="password" type="password" required>
                </mat-form-field>

                <button class="text-uppercase btnGreen mrgn-t-lg" mat-raised-button [disabled]="!username || !password">Login</button>
              </div>
            </form>

          </div>
          <!-- end content bg-->
        </div>
      </div>
    </mat-card>
  </main>
</div>