.countryOuter{
    position: relative;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    color: #008940;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid rgba(0,0,0,.42);
    img{width: 39px;
        margin-right: 7px;}
        mat-label{
        color: rgba(0,0,0,.54);
        position: absolute;
        bottom: 10px;
        transform: translateY(-1.28125em) scale(.75) perspective(100px) translateZ(.001px);
        font-size: 17px;
        left: -12px;
        font-weight: 500;
    }    
}