<div id="loader"   class="loader" style="display:none;"></div>
<div class="create_exh edit-company-info" >
  <div class="container-fluid contSpace">
    <div class="row mrgn-t-sm pad-l-md" >
      <h3>Organisation Profile</h3>
      <p class="fullwidth mrgn-b-none font-small">We have found following Organisation account associated with entered email address</p>
          <p class="font-small">Please update the details before generating Proforma Invoice.</p>
    </div>
    <mat-card class="" *ngIf="userDetails">
      <mat-card-header class="text-center pad-t-md pad-b-md">
        <div class="fileContainer">
          <img *ngIf="base64Url; else uploadedLogo" class="mrgn-b-sm" [src]="base64Url" accept=".png, .jpg, .jpeg" alt="company logo" />
          <ng-template #uploadedLogo>
            <img *ngIf="userDetails.image_bigthumb_url" class="mrgn-b-sm" [src]="userDetails.image_bigthumb_url + '?' + timeinmilli"  alt="company logo" />
            <i [ngStyle]="{'display': userDetails.image_bigthumb_url? 'none': ''}" class="material-icons add">add_circle</i>
          </ng-template>

          <input type="file" (change)="uploadOrgLogo($event)"/>
        </div>
        <div class="headInput">
            <input type="text" id="orgname" name="orgname" [(ngModel)]="orgname" onkeyup="orgName(this)" placeholder="Company name*" minlength="2" maxlength="60"  />
        </div>
      </mat-card-header>
      <mat-card-content>
          <div class="main_form mrgn-t-md pad-b-md pad-t-md pad-l-md pad-r-md text-center">
              <form [formGroup]="userDetailForm" class="example-form">
                <div class="mid">
                  <div class="row">
                    <div class="col-sm-6">
                      <mat-form-field class="example-full-width">
                        <input type="text" id="fname" name="fname" matInput placeholder="First name*" formControlName="firstName" onkeyup="restrictSpecial(this);restrictMultiSpace(this);"  minlength="2" maxlength="60" />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                      <mat-form-field class="example-full-width">
                        <input type="text" id="lname" name="lname" matInput placeholder="Last name*" formControlName="lastName" onkeyup="restrictSpecial(this);restrictMultiSpace(this);" minlength="2" maxlength="60" />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-12">
                      <mat-form-field class="example-full-width">
                        <input type="text" id="mobile" name="mobile" matInput placeholder="Mobile number" formControlName="mobileNo" readonly />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-12">
                      <mat-form-field class="example-full-width">
                          <input type="text" id="email" name="email" matInput placeholder="Email address" formControlName="emailId"
                            readonly />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="mid">
                    <div class="row">
                      <div class="col-sm-12">
                        <mat-form-field class="example-full-width">
                            <input id="gstin" name="gstin" matInput placeholder="Organisation GST NO (Optional)" formControlName="gstNo" (change)="fillgstininfo()" />
                        </mat-form-field>
                      </div>
                         <div class="col-sm-12">
                        <mat-form-field class="example-full-width">
                            <textarea id="address" name="address" matInput placeholder="Please enter address registered under GST*" formControlName="address"></textarea>
                          </mat-form-field>
                      </div>
                      <div class="col-sm-6">
                        <div class="countryOuter">
                          <mat-label>Country</mat-label>
                          <input type="hidden" formControlName="country" id="country" name="country" />
                          <img src="assets/images/flag-icon.png" />
                          {{userDetails.country}}
                        </div>
                        <!-- <mat-form-field>
                          <mat-label>Select Country</mat-label>
                          <mat-select formControlName="country" id="country" name="country">
                            <mat-option *ngFor="let country_name of countries;"  value="{{country_name}}" >{{country_name}}</mat-option>
                          </mat-select>
                        </mat-form-field> -->
                      </div>
                      <div class="col-sm-6">
                        <mat-form-field>
                          <mat-label>Select State</mat-label>
                          <mat-select formControlName="state" id="state" name="state" (selectionChange)="setcities(1)">
                            <!-- <mat-option [value]="userDetailForm.value.state">{{userDetailForm.value.state}}</mat-option> -->
                            <mat-option *ngFor="let key of objectKeys(states) " [value]="key">{{key}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-6" >
                        <mat-form-field>
                          <mat-label>Select City</mat-label>
                          <mat-select id="city" name="city" required formControlName="city">
                            <mat-option *ngFor="let key of cities " [value]="key">{{key}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <!-- <div class="col-sm-6">
                        <mat-form-field class="example-full-width">
                            <input id="city" name="city" matInput placeholder="City*" formControlName="city"/>
                        </mat-form-field>
                      </div> -->
                      <div class="col-sm-6">
                        <mat-form-field class="example-full-width">
                          <input id="pin" name="pin" matInput placeholder="Pin Code*" formControlName="pin" maxlength="6" />
                        </mat-form-field>
                      </div>
                      <div class="col-sm-12">
                        <mat-form-field class="example-full-width">
                          <input name="webUrl" matInput placeholder="Website (optional)" formControlName="website">
                          <mat-hint>Please enter organisation's website</mat-hint>
                        </mat-form-field>
                      </div>

                      <div class="col-sm-12 customerPro" style="display:none">
                        <label>Product Images (optional)</label>
                        <div class="customGrid mrgn-t-sm">

                            <div  class="customCol" *ngFor="let prodImg of userDetailForm.value.productImages; let i=index">
                                <div class="productOuter" >
                                    <!-- <mat-spinner *ngIf="loading"></mat-spinner> -->
                                    <img formControlName="productImages" ngDefaultControl class="prod-img" [src]="prodImagePrefix+prodImg" alt="img">
                                    <i (click)="removeProductImage(i)" class="material-icons closeIcon">cancel</i>
                                </div>
                            </div>
                            <div class="fileContainer uploadImgContainer" *ngIf="userDetailForm.value.productImages.length <= 4">
                              <i class="material-icons"> add_circle_outline</i>
                              <input type="file" accept=".png,.jpg, .jpeg" (change)="uploadProductImages($event)"/>
                            </div>
                        </div>
                   </div>
                      <div class="col-sm-12 text-left" style="display:none">
                          <mat-checkbox id="marktrusted" name="marktrusted" formControlName="marktrusted" >Mark as trusted exhibitor</mat-checkbox>
                      </div>

                    </div>
                  </div>
              </form>
            </div>
      </mat-card-content>
    </mat-card>
    <div class="btn-outer">
      <div class="row">
    <div class="col-sm-6">
        <button [routerLink]="['/proposal/create-offer']"  type="button" class="cancel-btn">Skip</button>
      </div>
      <div class="col-sm-6" *ngIf="userDetailForm">
        <button (click)="submitForm(userDetailForm)" class="create-btn" type="submit" [disabled]="userDetailForm.invalid">Save & Continue</button>
      </div>
    </div>
    </div>
  </div>
</div>
