.expDate{
    color: red;
    font-weight: 600;
}
.invoices .inv-table table{position: relative;}
.invoices .inv-table th{
    position:sticky;
    top:0px;
    background: #F5F6FA;
    z-index: 99;
}
.table-filter {
    vertical-align: middle;
}