<!--<div id="loader1" name="loader1"  class="loader"> </div>-->
<div class="container-fluid contSpace">
    <div id="loader" name="loader"  class="loader"> </div>
    <div class="row company-profile">
        <div class="col-sm-12 headerInfo" *ngIf="stallDetails" >
            <div class="row">
                <div class="col-sm-8 mrgn-t-none mrgn-b-md">
                    <h2 class="headerLeft">
                        <div class="float-left green-txt">
                             Vendor Form Details ( ID -
                            <span class="font-bold-six mrgn-r-md">{{stallId}}</span>)
                        </div>
                    </h2>
                </div>
                <div class="col-sm-4 text-right mrgn-t-none mrgn-b-md" *ngIf="checkAllowedRoles(['exhibitoradmin']) && stallDetails">
                    <div class="headerRight">
                        <button mat-raised-button class="occurBtn edit text-uppercase" 
                            (click)="openConfirmationDialog()">Send Vendor Form</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-5">
                    <mat-card class="company-info" *ngIf="stallDetails">
                        <div class="row">
                            <div class="col-sm-4 text-center">
                                <div class="profileImg">
                                    <img class="company-logo" [src]="defaultExhibitorImage">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <h3 class="text-capitalize">{{stallDetails.company_name}}</h3>
                                <div class="col-sm-12 pad-l-none">               
                                    <table class="mrgn-minus">
                                      <tr>
                                        <td class="vertical-top">Pavillion</td>
                                        <td class="vertical-top" style="width:6px;">: </td>
                                        <td class="font-bold-six">{{get_pavillion_name(stallDetails.pavillion_type)}}</td>
                                      </tr>                  
                                      <tr>
                                        <td>Area</td>
                                        <td style="width:6px;">: </td>
                                        <td class="font-bold-six"> {{stallDetails.area}} sq.m.</td>
                                      </tr>
                                      <tr>
                                        <td>Location</td>
                                        <td style="width:6px;">: </td>
                                        <td class="font-bold-six"> {{get_stand_location_name(stallDetails.stand_location)}}</td>
                                      </tr>
                                      <tr>
                                        <td>Type</td>
                                        <td style="width:6px;">: </td>
                                        <td class="font-bold-six"> {{get_stand_type_name(stallDetails.stand_type)}}</td>
                                      </tr>
                                      <tr *ngIf="stallDetails.stall_no">
                                        <td>Stall No</td>
                                        <td style="width:6px;">: </td>
                                        <td class="font-bold-six"> {{stallDetails.stall_no}}</td>
                                      </tr>                                    
                                    </table>
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12"><hr /></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <h5 class="font-bold-six mrgn-b-sm mrgn-t-sm text-right">Co-ordinator <br />contact details</h5>
                            </div>
                            <div class="col-sm-8 stall-booked">
                                <mat-list>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>
                                             <i class="material-icons">mail_outline</i>
                                        </mat-icon>
                                        <h4 mat-line >{{stallDetails.coordinator_email}}</h4>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>
                                            <i class="material-icons">call</i>
                                        </mat-icon>
                                        <h4 mat-line >{{stallDetails.coordinator_phone}}</h4>
                                    </mat-list-item>
                                </mat-list>                                  
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-sm-12"><hr /></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <h5 class="font-bold-six mrgn-b-sm mrgn-t-sm text-right">Co-ordinator</h5>
                            </div>
                            <div class="col-sm-8 stall-booked contactPose">
                                <mat-list>
                                    <mat-list-item>
                                        <mat-icon mat-list-icon>
                                            <i class="material-icons">person_outline</i>
                                        </mat-icon>
                                        <h4 mat-line class="text-capitalize ">{{stallDetails.coordinator_name}}</h4>
                                    </mat-list-item>
                                </mat-list>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-sm-7" *ngIf="stallDetails">
                    <mat-card class="org-detail">
                        <div class="row">
                            <div class="col-sm-6">
                                <h5 class="font-bold-six">Conractor & Stand Design Details</h5>
                            </div>                                  
                            <div class="col-sm-6 text-right">
                                <p *ngIf="stallDetails.last_submited_on">Form filled on
                                    <b>{{stallDetails.last_submited_on | date:'d MMM, h:mm a'}}</b>
                                </p>                               
                            </div>
                        </div>                    
                        <hr>
                        <table width="100%" style="table-layout:fixed;">
                            <tr>
                                <td class="dsc-tit" style="padding-top:0px;width:120px;">
                                    <h5 class="font-bold-six mrgn-b-sm mrgn-t-sm ">
                                        Contractor :
                                    </h5>
                                </td>                         
                                <td class="company-info">
                                    <div class="stall-booked">
                                        <mat-list>
                                            <mat-list-item>
                                                <h3 mat-line class="text-capitalize ">{{stallDetails.contractor_company}}</h3>                                      
                                            </mat-list-item>
                                            <mat-list-item>
                                                <mat-icon mat-list-icon>
                                                    <i class="material-icons">person_outline</i>
                                                </mat-icon>
                                                <h4 mat-line class="text-capitalize ">{{stallDetails.contractor_name}}</h4>
                                            </mat-list-item>
                                            <mat-list-item>
                                                <mat-icon mat-list-icon>
                                                    <i class="material-icons">call</i>
                                                </mat-icon>
                                                <h4 mat-line >{{stallDetails.contractor_phone}}</h4>
                                            </mat-list-item>
                                            <mat-list-item>
                                                <mat-icon mat-list-icon>
                                                    <i class="material-icons">mail_outline</i>
                                                </mat-icon>
                                                <h4 mat-line >{{stallDetails.contractor_email}}</h4>
                                            </mat-list-item>                                         
                                        </mat-list>                                  
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="stallDetails.deposit_amount">
                                <td class="dsc-tit" style="padding-top:10px;width:120px;">
                                    <h5 class="font-bold-six mrgn-b-sm mrgn-t-sm ">
                                        Deposit :
                                    </h5>
                                </td>
                                <td>
                                    {{getRupeeFormat(stallDetails.deposit_amount)}} Rs.
                                </td>
                            </tr>  
                            <tr>
                                <td class="dsc-tit" style="padding-top:10px;width:120px;">
                                    <h5 class="font-bold-six mrgn-b-sm mrgn-t-sm ">
                                        Height :
                                    </h5>
                                </td>
                                <td>
                                    {{stallDetails.stall_height}} m
                                </td>
                            </tr>                           
                            <tr>
                                <td class="dsc-tit" style="padding-top:10px;width:120px;">
                                    <h5 class="font-bold-six mrgn-b-sm mrgn-t-sm ">
                                     Stand Designs :
                                    </h5>
                                </td>
                                <td class="pad-t-sm">
                                    <div class="customGrid">
                                        <div class="customCol" *ngFor="let prodImage of stallImages">
                                            <div class="productOuter">
                                                <img class="prod-img" [src]="stallImagePrefix + prodImage"  alt="Not Available">
                                            </div>
                                        </div>
                                    </div>                 
                                </td>
                            </tr>
                            <!-- <tr>
                                <td class="pad-t-sm">
                                    <div class="customGrid">
                                        <div class="customCol" *ngFor="let prodImage of stallImages">
                                            <div class="productOuter">
                                                <img class="prod-img" [src]="stallImagePrefix + prodImage"  alt="Not Available">
                                            </div>
                                        </div>
                                    </div>                 
                                </td>
                            </tr> -->
                        </table>                        
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
               