<div id="loader"   class="loader" style="display:none;"></div>
<div class="create_exh">
  <div class="container-fluid">
    <div class="row mrgn-t-sm pad-l-md" >
      <h3>Create New Exhibitors</h3>
    </div>
    <mat-card class="">
      <div class="row">
        <div class="col-sm-12 block">
          <div class="wrapper-progressBar">
            <ul class="progressBar">
              <li class="active">Mobile</li>
              <li  [ngClass]="{ 'active':activestep>1 }">Email</li>
              <li [ngClass]="{ 'active':activestep>2 }">Create Exhibitor</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row mrgn-t-xl text-center" *ngIf="activestep==1">
        <div class="col-sm-12">
          <p>Enter the mobile number of the Exhibitor</p>
          <form class="example-form mrgn-t-xl">
            <mat-form-field class="example-full-width mob-input">
              <input matInput placeholder="Mobile No" onkeyup="allowContactNumber(this);restrictFirstZero(this);"
                maxlength="10" minlength="10" [(ngModel)]="mobile" id="mobile" name="mobile" autofocus
                (keyup.enter)="checkMobileExists()" (keydown)="isMobileValid=true" [ngClass]="{ 'invalid': !isMobileValid}"/>
            </mat-form-field>
            <button type="button" id="checkmobile" name="checkmobile" class="next-btn mrgn-t-md mrgn-b-xl"
              (click)="checkMobileExists()" >Next</button>
          </form>
        </div>
      </div>
      <div class="row mrgn-t-xl text-center" *ngIf="activestep==2">
          <div class="col-sm-12">
            <p>Enter the email address of the exhibitor</p>
            <form class="example-form mrgn-t-xl">
              <mat-form-field class="example-full-width mob-input">
                <input matInput placeholder="Email address" onkeyup="allowEmail(this);restrictSpace(this);"
                  [(ngModel)]="email" id="email" name="email" (keyup.enter)="checkEmailExists()"
                  (keydown)="isEmailValid=true" [ngClass]="{ 'invalid': !isEmailValid}"/>
              </mat-form-field>
              <button class="next-btn mrgn-t-md mrgn-b-xl" type="button" id="checkemail" name="checkemail"
                (click)="checkEmailExists()" >Next</button>
            </form>
          </div>
        </div>
        <div class="main_form mrgn-t-md text-center" *ngIf="activestep==3">
          <p>Please fill all the information. All fields marked with * are compulsory.</p>
          <form #newExhInfo="ngForm" class="example-form" (ngSubmit)="onSubmit(newExhInfo)" >
            <div class="mid">
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width">
                    <input type="text" id="fname" name="fname" matInput placeholder="First name" required
                      [(ngModel)]="firstname" onkeyup="restrictSpecial(this);restrictMultiSpace(this);"  minlength="2" maxlength="60"/>
                      <!-- onkeyup="allowAtoZandSpace(this);restrictSpace(this);" -->
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width">
                    <input type="text" id="lname" name="lname" matInput placeholder="Last name" required
                      [(ngModel)]="lastname" onkeyup="restrictSpecial(this);restrictMultiSpace(this);"  minlength="2" maxlength="60"/>
                      <!-- onkeyup="allowAtoZandSpace(this);restrictSpace(this);" -->
                  </mat-form-field>
                </div>
                <div class="col-sm-12">
                  <mat-form-field class="example-full-width">
                    <input type="text" id="mobile" name="mobile" matInput placeholder="Mobile number" [value]="mobile"
                      readonly />
                  </mat-form-field>
                </div>
                <div class="col-sm-12">
                  <mat-form-field class="example-full-width">
                      <input type="text" id="email" name="email" matInput placeholder="Email address"  [value]="email"
                        readonly />
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!-- <div class="divider"></div> -->
            <div class="mid">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="main-img-preview imagesUploadCircle">
                        <img id="logo-id" *ngIf="base64Url" class="img-preview" [src]='base64Url' title="1" />
                        <i [ngStyle]="{'display': base64Url? 'none': ''}" class="material-icons add">add_circle</i>
                        <input id="fakeUploadLogo" class="form-control uploadGroup" placeholder="Choose File" disabled="disabled">
                        <div class="input-group-btn fileUpload ">
                          <div class="btn-danger fake-shadow">
                             <input  name="logo" id="logo" type="file" class="attachment_upload" (change)="detectFiles($event)" accept=".png, .jpg, .jpeg" style="width:120px;height:120px;cursor: pointer;">
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="col-sm-8 pad-t-md">
                    <h5 class="mrgn-t-lg">Upload Organisation Logo <span style="font-size:14px;">(Optional)</span></h5>
                  </div>
                  <div class="col-sm-12">
                    <mat-form-field class="example-full-width">
                        <input id="gstin" name="gstin" matInput placeholder="Organisation  GST NO (Optional)"
                          [(ngModel)]="gstin" (change)="fillgstininfo();" />
                    </mat-form-field>
                  </div>
                  <div class="col-sm-12">
                    <mat-form-field class="example-full-width">
                      <input required id="orgname" name="orgname" matInput placeholder="Organisation  name"
                        [(ngModel)]="orgname" onkeyup="orgName(this);restrictMultiSpace(this);" minlength="2" maxlength="120"/>
                        <!-- allowOrganizationName(this); -->
                    </mat-form-field>
                  </div>
                  <div class="col-sm-12">
                    <mat-form-field class="example-full-width">
                        <textarea required id="address" name="address" matInput placeholder="Address" [(ngModel)]="address" ></textarea>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6">
                    <div class="countryOuter">
                      <mat-label>Country</mat-label>
                      <input type="hidden" formControlName="country" id="country" name="country" />
                      <img src="assets/images/flag-icon.png" />
                      {{country}}
                    </div>
                    
                    <!-- <mat-form-field>
                      <mat-label>Select County</mat-label>
                      <mat-select id="country" name="country" required  [(ngModel)]="country">
                        <mat-option *ngFor="let country_name of countries;"  value="{{country_name}}" >{{country_name}}</mat-option>
                      </mat-select>
                    </mat-form-field> -->
                  </div>
                  <div class="col-sm-6" *ngIf="country=='India'">
                    <mat-form-field>
                      <mat-label>Select State</mat-label>
                      <mat-select id="state" name="state" required [(ngModel)]="state" (ngModelChange)="cities=states[state]">
                        <mat-option *ngFor="let key of objectKeys(states) " [value]="key">{{key}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6" *ngIf="country!='India'">
                    <mat-form-field class="example-full-width">
                        <input id="state" name="state" required matInput placeholder="State" [(ngModel)]="state"  />
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6" *ngIf="country=='India'">
                    <mat-form-field>
                      <mat-label>Select City</mat-label>
                      <mat-select id="city" name="city" required [(ngModel)]="city">
                        <mat-option *ngFor="let key of cities " [value]="key">{{key}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6" *ngIf="country!='India'">
                    <mat-form-field class="example-full-width">
                        <input id="city" name="city" required matInput placeholder="City" [(ngModel)]="city" />
                    </mat-form-field>
                  </div>
                  <div class="col-sm-6">
                    <mat-form-field class="example-full-width">
                      <input id="pin" name="pin" [required]="country=='India'" matInput placeholder="Pin Code" [(ngModel)]="pin"
                        onkeyup="allowNumbers(this);" maxlength="6" />
                    </mat-form-field>
                  </div>
                  <div class="col-sm-12">
                    <mat-form-field class="example-full-width">
                      <input name="webUrl" (keyup)="websiteFieldSts(newExhInfo['controls'].webUrl)" [(ngModel)]="webUrl" matInput placeholder="Website (optional)">
                      <mat-hint>e.g: https://www.abc.com</mat-hint>
                    </mat-form-field>
                  </div>

                  <div class="col-sm-12 customerPro" style="display:none;">
                    <label>Product Images (optional)</label>
                    <div class="customGrid">
                       <div class="customCol" *ngFor="let prodImg of prodImgArr; let i=index">
                           <div class="productOuter" *ngIf="prodImgArr.length > 0">
                               <a href="#" target="_blank">
                                   <img [src]="prodImagePrefix+prodImg" class="prod-img"/>
                              </a>
                              <i (click)="removeProductImage(i)" class="material-icons closeIcon">cancel</i>
                           </div>
                       </div>
                       <!-- <div class="customCol">
                        <div class="productOuter">
                            <a href="#" target="_blank">
                                <img src="./assets/images/agriculture.jpg" class="prod-img" />
                           </a>
                           <i class="material-icons closeIcon">cancel</i>
                        </div>
                       </div> -->
                       <div class="fileContainer" *ngIf="prodImgArr.length <= 4">
                         <i class="material-icons"> add_circle_outline</i>
                         <input type="file" accept=".png,.jpg, .jpeg" (change)="uploadProductImages($event)"/>
                        </div>
                    </div>
                  </div>


                  <div class="col-sm-12 text-left" style="display:none;">
                      <mat-checkbox id="marktrusted" name="marktrusted" [(ngModel)]="marktrusted" >Mark as trusted exhibitor</mat-checkbox>
                  </div>
                  <div class="col-sm-6">
                    <button type="button" class="cancel-btn" (click)="cancelCreateExhibitor()">Cancel</button>
                  </div>
                  <div class="col-sm-6">
                    <button class="create-btn" [disabled]="newExhInfo.invalid" type="submit" (click)="createClicked=true;">Create a Exhibitor</button>
                  </div>
                </div>
              </div>
          </form>
        </div>
    </mat-card>
  </div>
</div>
