<div id="loader"   class="loader"></div>
<div class="container-fluid contSpace">
  <div class="row badgePage">
    <div class="col-sm-12 list">
      <div class="row">           
        <div class="refreshBtn">
          <button style="cursor:pointer" matTooltip="Download" type="button" (click)="get_stalls()">
            <i class="material-icons">refresh</i>
          </button>
        </div>
        <mat-accordion class="example-headers-align col-sm-12">
          <mat-panel-title>
            <h3>Good2Go</h3>
          </mat-panel-title>
          <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-description class="text-right">
                <mat-icon matTooltip="Info"><i class="material-icons">info</i></mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row icon-info">
              <div class="col-sm-12">
                <h6>Pavillions:</h6>
                <div class="row">
                  <div class="col-sm-2" style="padding: 0px 2px 0px 12px;">                       
                    <div class="mrgn-b-xs" style="float:left;clear:both;width:100%;" *ngFor="let pav_type of (masterdata.pavillion_types  | slice:0:3) ;">
                      <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                      <div style="float:left;width:12px;text-align:center;"> : </div>
                      <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                    </div>
                  </div>
                  <div class="col-sm-2" style="padding: 0px 2px 0px 12px;">                       
                      <div class="mrgn-b-xs" style="float:left;clear:both;width:100%;" *ngFor="let pav_type of (masterdata.pavillion_types  | slice:3:6) ;">
                        <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                        <div style="float:left;width:12px;text-align:center;"> : </div>
                        <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                      </div>
                    </div>
                  <div class="col-sm-2" style="padding: 0px 2px;">
                    <div class="mrgn-b-xs" style="float:left;clear:both;width:100%;" *ngFor="let pav_type of (masterdata.pavillion_types  | slice:6:9) ;">
                      <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                      <div style="float:left;width:12px;text-align:center;"> : </div>
                      <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                    </div>
                  </div>
                  <div class="col-sm-2" style="padding: 0px 2px;">
                    <div class="mrgn-b-xs" style="float:left;clear:both;width:100%;" *ngFor="let pav_type of (masterdata.pavillion_types  | slice:9:12) ;">
                      <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                      <div style="float:left;width:12px;text-align:center;"> : </div>
                      <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                    </div>
                  </div>
                  <div class="col-sm-2" style="padding: 0px 2px;">
                    <div class="mrgn-b-xs" style="float:left;clear:both;width:100%;" *ngFor="let pav_type of (masterdata.pavillion_types  | slice:12:15) ;">
                      <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                      <div style="float:left;width:12px;text-align:center;"> : </div>
                      <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                    </div>
                  </div>
                  <div class="col-sm-2" style="padding: 0px 2px;">
                      <div class="mrgn-b-xs" style="float:left;clear:both;width:100%;" *ngFor="let pav_type of (masterdata.pavillion_types  | slice:15:18) ;">
                        <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                        <div style="float:left;width:12px;text-align:center;"> : </div>
                        <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                      </div>
                    </div>
                </div>
              </div>
              <!--<div class="col-sm-2">
                <h6>Type:</h6>
                <p class="mrgn-b-xs" *ngFor="let std_type of masterdata.stand_types;">{{std_type.short_code}}: {{std_type.name}}</p>
              </div>
              <div class="col-sm-2">
                <h6>Location:</h6>
                <p class="mrgn-b-xs" *ngFor="let std_loc of masterdata.stand_locations;">
                  <img src="../../assets/images/{{std_loc.short_code}}.png" width="23">: {{std_loc.name}}
                </p>
              </div>   -->           
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div> 
    </div>
    <div class="col-sm-12 list" >      
      <div class="col-sm-12 mrgn-b-lg badges-list list" style="padding:20px 0 0 0;">
        <mat-card>
          <div class="row" layout="row" layout-align="space-between center">
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-icon matPrefix><i class="material-icons">search</i></mat-icon>
                <input type="text" (keyup)="search_stalls($event)" [(ngModel)]="stall_search" 
                  matInput placeholder="Search by company name or person" />
              </mat-form-field>
            </div> 
            <div class="col-sm-3 "> </div>              
            <div class="col-sm-3 ">
              <mat-form-field>
                <mat-select placeholder="Pavillion" [(ngModel)]="stall_filter.pavillion_type" (ngModelChange)="get_stalls()">
                  <mat-option value="">All</mat-option>
                  <mat-option *ngFor="let item of masterdata.pavillion_types" value="{{item.short_code}}">
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-3 ">
              <mat-form-field>
                <mat-select placeholder="Type" [(ngModel)]="stall_filter.stand_type" (ngModelChange)="get_stalls()">
                  <mat-option value="">All</mat-option>
                  <mat-option *ngFor="let item of masterdata.stand_types" value="{{item.short_code}}">
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!--<div class="col-sm-2 ">
              <mat-form-field>
                <mat-select placeholder="Location" [(ngModel)]="stall_filter.stand_location" (ngModelChange)="get_stalls()">
                  <mat-option value="">All</mat-option>
                  <mat-option *ngFor="let item of masterdata.stand_locations" value="{{item.short_code}}">
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>-->
          </div>
          <span *ngIf="!(isSuccess)" class="errorMessage"> {{message}} </span>
          <span *ngIf="total_stalls==0" class="errorMessage"> No records found </span> 
          <div class="row" *ngIf="isSuccess && total_stalls > 0">
            <div class="col-sm-12 exhibitor-pagi mrgn-t-md">
              <div class="row">
                <div class="col-sm-3" >
                  <span>Showing: {{stall_start_item}}-{{stall_end_item}} of {{total_stalls}}</span>
                </div>
                <div class="col-sm-3">
                  <mat-checkbox class="example-margin" [(ngModel)]="stall_showall" (ngModelChange)="toggle_show_all_stalls()">
                    Show All
                  </mat-checkbox>
                </div>  
                <div class="col-sm-6 text-right">
                  <mat-list role="list">
                    <mat-list-item role="listitem">
                      <button mat-button [disabled]="stall_current_page==0" (click)="stall_current_page=0;get_stalls();" >
                        <i class="material-icons">first_page</i>
                      </button>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      <button mat-button [disabled]="stall_current_page==0" (click)="stall_current_page=stall_current_page-1;get_stalls();" >
                        <i class="material-icons">keyboard_arrow_left</i>
                      </button>
                    </mat-list-item>
                    <mat-list-item role="listitem">Page {{stall_current_page + 1}} of {{stall_pages}}</mat-list-item>
                    <mat-list-item role="listitem">
                      <button mat-button [disabled]="stall_current_page==(stall_pages-1)" (click)="stall_current_page=stall_current_page+1;get_stalls();" >
                        <i class="material-icons">navigate_next</i>
                      </button>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      <button mat-button [disabled]="stall_current_page==(stall_pages-1)" (click)="stall_current_page=(stall_pages-1);get_stalls();">
                        <i class="material-icons">last_page</i>
                      </button>
                    </mat-list-item>
                  </mat-list>
                </div>
              </div>
            </div>
          </div>
          <mat-card-content>
            <div class="table-responsive" *ngIf="isSuccess && total_stalls > 0">
              <table class="table">
                <thead class="blue-grey lighten-5">
                  <tr>
                    <th style="width:45px">
                      Sr. No.
                    </th>
                    <th style="width:45px" (click)="sort_stalls('id')" matTooltip="click to sort on this column" matTooltipPosition="above">
                      ID 
                      <span class="table-filter" *ngIf="stall_sort_col=='id'">
                          <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                          <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span>
                    </th>
                    <th style="width:170px" (click)="sort_stalls('company_name')" matTooltip="click to sort on this column" >
                      COMPANY 
                      <span class="table-filter" *ngIf="stall_sort_col=='company_name'" > 
                        <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i> 
                      </span>
                    </th> 
                    <th style="width:50px" class="pd-rgt" (click)="sort_stalls('is_trusted')" matTooltip="click to sort on this column" matTooltipPosition="above">
                      K17
                      <span *ngIf="stall_sort_col=='is_trusted'" class="table-filter">
                        <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span>
                    </th>
                    <th style="width:55px" (click)="sort_stalls('area')" matTooltip="click to sort on this column" matTooltipPosition="above">
                      AREA
                      <span *ngIf="stall_sort_col=='area'" class="table-filter">
                        <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span>
                    </th>
                    <th style="width:50px" (click)="sort_stalls('pavillion_type')" matTooltip="click to sort on this column" matTooltipPosition="above">
                      PAV.
                      <span *ngIf="stall_sort_col=='pavillion_type'" class="table-filter">
                        <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span>
                    </th>
                    <!--<th style="width:55px" (click)="sort_stalls('stand_type')" matTooltip="click to sort on this column" matTooltipPosition="above">
                      TYPE
                      <span *ngIf="stall_sort_col=='stand_type'" class="table-filter">
                        <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span>
                    </th>
                    <th style="width:50px" (click)="sort_stalls('stand_location')" matTooltip="click to sort on this column" matTooltipPosition="above" >
                      LOC.
                      <span *ngIf="stall_sort_col=='stand_location'" class="table-filter">
                        <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span>
                    </th>   -->
                    <th style="width:55px"  class="pd-rgt" (click)="sort_stalls('payment_datetime')" matTooltip="click to sort on this column" matTooltipPosition="above">
                      PAID <i class="table-filter"class="material-icons"> schedule </i>
                      <span *ngIf="stall_sort_col=='payment_datetime'" class="table-filter">
                        <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span>
                    </th>
                    <th style="width:80px"  class="pd-rgt" (click)="sort_stalls('stall_approved_datetime')" matTooltip="click to sort on this column" matTooltipPosition="above" >
                      APPROVED <i class="material-icons"> schedule </i>
                      <span *ngIf="stall_sort_col=='stall_approved_datetime'" class="table-filter">
                        <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span>
                    </th>
                    <th style="width:50px" (click)="sort_stalls('handshake_days')" matTooltip="click to sort on handshake days" matTooltipPosition="above" class="pd-rgt">
                      <img src="../../assets/images/handshake.png"  style="width:26px"/>
                      <span *ngIf="stall_sort_col=='handshake_days'" class="table-filter">
                        <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span>
                    </th>
                    <th style="width:70px" (click)="sort_stalls('profile_completed_datetime')" matTooltip="click to sort on this column" matTooltipPosition="above" class="pd-rgt ">
                      CATLOG 
                      <span *ngIf="stall_sort_col=='profile_completed_datetime'" class="table-filter">
                        <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span>
                    </th>
                    <th style="width:55px" (click)="sort_stalls('issued_badges')" matTooltip="click to sort on badges issued" matTooltipPosition="above" class="pd-rgt"> 
                      <i class="material-icons ht-unset"> assignment_ind </i>
                      <span *ngIf="stall_sort_col=='issued_badges'" class="table-filter">
                        <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span> 
                    </th>
                    <th style="width:55px" (click)="sort_stalls('issued_invites')" matTooltip="click to sort on greenpasses issued" matTooltipPosition="above" class="pd-rgt">
                      <img src="../../assets/images/gp_green.png"  style="width:20px"/>
                      <span *ngIf="stall_sort_col=='issued_invites'" class="table-filter">
                        <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span> 
                    </th>
                    <th   class="text-center" (click)="sort_stalls('first_extra_item_paid_datetime')" matTooltip="click to sort on this column" matTooltipPosition="above" style="width:75px">
                      EXTRA 
                      <span *ngIf="stall_sort_col=='first_extra_item_paid_datetime'" class="table-filter">
                        <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span>
                    </th>
                    <th  class="text-left" (click)="sort_stalls('good_to_go_days')" matTooltip="click to sort on good to go days" matTooltipPosition="above" style="width:45px">
                      <i class="material-icons ht-unset"> thumb_up_alt </i>
                      <span *ngIf="stall_sort_col=='good_to_go_days'" class="table-filter">
                        <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let stall of stalls; let i = index">
                    <td class="textNormal">{{pagesize*stall_current_page + i + 1}}</td>
                    <td class="textNormal">
                      <a href="/stalls/stall-details/{{getBase64URIencode(stall.id)}}">
                        {{stall.id}}
                      </a>
                    </td>
                    <td>
                      <div class="comp-name">
                        <a href="/stalls/stall-details/{{getBase64URIencode(stall.id)}}">
                          {{stall.company_name}}
                        </a>
                      </div>
                    </td>
                    <td class="icon-info" style="text-align:center;" *ngIf="stall.is_trusted" matTooltip="Trusted" matTooltipPosition="above">
                      <span class="Approved"></span>
                    </td>
                    <td class="icon-info" style="text-align:center;" *ngIf="!stall.is_trusted" matTooltip="New" matTooltipPosition="above">
                      <span class="NotFilled"></span>
                    </td>
                    <td class="text-right" >{{stall.area}}</td>
                    <td class="icon-info text-center"  matTooltip="{{get_pavillion_name(stall.pavillion_type)}}" matTooltipPosition="above">
                      <span class="{{stall.pavillion_type}}">{{ stall.pavillion_type}}</span>
                    </td>
                   <!-- <td class="text-center" matTooltip="{{get_stand_type_name(stall.stand_type)}}" matTooltipPosition="above">
                      {{stall.stand_type }}
                    </td>
                    <td class="text-center" matTooltip="{{get_stand_location_name(stall.stand_location)}}" matTooltipPosition="above">
                      <img src="../../assets/images/{{stall.stand_location}}.png"  width="23"/>
                    </td>-->
                    <td class="textNormal text-center" matTooltip="{{ stall.payment_datetime | date:'hh:mm a' }}" matTooltipPosition="above">
                      {{stall.payment_datetime | date:'dd MMM' }}
                    </td>
                    <td class="textNormal text-center" matTooltip="{{ stall.stall_approved_datetime | date:'hh:mm a' }}" matTooltipPosition="above">
                      {{stall.stall_approved_datetime | date:'dd MMM'  }}
                      <span *ngIf="!stall.stall_approved_datetime">-</span>
                    </td>
                    <td style="padding-right:10px" class="textNormal text-right" [ngClass]="{'error-text': !stall.stall_approved_datetime}"  matTooltip="{{ stall.handshake_hours}}" matTooltipPosition="above">
                        {{stall.handshake_days}}
                    </td>
                    <td class="icon-info" style="text-align:center;" *ngIf="stall.profile_completed_datetime" matTooltip="Trusted" matTooltipPosition="above">
                      <span class="Approved"></span>
                    </td>
                    <td class="icon-info" style="text-align:center;" *ngIf="!stall.profile_completed_datetime" matTooltip="New" matTooltipPosition="above">
                      <span class="Rejected"></span>
                    </td>
                    <td class="textNormal text-right" style="padding-right:20px">{{stall.issued_badges}}</td>
                    <td class="textNormal text-right" style="padding-right:20px">{{stall.issued_invites}}</td>
                    <td class="icon-info" style="text-align:center;" *ngIf="stall.first_extra_item_paid_datetime" matTooltip="Trusted" matTooltipPosition="above">
                      <span class="Approved"></span>
                    </td>
                    <td class="icon-info" style="text-align:center;" *ngIf="!stall.first_extra_item_paid_datetime" matTooltip="New" matTooltipPosition="above">
                      <span class="Rejected"></span>
                    </td>
                    <td style="padding-right:10px" [ngClass]="{'error-text': !stall.good_to_go_dateime}" class="textNormal text-right" matTooltip="{{ stall.good_to_go_hours}}" matTooltipPosition="above"> 
                      {{stall.good_to_go_days}}
                    </td>
                  </tr>                  
                </tbody>
              </table>
            </div>
          </mat-card-content>
          <div class="row" *ngIf="isSuccess && total_stalls > 0">
            <div class="col-sm-12 exhibitor-pagi mrgn-t-md">
              <div class="row">
                <div class="col-sm-3" >
                  <span>Showing: {{stall_start_item}}-{{stall_end_item}} of {{total_stalls}}</span>
                </div>  
                <div class="col-sm-9 text-right">
                  <mat-list role="list">
                    <mat-list-item role="listitem">
                      <button mat-button [disabled]="stall_current_page==0" (click)="stall_current_page=0;get_stalls();" >
                        <i class="material-icons">first_page</i>
                      </button>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      <button mat-button [disabled]="stall_current_page==0" (click)="stall_current_page=stall_current_page-1;get_stalls();" >
                        <i class="material-icons">keyboard_arrow_left</i>
                      </button>
                    </mat-list-item>
                    <mat-list-item role="listitem">Page {{stall_current_page + 1}} of {{stall_pages}}</mat-list-item>
                    <mat-list-item role="listitem">
                      <button mat-button [disabled]="stall_current_page==(stall_pages-1)" (click)="stall_current_page=stall_current_page+1;get_stalls();" >
                        <i class="material-icons">navigate_next</i>
                      </button>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      <button mat-button [disabled]="stall_current_page==(stall_pages-1)" (click)="stall_current_page=(stall_pages-1);get_stalls();">
                        <i class="material-icons">last_page</i>
                      </button>
                    </mat-list-item>
                  </mat-list>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>