<div id="loader"   class="loader"></div>
<div class="container-fluid contSpace">
  <div class="row exhibitors">
    <div class="col-sm-12"> 
      <div class="row">
        <h2 class="col-sm-5 mrgn-t-none mrgn-b-lg">Exhibitors</h2>
        <div class="col-sm-2">
          <mat-form-field>
            <mat-select placeholder="Pavillion" [(ngModel)]="exhibitors_filter.pavillion_type" (ngModelChange)="get_stalls()">
              <mat-option value="">All</mat-option>
              <mat-option *ngFor="let item of masterdata.pavillion_types" value="{{item.short_code}}">
                {{item.name}}
              </mat-option>                 
            </mat-select>
          </mat-form-field>  
        </div>
        <div class="col-sm-5">
          <mat-form-field class="example-full-width exhisearch">
            <mat-icon matPrefix><i class="material-icons">search</i></mat-icon>
            <input type="text" matInput placeholder="Search by company name or person" (keyup)="search_stalls($event)" [(ngModel)]="exhibitors_search" />
          </mat-form-field>  
        </div>
      </div>    
    </div>
    <span *ngIf="!(isSuccess)" class="errorMessage"> {{message}} </span>
    <span *ngIf="total_exhibitors==0" class="errorMessage"> No records found </span>
    <div class="col-sm-12 exhibitor-pagi" *ngIf="isSuccess && total_exhibitors > 0">
      <div class="row">
        <div class="col-sm-3">
          <span>Showing: {{exhibitors_start_item}}-{{exhibitors_end_item}} of {{total_exhibitors}}</span> 
        </div>
        <div class="col-sm-3">
          <mat-checkbox class="example-margin" [(ngModel)]="exhibitors_showall" (ngModelChange)="toggle_show_all_stalls()" >Show All</mat-checkbox> 
        </div>
        <div class="col-sm-6 text-right">
          <mat-list role="list">
            <mat-list-item role="listitem">
              <button mat-button [disabled]="exhibitors_current_page==0" 
                  (click)="exhibitors_current_page=0;get_stalls();" >
                      <i class="material-icons">first_page</i>
              </button>
            </mat-list-item>
            <mat-list-item role="listitem">
              <button mat-button [disabled]="exhibitors_current_page==0" 
                  (click)="exhibitors_current_page=exhibitors_current_page-1;get_stalls();">
                      <i class="material-icons">keyboard_arrow_left</i>
              </button>
            </mat-list-item>
            <mat-list-item role="listitem" >Page  {{exhibitors_current_page + 1}} of  {{exhibitors_pages}}</mat-list-item> 
            <mat-list-item role="listitem">
              <button mat-button [disabled]="exhibitors_current_page==(exhibitors_pages-1)" 
                  (click)="exhibitors_current_page=exhibitors_current_page+1;get_stalls();">
                      <i class="material-icons">navigate_next</i>
              </button>
            </mat-list-item>
            <mat-list-item role="listitem">
              <button mat-button [disabled]="exhibitors_current_page==(exhibitors_pages-1)" 
                  (click)="exhibitors_current_page=(exhibitors_pages-1);get_stalls();">
                      <i class="material-icons">last_page</i>
              </button>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row exhibitor-list">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mrgn-b-lg" *ngFor="let exh_info of exhibitors">
          <mat-card>
            <div class="edit" *ngIf="checkAllowedRoles(['exhibitoradmin'])" >
              <a href="/stalls/edit-stall-details/{{getBase64URIencode(exh_info.id)}}" class="grayBtn edit mrgn-r-md">
                <i class="material-icons">edit</i>
              </a>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <div class="ExhiProfile">
                  <img  [src]="getFullLogoUrl(exh_info.logo_big_thumb)">
                </div>
              </div>
              <div class="col-sm-9 pad-l-none">
                <a href="/stalls/stall-details/{{getBase64URIencode(exh_info.id)}}">
                  <h3 class="font-bold-six">{{exh_info.company_name}}</h3>
                </a>
                <p><span class="wordWidth">{{exh_info.pavillion_name}}</span> | {{exh_info.area}} sq.m -{{exh_info.stand_location_name}} | {{exh_info.stand_type_name}}</p>
                <p styel="text-transform: capitalize;">ID - {{exh_info.id}} | Mobile - {{exh_info.company_phone}} | <span class="wordWidth">{{exh_info.contact_person_first_name}} {{exh_info.contact_person_last_name}} </span></p>
              </div>
            </div> 
            <hr>
            <div class="row">
              <div class="col-sm-9 offset-md-3 pad-l-none">
                <p class="mrgn-b-none"><i class="material-icons">room</i>
                  <span>{{exh_info.city}}, {{exh_info.state}}, {{exh_info.country}}.</span></p>
              </div>
            </div>                       
          </mat-card>
        </div>        
      </div>
    </div>
    <div class="col-sm-12 exhibitor-pagi" *ngIf="isSuccess && total_exhibitors > 0">
      <div class="row">
        <div class="col-sm-3">
          <span>Showing: {{exhibitors_start_item}}-{{exhibitors_end_item}} of {{total_exhibitors}}</span> 
        </div>       
        <div class="col-sm-9 text-right">
          <mat-list role="list">
            <mat-list-item role="listitem">
              <button mat-button [disabled]="exhibitors_current_page==0" 
                  (click)="exhibitors_current_page=0;get_stalls();" >
                      <i class="material-icons">first_page</i>
              </button>
            </mat-list-item>
            <mat-list-item role="listitem">
              <button mat-button [disabled]="exhibitors_current_page==0" 
                  (click)="exhibitors_current_page=exhibitors_current_page-1;get_stalls();">
                      <i class="material-icons">keyboard_arrow_left</i>
              </button>
            </mat-list-item>
            <mat-list-item role="listitem" >Page  {{exhibitors_current_page + 1}} of  {{exhibitors_pages}}</mat-list-item> 
            <mat-list-item role="listitem">
              <button mat-button [disabled]="exhibitors_current_page==(exhibitors_pages-1)" 
                  (click)="exhibitors_current_page=exhibitors_current_page+1;get_stalls();">
                      <i class="material-icons">navigate_next</i>
              </button>
            </mat-list-item>
            <mat-list-item role="listitem">
              <button mat-button [disabled]="exhibitors_current_page==(exhibitors_pages-1)" 
                  (click)="exhibitors_current_page=(exhibitors_pages-1);get_stalls();">
                      <i class="material-icons">last_page</i>
              </button>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>  
  </div> 
</div>
