.badges-list{
  .mat-card-header{
      .mat-card-header-text{
          h5{ margin-top:5px;}
          .search-badges-list{margin-top: -10px;
              .mat-form-field-prefix{line-height: inherit !important;}
              .mat-form-field-label-wrapper {top: -0.34375em !important;}
              .mat-form-field-infix {padding: .3375em 0 !important;}
              .mat-form-field-label-wrapper{
                  label{ font-size: 15px !important}
              }
              .mat-icon{vertical-align: bottom;
                  i{color: #999;font-size: 22px; }
              }
          }

          .rightFilter{ margin-top: -10px;
              h6{ margin-top: 32px; float: left; font-size: 14px; color: #666;}
              .invite{ float: left; width: 40%;
                  .mat-form-field-label-wrapper {top: -0.34375em !important;}
                  .mat-select{ line-height: 1;}
                  .mat-form-field-infix {padding: .3375em 0 !important;}
                  .mat-form-field-label-wrapper{
                      label{ font-size: 15px !important}
                  }
                  @media (max-width:1024px){
                      width: 31%;
                  }
              }
              h5{
                  float: left; margin-top: 18px; margin-left: 8px;
                  .rightTxt{
                      .guest-list-btn{ color: #333; background: #F1F1F1; font-family:  'Roboto', sans-serif !important;font-size: 15px;
                          &:hover{ background: inherit;}
                          i{font-size: 20px;vertical-align: middle;}
                      }
                  }
              }
          }

      }
  }
  .guest-list-container{
      .guest-list{text-align: center;
          .col-lg-4{ float: left; padding-left:8px; padding-right:8px;}
          .col-md-6{ float: left; padding-left:8px; padding-right:8px;}
          .col-md-6{ float: left; padding-left:8px; padding-right:8px;}
          .mat-list{width: 100%;
              display: block !important;
  margin-bottom: 0 !important;
  height: 60px;
  background: #fff;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 0 0 5px #ccc;
  padding: 4px;
              .mat-list-item{ float: left; height: 55px; width: 70%;
                  .mat-list-item-content{  padding: 0;
                      .mat-icon{ width: 45px; height: 45px;
                          img{border-radius: 50%; width: 45px; height: 45px; object-fit: contain;}
                      }
                      .mat-list-text{ padding-left:8px;
                          @media (max-width:480px){ padding-left: 0px;}
                          h4{ text-align: left;
                              font-size:14px;color:#000;line-height:20px;width:110px;
                              @media (max-width:320px){width:90px}
                          }
                          p{font-size: 14px; text-align: left;
                              a{display: block; text-align: center}
                              .green{color: #008940 !important; }
                              .gray{color:#ccc;}
                          }
                          .mrgTop{margin-top: 0 !important; }
                      }
                      .resend{background: unset; border: unset;}
                  }
              }
              .rightList{float: right; width:23%;}
          }
          .disable{
              .material-icons{color:#ccc !important;}
          }
      }
      .pagination-list{
          .showing-result{ font-size:18px;
              @media (max-width:1024px){font-size:16px;}
          }
          .mat-list{
              padding-top: 0px;
              .mat-list-item{
                  display:inline !important; height:40px;
                  .mat-list-item-content{
                      display:unset !important; padding: 0 8px;
                      .mat-button{
                          min-width:auto !important; padding: 0px !important;
                      }
                  }
              }
              .page{position:relative;bottom:5px}
          }
      }

      .guest-pagiation{
          .right-pagi-count{
              font-size:18px;padding-top:5px;margin-bottom:0;
          }
      }
  }
}
.pagination{margin: 0 !important;}
.pagination li{display: inline-block !important;margin: 0 2px;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
  background:#008940!important;color:#fff!important;
}
.pagination>li>a{color:#999!important;height:36px;font-size:14px;border-radius:4px;}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover{color: #999 !important;}
/* issueBadges list */

