

<!-- ! OLD CODE -->
 
<div id="loader"   class="loader"></div>
<div class="container-fluid contSpace">
    <div class="row badgePage">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6">
            <h2 class="mrgn-t-none mrgn-b-lg">Invites - List</h2>
          </div>
          <div class="col-sm-6 text-right">
              <span class="refreshBtn">
                  <button style="cursor:pointer" matTooltip="Download All Not Accepted" type="button" (click)="exportInviteListCSV()">
                      <i class="material-icons">get_app</i>
                    </button>
                </span>
            <span class="refreshBtn">
              <button style="cursor:pointer" matTooltip="Refresh" type="button" (click)="reload_invites_list()">
                <i class="material-icons">refresh</i>
              </button>
            </span>
          </div>
        </div>
      </div>
      <!-- start badges-list-->
      <div class="col-sm-12 mrgn-b-lg badges-list list">
        <mat-card>
          <div class="row" layout="row" layout-align="space-between center">
            <div class="col-sm-4">
              <mat-form-field class="example-full-width">
                <mat-icon matPrefix><i class="material-icons">search</i></mat-icon>
                <input type="text" (keyup)="search_invites_passes($event)" [(ngModel)]="invites_list_search" matInput placeholder="Search by company name or person"
                />
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field class="example-full-width pad-b-sm">
                  <mat-select placeholder="State" name="state" id="state"
                      [(ngModel)]="state"
                      (ngModelChange)="showCities(state)" >
                          <mat-option>None</mat-option>
                          <mat-option *ngFor="let key of objectKeys(states) "
                              [value]="key">
                              {{key}}
                          </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <div class="col-sm-4">
              <mat-form-field class="example-full-width pad-b-sm">
                  <mat-select placeholder="City" name="city" id="city"
                          [(ngModel)]="city" (selectionChange) = "selectedCity($event)">
                          <mat-option>None</mat-option>
                      <mat-option *ngFor="let city of cities " [value]="city">
                          {{city}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>

          </div>
          <div class="row" *ngIf="invitedPeople && invitedPeople.length > 0">
            <div class="col-sm-12 exhibitor-pagi mrgn-t-md">
              <div class="row">
                <div class="col-sm-3">
                  <span>Showing: {{ getRupeeFormat(invites_list_start_item) }}-{{ getRupeeFormat(invites_list_end_item) }} of {{ getRupeeFormat(totalUsers) }}</span>
                </div>

                <div class="col-sm-9 text-right">
                  <mat-list role="list">
                    <mat-list-item role="listitem">
                      <button mat-button [disabled]="invites_list_current_page==0" (click)="invites_list_current_page=0;get_invites_list()">
                        <i class="material-icons">first_page</i>
                      </button>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      <button mat-button [disabled]="invites_list_current_page==0" (click)="invites_list_current_page=invites_list_current_page-1;get_invites_list()">
                        <i class="material-icons">keyboard_arrow_left</i>
                      </button>
                    </mat-list-item>
                    <mat-list-item role="listitem">Page {{ getRupeeFormat(invites_list_current_page + 1) }} of  {{ getRupeeFormat(invites_list_total_pages) }}</mat-list-item>
                    <mat-list-item role="listitem">
                      <button mat-button [disabled]="invites_list_current_page==(invites_list_total_pages-1)" (click)="invites_list_current_page=invites_list_current_page+1;get_invites_list()">
                        <i class="material-icons">navigate_next</i>
                      </button>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      <button mat-button [disabled]="invites_list_current_page==(invites_list_total_pages-1)" (click)="invites_list_current_page=(invites_list_total_pages-1);get_invites_list()">
                        <i class="material-icons">last_page</i>
                      </button>
                    </mat-list-item>
                  </mat-list>
                </div>
              </div>
            </div>
          </div>
          <mat-card-content *ngIf="invitedPeople && invitedPeople.length > 0">
            <div class="table-responsive">
              <table class="table">
                <thead class="blue-grey lighten-5">
                  <tr>
                    <th style="width:25px">Sr. No.</th>
                    <!-- <th style="width:45px" (click)="sort_invites_list_passes('stall_id')" matTooltip="click to sort on this column"> Stall ID
                      <span  class="table-filter" *ngIf="invites_list_sort_col=='stall_id'">
                        <i *ngIf="invites_list_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="invites_list_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span>
                    </th> -->
                    <th style="width:100px" (click)="sort_invites_list_passes('first_name')" matTooltip="click to sort on this column">NAME
                      <span  class="table-filter" *ngIf="invites_list_sort_col=='first_name'">
                        <i *ngIf="invites_list_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="invites_list_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span>
                    </th>

                    <th style="width:130px" (click)="sort_invites_list_passes('channel_name')" matTooltip="click to sort on this column">COMPANY
                      <span  class="table-filter" *ngIf="invites_list_sort_col=='channel_name'">
                        <i *ngIf="invites_list_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="invites_list_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span>
                    </th>
                    <th style="width:60px" class="pd-rgt text-center" (click)="sort_invites_list_passes('created_datetime')" matTooltip="click to sort on this column">CREATED TIME
                      <span  class="table-filter" *ngIf="invites_list_sort_col=='created_datetime'">
                        <i *ngIf="invites_list_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="invites_list_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span>
                    </th>
                    <th style="width:55px" class="pd-rgt text-center" (click)="sort_invites_list_passes('first_accept_click_datetime')" matTooltip="click to sort on this column">Acpt clk
                      <span  class="table-filter" *ngIf="invites_list_sort_col=='first_accept_click_datetime'">
                        <i *ngIf="invites_list_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="invites_list_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span>
                    </th>
                    <th style="width:55px" class="pd-rgt text-center" (click)="sort_invites_list_passes('first_click_datetime')" matTooltip="click to sort on this column">Link clk
                      <span  class="table-filter" *ngIf="invites_list_sort_col=='first_click_datetime'">
                        <i *ngIf="invites_list_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="invites_list_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span>
                    </th>
                    <th style="width:55px" class="pd-rgt text-center" (click)="sort_invites_list_passes('first_otp_entered_datetime')" matTooltip="click to sort on this column">OTP ent
                      <span  class="table-filter" *ngIf="invites_list_sort_col=='first_otp_entered_datetime'">
                        <i *ngIf="invites_list_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="invites_list_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span>
                    </th>
                    <th style="width:65px" class="pd-rgt text-center" (click)="sort_invites_list_passes('first_image_upload_datetime')" matTooltip="click to sort on this column">Photo upd
                      <span  class="table-filter" *ngIf="invites_list_sort_col=='first_image_upload_datetime'">
                        <i *ngIf="invites_list_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="invites_list_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span>
                    </th>
                    <th style="width:85px" class="pd-rgt text-center" (click)="sort_invites_list_passes('collected_datetime')" matTooltip="click to sort on this column">ACCEPTED TIME
                      <span  class="table-filter" *ngIf="invites_list_sort_col=='collected_datetime'">
                        <i *ngIf="invites_list_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="invites_list_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span>
                    </th>
                   <!-- <th style="width:60px" class="pd-rgt" (click)="sort_invites_list_passes('collected_datetime')" matTooltip="click to sort on this column"> COLLECT TIME
                      <span  class="table-filter" *ngIf="invites_list_sort_col=='collected_datetime'">
                        <i *ngIf="invites_list_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="invites_list_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span>
                    </th>
                    <th class="text-center" style="width:55px">BARCODE </th>
                    <th class="text-center" style="width:50px">SOURCE </th>-->
                    <th class="text-center" style="width:25px"></th> 
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor=" let invite of invitedPeople; let i=index">
                    <td class="textNormal">{{ pagesize*invites_list_current_page + i + 1 }}</td>
                    <!-- <td class="textNormal">
                      <a href="/stalls/stall-details/{{getBase64URIencode(invite.stall_id)}}">
                        {{ invite.stall_id }}
                      </a>
                    </td> -->
                    <td>{{ invite.first_name }} {{ invite.last_name }}</td>

                    <td>
                      <div class="comp-name">
                        <a href="/stalls/stall-details/{{getBase64URIencode(invite.stall_id)}}">
                          {{ invite.channel_name }}
                        </a>
                      </div>
                    </td>
                    <td class="textNormal text-center" matTooltip="{{ invite.created_datetime | date:'shortTime'}}" [matTooltipPosition]="'above'">
                      {{ invite.created_datetime == null ? '----' : invite.created_datetime | date:'dd MMM'}}
                    </td>
                    <td class="text-center" matTooltip="{{ invite.first_accept_click_datetime | date:'shortTime'}}" [matTooltipPosition]="'above'">{{ invite.first_accept_click_datetime == null ? '----' : invite.first_accept_click_datetime | date:'dd MMM'}}</td>
                    <td class="text-center" matTooltip="{{ invite.first_click_datetime | date:'shortTime'}}" [matTooltipPosition]="'above'">{{ invite.first_click_datetime == null ? '----' : invite.first_click_datetime | date:'dd MMM'}}</td>
                    <td class="text-center" matTooltip="{{ invite.first_otp_entered_datetime | date:'shortTime'}}" [matTooltipPosition]="'above'">{{ invite.first_otp_entered_datetime == null ? '----' : invite.first_otp_entered_datetime | date:'dd MMM'}}</td>
                    <td class="text-center" matTooltip="{{ invite.first_image_upload_datetime | date:'shortTime'}}" [matTooltipPosition]="'above'">{{ invite.first_image_upload_datetime == null ? '----' : invite.first_image_upload_datetime | date:'dd MMM'}}</td>
                    <td class="textNormal text-center" matTooltip="{{ invite.collected_datetime | date:'shortTime'}}" [matTooltipPosition]="'above'">
                      {{ invite.collected_datetime == null ? '----' : invite.collected_datetime  | date:'dd MMM'}}
                    </td>
                    <td  >
                      <img (click)="redirect_crm_called(invite);invite.crm_called=1;" style="cursor:pointer" *ngIf="invite.crm_called==0" src="../../assets/images/crm_icon.png" width="20"/>
                      <img (click)="redirect_crm_called(invite);" style="cursor:pointer"  *ngIf="invite.crm_called==1" src="../../assets/images/crm_called_icon.png" width="20">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-card-content>
          <!-- <span *ngIf="!(isSuccess)" class="errorMessage"> {{ errorMessage }} </span> -->
          <span *ngIf="invitedPeople && invitedPeople.length == 0" class="errorMessage"> No records found </span>
          <div class="row" *ngIf="invitedPeople && invitedPeople.length > 0">
            <div class="col-sm-12 exhibitor-pagi mrgn-t-md">
              <div class="row">
                <div class="col-sm-3">
                  <span>Showing: {{ getRupeeFormat(invites_list_start_item) }}-{{ getRupeeFormat(invites_list_end_item) }} of {{ getRupeeFormat(totalUsers) }}</span>
                </div>

                <div class="col-sm-9 text-right">
                  <mat-list role="list">
                    <mat-list-item role="listitem">
                      <button mat-button [disabled]="invites_list_current_page==0" (click)="invites_list_current_page=0;get_invites_list()">
                        <i class="material-icons">first_page</i>
                      </button>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      <button mat-button [disabled]="invites_list_current_page==0" (click)="invites_list_current_page=invites_list_current_page-1;get_invites_list()">
                        <i class="material-icons">keyboard_arrow_left</i>
                      </button>
                    </mat-list-item>
                    <mat-list-item role="listitem">Page {{ getRupeeFormat(invites_list_current_page + 1) }} of  {{ getRupeeFormat(invites_list_total_pages) }}</mat-list-item>
                    <mat-list-item role="listitem">
                      <button mat-button [disabled]="invites_list_current_page==(invites_list_total_pages-1)" (click)="invites_list_current_page=invites_list_current_page+1;get_invites_list()">
                        <i class="material-icons">navigate_next</i>
                      </button>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      <button mat-button [disabled]="invites_list_current_page==(invites_list_total_pages-1)" (click)="invites_list_current_page=(invites_list_total_pages-1);get_invites_list()">
                        <i class="material-icons">last_page</i>
                      </button>
                    </mat-list-item>
                  </mat-list>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </div><!-- end lateststall-->
    </div>
  </div>


  <!-- ! New Code -->

  <!-- <div id="loader"   class="loader"></div>
<div class="issueBagesNew mrgn-b-none">
    <div class="container-fluid contSpace pad-t-none pad-b-lg">
      <div class="rightpannel">

        <div class="badges-list">
          <div class="guest-list-container">
              <mat-card class="mrgn-b-lx">
                  <mat-card-content>
                      <div class="badges-list-outer pad-l-lg pad-r-lg pad-t-none pad-b-none">
                          <div class="row">
                            <div class="col-md-3 col-lg-4">
                              <div class="search-badges-list">
                                <mat-form-field class="search">
                                    <mat-icon matPrefix class="mrgn-r-sm" style="margin-right: 0px;position: relative;bottom: 5px;">
                                        <i class="material-icons">search</i>
                                    </mat-icon>
                                    <input type="text" [(ngModel)]="searchText" matInput placeholder="Search by name or mobile number" (keyup)="onKeydown($event)"/>
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="col-md-8 col-lg-8 rightFilter main_Filter mrgn-t-md">
                              <h6 class="mrgn-r-lg">Filter the Guest list on -</h6>
                              <mat-form-field class="invite">
                                <mat-label> </mat-label>
                                <mat-select [(ngModel)]="selected" (ngModelChange)="pageNumber=1;getInvitelistsuggestion();">
                                    <mat-option (click)="getInvitelistsuggestion()" value="">All</mat-option>
                                  <mat-option *ngFor="let sts of status" [value]="sts['send']">{{sts['show']}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                              <button class="refreshBtn float-right" matTooltip="refresh" (click)="refreshData()"><i class="material-icons">refresh</i></button>
                            </div>

                          </div>
                        </div>


                      <div class="pagination-list">
                          <div class="row list" *ngIf="totalUsers > 0">
                            <div class="col-sm-4 pad-t-sm">
                              <span>Showing: {{startItem}}-{{endItem}} of {{totalUsers}}</span>
                            </div>
                            <div class="col-sm-4">
                                <div class="listBlock" style="padding-left:10px">
                                    <ul>
                                      <li><img src="../../assets/images/acceptedIcon.png"/><span>Accepted</span></li>
                                      <li><img src="../../assets/images/attendedIcon.png"/><span>Attended</span></li>
                                    </ul>
                                  </div>
                            </div>
                            <div class="col-sm-4 text-right">
                              <mat-list role="list">
                                <mat-list-item role="listitem">
                                  <button mat-button [disabled]="pageNumber==1" (click)="pageNumber=1;getInvitelistsuggestion();">
                                    <i class="material-icons">first_page</i>
                                  </button>
                                </mat-list-item>
                                <mat-list-item role="listitem">
                                  <button mat-button [disabled]="pageNumber==1" (click)="pageNumber=pageNumber-1;getInvitelistsuggestion();">
                                    <i class="material-icons">keyboard_arrow_left</i>
                                  </button>
                                </mat-list-item>
                                <mat-list-item role="listitem">Page {{pageNumber}} of {{pages}}</mat-list-item>
                                <mat-list-item role="listitem">
                                  <button mat-button [disabled]="pageNumber==(pages)" (click)="pageNumber=pageNumber+1;getInvitelistsuggestion();">
                                    <i class="material-icons">navigate_next</i>
                                  </button>
                                </mat-list-item>
                                <mat-list-item role="listitem">
                                  <button mat-button [disabled]="pageNumber==(pages)" (click)="pageNumber=(pages);getInvitelistsuggestion();">
                                    <i class="material-icons">last_page</i>
                                  </button>
                                </mat-list-item>
                              </mat-list>
                            </div>
                        </div>
                        </div>
                    <div class="row">
                      <div class="col-md-12 issue-badge-second">
                              <div class="checkbox-msg pad-l-md pad-r-md">
                                  <p *ngIf="invitedPeople==undefined" class="font-bold-six suggTitle text-center">No suggestions
                                  </p>
                                <div class="suggestion-list mrgn-t-md mrgn-b-none" *ngIf="invitedPeople!==undefined" >
                                  <div class="row guest-list">
                                  <div *ngFor="let invitedPeople of invitedPeople" class="col-xs-12 col-sm-6 col-md-6 col-lg-3 mrgn-b-md">
                                      <div>
                                          <mat-list>
                                              <mat-list-item>
                                                  <mat-icon mat-list-icon>
                                                      <img *ngIf="invitedPeople.fullimageurl" src="{{invitedPeople.fullimageurl}}" alt="user" />
                                                        <img *ngIf="!invitedPeople.fullimageurl"  src="../../assets/images/Vprofile.png"/>
                                                  </mat-icon>
                                                  <h4 mat-line class="font-bold-six">{{invitedPeople.first_name}} {{invitedPeople.last_name}}</h4>
                                                  <p mat-line>{{invitedPeople.mobile.substring(3)}}</p>
                                              </mat-list-item>
                                              <mat-list-item class="text-right rightList" *ngIf="invitedPeople.visited_datetime">
                                                  <p mat-line class="mrgTop2">{{invitedPeople.visited_datetime | date:'MMM dd'}}</p>
                                                  <p mat-line class="text-center">
                                                        <img src="../../assets/images/issuegreenpass.png" width="25">
                                                  </p>
                                              </mat-list-item>
                                              <mat-list-item class="text-right rightList" *ngIf=" !invitedPeople.visited_datetime && invitedPeople.collected_datetime">
                                                <p mat-line class="mrgTop2">{{invitedPeople.collected_datetime | date:'MMM dd'}}</p>
                                                <p mat-line class="text-center">
                                                      <img src="../../assets/images/issuegreenpass-1.png" width="25">
                                                </p>
                                            </mat-list-item>
                                            <mat-list-item class=" text-right rightList" *ngIf="!invitedPeople.visited_datetime && !invitedPeople.collected_datetime">
                                              <p mat-line class="mrgTop2">{{invitedPeople.created_datetime | date:'MMM dd'}}</p>
                                              <p mat-line class="text-center">
                                                    <img src="" width="25">


                                              </p>
                                          </mat-list-item>
                                          </mat-list>
                                      </div>
                                  </div>
                              </div>
                              </div>
                              </div>

                              <span *ngIf="totalUsers==0" class="font-bold-six suggTitle text-center"> No records found </span>
                      </div>

                    </div>
                    <div class=" pagination-list">
                        <div class="row list" *ngIf="totalUsers > 0">
                        <div class="col-sm-4 pad-t-sm">
                          <span>Showing: {{startItem}}-{{endItem}} of {{totalUsers}}</span>
                        </div>
                        <div class="col-sm-8 text-right">
                          <mat-list role="list">
                            <mat-list-item role="listitem">
                              <button mat-button [disabled]="pageNumber==1" (click)="pageNumber=1;getInvitelistsuggestion();">
                                <i class="material-icons">first_page</i>
                              </button>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                              <button mat-button [disabled]="pageNumber==1" (click)="pageNumber=pageNumber-1;getInvitelistsuggestion();">
                                <i class="material-icons">keyboard_arrow_left</i>
                              </button>
                            </mat-list-item>
                            <mat-list-item role="listitem">Page {{pageNumber}} of {{pages}}</mat-list-item>
                            <mat-list-item role="listitem">
                              <button mat-button [disabled]="pageNumber==(pages)" (click)="pageNumber=pageNumber+1;getInvitelistsuggestion();">
                                <i class="material-icons">navigate_next</i>
                              </button>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                              <button mat-button [disabled]="pageNumber==(pages)" (click)="pageNumber=(pages);getInvitelistsuggestion();">
                                <i class="material-icons">last_page</i>
                              </button>
                            </mat-list-item>
                          </mat-list>
                        </div>
                    </div>
                    </div>
                  </mat-card-content>
                </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div> -->
