<div id="loader"   class="loader"></div>
<div class="container-fluid contSpace" *ngIf="inviteSummary">
    <div class="row badgePage">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6">
            <h2 class="mrgn-t-none mrgn-b-lg"> Exhibitor Greenpass Invites - Overview</h2>
          </div>
          <div class="col-sm-6 text-right">

            <div class="refreshBtn mrgn-t-sm">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="passType" (change) = "getExhibitorInviteSummary()">
                <mat-radio-button class="mrgn-r-sm greenC" value="standard">Standard</mat-radio-button>
                <mat-radio-button class="mrgn-r-sm greenC" value="unlimited">Unlimited</mat-radio-button>
              </mat-radio-group>
              <button style="cursor:pointer" matTooltip="Refresh" type="button" (click)="getExhibitorInviteSummary()">
                <i class="material-icons">refresh</i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="row" >
            <!-- *ngIf="isSuccess && total_invites > 0" -->
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 allBlock mrgn-b-lg badgesChart">
            <mat-card class="badges-header-block">
              <mat-list>
                <mat-list-item class="greenTxt">
                  <mat-icon mat-list-icon>
                    <i class="material-icons">email</i>
                  </mat-icon>
                  <h4 mat-line class="font-bold-six">{{getRupeeFormat(inviteSummary['sent']) }}<span> / {{ getRupeeFormat(inviteSummary['totalquota']) }}</span>
                  </h4>
                  <p mat-line> Greenpass invitations sent </p>
                </mat-list-item>
              </mat-list>
              <!-- <div class="rightsideLink">
                <button mat-icon-button class="mrgn-t-md">
                  <mat-icon class="text-center"><i class="material-icons">more_horiz</i></mat-icon>
                </button>
              </div> -->
            </mat-card>
            <mat-card class="badge-statistics-card">
              <mat-card-content>
                <div class="badge-statistics-content">
                  <canvas class="mrgn-auto chartInner" baseChart width="280" height="280" [labels]="invitesChartLabels" [colors]="invitesChartColors"
                    [data]="invitesChartData" [chartType]="invitesChartType">
                  </canvas>
                </div>
              </mat-card-content>
            </mat-card>
          </div><!-- end allBlock-->

          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 allBlock mrgn-b-lg gpMain">
            <mat-card class="sms">
              <mat-list class="pad-t-none">
                <mat-list-item class="greenTxt">
                  <mat-icon mat-list-icon>
                    <i class="material-icons">message</i>
                  </mat-icon>
                  <h4 mat-line class="font-bold-six">{{getRupeeFormat(inviteSummary['withquota']) }}<span> / {{getRupeeFormat(inviteSummary['total'])}}</span>
                  </h4>
                  <p mat-line> Companies have been allotted with quota </p>
                </mat-list-item>
              </mat-list>
            </mat-card>
            <div style="height:15px;"></div>
            <mat-card class="gpAccept">
              <mat-card-header class="mrgn-t-sm mrgn-b-sm">
                <p>Greenpass Invitation Accepted</p>
                <h1 class="font-bold-six">{{getRupeeFormat(inviteSummary['accepted'])}}
                  <!-- <span><i class="material-icons">arrow_upward</i> 13.2%</span> -->
                </h1>
              </mat-card-header>
            </mat-card>
            <!-- <mat-card class="gpVisited mrgn-t-xl">
              <mat-card-header class="mrgn-t-sm mrgn-b-sm">
                <p>Visited the event</p>
                <h1 class="font-bold-six">{{getRupeeFormat(inviteSummary['visited'])}} <span><i class="material-icons">arrow_upward</i> 13.2%</span></h1>
              </mat-card-header>
            </mat-card> -->
          </div>

          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 allBlock mrgn-b-lg badgesChart">
            <mat-card class="badges-header-block">
              <mat-list>
                <mat-list-item class="">
                  <mat-icon mat-list-icon>
                    <i class="material-icons">assignment_ind</i>
                  </mat-icon>
                  <h4 mat-line class="font-bold-six">{{getRupeeFormat(inviteSummary['withsetnsendinvite'])}}<span> / {{getRupeeFormat(inviteSummary['withquota'])}}</span>
                  </h4>
                  <p mat-line> Companies have sent atleast 1 invite </p>
                </mat-list-item>
              </mat-list>
              <!-- <div class="rightsideLink">
                <button mat-icon-button class="mrgn-t-md">
                  <mat-icon class="text-center"><i class="material-icons">more_horiz</i></mat-icon>
                </button>
              </div> -->
            </mat-card>
            <mat-card class="badge-statistics-card">
              <mat-card-content>
                <div class="badge-statistics-content">
                  <canvas class="mrgn-auto chartInner" baseChart width="280" height="280" [labels]="companyInvitesChartLabels" [colors]="companyInvitesChartColors"
                    [data]="companyInvitesChartData" [chartType]="companyInvitesChartType">
                  </canvas>
                </div>
              </mat-card-content>
            </mat-card>
          </div><!-- end allBlock-->

          <!-- <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 allBlock mrgn-b-lg latestBadgesIssue">
            <mat-card class="badge-statistics-card">
              <mat-card-header class="mrgn-t-sm mrgn-b-sm">
                <h4>Latest invite issuing exhibitors</h4>
              </mat-card-header>
              <mat-divider></mat-divider>
              <mat-card-content>
                <mat-list>
                  <mat-list-item *ngFor="let invite of latest_invites_issued ">
                    <mat-icon mat-list-icon class="exhlogo_outer">
                      <img [src]="getLogoUrl(invite.logo_big_thumb)" alt="logo">
                    </mat-icon>
                    <h4 mat-line>
                      <span class="font-bold-six">{{ invite.company_name }}</span> issued {{ invite.total }} badges
                    </h4>
                    <p mat-line>{{ invite.latest_timestamp|timeAgo }} </p>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div> -->
        </div>
      </div>

      <div class="col-sm-12 list">
        <mat-card class="quota badgesQuota mrgn-b-lx">

          <div class="row" layout="row" layout-align="space-between center">
            <div class="col-sm-4">
              <mat-form-field class="example-full-width">
                <mat-icon matPrefix><i class="material-icons">search</i></mat-icon>
                <input type="text" (keyup)="search_invites_passes($event)" [(ngModel)]="invites_search" matInput placeholder="Search by company name"
                />
              </mat-form-field>
            </div>
            <div class="col-sm-8 inviteStatusBtn mrgn-t-md">
              <label class="font-bold-six font-large">Invite Status</label>
              <mat-radio-group [(ngModel)]="invite_status" aria-label="Select an option" (change)="getExhibitorInviteSummary()">
                  <!-- sort_invites('invite_status') -->
                  <!-- (change)="statusFilter($event.value)" -->
                <mat-radio-button value="" class="blackC">All</mat-radio-button>
                <mat-radio-button value="noquota" class="grayC">No quota</mat-radio-button>
                <mat-radio-button value="none" class="yellowC">Not set/send</mat-radio-button>
                <mat-radio-button value="set" class="orangeC">Set</mat-radio-button>
                <mat-radio-button value="setnsent" class="greenC">Set and send</mat-radio-button>
              </mat-radio-group>
              <button class="csvBtn float-right" matTooltip="Download" type="button" (click) = "exportToInviteSummaryCSV()">
                <i class="material-icons">get_app</i>
              </button>

            </div>


          </div>

          <div class="row" *ngIf="inviteRecords && inviteRecords.length > 0" >
              <!-- *ngIf="isSuccess && total_invites > 0" -->
            <div class="col-sm-12 exhibitor-pagi mrgn-t-md">
              <div class="row">
                <div class="col-sm-2 pad-t-md">
                  <span>Showing: {{ getRupeeFormat(invites_start_item) }}-{{ getRupeeFormat(invites_end_item) }} of {{ getRupeeFormat(total_invites) }}</span>
                </div>
                <div class="col-sm-2 pad-t-md">
                  <mat-checkbox class="example-margin" [(ngModel)]="invite_showall" (ngModelChange)="toggle_show_all_invite()">
                    Show All
                  </mat-checkbox>
                </div>
                <div class="col-sm-2" >
                  <mat-form-field class="displayNone">
                    <mat-label> Sort</mat-label>
                    <mat-select>
                      <mat-option>Quota: Low to High</mat-option>
                      <mat-option>Quota: High to low</mat-option>
                      <mat-option>Invited: Low to High</mat-option>
                      <mat-option>Invited: High to low</mat-option>
                      <mat-option>Accepted: Low to High</mat-option>
                      <mat-option>Accepted: High to low</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-6 text-right pad-t-md">
                  <mat-list role="list">
                    <mat-list-item role="listitem">
                      <button mat-button [disabled]="invites_current_page==0" (click)="invites_current_page=0;getExhibitorInviteSummary()">
                        <i class="material-icons">first_page</i>
                      </button>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      <button mat-button [disabled]="invites_current_page==0" (click)="invites_current_page=invites_current_page-1;getExhibitorInviteSummary()">
                        <i class="material-icons">keyboard_arrow_left</i>
                      </button>
                    </mat-list-item>
                    <mat-list-item role="listitem">Page {{ getRupeeFormat(invites_current_page + 1) }} of {{ getRupeeFormat(invites_total_pages) }}</mat-list-item>
                    <mat-list-item role="listitem">
                      <button mat-button [disabled]="invites_current_page==(invites_total_pages-1)" (click)="invites_current_page=invites_current_page+1;getExhibitorInviteSummary()">
                        <i class="material-icons">navigate_next</i>
                      </button>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      <button mat-button [disabled]="invites_current_page==(invites_total_pages-1)" (click)="invites_current_page=(invites_total_pages-1);getExhibitorInviteSummary()">
                        <i class="material-icons">last_page</i>
                      </button>
                    </mat-list-item>
                  </mat-list>
                </div>
              </div>
            </div>
          </div>

          <div class="table-responsive inviteTbl">
            <table class="table table-striped text-center inviteSummaryTable" *ngIf="inviteRecords && inviteRecords.length > 0">
                <!-- isSuccess && total_invites > 0 -->
              <thead>
                <tr>
                  <th scope="col" style="width:40px" class="white text-center text-uppercase">Sr. no</th>
                  <th scope="col" class="white text-left text-uppercase" (click)="sort_invites('company_name')" matTooltip="click to sort on this column" [matTooltipPosition]="'above'" style="width:240px">Organisation
                    <span  class="table-filter" *ngIf="invites_sort_col=='company_name'">
                      <i *ngIf="invites_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="invites_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                  <th scope="col" class="white text-left text-uppercase" (click)="sort_invites('area')" matTooltip="click to sort on this column" [matTooltipPosition]="'above'" style="width:50px">AREA
                    <span  class="table-filter" *ngIf="invites_sort_col=='area'">
                      <i *ngIf="invites_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="invites_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                  <th scope="col" class="white text-center text-uppercase" style="width: 80px;" (click)="sort_invites('invite_status')" matTooltip="click to sort on this column" [matTooltipPosition]="'above'">INVITE STATUS
                      <span  class="table-filter" *ngIf="invites_sort_col=='invite_status'">
                        <i *ngIf="invites_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="invites_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span>
                    </th>
                  <th scope="col" class="stand text-center text-uppercase" style="width:70px" (click)="sort_invites('standard')" matTooltip="click to sort on this column" [matTooltipPosition]="'above'">QUOTA
                    <span  class="table-filter" *ngIf="invites_sort_col== passType'_standard'">
                      <i *ngIf="invites_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="invites_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                  <th scope="col" class="stand text-center text-uppercase" style="width:70px" (click)="sort_invites('extra')" matTooltip="click to sort on this column" [matTooltipPosition]="'above'">EXT QUOTA
                      <span  class="table-filter" *ngIf="invites_sort_col== passType'_extra'">
                        <i *ngIf="invites_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="invites_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span>
                    </th>
                  <th scope="col" class="tot text-center text-uppercase" style="width:50px" (click)="sort_invites('sent')" matTooltip="click to sort on this column" [matTooltipPosition]="'above'">INV
                    <span  class="table-filter" *ngIf="invites_sort_col=='sent'">
                      <i *ngIf="invites_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="invites_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                  <th scope="col" class="white text-center text-uppercase" style="width: 60px;" (click)="sort_invites('count_csv')" matTooltip="click to sort on this column" [matTooltipPosition]="'above'">CSV USED
                    <span  class="table-filter" *ngIf="invites_sort_col=='count_csv'">
                      <i *ngIf="invites_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="invites_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                  <th scope="col" class="white text-center text-uppercase" style="width: 70px;" (click)="sort_invites('phone_invites')" matTooltip="click to sort on this column" [matTooltipPosition]="'above'">PHONE USED
                    <span  class="table-filter" *ngIf="invites_sort_col== 'phone_invites'">
                      <i *ngIf="invites_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="invites_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                  <th class="white text-center text-uppercase" style="width: 50px;" (click)="sort_invites('link_clicked')" matTooltip="click to sort on this column" [matTooltipPosition]="'above'">Link clk
                    <span  class="table-filter" *ngIf="invites_sort_col == passType'_link_clicked'">
                      <i *ngIf="invites_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="invites_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                  <th class="white text-center text-uppercase" style="width: 50px;" (click)="sort_invites('accept_clicked')" matTooltip="click to sort on this column" [matTooltipPosition]="'above'">Acpt clk
                    <span  class="table-filter" *ngIf="invites_sort_col == passType'_accept_clicked'">
                      <i *ngIf="invites_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="invites_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>

                  <th class="white text-center text-uppercase" style="width: 50px;" (click)="sort_invites('otp_entered')" matTooltip="click to sort on this column" [matTooltipPosition]="'above'">OTP ent
                    <span  class="table-filter" *ngIf="invites_sort_col == passType'_otp_entered'">
                      <i *ngIf="invites_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="invites_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                  <th class="white text-center text-uppercase" style="width: 50px;" (click)="sort_invites('photo_upload')" matTooltip="click to sort on this column" [matTooltipPosition]="'above'">Photo upd
                    <span  class="table-filter" *ngIf="invites_sort_col == passType'_photo_upload'">
                      <i *ngIf="invites_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="invites_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                  <th scope="col" class="use text-center text-uppercase" style="width:60px" (click)="sort_invites('collected')" matTooltip="click to sort on this column" [matTooltipPosition]="'above'">ACPT
                    <span  class="table-filter" *ngIf="invites_sort_col == passType'_collected'">
                      <i *ngIf="invites_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="invites_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                  <th scope="col" class="tot text-center text-uppercase" style="width:50px" (click)="sort_invites('visited')" matTooltip="click to sort on this column" [matTooltipPosition]="'above'">VISI
                    <span  class="table-filter" *ngIf="invites_sort_col == passType'_visited'">
                      <i *ngIf="invites_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="invites_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                </tr>
              </thead>
              <tbody *ngIf="passType == 'unlimited'">
                <tr *ngFor="let invite of inviteRecords; let i = index">
                  <td class="fullwhite">{{ pagesize*invites_current_page + i + 1 }}</td>
                  <td class="fullwhite text-left">{{ invite.company_name }}</td>
                  <td class="fullwhite text-left">{{ invite.area }}</td>
                  <td class="fullwhite">
                  <div  [ngClass] = "{
                    'greenDot': invite['invite_status'] == 'setnsent',
                    'orangeDot': invite.invite_status == 'set',
                    'greyDot': invite.invite_status == 'noquota',
                    'yellowDot': invite.invite_status == 'none'
                  }"
                  >
                  </div>
                </td>
                  <td class="stand text-center font-bold-six">{{ invite.unlimited_standard == null ? 0 :  getRupeeFormat(invite.unlimited_standard)}}</td>
                  <td class="stand text-center font-bold-six">{{ invite.unlimited_extra == null ? 0 :  getRupeeFormat(invite.unlimited_extra)}}</td>
                  <td class="tot text-center font-bold-six">{{ invite.unlimited_sent == null ? 0 :  getRupeeFormat(invite.unlimited_sent)}}</td>
                  <td class="fullwhite">
                    <div  [ngClass] = "{
                      'greenDot': invite['count_csv'] !== 0,
                      'greyDot': (invite[count_csv] == 0 || invite['count_csv'] == null)

                    }"
                    >
                    </div>
                  </td>
                    <td class="fullwhite">
                    <div  [ngClass] = "{
                      'greenDot': invite['phone_invites'] !== '0',
                      'greyDot': (invite['phone_invites'] == '0' || invite['phone_invites'] == null)
                    }"
                    >
                    </div>
                  </td>
                  <td class="clk">{{ invite.unlimited_link_clicked == null ? 0 :  getRupeeFormat(invite.unlimited_link_clicked)}}</td>
                  <td class="clk">{{ invite.unlimited_accept_clicked == null ? 0 :  getRupeeFormat(invite.unlimited_accept_clicked)}}</td>
                  <td class="clk">{{ invite.unlimited_otp_entered == null ? 0 :  getRupeeFormat(invite.unlimited_otp_entered)}}</td>
                  <td class="clk">{{ invite.unlimited_photo_upload == null ? 0 :  getRupeeFormat(invite.unlimited_photo_upload)}}</td>
                  <td class="use text-center font-bold-six">{{ invite.unlimited_collected == null ? 0 :  getRupeeFormat(invite.unlimited_collected)}}</td>
                  <td class="tot text-center font-bold-six">{{ invite.unlimited_visited == null ? 0 :  getRupeeFormat(invite.unlimited_visited)}}</td>
                </tr>
              </tbody>
              <tbody *ngIf="passType == 'standard'">
                  <tr *ngFor="let invite of inviteRecords; let i = index">
                    <td class="fullwhite">{{ pagesize*invites_current_page + i + 1 }}</td>
                    <td class="fullwhite text-left">{{ invite.company_name }}</td>
                    <td class="fullwhite text-left">{{ invite.area }}</td>
                    <td class="fullwhite">
                    <div  [ngClass] = "{
                      'greenDot': invite['invite_status'] == 'setnsent',
                      'orangeDot': invite.invite_status == 'set',
                      'greyDot': invite.invite_status == 'noquota',
                      'yellowDot': invite.invite_status == 'none'
                    }"
                    >
                    </div>
                  </td>
                    <td class="stand text-center font-bold-six">{{ invite.quota_standard == null ? 0 :  getRupeeFormat(invite.quota_standard)}}</td>
                    <td class="stand text-center font-bold-six">{{ invite.quota_extra == null ? 0 :  getRupeeFormat(invite.quota_extra)}}</td>
                    <td class="tot text-center font-bold-six">{{ invite.quota_sent == null ? 0 :  getRupeeFormat(invite.quota_sent)}}</td>
                    <td class="fullwhite">
                      <div  [ngClass] = "{
                        'greenDot': invite['count_csv'] !== 0,
                        'greyDot': (invite[count_csv] == 0 || invite['count_csv'] == null)

                      }"
                      >
                      </div>
                    </td>
                      <td class="fullwhite">
                      <div  [ngClass] = "{
                        'greenDot': invite['phone_invites'] !== '0',
                        'greyDot': (invite['phone_invites'] == '0' || invite['phone_invites'] == null)
                      }"
                      >
                      </div>
                    </td>
                    <td class="clk">{{ invite.quota_link_clicked == null ? 0 :  getRupeeFormat(invite.quota_link_clicked)}}</td>
                    <td class="clk">{{ invite.quota_accept_clicked == null ? 0 :  getRupeeFormat(invite.quota_accept_clicked)}}</td>
                    <td class="clk">{{ invite.quota_otp_entered == null ? 0 :  getRupeeFormat(invite.quota_otp_entered)}}</td>
                    <td class="clk">{{ invite.quota_photo_upload == null ? 0 :  getRupeeFormat(invite.quota_photo_upload)}}</td>
                    <td class="use text-center font-bold-six">{{ invite.quota_collected == null ? 0 :  getRupeeFormat(invite.quota_collected)}}</td>
                    <td class="tot text-center font-bold-six">{{ invite.quota_visited == null ? 0 :  getRupeeFormat(invite.quota_visited)}}</td>
                  </tr>
                </tbody>
            </table>
          </div>
			    <span *ngIf="inviteRecords && inviteRecords.length == 0" class="errorMessage"> No records found </span>

          <div class="row" *ngIf="inviteRecords && inviteRecords.length > 0">
            <div class="col-sm-12 exhibitor-pagi mrgn-t-md">
              <div class="row">
                <div class="col-sm-3">
                  <span>Showing: {{ getRupeeFormat(invites_start_item) }}-{{ getRupeeFormat(invites_end_item) }} of {{ getRupeeFormat(total_invites) }}</span>
                </div>

                <div class="col-sm-9 text-right">
                  <mat-list role="list">
                    <mat-list-item role="listitem">
                      <button mat-button [disabled]="invites_current_page==0" (click)="invites_current_page=0;getExhibitorInviteSummary()">
                        <i class="material-icons">first_page</i>
                      </button>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      <button mat-button [disabled]="invites_current_page==0" (click)="invites_current_page=invites_current_page-1;getExhibitorInviteSummary()">
                        <i class="material-icons">keyboard_arrow_left</i>
                      </button>
                    </mat-list-item>
                    <mat-list-item role="listitem">Page {{ getRupeeFormat(invites_current_page + 1) }} of {{ getRupeeFormat(invites_total_pages) }}</mat-list-item>
                    <mat-list-item role="listitem">
                      <button mat-button [disabled]="invites_current_page==(invites_total_pages-1)" (click)="invites_current_page=invites_current_page+1;getExhibitorInviteSummary()">
                        <i class="material-icons">navigate_next</i>
                      </button>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      <button mat-button [disabled]="invites_current_page==(invites_total_pages-1)" (click)="invites_current_page=(invites_total_pages-1);getExhibitorInviteSummary()">
                        <i class="material-icons">last_page</i>
                      </button>
                    </mat-list-item>
                  </mat-list>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
