.white,.stand,.ext,.tot,.use,.bal{
    i{
        vertical-align: middle;
        margin-right: 4px;

    }
}
.gpAccept {
    background: #38AF73;
    color: #fff;
    text-align: center;
    padding: 4px;
    margin-top: 4.4rem;
    p{
      margin: 8px 0 0 0;
    }
    h1{font-size: 47px;}
    span{
        font-size: 15px;
        .material-icons{font-size:15px;}
    }
}
.gpVisited {
    background: #F7C361;
    color: #333;
    text-align: center;
    padding: 32px;
    h1{font-size: 47px;}
    span{
        font-size: 15px;
        .material-icons{font-size:15px;}
    }
}
.sms{
    background: #A7A7A7;
    padding: 20px 10px;
    p{color:#fff;white-space: unset;}
    .mat-icon{
        width: 35px;
        height: 35px;
        background: #fff;
        text-align: center;
        line-height: 35px;
        .material-icons{color: #A7A7A7;}
    }
    h4{font-size: 28px;color: #fff;
        span{font-size: 21px;}
    }
}

.inviteSummaryTable {
  .greenDot{width: 20px;height: 20px;background: #008940;border-radius: 50%;margin: auto;}
  .orangeDot{width: 20px;height: 20px;background: #f1ae30;border-radius: 50%;margin: auto;}
  .greyDot{width: 20px;height: 20px;background: #999;border-radius: 50%;margin: auto;}
  .yellowDot{width: 20px;height: 20px;background: #f1ae30;border-radius: 50%;margin: auto;}

}
.inviteTbl {
    th{ font-size: 15px !important;
        .table-filter{right:-5px !important;}
    }
    td{font-size: 16px;}
}