<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div id="loader"   class="loader" ></div>
<div class="pro_dashboard">
  <div class="container-fluid contSpace"> 
    <div class="col-sm-12">
      <div class="row" >
        <h3 class="mrgn-l-md mrgn-b-sm">Overview</h3>      
      </div> 
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 count">
          <mat-card *ngIf="countsummary">
            <p>Total Invoice Sent</p>
            <p><b>{{countsummary.proforma_count}}</b></p>
            <p class="mrgn-t-md">Invoice Sent by Me</p>
            <p><b>{{countsummary.proforma_count_sent_by_user}}</b></p>
          </mat-card>
          <mat-card class="mrgn-t-md" *ngIf="countsummary">
            <p>Total Proposals Sent</p>
            <p><b>{{countsummary.proposal_count}}</b></p>
            <p class="mrgn-t-md">Proposals Sent by Me</p>
            <p><b>{{countsummary.proposal_count_sent_by_user}}</b></p>
          </mat-card>
        </div>
        <div class="col-sm-9">
          <mat-card style="overflow-x:auto;">
            <div class="row">
              <div class="col-sm-8">
                <h4>Trends</h4>
              </div>
              <div class="col-sm-4 text-right">
                <!-- <mat-form-field>
                  <mat-label>Last 30 Days</mat-label>
                  <mat-select>
                    <mat-option> option 1</mat-option>
                    <mat-option> option 1</mat-option>
                    <mat-option> option 1</mat-option>
                  </mat-select>
                </mat-form-field> -->
              </div>
            </div>
            <div class="row" *ngIf="comboChart.dataTable.length>0" >
              <google-chart [data]="comboChart" style="width: 100%;" ></google-chart>
            </div>
            
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>