<div id="loader"   class="loader"></div>
<div class="container-fluid " style="padding-top:10px;">
    <div class="row stall-list">
      <div class="col-sm-12">
        <div class="list">
          <mat-card class="example-card mrgn-b-lg" style="width:970px;margin:auto;padding:16px" >
            <div class="row">
              <div class="col-sm-10">
                <h3>Stalls Fire Fighting</h3>
              </div>
              <div class="col-sm-2">
                  <button class="refresh_button" type="button" (click)="get_data()">
                    <i class="material-icons">refresh</i>
                  </button>        
              </div>
            </div>
            <span *ngIf="!(isSuccess)" class="errorMessage"> {{message}} </span>          
            <div class="table-responsive" *ngIf="isSuccess && data['all']" >
              <table class="table" style="font-size: 16px !important; ">
                <thead class="blue-grey lighten-5">
                  <tr>
                    <th style="width:120px">Particular</th>
                    <th class="text-right" style="width:35px;">All</th>
                    <th class="icon-info text-right" style="width:35px;padding-right:0px !important;" *ngFor="let item of masterdata.pavillion_types" matTooltip="{{item.name}}" matTooltipPosition="above">
                      <span class="{{item.short_code}}">{{item.short_code}}</span>
                    </th>                    
                  </tr>
                </thead>
                <tbody>
                  <tr >                 
                    <th >Payment > {{get_days_from_hours(data['alert_hours'].payment)}}</th>
                    <td class="textNormal text-right">{{data['all'].payment}}</td>
                    <td class="textNormal text-right" *ngFor="let item of masterdata.pavillion_types" >
                      <span *ngIf="data[item.short_code]" > {{data[item.short_code].payment}}</span>
                      <span *ngIf="!data[item.short_code]">-</span>
                    </td>                  
                  </tr>
                  <tr >                 
                    <th >Profile OK > {{get_days_from_hours(data['alert_hours'].profile_completed)}}</th>
                    <td class="textNormal text-right">{{data['all'].profile_completed}}</td>
                    <td class="textNormal text-right" *ngFor="let item of masterdata.pavillion_types" >
                      <span *ngIf="data[item.short_code]" > {{data[item.short_code].profile_completed}}</span>
                      <span *ngIf="!data[item.short_code]">-</span>
                    </td>                  
                  </tr>
                  <tr >                 
                    <th >Approval > {{get_days_from_hours(data['alert_hours'].approval)}}</th>
                    <td class="textNormal text-right">{{data['all'].approval}}</td>
                    <td class="textNormal text-right" *ngFor="let item of masterdata.pavillion_types" >
                      <span *ngIf="data[item.short_code]" > {{data[item.short_code].approval}}</span>
                      <span *ngIf="!data[item.short_code]">-</span>
                    </td>                  
                  </tr>                  
                  <tr >                 
                    <th > good2go > {{get_days_from_hours(data['alert_hours'].good2go)}}</th>
                    <td class="textNormal text-right">{{data['all'].good2go}}</td>
                    <td class="textNormal text-right" *ngFor="let item of masterdata.pavillion_types" >
                      <span *ngIf="data[item.short_code]" > {{data[item.short_code].good2go}}</span>
                      <span *ngIf="!data[item.short_code]">-</span>
                    </td>                  
                  </tr>                 
                </tbody>
              </table> 
              <hr/> 
              <div class="row icon-info" style="margin:0px;font-size: 14px !important; ">                
                <div class="col-sm-2" style="padding: 0px 2px 0px 12px;">                   
                  <div class="mrgn-b-xs" style="float:left;clear:both;width:100%" *ngFor="let pav_type of (masterdata.pavillion_types | slice:0:3 ) ; " >
                    <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                    <div style="float:left;width:12px;text-align:center;"> : </div>
                    <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                  </div>
                </div>
                <div class="col-sm-2" style="padding: 0px 2px 0px 12px;">                   
                  <div class="mrgn-b-xs" style="float:left;clear:both;width:100%" *ngFor="let pav_type of (masterdata.pavillion_types | slice:3:6 ) ; " >
                    <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                    <div style="float:left;width:12px;text-align:center;"> : </div>
                    <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                  </div>
                </div>
                <div class="col-sm-2" style="padding: 0px 2px 0px 0px;">                   
                  <div class="mrgn-b-xs" style="float:left;clear:both;width:100%" *ngFor="let pav_type of (masterdata.pavillion_types | slice:6:9 ) ; " >
                    <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                    <div style="float:left;width:12px;text-align:center;"> : </div>
                    <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                  </div>
                </div>
                <div class="col-sm-3" style="padding: 0px 2px 0px 12px;">                   
                  <div class="mrgn-b-xs" style="float:left;clear:both;width:100%" *ngFor="let pav_type of (masterdata.pavillion_types | slice:9:12 ) ; " >
                    <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                    <div style="float:left;width:12px;text-align:center;"> : </div>
                    <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                  </div>
                </div>
                <div class="col-sm-3" style="padding: 0px 2px 0px 12px;">                   
                  <div class="mrgn-b-xs" style="float:left;clear:both;width:100%" *ngFor="let pav_type of (masterdata.pavillion_types | slice:12:16 ) ; " >
                    <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                    <div style="float:left;width:12px;text-align:center;"> : </div>
                    <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                  </div>
                </div>                                     
              </div>                    
            </div>        
          </mat-card>
        </div>
      </div>
    </div>
  </div>
   