.table {margin-bottom: 0px !important;}
.mrg-rgt-5 {margin-right : -5px !important;}
.list .table-responsive table .pd-rgt-7 {padding-right:7px !important;}
.list .table-responsive table th { padding:8px 4px !important;font-size: 16px !important; }
.list .table-responsive table td { padding:8px 4px !important;font-size: 16px !important;  }
.mrgn-b-xs { margin-bottom:4px;}
hr {margin:0px 0px 10px 0px;}
