<div id="loader" name="loader"  class="loader"> </div>
<div class="digital-prev mrgn-t-md mrgn-b-md">
  <div class="container-fluid pad-l-xl pad-r-xl company-profile" style="padding-top:10px;">
      <div class="row">
        <div class="col-sm-12">
          <!--<a href="reports/digital-catalogue-prev"><h3 class="backArrow"><i class="material-icons">keyboard_backspace</i> Digital Preview</h3></a></div>-->
          <div class="col-sm-12"><h2 class="text-center mrgn-t-md mrgn-b-lg">KISAN 2019 :: Exhibitors Digital Catalogue</h2></div>
        </div>

      <div class="row details">
          <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 mrgn-b-lg">
              <mat-card class="company-info" style="display: none;">
                <div class="row">
                  <div class="col-sm-4 text-center">
                    <div class="profileImg"><img class="company-logo" src="assets/images/exh-img.png"></div>
                  </div>
                  <div class="col-sm-8">
                    <h3 class="text-capitalize">DuPont</h3>
                    <p class="add">1-M, Bandra Kurla Complex,<br>
                      Mumbai - 400001<br>
                      Maharashtra, India.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12"><hr /></div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <h5 class="font-bold-six mrgn-b-sm mrgn-t-sm text-right">Organisation <br />contact details</h5>
                  </div>
                  <div class="col-sm-8 stall-booked">
                    <mat-list>
                      <mat-list-item>
                         <mat-icon mat-list-icon>
                            <i class="material-icons">mail_outline</i>
                          </mat-icon>
                          <h4 mat-line>pravin.kumar@dupont.com</h4>
                          <h4 mat-line class="redTxtB displayNone">Not Available</h4>
                        </mat-list-item>
                        <mat-list-item>
                          <mat-icon mat-list-icon>
                            <i class="material-icons">call</i>
                          </mat-icon>
                          <h4 mat-line>8888888888</h4>
                          <h4 mat-line class="redTxtB displayNone">Not Available</h4>
                        </mat-list-item>
                        <mat-list-item>
                          <mat-icon mat-list-icon>
                            <i class="material-icons">language</i>
                          </mat-icon>
                          <h4 mat-line>http://dupont.com</h4>
                          <h4 mat-line class="redTxtB displayNone">Not Available</h4>
                        </mat-list-item>
                      </mat-list>
                     </div>
                  </div>
                   <div class="row">
                      <div class="col-sm-12"><hr /></div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                     <h5 class="font-bold-six mrgn-b-sm mrgn-t-sm text-right">Contact person</h5>
                    </div>
                    <div class="col-sm-8 stall-booked contactPose">
                      <mat-list>
                        <mat-list-item>
                          <mat-icon mat-list-icon>
                            <i class="material-icons">person_outline</i>
                          </mat-icon>
                            <h4 mat-line class="text-capitalize">Pravin Kumar</h4>
                            <p class="redTxtB contact-pose-text-red displayNone" mat-line>Not Available</p>
                        </mat-list-item>
                      </mat-list>
                    </div>
                  </div>
              </mat-card>                 

              <mat-card class="company-info mrgn-t-lg" style="display: none;">
                  <div class="row">
                    <div class="col-sm-12">
                      <h5 class="font-bold-six mrgn-b-sm">Coordinator</h5>
                    </div>
                 </div>
                  <hr />
                  <div class="row company-profile">
                    <div class="col-sm-12 stall-booked">
                      <mat-list>
                        <mat-list-item>
                          <mat-icon mat-list-icon>
                            <i class="material-icons">person_outline</i>
                          </mat-icon>
                          <h4 mat-line class="text-capitalize large-font">Pravin Kumar</h4>
                        </mat-list-item>
                        <mat-list-item>
                          <mat-icon mat-list-icon>
                            <i class="material-icons">mail_outline</i>
                          </mat-icon>
                          <h4 mat-line>
                            pravin.kumar@dupont.com</h4>
                          <h4 mat-line class="redTxtB displayNone">Not Available</h4>
                        </mat-list-item>
                        <mat-list-item>
                          <mat-icon mat-list-icon>
                            <i class="material-icons">phone_android</i>
                          </mat-icon>
                          <h4 mat-line>8888888888</h4>
                          <h4 mat-line class="redTxtB displayNone">Not Available</h4>
                        </mat-list-item>
                      </mat-list>
                    </div>
                  </div>
            </mat-card>
  
            <mat-card class="company-info">
              <div class="row">
                <div class="col-sm-4 text-center">
                  <div class="profileImg"><img class="company-logo" [src]="defaultExhibitorImage"></div>
                </div>
                <div class="col-sm-8">
                  <h3 class="text-capitalize">{{(stallDetails.stallinfo)?.company_name}}</h3>
                  <h3 *ngIf="(stallDetails.stallinfo)?.company_name_marathi" class="text-capitalize">{{(stallDetails.stallinfo)?.company_name_marathi}}</h3>
                  <p class="add">{{(stallDetails.stallinfo)?.address}}</p>
                  <p class="add">{{(stallDetails.stallinfo)?.addressline2}}</p>
                  <p>{{(stallDetails.stallinfo)?.city}}, {{(stallDetails.stallinfo)?.state}}, {{(stallDetails.stallinfo)?.country}}.</p>
                  <!-- <p class="mrgn-t-sm" *ngIf="(stallDetails.stallinfo)?.GSTIN">
                    GSTIN : {{(stallDetails.stallinfo)?.GSTIN}}
                  </p>
                  <p class="mrgn-t-sm" *ngIf="!(stallDetails.stallinfo)?.GSTIN">GSTIN : <span class="redTxtB">Not Available</span></p> -->
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12"><hr /></div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <h5 class="font-bold-six mrgn-b-sm mrgn-t-sm text-right">Organisation <br />contact details</h5>
                </div>
                <div class="col-sm-8 stall-booked">
                  <mat-list>
                    <mat-list-item>
                       <mat-icon mat-list-icon>
                          <i class="material-icons">mail_outline</i>
                        </mat-icon>
                        <h4 mat-line *ngIf="(stallDetails.stallinfo)?.company_email">{{(stallDetails.stallinfo)?.company_email}}</h4>
                        <h4 mat-line *ngIf="!(stallDetails.stallinfo)?.company_email" class="redTxtB">Not Available</h4>
                      </mat-list-item>
                      <mat-list-item>
                        <mat-icon mat-list-icon>
                          <i class="material-icons">call</i>
                        </mat-icon>
                        <h4 mat-line *ngIf="(stallDetails.stallinfo)?.company_phone">{{(stallDetails.stallinfo)?.company_phone}}</h4>
                        <h4 mat-line *ngIf="!(stallDetails.stallinfo)?.company_phone" class="redTxtB">Not Available</h4>
                      </mat-list-item>
                      <mat-list-item>
                        <mat-icon mat-list-icon>
                          <i class="material-icons">language</i>
                        </mat-icon>
                        <h4 mat-line *ngIf="(stallDetails.stallinfo)?.company_website">{{(stallDetails.stallinfo)?.company_website}}</h4>
                        <h4 mat-line *ngIf="!(stallDetails.stallinfo)?.company_website" class="redTxtB">Not Available</h4>
                      </mat-list-item>
                    </mat-list>
                   </div>
                </div>
                 <div class="row">
                    <div class="col-sm-12"><hr /></div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                   <h5 class="font-bold-six mrgn-b-sm mrgn-t-sm text-right">Contact person</h5>
                  </div>
                  <div class="col-sm-8 stall-booked contactPose">
                    <mat-list>
                      <mat-list-item>
                        <mat-icon mat-list-icon>
                          <i class="material-icons">person_outline</i>
                        </mat-icon>
                          <h4 mat-line class="text-capitalize">{{(stallDetails.stallinfo)?.contact_person_first_name}} {{(stallDetails.stallinfo)?.contact_person_last_name}}</h4>
                          <!-- <p *ngIf="(stallDetails.stallinfo)?.contact_person_designation"  mat-line class="contact-pose-text">{{(stallDetails.stallinfo)?.contact_person_designation}}</p>
                          <p *ngIf="!(stallDetails.stallinfo)?.contact_person_designation" class="redTxtB contact-pose-text-red" mat-line>Not Available</p> -->
                      </mat-list-item>
                    </mat-list>
                  </div>
                </div>
            </mat-card>
  
            <mat-card class="company-info mrgn-t-lg">
                <!--<mat-tab-group>
                    <mat-tab label="Contact Person">
                        <mat-list>
                            <mat-list-item>
                              <mat-icon mat-list-icon>
                                <i class="material-icons">person_outline</i>
                              </mat-icon>
                              <h4 mat-line class="text-capitalize large-font">{{(stallDetails.stallinfo)?.contact_person_first_name}} {{(stallDetails.stallinfo)?.contact_person_last_name}}</h4>
                            </mat-list-item>
                            <mat-list-item>
                              <mat-icon mat-list-icon>
                                <i class="material-icons">phone_android</i>
                              </mat-icon>
                              <h4 mat-line>{{(stallDetails.stallinfo)?.contact_person_mobile}}</h4>
                            </mat-list-item>
                            <mat-list-item>
                              <mat-icon mat-list-icon>
                                <i class="material-icons">mail_outline</i>
                              </mat-icon>
                              <h4 mat-line>{{(stallDetails.stallinfo)?.contact_person_email}}</h4>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-icon mat-list-icon>
                                  <i class="material-icons">language</i>
                                </mat-icon>
                                <h4 mat-line *ngIf="(stallDetails.stallinfo)?.company_website">{{(stallDetails.stallinfo)?.company_website}}</h4>
                                <h4 class="redTxtB font-bold-six" mat-line *ngIf="!(stallDetails.stallinfo)?.company_website">Not Available</h4>
                              </mat-list-item>
                        </mat-list>
                    </mat-tab>
                    <mat-tab label="Stall booked by">
                        <mat-list>
                            <mat-list-item>
                              <mat-icon mat-list-icon>
                                <i class="material-icons">person_outline</i>
                              </mat-icon>
                              <h4 mat-line class="text-capitalize large-font">{{(stallDetails.stallinfo)?.booked_by_fname}} {{(stallDetails.stallinfo)?.booked_by_lname}}</h4>
                            </mat-list-item>
                            <mat-list-item>
                              <mat-icon mat-list-icon>
                                <i class="material-icons">phone_android</i>
                              </mat-icon>
                              <h4 mat-line>{{(stallDetails.stallinfo)?.booked_by_mobile}}</h4>
                            </mat-list-item>
                            <mat-list-item>
                              <mat-icon mat-list-icon>
                                <i class="material-icons">mail_outline</i>
                              </mat-icon>
                              <h4 mat-line>{{(stallDetails.stallinfo)?.booked_by_email}}</h4>
                            </mat-list-item>
                           
                        </mat-list>
                    </mat-tab>
                  </mat-tab-group>-->
                  <div class="row">
                    <div class="col-sm-12">
                      <h5 class="font-bold-six mrgn-b-sm">Coordinator</h5>
                    </div>
                 </div>
                  <hr />
                  <div class="row company-profile">
                    <div class="col-sm-12 stall-booked">
                      <mat-list>
                        <mat-list-item>
                          <mat-icon mat-list-icon>
                            <i class="material-icons">person_outline</i>
                          </mat-icon>
                          <h4 mat-line class="text-capitalize large-font">{{(stallDetails.stallinfo)?.booked_by_fname}} {{(stallDetails.stallinfo)?.booked_by_lname}}</h4>
                        </mat-list-item>
                        <mat-list-item>
                          <mat-icon mat-list-icon>
                            <i class="material-icons">mail_outline</i>
                          </mat-icon>
                          <h4 mat-line *ngIf="(stallDetails.stallinfo)?.booked_by_email">{{(stallDetails.stallinfo)?.booked_by_email}}</h4>
                          <h4 mat-line *ngIf="!(stallDetails.stallinfo)?.booked_by_email" class="redTxtB">Not Available</h4>
                        </mat-list-item>
                        <mat-list-item>
                          <mat-icon mat-list-icon>
                            <i class="material-icons">phone_android</i>
                          </mat-icon>
                          <h4 mat-line *ngIf="(stallDetails.stallinfo)?.booked_by_mobile">{{(stallDetails.stallinfo)?.booked_by_mobile}}</h4>
                          <h4 mat-line *ngIf="!(stallDetails.stallinfo)?.booked_by_mobile" class="redTxtB">Not Available</h4>
                        </mat-list-item>
                      </mat-list>
                    </div>
                  </div>
            </mat-card>
  
          
          </div> 
          <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7 mrgn-b-lg">
            <mat-card class="org-detail">
            <div class="row">
              <div class="col-sm-6">
                <h5 class="font-bold-six">Organisation details</h5>
              </div>
              <!-- 22 May at 11.02Am. -->
              <div class="col-sm-6 tRight">
                <h5 class="font-bold-six">Pavillion: Water Management</h5>
              </div>
            </div>

            <hr>
            <!--<table width="100%" style="table-layout:fixed;">
              <tr>
                <td class="dsc-tit" style="width:140px">Product Categories</td>
                <td class="pad-r-md dsc-tit" style="width:10px">: </td>
                <td class="pad-t-md">
                  <div class="profileIntrest">
                    <div class="row">
                      <div class="col-md-12 col-lg-6 mrgn-t-md" *ngFor="let category of finalCategory">
                        <mat-list class="intrestList mat-pad-none mrgn-none">
                          <mat-list-item>
                            <div class="checkInterest  mrgn-t-none mrgn-r-none">
                              <img src="{{category.image_url}}" width="55" height="55" />
                              <h5 class="font-bold-four mrgn-b-none">{{category.name}}</h5>
                            </div>
                          </mat-list-item>
                        </mat-list>
                      </div>                      
                    </div>
                  </div>
                  <div *ngIf="stallDetails.stallinfo && stallDetails.stallinfo.product_category_other!=''" class=" col-md-12 othercat">Other : <span>{{stallDetails.stallinfo.product_category_other}}</span></div>
                 
                </td>
              </tr>
              <tr>
                <td class="dsc-tit" style="width:140px">Product Description</td>
                <td class="pad-r-md dsc-tit" style="width:10px">: </td>
                <td class="font-bold-six pad-t-lg wordWrap" *ngIf="(stallDetails.stallinfo)?.product_info"> {{(stallDetails.stallinfo)?.product_info}}</td>
                <td class="font-bold-six pad-t-lg wordWrap redTxtB" *ngIf="!(stallDetails.stallinfo)?.product_info"> Not Available</td>
              </tr>
              <tr>
                <td class="dsc-tit" style="width:140px">Product Photos</td>
                <td class="pad-r-md dsc-tit" style="width:10px">: </td>
                <td class="pad-t-lg">
                    <div class="customGrid">
                      <div class="customCol" *ngFor="let prodImage of productImages">
                        <div class="productOuter">
                          <img class="prod-img" src="{{prodImagePrefix + prodImage}}" *ngIf="(prodImage)" alt="Not Available">
                        </div>
                      </div>
                    </div>
                 
                </td>
              </tr>
            </table>-->
            <table width="100%" style="table-layout:fixed;">
              <tr>
                <td class="dsc-tit">Product Categories :</td>
              </tr>
              <tr>
                <td>
                  <div class="profileIntrest">
                    <div class="row">
                      <div class="col-md-12 col-lg-6 col-xl-4 mrgn-t-md" *ngFor="let category of finalCategory">
                        <mat-list class="intrestList mat-pad-none mrgn-none">
                          <mat-list-item>
                            <div class="checkInterest  mrgn-t-none mrgn-r-none">
                              <img src="{{category.image_url}}" width="55" height="55" />
                              <h5 class="font-bold-four mrgn-b-none">{{category.name}}</h5>
                            </div>
                          </mat-list-item>
                        </mat-list>
                      </div>                      
                    </div>
                  </div>
                  <div *ngIf="stallDetails.stallinfo && stallDetails.stallinfo.product_category_other!=''" class=" col-md-12 othercat">Other : <span>{{stallDetails.stallinfo.product_category_other}}</span></div>
                 
                </td>
              </tr>
              <tr>
                <td class="dsc-tit">Product Description :</td>
              </tr>
              <tr>
                <td class="font-bold-six pad-t-sm wordWrap" *ngIf="(stallDetails.stallinfo)?.product_info"> {{(stallDetails.stallinfo)?.product_info}}</td>
                <td class="font-bold-six pad-t-sm wordWrap redTxtB" *ngIf="!(stallDetails.stallinfo)?.product_info"> Not Available</td>
              </tr>
              <tr>
                <td class="dsc-tit">Product Media:</td>
              </tr>
              <tr>
                <td class="pad-t-sm">
                    <div class="customGrid">
                      
                        <div class="customCol" *ngFor="let prod of productImages; let productIndex = index">
                            <div class="productOuter" *ngIf="prod.includes('.jpg') || prod.includes('.jpeg') || prod.includes('.png') || prod.includes('.JPG') || prod.includes('.JPEG') || prod.includes('.PNG')">
                                    <a [href]="prodImagePrefix + prod" target="_blank">
                                <img [src]="prodImagePrefix + prod" class="prod-img" />
                                </a>
                            </div>
                            <div class="productOuter" *ngIf="prod.includes('.pdf') || prod.includes('.doc') || prod.includes('.docx') || prod.includes('.PDF') || prod.includes('.DOC') || prod.includes('.DOCX')">
                                <a [href]="prodImagePrefix + prod" target="_blank">
                                    <img src="{{defaultDocumentImage}}" class="prod-img" />
                                </a>
                            </div>
                            <div class="productOuter" *ngIf="prod.includes('https://www.youtube.com') || prod.includes('https://vimeo.com')">
                                <a href="{{prod}}" target="_blank">
                                    <img src="{{defaultVideoImage}}" class="prod-img" />
                                </a>
                            </div>
                        </div>
                    </div>                 
                </td>
              </tr>
            </table>
          </mat-card>
          </div> 
      </div>
    </div>
  </div>