.closebtn {
    position: absolute;
    font-size: 20px;
    right: 5px;
    font-weight: 600;
    color: #fff;
    background: transparent;
    border: unset;
    cursor: pointer;
}
.tit-h3{
    color:#fff;
    margin-bottom: 20px;
    font-size: 22px;
}
.company-info{
    border-radius: 10px !important;
}

.redTxtB {
    font-weight: 600 !important;
    color: #C00606;
}