<div class="kisan18">
  <div class="col-sm-12">
    <div>
      <button class="closebtn" mat-dialog-close>X</button>
      <h3 class="tit-h3">Organisation Account Info</h3>     
      <div class="row company-profile">
        <div class="col-sm-12">
          <mat-card class="company-info">
            <div class="row">
              <div class="col-sm-4 text-center">
                <div class="profileImg">
                  <img class="company-logo" [src]="data.image_bigthumb_url+ '?' + sharedService.getcurrentmillies()" onerror="this.src='../../assets/images/default_organization.png'">
                </div>              
              </div>
              <div class="col-sm-8">
                <h3 class="text-capitalize">{{data.organisation_name}}</h3>
                <p class="add">{{data.address1}}</p>
                <p class="add">{{data.city}}, {{data.state}}, {{data.country}} .</p>
                <p class="mrgn-t-sm" *ngIf="data.gstin">
                  GSTIN : {{data.gstin}}
                </p>
                <p class="mrgn-t-sm" *ngIf="!data.gstin">GSTIN : <span class="redTxtB">Not Available</span></p>                  
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12"><hr class="hr"/></div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <h5 class="font-bold-six mrgn-b-sm mrgn-t-sm text-left">Organisation <br />Contact Details</h5>                
              </div>
              <div class="col-sm-8 stall-booked">
                <mat-list>
                  <mat-list-item>
                    <mat-icon mat-list-icon>
                      <i class="material-icons">person_outline</i>
                    </mat-icon>
                    <h4 mat-line class="text-capitalize mrgn-t-md" style="margin-top:0px !important">{{data.first_name}} {{data.last_name}}</h4>                   
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon mat-list-icon>
                      <i class="material-icons">mail_outline</i>
                    </mat-icon>
                    <h4 mat-line>{{data.email}}</h4>                   
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon mat-list-icon>
                      <i class="material-icons">phone_android</i>
                    </mat-icon>
                    <h4 mat-line>{{data.mobile}}</h4>                   
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon mat-list-icon>
                      <i class="material-icons">language</i>
                    </mat-icon>
                    <h4 mat-line *ngIf="data.website">{{data.website}}</h4>
                    <h4 mat-line *ngIf="!data.website" class="redTxtB">Not Available</h4>       
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
            <div class="row" style="display:none">
                <div class="col-sm-12"><hr class="hr"/></div>
            </div>
            <div class="row" style="display:none">
              <div class="col-sm-4">
                <h5 class="font-bold-six mrgn-b-sm mrgn-t-sm text-left">Contact Person</h5>
              </div>
              <div class="col-sm-8 stall-booked contactPose">
                <mat-list>
                  <mat-list-item>
                    <mat-icon mat-list-icon>
                      <i class="material-icons">person_outline</i>
                    </mat-icon>
                    <h4 mat-line class="text-capitalize mrgn-t-md" style="margin-top:0px !important">Pravin Kumar</h4>
                   <!-- <p *ngIf="stall.contact_person_designation"  mat-line class="contact-pose-text">{{stall.contact_person_designation}}</p>
                    <p *ngIf="!stall.contact_person_designation" class="redTxtB contact-pose-text-red" mat-line>Not Available</p> -->
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon mat-list-icon>
                      <i class="material-icons">phone_android</i>
                    </mat-icon>
                    <h4 mat-line>9632145877</h4>
                    <!-- <h4 mat-line *ngIf="!stall.contact_person_mobile" class="redTxtB">Not Available</h4> -->
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </mat-card>
        </div>        
      </div>
    </div>    
  </div>
</div>
