<div id="loader"  style="display:none;" class="loader"></div>
<div class="container-fluid contSpace">
    <div class="row changePassword">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="mrgn-t-none mrgn-b-lg">Change Password</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-6 allBlock">
            <mat-card class="mrgn-b-lg">    
                <h6 class="font-bold-six">Note:</h6>
                <ul>
                    <li>The minimum length of password should be of 8 characters.</li>
                    <li>Use of both uppercase & lowercase letters.</li>
                    <li> Include one or more numerical digits.</li>
                    <li>Include special characters, such as @, #, $</li>
                </ul>
            </mat-card>
            <mat-card>
                <form #changePwd="ngForm" (ngSubmit)="onSubmit(changePwd)">
                    <div class="row pad-l-lg pad-r-lg">
                        <div class="col-sm-12">
                            <mat-form-field class="example-full-width pad-b-sm">
                                <input matInput placeholder="Password" name="password" 
                                    id="password" [(ngModel)]="pwd" required minlength="8"
                                    (keyup)="validatePwd()" type="password" appBlockCopyPaste />
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12">
                            <mat-form-field class="example-full-width pad-b-sm">
                                <input matInput placeholder="Confirm Password" 
                                    name="confirm_password" id="confirm_password" 
                                    [(ngModel)]="confirm_pwd" required minlength="8" 
                                    (keyup)="validatePwd()" type="password" appBlockCopyPaste/>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12 mrgn-t-sm">
                            <button type="submit" mat-raised-button 
                                [disabled]="changePwd.invalid || !validatePwd()" 
                                class="greenBtn text-uppercase">Change Password</button>
                        </div>
                    </div>
                </form>
            </mat-card>
    </div>
  </div>
  </div>