<div id="loader"   class="loader"></div>
<div class="container-fluid contSpace">
  <div class="stallStatus stall-list list">
    <div class="refreshBtn">
      <button *ngIf="checkAllowedRoles(['exhibitoradmin'])" mat-button class="stallBtn" (click)="redirectAddStall()" >Add New Stand</button>
      <button matTooltip="Refresh" type="button" (click)="get_stalls()" class="ref">
        <i class="material-icons">autorenew</i>
      </button>
      <button class="ref" type="button" matTooltip="Download" (click)="exportStandsCSV()">
        <span class="material-icons">download</span>
      </button>
    </div>
    <mat-accordion class="example-headers-align col-sm-12">
      <mat-panel-title>
        <h3>Stands</h3>
      </mat-panel-title>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-description class="text-right">            
            <mat-icon matTooltip="Info" style="margin-right: 10px;"><i class="material-icons">info</i></mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row icon-info">
          <div class="col-sm-6">
            <h6>Pavillions:</h6>
            <div class="row">
              <div class="col-sm-6" style="padding: 0px 2px 0px 12px;">
                <!-- <p class="mrgn-b-xs"><span class="agriF">AF</span> : Agri Finance</p>-->
                <div class="mrgn-b-xs" style="float:left;clear:both;width:100%;" *ngFor="let pav_type of (masterdata.pavillion_types  | slice:0:6) ;">
                  <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                  <div style="float:left;width:12px;text-align:center;"> : </div>
                  <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                </div>
              </div>
              <div class="col-sm-6" style="padding: 0px 2px;">
                <div class="mrgn-b-xs" style="float:left;clear:both;width:100%;" *ngFor="let pav_type of (masterdata.pavillion_types  | slice:6:12) ;">
                  <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                  <div style="float:left;width:12px;text-align:center;"> : </div>
                  <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2 listTable">
            <h6>Status:</h6>
            <p class="mrgn-b-xs"><span class="round available">A</span> : Available</p>
            <p class="mrgn-b-xs"><span class="round proposed">P</span> : Proposed</p>
            <p class="mrgn-b-xs"><span class="round reserved">R</span> : Reserved</p>
            <p class="mrgn-b-xs"><span class="round partial">FE</span> : Partial</p>
            <p class="mrgn-b-xs"><span class="round booked">E</span> : Booked</p>
            <p class="mrgn-b-xs"><span class="round blocked">B</span> : Blocked</p>
          </div>
          <div class="col-sm-2">
            <h6>Type:</h6>
            <p class="mrgn-b-xs" ><img src="../../assets/images/canopy.jpg" width="25px" /> :Canopy</p>
            <p class="mrgn-b-xs" ><img src="../../assets/images/covered_bare.jpg" width="25px" /> : Covered Bare</p>
            <p class="mrgn-b-xs" ><img src="../../assets/images/marquee.jpg" width="25px" /> : Marquee</p>
            <p class="mrgn-b-xs" ><img src="../../assets/images/greenhouse.jpg" width="25px" /> : Greenhouse</p>
            <p class="mrgn-b-xs" ><img src="../../assets/images/open_space.jpg" width="25px" /> : Open Space</p>
            <p class="mrgn-b-xs" ><img src="../../assets/images/prefab.jpg" width="25px" /> : Prefab</p>
          </div>
          <div class="col-sm-2">
            <h6>Location:</h6>
            <p class="mrgn-b-xs" *ngFor="let std_loc of masterdata.stand_locations;">
              <img src="../../assets/images/{{std_loc.short_code}}.png" width="23"> : {{std_loc.name}}
            </p>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
     <mat-card class="example-card mrgn-b-lg" style="margin-top:15px;">
      <div class="filter pl-3 pr-3" >
        <a href="/proposal/search-exhibitor?offer_type=proforma invoice" class="reserveStand">Reserve Stand</a>
        <table>
          <tr>
            <td colspan="2" style="vertical-align: top;">
              <div class="form-group has-search" [ngClass]="{'selected':stall_search!=''}">                             
                  <input type="text"  class="form-control" (keyup)="search_stalls($event)" [(ngModel)]="stall_search" matInput  placeholder="Search by Exh name, Stand no.">
              </div>
            </td>  
            <td>
              <mat-form-field appearance="fill" [ngClass]="{'selected':selected_proposed_date_range!=''}">
                <mat-label>Date Range</mat-label>
                <mat-select id="selected_proposed_date_range" name="selected_proposed_date_range" [(ngModel)]="selected_proposed_date_range" (ngModelChange)="filter_proposed_date_range()">
                  <mat-option value="">All</mat-option>
                  <mat-option value="1">Today</mat-option>
                  <mat-option value="2">Yesterday</mat-option>
                  <mat-option value="3">Last 7 days</mat-option>
                  <mat-option value="4">Last 14 days</mat-option>
                  <mat-option value="5">This Month</mat-option>
                  <mat-option value="6">Custom</mat-option>
                </mat-select>
              </mat-form-field>
            </td> 
            <td class="datePicker" colspan="3" *ngIf="selected_proposed_date_range=='6'">
              <mat-form-field style="width:49%;float:left;" [ngClass]="{'selected':selected_min_proposed_date!=''}">
                <input matInput readonly [(ngModel)]="selected_min_proposed_date" [matDatepicker]="picker1" [min]="minDate" [max]="maxDate" placeholder="From date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            
              <mat-form-field style="width:49%;float:right;" [ngClass]="{'selected':selected_max_proposed_date!=''}">
                <input matInput readonly [(ngModel)]="selected_max_proposed_date" [matDatepicker]="picker2" [min]="minDate" [max]="maxDate" placeholder="To date">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </td>
            <td style="position: relative;" *ngIf="selected_proposed_date_range=='6'">
              <button class="searchBtn" (click)="filter_proposed_custom_date_range()"><span class="material-icons">search</span></button>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field appearance="fill" class="grpOne" [ngClass]="{'selected':stall_filter.pavillion_type!=''}">
                <mat-label>Pavilion</mat-label>
                <mat-select placeholder="Pavillion" [(ngModel)]="stall_filter.pavillion_type" (ngModelChange)="get_stalls()">
                  <mat-option value="">All</mat-option>
                  <mat-option *ngFor="let item of masterdata.pavillion_types" value="{{item.short_code}}">
                    {{item.short_code}} - {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="fill" class="grpOne" [ngClass]="{'selected':stall_filter.stand_type!=''}">
                <mat-label>Type</mat-label>
                <mat-select placeholder="Type" [(ngModel)]="stall_filter.stand_type" (ngModelChange)="get_stalls()">
                  <mat-option value="">All</mat-option>
                  <mat-option *ngFor="let item of masterdata.stand_types" value="{{item.short_code}}">
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="fill" class="grpOne" [ngClass]="{'selected':stall_filter.stand_location!=''}">
                <mat-label>Location</mat-label>
                <mat-select placeholder="Location" [(ngModel)]="stall_filter.stand_location" (ngModelChange)="get_stalls()">
                  <mat-option value="">All</mat-option>
                  <mat-option *ngFor="let item of masterdata.stand_locations" value="{{item.short_code}}">
                    {{item.short_code}} - {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="fill" class="grpOne" [ngClass]="{'selected':stall_filter.area!=''}">
                <mat-label>Area(in sq.m.)</mat-label>
                <mat-select id="area" name="area" [(ngModel)]="stall_filter.area" (ngModelChange)="get_stalls()">
                  <mat-option value="">All</mat-option>
                  <!-- <mat-option>8 Sqm</mat-option> -->
                  <mat-option *ngFor="let item of area_list" value="{{item}}">
                    {{item}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="fill" class="grpTwo" [ngClass]="{'selected':stall_filter.status!=''}">
                <mat-label>Status</mat-label>
                <mat-select id="status" name="status" [(ngModel)]="stall_filter.status" (ngModelChange)="get_stalls()">
                  <mat-option value="">All</mat-option>
                  <mat-option value="available">A - Available</mat-option>
                  <mat-option value="proposed">P - Proposed</mat-option>
                  <mat-option value="reserved">R - Reserved</mat-option>
                  <mat-option value="partial">FE - Partial</mat-option>
                  <mat-option value="booked">E - Booked</mat-option>
                  <mat-option value="blocked">B - Blocked</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="fill" class="grpTwo" [ngClass]="{'selected':stall_filter.discount_type!=''}">
                <mat-label>Discount Type</mat-label>
                <mat-select id="discount_type" name="discount_type" [(ngModel)]="stall_filter.discount_type" (ngModelChange)="get_stalls()">
                  <mat-option value="">All</mat-option>
                  <mat-option value="percentage">Percentage</mat-option>
                  <mat-option value="fixed_amount">Amount in Rs.</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="fill" class="grpTwo" [ngClass]="{'selected':stall_filter.proposed_by_userid!=''}">
                <mat-label>Person</mat-label>
                <mat-select id="proposed_by_userid" name="proposed_by_userid" [(ngModel)]="stall_filter.proposed_by_userid" (ngModelChange)="get_stalls()">
                  <mat-option value="">All</mat-option>
                  <mat-option *ngFor="let item of proposed_by_users" value="{{item.id}}">
                    {{item.firstname}}
                  </mat-option>
                  
                </mat-select>
              </mat-form-field>
            </td>
            <td style="position: relative;">
              <button class="clear" (click)="reset()" matTooltip="Reset" matTooltipPosition="above"><i class="material-icons">refresh</i></button>
            </td>
          </tr>
       </table>
    </div>
    <span *ngIf="!(isSuccess)" class="errorMessage"> {{message}} </span>
    <span *ngIf="total_stalls==0" class="errorMessage"> No records found </span>
    <div class="row pl-3 pr-3" *ngIf="isSuccess && total_stalls > 0">
      <div class="col-sm-3">
        <span>Showing: {{stall_start_item}}-{{stall_end_item}} of {{total_stalls}}</span>
      </div>
      <div class="col-sm-3">
        <mat-checkbox class="example-margin" [(ngModel)]="stall_showall" (ngModelChange)="toggle_show_all_stalls()">Show
          All</mat-checkbox>
      </div>
      <div class="col-sm-6 text-right">
        <mat-list role="list">
          <mat-list-item role="listitem">
            <button mat-button [disabled]="stall_current_page==0" (click)="stall_current_page=0;get_stalls();">
              <i class="material-icons">first_page</i>
            </button>
          </mat-list-item>
          <mat-list-item role="listitem">
            <button mat-button [disabled]="stall_current_page==0" (click)="stall_current_page=stall_current_page-1;get_stalls();">
              <i class="material-icons">keyboard_arrow_left</i>
            </button>
          </mat-list-item>
          <mat-list-item role="listitem">Page {{stall_current_page + 1}} of {{stall_pages}}</mat-list-item>
          <mat-list-item role="listitem">
            <button mat-button [disabled]="stall_current_page==(stall_pages-1)" (click)="stall_current_page=stall_current_page+1;get_stalls();">
              <i class="material-icons">navigate_next</i>
            </button>
          </mat-list-item>
          <mat-list-item role="listitem">
            <button mat-button [disabled]="stall_current_page==(stall_pages-1)" (click)="stall_current_page=(stall_pages-1);get_stalls();">
              <i class="material-icons">last_page</i>
            </button>
          </mat-list-item>
        </mat-list>
      </div>
    </div>  
    <div class="table-responsive" style="overflow-x: unset;;" *ngIf="isSuccess && total_stalls > 0">
      <table class="table listTable" >
            <thead class="blue-grey lighten-5 text-uppercase">
                <tr class="columnSort">
                    <th rowspan="2" class="text-center" style="width:20px;">SR. NO</th>
                    <th rowspan="2" class="text-center" style="width:30px;cursor:pointer;" 
                      (click)="sort_stalls('stand_number')" matTooltip="Stand Number" matTooltipPosition="above" >
                      Std No.
                      <span *ngIf="stall_sort_col=='stand_number'" class="table-filter">
                        <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span>
                    </th>
                    <th rowspan="2" class="text-center" style="width:20px;cursor:pointer;" 
                      (click)="sort_stalls('pavillion_type')" matTooltip="Pavilion" matTooltipPosition="above">
                        Pv
                        <span *ngIf="stall_sort_col=='pavillion_type'" class="table-filter">
                          <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                          <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                        </span>
                    </th>
                    <!-- <th class="text-center" style="width:60px;">Stall SKU
                    </th> -->
                    <th rowspan="2" class="text-center" style="width:28px;cursor:pointer;" 
                      (click)="sort_stalls('cast(area as signed)')" matTooltip="click to sort on this column" matTooltipPosition="above">
                        Area<br> <span>(Sq.m)</span>
                        <span *ngIf="stall_sort_col=='cast(area as signed)'" class="table-filter">
                          <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                          <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                        </span>
                    </th>
                    <th rowspan="2" class="text-center" style="width:30px;cursor:pointer;"
                      (click)="sort_stalls('stand_type')" matTooltip="click to sort on this column" matTooltipPosition="above">
                        Type
                        <span *ngIf="stall_sort_col=='stand_type'" class="table-filter">
                          <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                          <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                        </span>
                    </th>
                    <th rowspan="2" class="text-center" style="width:27px;cursor:pointer;" 
                      (click)="sort_stalls('stand_location')" matTooltip="click to sort on this column" matTooltipPosition="above" >
                        Loc.
                        <span *ngIf="stall_sort_col=='stand_location'" class="table-filter">
                          <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                          <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                        </span>
                    </th>
                    
                    <th rowspan="2" class="text-center" style="width:30px;cursor:pointer;"
                      (click)="sort_stalls('status_code')" matTooltip="Status" matTooltipPosition="above" >
                        Sta
                        <span *ngIf="stall_sort_col=='status_code'" class="table-filter">
                          <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                          <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                        </span>
                    </th>
                    <th rowspan="2" style="width:110px;cursor:pointer;" 
                      (click)="sort_stalls('company_name')" matTooltip="click to sort on this column" matTooltipPosition="above">
                        Exhibitor
                        <span *ngIf="stall_sort_col=='company_name'" class="table-filter">
                          <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                          <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                        </span>
                    </th>
                    <th rowspan="2" class="text-right" style="width:55px;cursor:pointer;" 
                      (click)="sort_stalls('price')" matTooltip="click to sort on this column" matTooltipPosition="above" >
                        Price
                        <span *ngIf="stall_sort_col=='price'" class="table-filter">
                          <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                          <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                        </span>
                    </th>
                    <th rowspan="2" class="text-center" style="width:50px;cursor:pointer;" 
                      (click)="sort_stalls('discount_amount')" matTooltip="click to sort on this column" matTooltipPosition="above" >
                        Discount
                        <span *ngIf="stall_sort_col=='discount_amount'" class="table-filter">
                          <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                          <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                        </span>
                    </th>
                    <th rowspan="2" class="text-center" style="width:55px;cursor:pointer;" 
                      (click)="sort_stalls('net_amount')" matTooltip="click to sort on this column" matTooltipPosition="above" >
                        Net Price
                        <span *ngIf="stall_sort_col=='net_amount'" class="table-filter">
                          <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                          <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                        </span>
                    </th>
                    <th rowspan="2" class="text-center prc" style="width:60px;cursor:pointer;" 
                      (click)="sort_stalls('paid_amount')" matTooltip="click to sort on this column" matTooltipPosition="above" >
                        price <br> <span>with GST</span>
                        <span *ngIf="stall_sort_col=='paid_amount'" class="table-filter">
                          <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                          <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                        </span>
                    </th>
                    <th  class="text-center" style="color:#999999;width:50px;border-left: 1px solid #fff;border-bottom: 1px solid #fff;"
                        (click)="sort_stalls('proposed_datetime')" matTooltip="Proposal Date" matTooltipPosition="above"> 
                      Prop 
                      <span *ngIf="stall_sort_col=='proposed_datetime'" class="table-filter">
                        <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span> 
                    </th>
                    <th  class="text-center" style="color:#F4C232;width:50px;border-right: 1px solid #fff;border-bottom: 1px solid #fff; "
                        (click)="sort_stalls('reserved_datetime')" matTooltip="Proforma Date" matTooltipPosition="above"> 
                      Prof 
                      <span *ngIf="stall_sort_col=='reserved_datetime'" class="table-filter">
                        <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span>
                    </th>
                    <th class="pers" rowspan="2"  style="width:50px;cursor:pointer;"
                      (click)="sort_stalls('proposed_by_firstname')" matTooltip="click to sort on this column" matTooltipPosition="above">
                        Person
                        <span *ngIf="stall_sort_col=='proposed_by_firstname'" class="table-filter">
                          <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                          <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                        </span>
                    </th>
                    <th rowspan="2" class="text-center" style="width:40px;">Action</th>
                </tr>
                <tr>                    
                  <th class="text-center" style="width:75px;cursor:pointer;top: 32px;border-left: 1px solid #fff;color:#EB9138" 
                    (click)="sort_stalls('release_datetime')" matTooltip="Release Date" matTooltipPosition="above">
                      Release 
                      <span *ngIf="stall_sort_col=='release_datetime'" class="table-filter">
                        <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span>
                  </th>
                  <th class="text-center" style="width:75px;cursor:pointer;top: 32px;color:#008940" 
                    (click)="sort_stalls('booked_datetime')" matTooltip="Booked Date" matTooltipPosition="above">
                      Booked
                      <span *ngIf="stall_sort_col=='booked_datetime'" class="table-filter">
                        <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span>
                  </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stall of stalls; let i = index" [ngClass]="{'row_booked':stall.status=='booked'}">
                    <td class="text-center" style="color:#888">{{pagesize*stall_current_page + i + 1}}</td>
                    <td class="text-right font-weight-bold" style="font-size: 16px;">{{stall.stand_number}}</td>
                    <td class="icon-info text-center" matTooltip="{{get_pavillion_name(stall.pavillion_type)}}" matTooltipPosition="above">
                      <span class="{{stall.pavillion_type}}">{{ stall.pavillion_type}}</span>
                    </td>
                    <!-- <td class="text-center">{{stall.sku}}</td> -->
                    <td class="text-right">{{stall.area}}</td>
                    <td class="text-center" matTooltip="{{get_stand_type_name(stall.stand_type)}}" matTooltipPosition="above">
                      <!-- {{stall.stand_type }} -->
                      <img *ngIf="stall.stand_type=='C'" src="../../assets/images/canopy.jpg"  />
                      <img *ngIf="stall.stand_type=='B'" src="../../assets/images/covered_bare.jpg"  />
                      <img *ngIf="stall.stand_type=='M'" src="../../assets/images/marquee.jpg"  />
                      <img *ngIf="stall.stand_type=='G'" src="../../assets/images/greenhouse.jpg"  />
                      <img *ngIf="stall.stand_type=='O'" src="../../assets/images/open_space.jpg"  />
                      <img *ngIf="stall.stand_type=='P'" src="../../assets/images/prefab.jpg"  />
                    </td>
                    <td class="text-center" matTooltip="{{get_stand_location_name(stall.stand_location)}}" matTooltipPosition="above">
                      <img src="../../assets/images/{{stall.stand_location}}.png"  width="23">
                    </td>
                    
                    <!-- <td class="text-center">row</td> -->
                    <td class="text-center sts" matTooltip="{{stall.status}}" matTooltipPosition="above" > 
                      <div class="round {{stall.status}}">{{stall.status_code}}</div>
                    </td>
                    <!-- class name :"book, available, blocked, proposed, reserved, partial" -->
                    <td><span class="cName"  matTooltip="{{stall.company_name}}" matTooltipPosition="above">{{stall.company_name}}</span></td>
                    <td class="text-right" matTooltip="" matTooltipPosition="above">
                      {{getRupeeFormat(stall.price)}}
                    </td>
                    <td class="text-right" matTooltip="" matTooltipPosition="above" style="color:#888">
                      <span *ngIf=" stall.discount_amount && stall.discount_type=='fixed_amount'">{{getRupeeFormat(stall.discount_amount)}} </span>
                      <span *ngIf=" stall.discount_amount && stall.discount_type=='percentage'">{{stall.discount_amount}} %</span>
                    </td>
                    <td class="text-right"matTooltip="" matTooltipPosition="above">
                      {{getRupeeFormat(stall.net_amount)}}
                    </td>
                    <td class="text-right font-weight-bold prc" matTooltip="" matTooltipPosition="above" >
                      {{getRupeeFormat(stall.paid_amount)}}
                    </td>
                    <td class="text-center" style="border-left: 1px solid #c7bbbb;" >
                      <div matTooltip="{{ stall.proposed_datetime | date:'hh:mm a' }}" matTooltipPosition="above" style="color:#999999;height:22px;">{{stall.proposed_datetime | date:'dd MMM' }}</div>
                      <div style="color:#EB9138;height:22px;">{{stall.release_datetime | date:'dd MMM' }}</div>
                    </td>
                    <td class="text-center"  style="border-right: 1px solid #c7bbbb;">
                      <div matTooltip="{{ stall.reserved_datetime | date:'hh:mm a' }}" matTooltipPosition="above" style="color:#F4C232;height:22px;">{{stall.reserved_datetime | date:'dd MMM' }}</div>
                      <div matTooltip="{{ stall.booked_datetime | date:'hh:mm a' }}" matTooltipPosition="above" style="color:#008940;height:22px;">{{stall.booked_datetime | date:'dd MMM' }}</div>
                    </td>
                    <td class="pers">{{stall.proposed_by_firstname}}</td>
                    <td class="text-center" matTooltip="History" matTooltipPosition="above">
                        <a><img class="history" src="assets/images/history.png" (click)="openupdateStallstatusDialog(stall)"/></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- <button (click)="openupdateStallstatusDialog()">popup</button>  -->
    </div>
    <div class="row pl-3 pr-3" *ngIf="isSuccess && total_stalls > 0">
      <div class="col-sm-3">
        <span>Showing: {{stall_start_item}}-{{stall_end_item}} of {{total_stalls}}</span>
      </div>
      <div class="col-sm-3">
        <mat-checkbox class="example-margin" [(ngModel)]="stall_showall" (ngModelChange)="toggle_show_all_stalls()">Show
          All</mat-checkbox>
      </div>
      <div class="col-sm-6 text-right">
        <mat-list role="list">
          <mat-list-item role="listitem">
            <button mat-button [disabled]="stall_current_page==0" (click)="stall_current_page=0;get_stalls();">
              <i class="material-icons">first_page</i>
            </button>
          </mat-list-item>
          <mat-list-item role="listitem">
            <button mat-button [disabled]="stall_current_page==0" (click)="stall_current_page=stall_current_page-1;get_stalls();">
              <i class="material-icons">keyboard_arrow_left</i>
            </button>
          </mat-list-item>
          <mat-list-item role="listitem">Page {{stall_current_page + 1}} of {{stall_pages}}</mat-list-item>
          <mat-list-item role="listitem">
            <button mat-button [disabled]="stall_current_page==(stall_pages-1)" (click)="stall_current_page=stall_current_page+1;get_stalls();">
              <i class="material-icons">navigate_next</i>
            </button>
          </mat-list-item>
          <mat-list-item role="listitem">
            <button mat-button [disabled]="stall_current_page==(stall_pages-1)" (click)="stall_current_page=(stall_pages-1);get_stalls();">
              <i class="material-icons">last_page</i>
            </button>
          </mat-list-item>
        </mat-list>
      </div>
    </div> 
    </mat-card>

  </div>
</div>