<div id="loader"   class="loader"></div>
<div class="container-fluid contSpace">
  <div class="invoices company-profile">
    <div class="col-sm-12 list">
      <div class="row">
        <div class="refreshBtn">
          <a href="/proposal/search-exhibitor/?offer_type=proforma invoice" style="position: absolute;top: 7px;right: 40px;color: #268240;text-decoration: underline;" >
            <i class="material-icons" style="position: absolute;top: -2px;right: 120px;">note_add</i><span>Reserve Stand</span>
          </a>
          <button style="cursor:pointer" type="button" matTooltip="Refresh" (click)="get_list()" matTooltip="Refresh">
            <i class="material-icons">refresh</i>
          </button>
        </div>
        <mat-accordion class="example-headers-align col-sm-12">
          <mat-panel-title>
            <h3>Confirmation History</h3>
          </mat-panel-title>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-description class="text-right">
                <mat-icon matTooltip="Info"><i class="material-icons">info</i></mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row icon-info">
              <div class="col-sm-8">
                <h6>Pavillions:</h6>
                <div class="row">
                  <div class="col-sm-3" style="padding: 0px 2px 0px 12px;">
                    <!-- <p class="mrgn-b-xs"><span class="agriF">AF</span> : Agri Finance</p>-->
                    <div class="mrgn-b-xs" style="float:left;clear:both;width:100%;" *ngFor="let pav_type of (masterdata.pavillion_types  | slice:0:6) ;">
                      <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                      <div style="float:left;width:12px;text-align:center;"> : </div>
                      <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                    </div>
                  </div>
                  <div class="col-sm-5" style="padding: 0px 2px;">
                    <div class="mrgn-b-xs" style="float:left;clear:both;width:100%;" *ngFor="let pav_type of (masterdata.pavillion_types  | slice:6:12) ;">
                      <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                      <div style="float:left;width:12px;text-align:center;"> : </div>
                      <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                    </div>
                  </div>
                  <div class="col-sm-4" style="padding: 0px 2px;">
                      <div class="mrgn-b-xs" style="float:left;clear:both;width:100%;" *ngFor="let pav_type of (masterdata.pavillion_types  | slice:12:18) ;">
                        <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                        <div style="float:left;width:12px;text-align:center;"> : </div>
                        <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-sm-2">
                <h6>Type:</h6>
                <p class="mrgn-b-xs" *ngFor="let std_type of masterdata.stand_types;">{{std_type.short_code}}: {{std_type.name}}</p>
              </div>
              <div class="col-sm-2">
                <h6>Location:</h6>
                <p class="mrgn-b-xs" *ngFor="let std_loc of masterdata.stand_locations;">
                  <img src="../../assets/images/{{std_loc.short_code}}.png" width="23">: {{std_loc.name}}
                </p>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="row" style="margin-top:15px;">
        <mat-card class="inv-table">
          <div class="row" layout="row" layout-align="space-between center">
            <div class="col-sm-2">
              <mat-form-field class="example-full-width" >
                <mat-icon matPrefix><i class="material-icons">search</i></mat-icon>
                <input type="text" [(ngModel)]="search" (keyup)="search_records($event)" matInput placeholder="Search by company name or person"  />
              </mat-form-field>
            </div>
            <div class="col-sm-2">
              <mat-form-field>
                <mat-select placeholder="Pavillion" [(ngModel)]="product_filter.pavillion_type" (ngModelChange)="current_page=0;get_list()">
                  <mat-option value="">All</mat-option>
                  <mat-option *ngFor="let item of masterdata.pavillion_types" value="{{item.short_code}}">
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-2">
              <mat-form-field>
                <mat-select placeholder="Type" [(ngModel)]="product_filter.stand_type" (ngModelChange)="current_page=0;get_list()">
                  <mat-option value="">All</mat-option>
                  <mat-option *ngFor="let item of masterdata.stand_types" value="{{item.short_code}}">
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-2">
              <mat-form-field>
                <mat-select placeholder="Location" [(ngModel)]="product_filter.stand_location" (ngModelChange)="current_page=0;get_list()">
                  <mat-option value="">All</mat-option>
                  <mat-option *ngFor="let item of masterdata.stand_locations" value="{{item.short_code}}">
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-2 " >
                <mat-form-field>
                    <mat-select placeholder="IssuedBy" [(ngModel)]="filter.from_name"  (ngModelChange)="current_page=0;get_list()">
                      <mat-option value="">All</mat-option>
                      <mat-option *ngFor="let issuedby of issuedBy" value="{{issuedby.from_name}}" style="text-transform: capitalize;">
                        {{issuedby.from_name}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-2 " >
              <mat-form-field>
                  <mat-select placeholder="Status" [(ngModel)]="is_expired"  (ngModelChange)="current_page=0;get_list()">
                    <mat-option value="">All</mat-option>
                    <mat-option value="0">Valid</mat-option>
                    <mat-option value="1">Invalid</mat-option>
                  </mat-select>
              </mat-form-field>
            </div>
          </div>
          <span *ngIf="total==0" class="errorMessage"> No records found </span>

          <div class="row" *ngIf="total > 0">
            <div class="col-sm-2">
              <span>Showing: {{start_item}}-{{end_item}} of {{total}}</span>
            </div>
            <div class="col-sm-2">
              <mat-checkbox class="example-margin" [(ngModel)]="showall" (ngModelChange)="toggle_show_all_records()">
                Show  All
              </mat-checkbox>
            </div>
            <div class="col-sm-8 text-right">
              <mat-list role="list">
                <mat-list-item role="listitem">
                  <button mat-button [disabled]="current_page==0" (click)="current_page=0;get_list();">
                    <i class="material-icons">first_page</i>
                  </button>
                </mat-list-item>
                <mat-list-item role="listitem">
                  <button mat-button [disabled]="current_page==0" (click)="current_page=current_page-1;get_list();">
                    <i class="material-icons">keyboard_arrow_left</i>
                  </button>
                </mat-list-item>
                <mat-list-item role="listitem">Page {{current_page + 1}} of {{pages}}</mat-list-item>
                <mat-list-item role="listitem">
                  <button mat-button [disabled]="current_page==(pages-1)" (click)="current_page=current_page+1;get_list();">
                    <i class="material-icons">navigate_next</i>
                  </button>
                </mat-list-item>
                <mat-list-item role="listitem">
                  <button mat-button [disabled]="current_page==(pages-1)" (click)="current_page=(pages-1);get_list();">
                    <i class="material-icons">last_page</i>
                  </button>
                </mat-list-item>
              </mat-list>
            </div>
          </div>
          <div *ngIf="total > 0">
          <table width="100%">
            <tr style="background:#F5F6FA;">
              <th style="width:45px;">SR.NO</th>
              <th style="width:75px;" (click)="sort_records('sent_datetime')"
                matTooltip="click to sort on this column" matTooltipPosition="above" >
                DATE
                <span *ngIf="sort_col=='sent_datetime'" class="table-filter">
                  <i *ngIf="sort_dir==1" class="material-icons">arrow_drop_down</i>
                  <i *ngIf="sort_dir==0" class="material-icons">arrow_drop_up</i>
                </span>
              </th>
              <th style="width:200px;" (click)="sort_records('company_name')"
                matTooltip="click to sort on this column" matTooltipPosition="above">
                COMPANY NAME
                <span *ngIf="sort_col=='company_name'" class="table-filter">
                  <i *ngIf="sort_dir==1" class="material-icons">arrow_drop_down</i>
                  <i *ngIf="sort_dir==0" class="material-icons">arrow_drop_up</i>
                </span>
              </th>
              <th style="width:5%;">Stand.</th>
              <th style="width:60px;">PAV.</th>
              <th style="width:40px;">AREA</th>
              <th style="width:60px;" >TYPE</th>
              <th style="width:50px">LOC.</th>
              <!-- <th class="text-center" style="width:100px;"(click)="sort_records('extra_product_count')"
                matTooltip="click to sort on this column" matTooltipPosition="above">
                EX.
                <span *ngIf="sort_col=='extra_product_count'" class="table-filter">
                  <i *ngIf="sort_dir==1" class="material-icons">arrow_drop_down</i>
                  <i *ngIf="sort_dir==0" class="material-icons">arrow_drop_up</i>
                </span>
              </th> -->
              <th style="width:70px;" (click)="sort_records('payment_last_datetime')"
                matTooltip="click to sort on this column" matTooltipPosition="above">
                PAYMENT DATE
                <span *ngIf="sort_col=='payment_last_datetime'" class="table-filter">
                  <i *ngIf="sort_dir==1" class="material-icons">arrow_drop_down</i>
                  <i *ngIf="sort_dir==0" class="material-icons">arrow_drop_up</i>
                </span>
              </th>
              <th style="width:100px;" (click)="sort_records('from_name')"
                matTooltip="click to sort on this column" matTooltipPosition="above">
                ISSUED BY
                <span *ngIf="sort_col=='from_name'" class="table-filter">
                  <i *ngIf="sort_dir==1" class="material-icons">arrow_drop_down</i>
                  <i *ngIf="sort_dir==0" class="material-icons">arrow_drop_up</i>
                </span>
              </th>
              <th class="text-center" style="width:75px;">Email</th>
              <th class="text-center" style="width:100px;">ACTIONS</th>
            </tr>
            <tr *ngFor="let record of records; let i = index" style="border-bottom: 1px solid lightgrey;">
              <td class="text-center">{{pagesize*current_page + i + 1}}</td>
              <td matTooltip="{{ record.sent_datetime | date:'hh:mm a' }}" matTooltipPosition="above">
                {{record.sent_datetime | date:'dd MMM' }}
              </td>
              <td><b >{{record.company_name}}</b></td>
              <td>
                <table>
                    <tr *ngFor="let prodList of record['products_list']">
                      <td>
                        {{prodList.stand_number}}
                      </td>
                    </tr>
                  </table>
              </td>
              <td class="text-center icon-info">

                <table>
                  <tr matTooltip="{{prodList.pavillion_name}}" matTooltipPosition="above" *ngFor="let prodList of record['products_list']">
                    <td>
                      <span class="{{prodList.pavillion_type}}">{{prodList.pavillion_type}}</span>
                    </td>
                  </tr>
                </table>
              </td>
              <td class="text-center">
                  <table>
                    <tr *ngFor="let prodList of record['products_list']">
                      <td>
                        {{prodList.area}}
                      </td>
                    </tr>
                  </table>
                </td>
              <td class="text-center" >

                <table>
                  <tr matTooltip="{{prodList.stand_type_name}}" matTooltipPosition="above" *ngFor="let prodList of record['products_list']">
                    <td>
                      {{prodList.stand_type}}
                    </td>
                  </tr>
                </table>
              </td>
              <td class="text-center" >

                <table>
                  <tr matTooltip="{{prodList.stand_location_name}}" matTooltipPosition="above" *ngFor="let prodList of record['products_list']">
                    <td>
                      <img src="../../assets/images/{{prodList.stand_location}}.png"  width="23">
                    </td>
                  </tr>
                </table>
              </td>
              <!-- <td class="text-center">
                <span *ngIf="record.extra_product_count > 0">
                  <mat-icon style="color: #008940;display: table-caption; font-size: 15px;">brightness_1</mat-icon>
                </span>
              </td> -->
              <td class="text-center" [ngClass]="{'expDate':record.payment_date_expired==1}">
                {{record.payment_last_datetime | date:'dd MMM' }}
              </td>
              <td style="text-transform: capitalize;">{{record.from_firstname}}</td>
              <td class="text-center" style="text-transform: capitalize;">
                <span *ngIf="record.is_email_sent==1" matTooltip="Sent"><img src="../../assets/images/email-sent.png" /></span>
                <span *ngIf="record.is_email_sent==0" matTooltip="Not Sent"><img src="../../assets/images/not-sent.png" /></span>
              </td>
              <td class="text-center">
                  <a target="_blank" [href]="record.pdf_path" matTooltip="View proforma pdf">
                    <!-- <i style="font-size: 21px" class="material-icons">remove_red_eye</i> -->
                    <img src="../../assets/images/outlineEye.png" width="20px">
                  </a>
                  <a style="padding: 0px 5px;" href="/proposal/create-offer?offer_id={{record.offer_id}}" matTooltip="Edit">
                    <!-- <i style="font-size: 21px" class="material-icons">edit</i> -->
                    <img src="../../assets/images/outlineEdit.png" width="20px">
                  </a>
                  <a  matTooltip="Resend" *ngIf="record.payment_date_expired==0" href="/proposal/send-offer?notification_id={{record.id}}">
                    <img src="../../assets/images/paper-plane.png" width="20px">
                  </a>
              </td>
            </tr>
          </table>
          <div class="row mt-3" *ngIf="total > 0">
            <div class="col-sm-2">
              <span>Showing: {{start_item}}-{{end_item}} of {{total}}</span>
            </div>
            <div class="col-sm-2">
              <mat-checkbox class="example-margin" [(ngModel)]="showall" (ngModelChange)="toggle_show_all_records()">
                Show  All
              </mat-checkbox>
            </div>
            <div class="col-sm-8 text-right">
              <mat-list role="list">
                <mat-list-item role="listitem">
                  <button mat-button [disabled]="current_page==0" (click)="current_page=0;get_list();">
                    <i class="material-icons">first_page</i>
                  </button>
                </mat-list-item>
                <mat-list-item role="listitem">
                  <button mat-button [disabled]="current_page==0" (click)="current_page=current_page-1;get_list();">
                    <i class="material-icons">keyboard_arrow_left</i>
                  </button>
                </mat-list-item>
                <mat-list-item role="listitem">Page {{current_page + 1}} of {{pages}}</mat-list-item>
                <mat-list-item role="listitem">
                  <button mat-button [disabled]="current_page==(pages-1)" (click)="current_page=current_page+1;get_list();">
                    <i class="material-icons">navigate_next</i>
                  </button>
                </mat-list-item>
                <mat-list-item role="listitem">
                  <button mat-button [disabled]="current_page==(pages-1)" (click)="current_page=(pages-1);get_list();">
                    <i class="material-icons">last_page</i>
                  </button>
                </mat-list-item>
              </mat-list>
            </div>
          </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
