<div class="email-popup">
    <p class="text-right "><i class="material-icons">close</i></p>
    <div class="mrgn-b-md mrgn-t-sm">
        <input type="text" name="Tob" placeholder="To">
    </div>
    <div class="mrgn-b-md">
        <input type="text" name="CC" placeholder="CC">
    </div>
    <div class="mrgn-b-md">
        <input type="text" name="subject" placeholder="Subject">
    </div>
    <div class="mrgn-b-md">
        <app-ngx-editor rows="5" [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="htmlContent"></app-ngx-editor>
    </div>
    <div class="row">
        <div class="col-sm-6">

        </div>
        <div class="col-sm-6 text-right ">
            <button class="email-btn">SEND EMAIL</button>
        </div>
    </div>    
</div>