<div class="container-fluid contSpace">
  <div class="row invoices company-profile">
      <div class="col-sm-12 pad-l-none pad-r-none headerInfo">
          <div class="row">
            <div class="col-sm-5 mrgn-t-none mrgn-b-md">
              <h2 class="headerLeft">       
                <div class="float-left green-txt" >ID -
                  <span class="font-bold-six mrgn-r-md">1052</span>
                  <span class="font-bold-six mrgn-r-md" >Stall No - 1111</span>
                </div>
                <div class="stall-status text-uppercase" >
                  <span class="green-dot mrgn-l-sm mrgn-r-sm" ></span>
                  <!-- <span class="yellow-dot mrgn-l-sm mrgn-r-sm" *ngIf="stallDetails.stallinfo.is_formsubmitted==1  && stallDetails.stallinfo.status=='Pending'"></span>
                  <span class="grey-dot mrgn-l-sm mrgn-r-sm" *ngIf="stallDetails.stallinfo.is_formsubmitted==0 && stallDetails.stallinfo.status=='Pending'"> </span>
                 
                  <span class="red-dot mrgn-l-sm mrgn-r-sm" *ngIf="stallDetails.stallinfo.status=='Rejected'"></span>
                  {{stallDetails.stallinfo.status=='Pending' ? (stallDetails.stallinfo.is_formsubmitted ? 'Pending' : 'Not Filled') : stallDetails.stallinfo.status }} -->
                </div>
              </h2>
            </div>
      
            <div class="col-sm-7 text-right mrgn-t-none mrgn-b-md">
              <div class="headerRight">
                <p>Form submitted on <b>22 May at 11:30 AM.</b></p>
              </div>
            </div>
          </div>
        </div>
    <div>
      <div class="col-sm-12">
        <div class="row">
          <mat-card class="inv-table">
              <h5 class="font-bold-six">Invoices</h5>
              <hr>
              <table>
                <tr style="background:#F5F6FA;">
                  <th style="width:6%;">SR.NO</th>
                  <th style="width:8%;">DATE</th>
                  <th style="width:10%;">ORDER NO.</th>
                  <th style="width:46%;">ITEM</th>
                  <th style="width:13%;">TOTAL AMOUNT</th>
                  <th style="width:7%;">UPLOAD</th>
                  <th style="width:10%;">SEND EMAIL</th>
                </tr>
                <tr>
                  <td class="text-center">1</td>
                  <td>11 April</td>
                  <td class="text-center">E-1100</td>
                  <td>Prefabricated Stand (Water Management) 24/Corner</td>
                  <td class="text-center">1,28,00/-</td>
                  <td class="text-center">
                    <!-- <img src="../../assets/images/down.png"> -->
                    <img src="../../assets/images/pdf.png">
                  </td>
                  <td class="text-center">
                      <a (click)="emailDialog()"><img src="../../assets/images/paper-plane.png"></a>
                  </td>
                </tr>
                <tr>
                  <td class="text-center">2</td>
                  <td>23 Oct</td>
                  <td class="text-center">E-1004</td>
                  <td>Octanorm Counter, Chair, Spot lamp, for Prefabricated
                    Stand, Prefabricated stand (Enterprise Pavilion) 9/Corner
                  </td>
                  <td class="text-center">1,98,000/-</td>
                  <td class="text-center"><img src="../../assets/images/up.png"></td>
                  <td class="text-center">
                      <a (click)="emailDialog()"><img src="../../assets/images/paper-plane.png"></a>
                  </td>
                </tr>
              </table>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>