<div class="kisan18">
  <div class="col-sm-12">
    <div>
      <button class="closebtn" mat-dialog-close>X</button>
      <h3 class="tit-h3">Stall History </h3>
      <button *ngFor="let item of data; let i=index;" [ngClass]="{ 'Active-stall':i==selectedIndex }" 
        (click)="selectedIndex=i;stall=data[i];" class="stall-tab">
        <span *ngIf="item.eventcode=='KISAN19'">K19 - {{item.stand_type_name}}</span>
        <span *ngIf="item.eventcode=='KISAN18'">K18 - {{item.stand_type_name}}</span>
      </button>
      <!--<button class="stall-tab Active-stall">Open Stall</button>-->
      <div class="row company-profile">
        <div class="col-sm-6 pad-r-none">
          <mat-card class="company-info" style="border-top-left-radius: 0px !important;">
            <div class="row">
              <div class="col-sm-4 text-center">
                <div class="profileImg"><img class="company-logo" [src]="stall.logo_big_thumb" onerror="this.src='../../assets/images/default_organization.png'"></div>              
              </div>
              <div class="col-sm-8">
                <h3 class="text-capitalize">{{stall.company_name}}</h3>
                <p class="add">{{stall.address}}</p>
                <p class="add">{{stall.city}}, {{stall.state}}, {{stall.country}} .</p>
                <p class="mrgn-t-sm" *ngIf="stall.GSTIN">
                  GSTIN : {{stall.GSTIN}}
                </p>
                <p class="mrgn-t-sm" *ngIf="!stall.GSTIN">GSTIN : <span class="redTxtB">Not Available</span></p>  
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12"><hr class="hr"/></div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <h5 class="font-bold-six mrgn-b-sm mrgn-t-sm text-left">Organisation <br />Contact Details</h5>                
              </div>
              <div class="col-sm-8 stall-booked">
                <mat-list>
                  <mat-list-item>
                    <mat-icon mat-list-icon>
                      <i class="material-icons">mail_outline</i>
                    </mat-icon>
                    <h4 mat-line *ngIf="stall.company_email">{{stall.company_email}}</h4>
                    <h4 mat-line *ngIf="!stall.company_email" class="redTxtB">Not Available</h4>
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon mat-list-icon>
                      <i class="material-icons">call</i>
                    </mat-icon>
                    <h4 mat-line *ngIf="stall.company_phone">{{stall.company_phone}}</h4>
                    <h4 mat-line *ngIf="!stall.company_phone" class="redTxtB">Not Available</h4>
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon mat-list-icon>
                      <i class="material-icons">language</i>
                    </mat-icon>
                    <h4 mat-line *ngIf="stall.company_website">{{stall.company_website}}</h4>
                    <h4 mat-line *ngIf="!stall.company_website" class="redTxtB">Not Available</h4>                  
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-12"><hr class="hr"/></div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <h5 class="font-bold-six mrgn-b-sm mrgn-t-sm text-left">Contact Person</h5>
              </div>
              <div class="col-sm-8 stall-booked contactPose">
                <mat-list>
                  <mat-list-item>
                    <mat-icon mat-list-icon>
                      <i class="material-icons">person_outline</i>
                    </mat-icon>
                    <h4 mat-line class="text-capitalize mrgn-t-md" style="margin-top:0px !important">{{stall.contact_person_first_name}} {{stall.contact_person_last_name}}</h4>
                   <!-- <p *ngIf="stall.contact_person_designation"  mat-line class="contact-pose-text">{{stall.contact_person_designation}}</p>
                    <p *ngIf="!stall.contact_person_designation" class="redTxtB contact-pose-text-red" mat-line>Not Available</p> -->
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon mat-list-icon>
                      <i class="material-icons">phone_android</i>
                    </mat-icon>
                    <h4 mat-line *ngIf="stall.contact_person_mobile">{{stall.contact_person_mobile}}</h4>
                    <h4 mat-line *ngIf="!stall.contact_person_mobile" class="redTxtB">Not Available</h4>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </mat-card> 
          <mat-card class="company-info mrgn-t-sm" style="padding-top:10px;">
            <div class="row">
              <div class="col-sm-12">
                <h5 class="font-bold-six mrgn-b-sm">Coordinator</h5>
              </div>
            </div>
            <hr class="hr" />
            <div class="row company-profile">
              <div class="col-sm-12 stall-booked">
                <mat-list>
                  <mat-list-item>
                    <mat-icon mat-list-icon>
                      <i class="material-icons">person_outline</i>
                    </mat-icon>
                    <h4 mat-line class="text-capitalize large-font">{{stall.booked_by_fname}} {{stall.booked_by_lname}}</h4>
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon mat-list-icon>
                      <i class="material-icons">phone_android</i>
                    </mat-icon>
                    <h4 mat-line *ngIf="stall.booked_by_mobile">{{stall.booked_by_mobile}}</h4>
                    <h4 mat-line *ngIf="!stall.booked_by_mobile" class="redTxtB">Not Available</h4>                        
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon mat-list-icon>
                      <i class="material-icons">mail_outline</i>
                    </mat-icon>
                    <h4 mat-line *ngIf="stall.booked_by_email">{{stall.booked_by_email}}</h4>
                    <h4 mat-line *ngIf="!stall.booked_by_email" class="redTxtB">Not Available</h4>                      
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </mat-card>
          <mat-card class="company-info mrgn-t-sm" style="padding-top:10px;" *ngIf="(stall.extra_plug_point + stall.extra_chair + stall.extra_octonom_counter + stall.extra_spot_lamp + stall.extra_panel + stall.extra_round_table_glass_top + stall.extra_halogen_250 + stall.extra_halogen_400 + stall.extra_plastic_chair + stall.extra_power + stall.extra_table_frill_6_2 + stall.extra_security_day + stall.extra_security_night + stall.extra_panel_set_4) > 0">
            <div class="row">
              <div class="col-sm-12">
                <h5 class="font-bold-six mrgn-b-sm">Extra Requirement</h5>
              </div>
            </div>
            <hr class="hr" />
            <div class="extra-list">
              <table>
                <tr class="header">
                  <th style="width:250px;">PRODUCT</th>
                  <th>QTY ORDERED</th>
                </tr>
                <tr *ngIf="stall.extra_chair >0">
                  <td>
                    <mat-list>
                      <mat-list-item>
                        <mat-icon mat-list-icon><img src="../assets/images/director's-chair.png"></mat-icon>
                        <h4 mat-line> Chair</h4>
                      </mat-list-item>
                    </mat-list>
                  </td>
                  <td class="text-center">{{stall.extra_chair}}</td>
                </tr>
                <tr *ngIf="stall.extra_spot_lamp >0">
                  <td >
                    <mat-list>
                      <mat-list-item>
                        <mat-icon mat-list-icon><img src="../assets/images/spot-lamp.png"></mat-icon>
                        <h4 mat-line> Spot lamp</h4>
                      </mat-list-item>
                    </mat-list>
                  </td>
                  <td class="text-center">{{stall.extra_spot_lamp}}</td>
                </tr>
                <tr *ngIf="stall.extra_octonom_counter >0">
                  <td>
                    <mat-list>
                      <mat-list-item>
                        <mat-icon mat-list-icon><img src="../assets/images/octonorm-counter.png"></mat-icon>
                        <h4 mat-line> Octonorm Counter</h4>
                      </mat-list-item>
                    </mat-list>
                  </td>
                  <td class="text-center">{{stall.extra_octonom_counter}}</td>
                </tr>
                <tr *ngIf="stall.extra_plug_point >0">
                  <td>
                    <mat-list>
                      <mat-list-item>
                        <mat-icon mat-list-icon><img src="../assets/images/plug-point.png"></mat-icon>
                        <h4 mat-line> Plug point 5A</h4>
                      </mat-list-item>
                    </mat-list>
                  </td>
                  <td class="text-center">{{stall.extra_plug_point}}</td>
                </tr>
                <tr *ngIf="stall.extra_round_table_glass_top >0">
                  <td>
                    <mat-list>
                      <mat-list-item>
                        <mat-icon mat-list-icon><img src="../assets/images/round-table.png"></mat-icon>
                        <h4 mat-line> Round Table</h4>
                      </mat-list-item>
                    </mat-list>
                  </td>
                  <td class="text-center">{{stall.extra_round_table_glass_top}}</td>
                </tr>
                <tr *ngIf="stall.extra_panel >0">
                  <td>
                    <mat-list>
                      <mat-list-item>
                        <mat-icon mat-list-icon><img src="../assets/images/prefab-panel.png"></mat-icon>
                        <h4 mat-line> Prefab Panel</h4>
                      </mat-list-item>
                    </mat-list>
                  </td>
                  <td class="text-center">{{stall.extra_panel}}</td>
                </tr>
                <tr *ngIf="stall.extra_table_frill_6_2 >0">
                  <td>
                    <mat-list>
                      <mat-list-item>
                        <mat-icon mat-list-icon><img src="../assets/images/table-6' X 2'.png"></mat-icon>
                        <h4 mat-line> Table 6'X2'</h4>
                      </mat-list-item>
                    </mat-list>
                  </td>
                  <td class="text-center">{{stall.extra_table_frill_6_2}}</td>
                </tr>
                <tr *ngIf="stall.extra_plastic_chair >0">
                  <td>
                    <mat-list>
                      <mat-list-item>
                        <mat-icon mat-list-icon><img src="../assets/images/plastic-chair.png"></mat-icon>
                        <h4 mat-line> Plastic chair</h4>
                      </mat-list-item>
                    </mat-list>
                  </td>
                  <td class="text-center">{{stall.extra_plastic_chair}}</td>
                </tr>
                <tr *ngIf="stall.extra_power >0"> 
                  <td>
                    <mat-list>
                      <mat-list-item>
                        <mat-icon mat-list-icon><img src="../assets/images/power.png"></mat-icon>
                        <h4 mat-line> Power in KW</h4>
                      </mat-list-item>
                    </mat-list>
                  </td>
                  <td class="text-center">{{stall.extra_power}}</td>
                </tr>
                <tr *ngIf="stall.extra_halogen_400 >0">
                  <td>
                    <mat-list>
                      <mat-list-item>
                        <mat-icon mat-list-icon><img src="../assets/images/halogen-200W.png"></mat-icon>
                        <h4 mat-line> Halogen 400W</h4>
                      </mat-list-item>
                    </mat-list>
                  </td>
                  <td class="text-center">{{stall.extra_halogen_400}}</td>
                </tr>
                <tr *ngIf="stall.extra_halogen_250 >0">
                  <td>
                    <mat-list>
                      <mat-list-item>
                        <mat-icon mat-list-icon><img src="../assets/images/halogen-100W.png"></mat-icon>
                        <h4 mat-line> Halogen 250W </h4>
                      </mat-list-item>
                    </mat-list>
                  </td>
                  <td class="text-center">{{stall.extra_halogen_250}}</td>
                </tr>
                <tr *ngIf="stall.extra_security_day >0">
                  <td>
                    <mat-list>
                      <mat-list-item>
                        <mat-icon mat-list-icon><img src="../assets/images/security.png"></mat-icon>
                        <h4 mat-line> Security Day Shift</h4>
                      </mat-list-item>
                    </mat-list>
                  </td>
                  <td class="text-center">{{stall.extra_security_day}}</td>
                </tr>
                <tr *ngIf="stall.extra_security_night >0">
                  <td>
                    <mat-list>
                      <mat-list-item>
                        <mat-icon mat-list-icon><img src="../assets/images/security.png"></mat-icon>
                        <h4 mat-line> Security Night Shift</h4>
                      </mat-list-item>
                    </mat-list>
                  </td>
                  <td class="text-center">{{stall.extra_security_night}}</td>
                </tr>
              </table>
            </div>
          </mat-card>
        </div>
        <div class="col-sm-6">
          <mat-card class="stand-detail" style="padding-top:10px;">
            <div class="row">
              <div class="col-sm-12">
                <h5 class="font-bold-six">Stall Details</h5>
              </div>
              <!--<div class="col-sm-8 pad-l-none text-right">
                <p class="priortcustom">Priority No - {{stall.priority_number}}</p>
              </div>-->
              <div class="col-sm-12"><hr /></div>
            </div>
            <div class="row mrgn-t-md">
              <div class="col-sm-5">
                <img class="stall-img" src="{{stall.stand_image}}" alt="Stall Image">
                <p class="mrgn-t-md">SKU: <b> {{stall.sku}} </b> </p>                
              </div>
              <div class="col-sm-7 pad-l-none">               
                <table class="mrgn-minus">
                  <tr>
                    <td class="vertical-top">Pavillion</td>
                    <td class="vertical-top">: </td>
                    <td class="font-bold-six">{{stall.pavillion_name}}</td>
                  </tr>                  
                  <tr>
                    <td>Area</td>
                    <td>: </td>
                    <td class="font-bold-six">{{stall.area}} sq.m.</td>
                  </tr>
                  <tr>
                    <td>Location</td>
                    <td>: </td>
                    <td class="font-bold-six">{{stall.stand_location_name}}</td>
                  </tr>
                  <tr>
                    <td>Type</td>
                    <td>: </td>
                    <td class="font-bold-six">{{stall.stand_type_name}}</td>
                  </tr>
                  <tr>
                    <td>Price</td>
                    <td>: </td>
                    <td class="font-bold-six"> ₹ {{getRupeeFormat(stall.paid_amount)}}/-</td>
                  </tr>
                </table>
              </div>
            </div>
            <hr *ngIf="stall.stand_type=='P'" />
            <h5 *ngIf="stall.stand_type=='P' && stall.fascia_name" class="fasciaTitle">Fascia Name : <span class="greenTxt font-bold-six fasciaName">{{stall.fascia_name}}</span> </h5>
            <h5 *ngIf="stall.stand_type=='P' && !(stall.fascia_name)" class="fasciaTitle">Fascia Name : <span class="redTxtB">Not Available</span> </h5>      
          </mat-card>
          <mat-card class="mrgn-t-sm">
            <h5 class="font-bold-six">Payment Details</h5>
            <hr class="" />
            <div class="row">
              <div class="col-sm-4 pad-r-none text-center pad-t-lg">
                <div *ngIf="stall.payment_datetime">
                  <span>Paid on</span>
                  <p><b>{{stall.payment_datetime | date:'dd-MMM-y' }}</b></p> 
                </div>
                <span *ngIf="!stall.payment_datetime" class="redTxtB">Not Paid</span>                  
              </div>
              <div class="col-sm-8">
                <table>
                  <tr>
                    <td>Price ₹</td>
                    <td class="pad-r-sm">: </td>
                    <td class="font-bold-six text-right"> {{getRupeeFormat(stall.base_amount)}}</td>
                  </tr>
                  <tr>
                    <td>Discount ₹</td>
                    <td class="pad-r-sm">: </td>
                    <td class="font-bold-six text-right"> {{getRupeeFormat(stall.total_discount)}}</td>
                  </tr>
                  <tr>
                    <td>Subtotal ₹</td>
                    <td class="pad-r-sm">: </td>
                    <td class="font-bold-six text-right"> {{getRupeeFormat(stall.base_amount - stall.total_discount)}}</td>
                  </tr>
                  <tr>
                    <td>Tax amount ₹</td>
                    <td class="pad-r-sm">: </td>
                    <td class="font-bold-six text-right"> {{getRupeeFormat(stall.total_tax)}}</td>
                  </tr>
                  <tr>
                    <td>TDS ₹</td>
                    <td class="pad-r-sm">: </td>
                    <td class="font-bold-six text-right"> {{getRupeeFormat(stall.tds_amount)}}</td>
                  </tr>
                  <tr>
                    <td>Amount Paid ₹</td>
                    <td class="pad-r-sm">: </td>
                    <td class="font-bold-six "> {{getRupeeFormat(stall.paid_amount)}} </td>
                  </tr>
                </table>
              </div>
            </div>
          </mat-card>
          <mat-card class="company-info mrgn-t-sm" style="padding-top:10px;" *ngIf="stall.contractor_name">
            <div class="row">
              <div class="col-sm-12">
                <h5 class="font-bold-six mrgn-b-sm">Vendor Contractor</h5>
              </div>
            </div>
            <hr class="hr" />
            <div class="row company-profile">
              <div class="col-sm-12 stall-booked">
                <mat-list>
                  <mat-list-item>
                    <mat-icon mat-list-icon>
                      <i class="material-icons">person_outline</i>
                    </mat-icon>
                    <h4 mat-line class="text-capitalize large-font">{{stall.contractor_name}}</h4>
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon mat-list-icon>
                      <i class="material-icons">phone_android</i>
                    </mat-icon>
                    <h4 mat-line *ngIf="stall.contractor_phone">{{stall.contractor_phone}}</h4>
                    <h4 mat-line *ngIf="!stall.contractor_phone" class="redTxtB">Not Available</h4>                      
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon mat-list-icon>
                      <i class="material-icons">mail_outline</i>
                    </mat-icon>
                    <h4 mat-line *ngIf="stall.contractor_email" >{{stall.contractor_email}}</h4>
                    <h4 mat-line *ngIf="!stall.contractor_email" class="redTxtB">Not Available</h4> 
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </mat-card>
          <mat-card class="company-info mrgn-t-sm" style="padding-top:10px;" *ngIf="stall.badge_list.length > 0">
            <div class="row">
              <div class="col-sm-12">
                <h5 class="font-bold-six mrgn-b-sm">Exhibitor Badges Issued</h5>
              </div>
            </div>
            <hr class="hr" />
            <div class="badge_list">
              <mat-list>
                <mat-list-item *ngFor="let badge of stall.badge_list; let i=index;" >
                  <mat-icon mat-list-icon>
                    <img class="per-img" src="{{badge.imageurl}}" onerror="this.src='../../assets/images/userIcon.png'" />
                  </mat-icon>
                  <div mat-line >
                    <h4 style="margin-bottom: 0px;text-transform: capitalize;font-size: 1rem;">{{badge.firstname}} {{badge.lastname}}</h4>
                   <!-- <span style="color:#999;font-size: 80%;"> {{badge.created_datetime | date:'dd-MMM-y' }}</span>-->
                  </div>                  
                </mat-list-item>                
              </mat-list>
            </div>
          </mat-card>  
        </div>
      </div>
    </div>    
  </div>
</div>
