    .kisan18{
        height: 600px;
        overflow-y: auto;
    }
    .badge_list{ 
        .mat-icon{
            width: 30px;
            height: 30px;
            object-fit: contain;
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
            padding: 0px;
            .per-img{
                border-radius: 50%;
                width: 100%;
                object-fit: contain;
                height: 100%;
                vertical-align: unset;
            }
        }
    }
    .extra-list{
        .header{
            background: #F5F6FA;
            th{
                color:#999;
                font-weight: 400;
                padding: 5px;
            }
        }
        .mat-list{
            .mat-list-item{
                .mat-list-item-content{
                    padding: 0px !important;
                }
            }
        }  
        .mat-icon{
            width: 40px;
            height: 40px;
        } 
    }
    .hr{
        margin-top:0px;
        margin-bottom: 10px;
    }
    .redTxtB {
        font-weight: 600 !important;
        color: #C00606;
    }
    .mat-card {
        padding: 15px;
        border-radius: 10px !important;
    }
    .company-profile {
        .stand-detail {
            h5{
                padding-bottom: 0px;
            }
        }
    }
    .company-profile .stand-detail hr {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
    .Active-stall {
        border-bottom: 3px solid #FBE734 !important;
    }
    
    .stall-tab {
        background: #fff;
        border: 1px solid #fff;
        padding: 5px 12px;
        cursor: pointer;
        margin-right: 5px;
    }
    .tit-h3{
        color:#fff;
    }
    .closebtn {
        position: absolute;
        font-size: 20px;
        right: 5px;
        font-weight: 600;
        color: #fff;
        background: transparent;
        border: unset;
        cursor: pointer;
    }