//Margin
.mrgn-none{margin:0 !important}
.mrgn-auto{margin:0 auto}
.mrgn-tb-sm{margin-top:1.5rem;margin-bottom:1.5rem}
.mrgn-all-xs{margin:.5rem!important}
.mrgn-all-md{margin:1rem}
//Margin left
.mrgn-l-xs{margin-left:.5rem}
.mrgn-l-sm{margin-left:.675rem}
.mrgn-l-md{margin-left:1rem}
.mrgn-l-lg{margin-left:2rem}
.mrgn-l-r-sm{margin-right:.5rem;margin-left:.5rem}
//Margin bottom
.mrgn-b-none{margin-bottom:0!important}
.mrgn-b-xs{margin-bottom:.5rem}
.mrgn-b-sm{margin-bottom:.675rem}
.mrgn-b-md{margin-bottom:1rem!important}
.mrgn-b-lg{margin-bottom:2rem!important}
.mrgn-b-xl{margin-bottom:3rem!important}
.mrgn-t-xl{margin-top:3rem!important}
//Margin Top
.mrgn-t-none{margin-top:0}
.mrgn-t-xs{margin-top:.5rem}
.mrgn-t-sm{margin-top:.675rem}
.mrgn-t-md{margin-top:1rem!important}
.mrgn-t-lg{margin-top:2rem!important}
//Margin Right
.mrgn-r-none{margin-right:0}
.mrgn-r-xs{margin-right:.5rem}
.mrgn-r-sm{margin-right:.675rem}
.mrgn-r-md{margin-right:1rem}
.mrgn-r-lg{margin-right:2rem}

//Padding
.padding-none{padding:0}
.pad-t-none{padding-top:0!important}
.pad-b-none{padding-bottom:0!important}
.pad-l-none{padding-left:0!important}
.pad-r-none{padding-right:0!important}
.pad-t-sm{padding-top:.5rem}
.pad-t-md{padding-top:1rem}
.pad-t-lg{padding-top:2rem}
.pad-t-xl{padding-top:3rem}
.pad-b-sm{padding-bottom:.5rem}
.pad-b-xsm{padding-bottom:.25rem}
.pad-b-md{padding-bottom:1rem!important}
.pad-b-lg{padding-bottom:2rem}
.pad-b-xl{padding-bottom:3rem}
.pad-l-none{margin-top:0}
.pad-l-sm{padding-left:.5rem}
.pad-l-md{padding-left:1rem!important}
.pad-l-lg{padding-left:2rem}
.pad-l-xl{padding-left:3rem !important}
.pad-r-none{margin-top:0}
.pad-r-sm{padding-right:.5rem}
.pad-r-md{padding-right:1rem!important}
.pad-r-lg{padding-right:2rem}
.pad-r-xl{padding-right:3rem !important}
.pad-all-sm{padding:.5rem}
.pad-all-md{padding:1rem}
.pad-all-md-lg{padding:1.5rem}
.pad-t-l-r-md{padding-top:1rem;padding-left:1rem;padding-right:1rem}
.pad-wrap{padding-left:1rem;padding-right:1rem}
.pad-tb-sm{padding-top:.5rem;padding-bottom:.5rem}
.pad-t-l-r-b-md{padding:1rem 1.5rem .5rem}
body .mat-pad-none{padding:0!important}
.mat-pad-none{padding:0!important}
.thumb-gap{margin:.2rem}
[dir="rtl"] {
.mrgn-l-xs{margin-right:.5rem}
.mrgn-l-sm{margin-right:.675rem}
.mrgn-l-md{margin-right:1rem}
.mrgn-l-lg{margin-right:2rem}
}
.mrgn-t-lx{margin-top:3rem!important}
.mrgn-b-lx{margin-bottom:3rem!important}
.mrgn-l-lx{margin-left:3rem!important}
.mrgn-r-lx{margin-right:3rem!important}
.mrgn-minus{margin-top:-10px!important}
.contSpace{padding: 1rem !important;
    // padding-left: 2rem !important; padding-right:2rem !important;  padding-top:30px; padding-bottom:30px;
    @media (min-width: 1199px) and (max-width:1299px){
        padding-left: 1.5rem !important; padding-right:1.5rem !important;
    }
    h2{ color: #333;font-size: 28px; margin-bottom: 0;}
}
.float-right{float:right}
.float-left{float:left}
.float-none{float:none!important}
.fullwidth{width:100%}
img{max-width:100%;height:auto}
.displayNone{display:none!important}