.company-profile{
    font-size: 15px;
    h5{color:#268240;font-size:15px!important;padding-bottom:0}
    p{margin-bottom:10px;font-size:15px}
    .grayBtn{
        background:inherit;box-shadow:inherit!important;margin-left:0;min-width:inherit;margin-right:5px;padding:0 10px;
        i{font-size:32px;color:#959595!important;vertical-align:top}
    }
    .greenBtn{background:#008940;border-radius:5px!important;color:#fff!important;padding:4px 35px!important;box-shadow:inherit!important;font-size:18px;margin-left:15px}
    .occurBtn{background:#ebc23c;border-radius:5px!important;color:#fff!important;padding:4px 35px!important;box-shadow:inherit!important;font-size:18px;margin-left:15px}
    .rejectStall{border:1px solid red}
    .redBtn{background:#E3E3E3;border-radius:5px!important;color:#E51937!important;padding:4px 35px!important;box-shadow:inherit!important;font-size:18px;margin-left:15px}
    .headerInfo{
        .headerLeft{
            padding-top: 8px;
            .red-txt{ color: red;}
            .yellow-txt{color: rgb(219, 162, 28); }
             .green-txt{ color: #008940; }
             .grey-txt{color: #BFBFBF; }
            .stall-status{
                display:inline-block;font-size:16px;vertical-align:middle;margin-top:-3px;
                .red-dot{background-color:red;color:red;width:18px;height:18px;border-radius:50%;cursor:pointer;display:inline-block;box-shadow:0 0 6px #999;vertical-align:top}
                .yellow-dot{background-color:#FFDA83;color:#FFDA83;width:18px;height:18px;border-radius:50%;cursor:pointer;display:inline-block;box-shadow:0 0 6px #999;vertical-align:top}
                .green-dot{display:inline-block;background-color:#44b649;color:#44b649;width:18px;height:18px;border-radius:50%;cursor:pointer;display:inline-block;box-shadow:0 0 6px #999;vertical-align:top}
                .grey-dot{background-color:#BFBFBF;color:#BFBFBF;width:18px;height:18px;border-radius:50%;cursor:pointer;display:inline-block;box-shadow:0 0 6px #999;vertical-align:top}
            }
        }
    }
    .company-info{
        .contactPose{
            .mat-list{padding: 0;
                .mat-list-item{ height:35px;
                    .mat-list-item-content{ padding: 0;
                        .mat-icon{ line-height: 0.5;
                            i{font-size: 24px;}
                        }
                        .contact-pose-text{ font-size: 15px; }
                        .contact-pose-text-red{
                            font-size: 15px; font-family: 'Roboto', sans-serif !important;
                        }
                    }
                }
            }
        }
        .stall-booked{
            .mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus{
                background-color: inherit !important;
            }
            .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
                background-color:#268240 !important;
            }
            .mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus{
                background-color: inherit !important;
            }
            .mat-tab-label-content{
                font-weight: 600;font-size: 15px;font-family:'Roboto', sans-serif !important;
            }
            h5{color: #268240; font-size:18px; padding-bottom:10px;}
            hr{margin-top: 10px;}
            .mat-list{padding: 0;
            .mat-list-item{height:32px;
                .mat-list-item-content{ padding: 0;
                    .mat-list-text{padding-left: 6px;
                        h4{font-size:15px;font-family:'Roboto', sans-serif !important;word-break:break-all;white-space:normal}
                        .large-font{font-size:19px}
                    }
                    .mat-icon{
                        padding-left: 0;
                        i{color: #999;font-size: 20px;}
                    }
                }
            }
        }
        }
        h5{font-size: 14px !important; margin-top: 6px;}
        h3{margin-top:0px; word-wrap: break-word; }
        .add{margin-bottom:3px; }
        .profileImg{
            box-shadow:0 0 17px rgba(0,0,0,.6);-webkit-box-shadow:0 0 17px rgba(0,0,0,.6);-moz-box-shadow:0 0 17px rgba(0,0,0,.6);background-color:#fff;margin:0 auto 0;position:relative;overflow:hidden;border-radius:50%;height:100px;width:100px;
            .company-logo{
                position:relative;height:auto;width:auto;max-width:100%;max-height:100%;top:50%;transform:translateY(-50%);
            }
        }
    }
    .commonSrc{
        .extraTable{
            margin-bottom: 0px;
            .imgRow{
                th{padding-top:25px; padding-bottom:5px; }
            }
            .extraEdit{
                .mat-form-field-infix{ padding: 0px !important; }
                td{font-size: 17px; }
            }
            .tableTitle{color:#008940;font-size:19px;font-weight:600;text-align:left;padding-left:8px}
            th{text-align:center;font-size:15px;border-top:none!important;border-bottom:none!important;padding:25px 5px;font-weight:500;vertical-align:middle}
            td{text-align:center;padding:14px 8px;font-size:19px}
            .extraRow{background: #E2FFEE;}
            .total{background:#008940;color:#fff;}
            .tabletitle{color:#fff}
        }
        .card-height{height: 487px;}
        .mat-card{
            padding: 0;
            .content{ width: 80%;}
            .serviceBlock{position:relative;height:350px}
             .hotel-block{
                padding:5rem;
                @media (min-width: 1300px) and (max-width:1366px){
                    padding:4rem 4rem 4rem 3rem;
                }
                @media (min-width: 1199px) and (max-width:1299px){
                    padding:4rem 4rem 4rem 3rem;
                }
            }
            .hotel-table{
                border:1px solid #e8e283;padding:15px 10px 15px 30px;margin-left:15px;font-style:italic;font-size:13px;background:#fffeef;
                .disclaimer{vertical-align: top;}
            }
            .bottom-note{font-style:italic;font-size:13px;background:#fffeef;padding:15px 10px 15px 30px;border:1px solid #e8e283;margin-bottom:0;position:absolute;bottom:0}
            h2{color:#666}
            p{font-size:19px}
            h5{color:#666;font-size:19px;line-height:30px}
            .bookButton{
                background:#AFDB69;color:#fff;font-size:23px;text-transform:uppercase;border-radius:15px;padding:14px 40px;box-shadow:0 0 10px #999;text-decoration:none;
                &:focus{outline:none}
            }
            .bookLink{color:#999;font-size:20px;text-decoration:underline;display:block;padding-top:2em;text-align:center}
        }
    }
    .stand-detail{
        .fasciaName{color: #268240;}
        .fasciaTitle{color:#666!important;margin-top:10px;padding-bottom:0}
        h5{color:#268240;margin-top:3px;font-size:18px;padding-bottom:10px}
        hr{margin-top:0;margin-bottom:0}
        h3{margin-top:0}
        h4{font-size:18px}
        td{padding:3px}
        .stall-img{width:140px}
        .priortcustom{padding-left:3px;margin-bottom:0}
    }
    .org-detail{
        .othercat{
            background:#eee;padding:12px;margin-top:15px;border-radius:7px;font-size:16px;font-weight:600;
            span{font-weight: 100;}
        }
        h5{color:#268240;margin-top:3px;font-size:18px;padding-bottom:10px}
        hr{margin-top:0;margin-bottom:0}
        .dsc-tit{white-space:nowrap;vertical-align:top;padding-top:2rem}
        .productOuter{display:flex;align-items:center;height:100%;border:1px solid #ccc;
            .prod-img{text-align:center;margin:0 auto;max-height:145px}
        }
        .stall-img{width:120px; height:85px;}
    }
}
.quota{
    h5{color:#268240;font-size:18px;padding-bottom:10px}
    hr{margin-top:10px}
    .badg{color:#F2CD75!important;background:#fff!important;line-height:25px}
    .badgreen{color:#008940!important;background:#fff!important;line-height:25px}
    .green{color:#7DE4AF}
    .stand{color:#000;background:#F2F3F6}
    .clk{background:#F1F9E0}
    .white{color:#999; background: #F5F6FA;
        i{vertical-align:middle;margin-right:4px}
        img{width:18px;margin-right:.5em;text-align:center;margin-left:2px}
    }
    .ext{color:#6716B7;background:#EDEBFA}
    .tot{color:#3982AF;background:#F4F8FF}
    .use{color:#38AB6D;background:#EFFFF4}
    .bal{color:#980202;background:#F9F2F5}
    .fullwhite{background:#fff}
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
        border:0; padding: 8px;font-size: 14px; line-height: 1.42857143;
    }
    .table>thead>tr>th{border:0;}
}
.badgesQuota {
    .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>th{
        border:0; padding:18px 8px; font-size: 16px; line-height: 1.42857143;
    }
    .table>tbody>tr>td, .table>tfoot>tr>td, .table>thead>tr>td{
            border:0; padding:12px 8px; font-size: 18px; line-height: 1.42857143;
    }
}
.wordWrap{white-space: normal; word-wrap: break-word; word-break: break-all;}

/* CATEGORY INTREST PAGE
**********************************************************/
.profileIntrest{
    .intrestList{background:#eee;border-radius:6px;-webkit-border-radius:6px;height:56px;
        &:hover{box-shadow:0 0 5px rgba(0,0,0,.3)}
        .mat-list-item-content{height:66px!important;padding:0!important;display:block!important}
        img{border-radius:6px 0 0 6px;min-width:auto!important; height: 55px;}
        h5{display:inline-block;vertical-align:middle;margin-left:6px;font-size:13px!important;max-width:60%;white-space:normal;color:#000;padding-bottom:0;
            @media (max-width:767px){max-width:45%}
        }
        .checkInterest{float:left;vertical-align:middle;width:100%;
            .mat-checkbox{
                width:100%;float:left;text-align:left;
                .mat-checkbox-layout{
                    display:block!important;margin-bottom:0!important;
                    .mat-checkbox-inner-container{margin:22px 18px 0 0;float:right}
                }
            }
        }
        h6{float:right;vertical-align:middle;margin:0;padding:15px 15px 15px 5px;cursor:pointer}
    }
}
//exhibitor list start
.exhibitors{
    .exhisearch{color:rgba(0,0,0,.42);}
    .ExhiProfile {
        box-shadow:0 0 17px rgba(0,0,0,.6);-webkit-box-shadow:0 0 17px rgba(0,0,0,.6);-moz-box-shadow:0 0 17px rgba(0,0,0,.6);background-color:#fff;margin:0 auto 0;position:relative;overflow:hidden;border-radius:50%;height:85px;width:85px;
        img{position:relative;height:auto;width:auto;max-width:100%;max-height:100%;top:50%;transform:translateY(-50%)}
    }
    .mat-card{
        position: relative; padding: 24px 15px 15px;
        .edit{position:absolute;right:0;top:3px;color:#a6a6a6;z-index:1000}
    }
    h3{color:#000;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-transform:capitalize;font-size:20px}
    a{text-decoration:unset!important}
    p{
        font-size: 15px;color: #a6a6a6; margin-bottom: 8px;
        .wordWidth{white-space:nowrap;width:80px;overflow:hidden;text-overflow:ellipsis;display:inline-block}
        .material-icons{font-size:20px;position:relative;right:3px}
        span{vertical-align:top}
    }
   .exhibitor-pagi{
        .mat-list {
            padding-top: 0px;
            .mat-list-item{
                display:inline !important; height:40px;
                .mat-list-item-content {
                    display: unset !important; padding: 0 8px;
                    .mat-button {
                        min-width: auto !important; padding: 0px !important;
                    }
                }
            }
        }
    }
}
//exhibitor end
 
//furniture list start
.furniture-list{
        .table-responsive{
        .main-table{table-layout: fixed; }
        .main_first_td{padding-right:0;border:unset;padding-top:0;
            .first_tr{height:70px;background:#F5F6FB;
                th{vertical-align:middle}
            }
        .compName{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
    }
        .main_second_td {
            width:260px;overflow:auto;padding-left:0px!important;border:unset;padding-top:0;
            .head_main { height:35px;
                th {padding: 6px 4px !important;}
                .item{background:#EDEBF8;text-align:center;border-right:2px solid #fff}
            }
            .std{background:#F4F8FF;padding:13px 4px;border-right:2px solid #fff;text-align:center}
            .ext{background:#EDEBF8}
            .tot{background:#F4F8FF;border-right:2px solid #fff}
        }
    }
}

.badges-list-outer{
  position: relative;
  height: auto;
  // background: #008940;
  // color: #fff;
  .main_Filter{ margin-top:0;
      h6{
        // margin-top:15px;
        float: left;
        font-size: 15px;
        // color: #fff;
        font-weight: normal;
          @media (max-width:767px){
              margin-top: 10px;
          }
      }
      .invite{ float: left; width: 110px;
          // .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix span{color:#fff;}
          // .mat-select-arrow{color:#fff;}
          // .mat-form-field-underline{background: #fff !important;}
          bottom: 4px;
          .mat-form-field-label-wrapper {top: -0.34375em !important;}
          .mat-select{ line-height: 1;}
          .mat-select-trigger { margin: 0 !important}
          .mat-form-field-infix {padding: .3375em 0 !important; border-top:0 !important}
          .mat-form-field-label-wrapper{
              label{ font-size: 15px !important}
          }
          @media (max-width:1024px){
              width: 31%;
          }
      }
      h5{
          float: left; margin-top: 18px; margin-left: 8px;
          .rightTxt{
              .guest-list-btn{
                color: #333;
                // background: #F1F1F1;
                font-family: 'Roboto', sans-serif !important;
                font-size: 15px;
                  &:hover{ background: inherit;}
                  i{font-size: 20px;vertical-align: middle;}
              }
          }
      }
      .mat-accordion{
          position: relative; width: 100%; display: block;
          .mat-expansion-panel{
              .mat-expansion-panel-content{
                  position: absolute;
                  //  background: #fff;
                  border:1px solid red;
                  width: 100%; z-index: 9;
              }
              .mat-expansion-panel-header{ height: 40px !important; line-height: 40px; display: inline-block !important; flex-direction: inherit !important;
                  .mat-content{ display: inline-block !important; vertical-align: top;}
              }
          }

      }
      .checkboxList{
          .mat-checkbox{ display: flex}
      }
  }
  .report-btn{font-size: 17px; background: #3A7E37; line-height: 22px; padding: 10px 15px;
      .note{font-size: 13px; opacity: 0.8; line-height: 18px;}
  }
  .refreshBtn{border:unset;background: transparent;
      @media (min-width: 812px) and (max-width:813px){ margin-top: 0 !important}
      @media (max-width:767px){
          margin: 0 !important;
      }
      @media (max-width:320px){
          position: absolute;
          right: -6px;
          top: 8px;
          i{ font-size: 16px;}
      }
  }
  .report-list-icon{list-style: none; display: inline-flex; padding: 0;
      li{display: inline-block; padding: 0 1rem; font-size: 17px; cursor: pointer;
          span{ vertical-align: middle}
      }
  }
  .search-badges-list{ margin-top: 0;
      .search{left: inherit !important; transform: inherit !important; width: 100%;
          // input{caret-color:#fff;}
      }
      .mat-form-field-prefix{line-height: inherit !important;}
      .mat-form-field-label-wrapper {top:-.84375em !important;}
      .mat-form-field-infix {padding: .3375em 0 !important;}
      .mat-form-field-label-wrapper{
          label{
            font-size: 15px !important;
            // color: #fff;
            margin-top:0;
          }
      }
      .mat-icon{vertical-align: bottom; bottom:0 !important;
          i{
            // color: #fff;
            font-size: 22px;
          }
      }
      .mat-form-field.mat-focused .mat-form-field-ripple{
        // background: #fff !important;
      }
      .mat-form-field-appearance-legacy .mat-form-field-underline{
        // background-color: #fff !important
      }
  }
  @media (max-width:767px){
      border-top: 1px solid #fff;
  }
}
.badges-list{ margin:0 !important;
  .mat-card-header{
      .mat-card-header-text{ margin: 0 !important;
          .mat-card-title{ margin-bottom: 0;}
          h5{ margin-top:5px;}

          .refreshBtn{border:unset;background: transparent;}
      }
  }
  .guest-list-container{
      .listBlock{
          position: relative;
          display: inline-block;
          width: 100%;
          ul{
              padding: 0;
              li{
                  display: inline-block;
                  padding:0 10px;
                  font-size: 16px;
                  &:first-child {
                      padding-left: 0;
                  }
                  &:last-child {
                      padding-right: 0;
                  }
                  img{margin-right: 5px;}
                  span {vertical-align: middle;}
              }
          }
      }
      .guest-list{text-align: center; display: block !important;
          .spaceC{display: inline-block; float: none; padding-left:8px; padding-right:8px; width: 100%}
          .centerBlockCss{ display: inline-block; float: none; padding-left:8px; padding-right:8px;}
          .mat-list{width: 100%;
              display: block !important;
              margin-bottom: 0 !important;
              height: 60px;
              background: #fff;
              border-radius: 6px;
              -webkit-border-radius: 6px;
              box-shadow: 0 0 5px #ccc;
              padding: 4px;
              .mat-list-item{ float: left; height: auto; width: 70%;
                  .mat-list-item-content{  padding: 0;
                      .mat-icon{ width: 45px; height: 45px;
                          img{border-radius: 50%; width: 45px; height: 45px; object-fit: contain;}
                      }
                      .mat-list-text{ padding-left:5px;
                          @media (max-width:480px){ padding-left: 0px;}
                          h4{ text-align: left;
                              font-size:14px;color:#333;line-height:20px;width:100%;
                              @media (max-width:320px){width:90px}
                          }
                          p{font-size: 14px; text-align: left;
                              a{display: block; text-align: right}
                              .green{color: #008940 !important; }
                              .gray{color:#ccc;}
                          }
                          .listIcon{
                              display: inline-flex;
                              li{
                                  display: inline-block;
                                  padding-right:5px;
                              }
                          }
                          .mrgTop{margin-top: 0 !important; }
                          .mrgTop2{margin-top: 5px !important; }
                      }
                      .resend{background: unset; border: unset;}
                  }
              }
              .rightList{float: right; width:30%;}
          }
          .disable{
              .material-icons{color:#ccc !important;}
          }
      }
      .badge-list-new{
          .mat-list{
              .mat-list-item{width:68%;}
              .rightList{ width: 30%;
              .dateTxt{ text-align: right !important; padding-right: 0.5rem !important}
              }
          }
          @media (max-width:1024px){
              .mat-list{
                  .rightList{ width:28%;}
              }
          }
      }
      .pagination-list{
          .list{ font-size:16px !important}
          .showing-result{ font-size:18px;
              @media (max-width:1024px){font-size:16px;}
          }
          .mat-list{
              padding-top: 0px !important;
              @media (max-width:767px){ text-align: center}
              .mat-list-item{
                  display:inline !important; height:40px;
                  .mat-list-item-content{
                      display:unset !important; padding: 0 8px; font-size: 15px;
                      .mat-button{
                          min-width:auto !important; padding: 0px !important;
                      }
                  }
              }
              .page{position:relative;bottom:5px}
          }
          @media (max-width:767px){
              .list{ text-align: center}
          }
      }

      .guest-pagiation{
          .right-pagi-count{
              font-size:18px;padding-top:5px;margin-bottom:0;
          }
      }
  }
}

.stallStatus{
    .filter{
        .datePicker{
            .mat-form-field-label-wrapper label {
                font-size: 17px !important;
            }
        }
        .selected {
           .mat-form-field-flex{ background: #f9f5d0  !important;}
        }
        .grpOne{
            .mat-form-field-flex{
                background: #fbdcf4;
            }     
        }
        .mat-form-field-infix {
            padding: .75em 0 .35em 0;
        }
        .mat-form-field-flex{
            background: #d3eefd;
            border: 1px solid #ccc;
            border-radius: 5px;padding: .05em .75em 0 .75em;;
        }
        .mat-form-field-wrapper {
            padding-bottom: 0;
        }
        .mat-form-field-underline {
            display: none;
        }
        .mat-select-arrow-wrapper{position: relative;bottom: -5px;transform: translateY(-50%);}
        .mat-form-field-label-wrapper label {
            font-size: 20px !important;
            top: 30px !important;
            font-weight: 600;color:#262626;
        }
        .has-search{
            border-radius: 6px;
            padding: 2px;
        }
    }
    .filter .datePicker .mat-form-field-label-wrapper label {
        top: 20px !important;
    }
    .filter .datePicker .selected .mat-form-field-label-wrapper label {
        top: 30px !important;
    }
    .filter .datePicker .mat-form-field-suffix {
        position: relative;
        bottom: 5px;
    }
}
.upsate-stall-status-dialog {
    width: 630px;
}
.updateStallStatus{
    .mat-form-field-infix {
        border: 1px solid #cccc;
        border-radius: 6px;
        padding: 10px;
    }
    .mat-form-field-underline {
        display: none;
    }
    .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        transform: translateY(-0.6em) scale(.75) perspective(100px) translateZ(.001px);
        background: #fff;
        width: auto;
        color: #008940;
    }
    .mat-form-field-label{ margin-left: 10px;}
    textarea {
        height: 75px;
    }
}
// pagination css 
.customPagi{
    padding-top:20px;
    padding-bottom:20px;
    .pagipadd{margin-bottom: 0;margin-top: 7px;}
   .memberCount{
     text-align: left;
     padding:5px 20px;
     color: #666;
   }
   .pagination{
     .active{
         background: #008940;
         padding: 5px 13px !important;
         border-radius: 4px;
         color: #fff;
        border: 1px solid #008940;
     }
     li{
       height: 37px;
     }
     .lastArrow{
         padding: 5px 13px !important;
         border-radius: 4px;
         color: #666;
         border: 1px solid #ccc;
         height: 37px;
       background: #fff;
       }
     .page-item{
           margin: 0 5px;
       a{
           color: #666 !important;
           border: 1px solid #ccc;
          border-radius: 4px;
         background: #fff;
         &:hover{
           border: 1px solid #ccc;
           border-radius: 4px;
           background: #f9f9f9;
         }
         &:focus{
           box-shadow:none;
         }
         i{line-height: 1.25}
       }
     }
   }
}
.update-stall-status-dialog {
    max-height: 600px;
    width: 660px;
    color: #008940;
    font-weight: 500;
}
.stallStatusMsgPopup{
    text-align: center;
    max-width: 400px;
    width: 400px;
    color:#008940;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    .close{
        position: absolute;
        right: 10px;
        top: -16px;
    }
    .mat-icon {
        background: #008940;
        padding: 10px;
        height: 55px;
        width: 55px;
        color: #fff;
        font-size: 32px;
        border-radius: 50%;
        margin-bottom: 20px;
        .material-icons{  font-size: 32px;}
    }
    h4{font-weight: 600;}
}