/* You can add global styles to this file, and also import other style files */
@import url(~@angular/material/prebuilt-themes/deeppurple-amber.css);
.company-profile {
  font-size: 15px; }
  .company-profile h5 {
    color: #268240;
    font-size: 15px !important;
    padding-bottom: 0; }
  .company-profile p {
    margin-bottom: 10px;
    font-size: 15px; }
  .company-profile .grayBtn {
    background: inherit;
    box-shadow: inherit !important;
    margin-left: 0px;
    min-width: inherit;
    margin-right: 5px;
    padding: 0 10px; }
    .company-profile .grayBtn i {
      font-size: 32px;
      color: #959595 !important;
      vertical-align: top; }
  .company-profile .greenBtn {
    background: #008940;
    border-radius: 5px !important;
    color: #fff !important;
    padding: 4px 35px !important;
    box-shadow: inherit !important;
    font-size: 18px;
    margin-left: 15px; }
  .company-profile .occurBtn {
    background: #ebc23c;
    border-radius: 5px !important;
    color: #fff !important;
    padding: 4px 35px !important;
    box-shadow: inherit !important;
    font-size: 18px;
    margin-left: 15px; }
  .company-profile .rejectStall {
    border: 1px solid red; }
  .company-profile .redBtn {
    background: #E3E3E3;
    border-radius: 5px !important;
    color: #E51937 !important;
    padding: 4px 35px !important;
    box-shadow: inherit !important;
    font-size: 18px;
    margin-left: 15px; }
  .company-profile .headerInfo .headerLeft {
    padding-top: 8px; }
    .company-profile .headerInfo .headerLeft .red-txt {
      color: red; }
    .company-profile .headerInfo .headerLeft .yellow-txt {
      color: #dba21c; }
    .company-profile .headerInfo .headerLeft .green-txt {
      color: #008940; }
    .company-profile .headerInfo .headerLeft .grey-txt {
      color: #BFBFBF; }
    .company-profile .headerInfo .headerLeft .stall-status {
      display: inline-block;
      font-size: 16px;
      vertical-align: middle;
      margin-top: -3px; }
      .company-profile .headerInfo .headerLeft .stall-status .red-dot {
        background-color: red;
        color: red;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        box-shadow: 0 0 6px #999;
        vertical-align: top; }
      .company-profile .headerInfo .headerLeft .stall-status .yellow-dot {
        background-color: #FFDA83;
        color: #FFDA83;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        box-shadow: 0 0 6px #999;
        vertical-align: top; }
      .company-profile .headerInfo .headerLeft .stall-status .green-dot {
        display: inline-block;
        background-color: #44b649;
        color: #44b649;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        box-shadow: 0 0 6px #999;
        vertical-align: top; }
      .company-profile .headerInfo .headerLeft .stall-status .grey-dot {
        background-color: #BFBFBF;
        color: #BFBFBF;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        box-shadow: 0 0 6px #999;
        vertical-align: top; }
  .company-profile .company-info .contactPose .mat-list {
    padding: 0; }
    .company-profile .company-info .contactPose .mat-list .mat-list-item {
      height: 35px; }
      .company-profile .company-info .contactPose .mat-list .mat-list-item .mat-list-item-content {
        padding: 0; }
        .company-profile .company-info .contactPose .mat-list .mat-list-item .mat-list-item-content .mat-icon {
          line-height: 0.5; }
          .company-profile .company-info .contactPose .mat-list .mat-list-item .mat-list-item-content .mat-icon i {
            font-size: 24px; }
        .company-profile .company-info .contactPose .mat-list .mat-list-item .mat-list-item-content .contact-pose-text {
          font-size: 15px; }
        .company-profile .company-info .contactPose .mat-list .mat-list-item .mat-list-item-content .contact-pose-text-red {
          font-size: 15px;
          font-family: 'Roboto', sans-serif !important; }
  .company-profile .company-info .stall-booked .mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .company-profile .company-info .stall-booked .mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus, .company-profile .company-info .stall-booked .mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .company-profile .company-info .stall-booked .mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
    background-color: inherit !important; }
  .company-profile .company-info .stall-booked .mat-tab-group.mat-primary .mat-ink-bar, .company-profile .company-info .stall-booked .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #268240 !important; }
  .company-profile .company-info .stall-booked .mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .company-profile .company-info .stall-booked .mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus, .company-profile .company-info .stall-booked .mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .company-profile .company-info .stall-booked .mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
    background-color: inherit !important; }
  .company-profile .company-info .stall-booked .mat-tab-label-content {
    font-weight: 600;
    font-size: 15px;
    font-family: 'Roboto', sans-serif !important; }
  .company-profile .company-info .stall-booked h5 {
    color: #268240;
    font-size: 18px;
    padding-bottom: 10px; }
  .company-profile .company-info .stall-booked hr {
    margin-top: 10px; }
  .company-profile .company-info .stall-booked .mat-list {
    padding: 0; }
    .company-profile .company-info .stall-booked .mat-list .mat-list-item {
      height: 32px; }
      .company-profile .company-info .stall-booked .mat-list .mat-list-item .mat-list-item-content {
        padding: 0; }
        .company-profile .company-info .stall-booked .mat-list .mat-list-item .mat-list-item-content .mat-list-text {
          padding-left: 6px; }
          .company-profile .company-info .stall-booked .mat-list .mat-list-item .mat-list-item-content .mat-list-text h4 {
            font-size: 15px;
            font-family: 'Roboto', sans-serif !important;
            word-break: break-all;
            white-space: normal; }
          .company-profile .company-info .stall-booked .mat-list .mat-list-item .mat-list-item-content .mat-list-text .large-font {
            font-size: 19px; }
        .company-profile .company-info .stall-booked .mat-list .mat-list-item .mat-list-item-content .mat-icon {
          padding-left: 0; }
          .company-profile .company-info .stall-booked .mat-list .mat-list-item .mat-list-item-content .mat-icon i {
            color: #999;
            font-size: 20px; }
  .company-profile .company-info h5 {
    font-size: 14px !important;
    margin-top: 6px; }
  .company-profile .company-info h3 {
    margin-top: 0px;
    word-wrap: break-word; }
  .company-profile .company-info .add {
    margin-bottom: 3px; }
  .company-profile .company-info .profileImg {
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 17px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 17px rgba(0, 0, 0, 0.6);
    background-color: #fff;
    margin: 0px auto 0;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    height: 100px;
    width: 100px; }
    .company-profile .company-info .profileImg .company-logo {
      position: relative;
      height: auto;
      width: auto;
      max-width: 100%;
      max-height: 100%;
      top: 50%;
      transform: translateY(-50%); }
  .company-profile .commonSrc .extraTable {
    margin-bottom: 0px; }
    .company-profile .commonSrc .extraTable .imgRow th {
      padding-top: 25px;
      padding-bottom: 5px; }
    .company-profile .commonSrc .extraTable .extraEdit .mat-form-field-infix {
      padding: 0px !important; }
    .company-profile .commonSrc .extraTable .extraEdit td {
      font-size: 17px; }
    .company-profile .commonSrc .extraTable .tableTitle {
      color: #008940;
      font-size: 19px;
      font-weight: 600;
      text-align: left;
      padding-left: 8px; }
    .company-profile .commonSrc .extraTable th {
      text-align: center;
      font-size: 15px;
      border-top: none !important;
      border-bottom: none !important;
      padding: 25px 5px;
      font-weight: 500;
      vertical-align: middle; }
    .company-profile .commonSrc .extraTable td {
      text-align: center;
      padding: 14px 8px;
      font-size: 19px; }
    .company-profile .commonSrc .extraTable .extraRow {
      background: #E2FFEE; }
    .company-profile .commonSrc .extraTable .total {
      background: #008940;
      color: #fff; }
      .company-profile .commonSrc .extraTable .total .tableTitle {
        color: #fff; }
  .company-profile .commonSrc .card-height {
    height: 487px; }
  .company-profile .commonSrc .mat-card {
    padding: 0; }
    .company-profile .commonSrc .mat-card .content {
      width: 80%; }
    .company-profile .commonSrc .mat-card .serviceBlock {
      position: relative;
      height: 350px; }
    .company-profile .commonSrc .mat-card .hotel-block {
      padding: 5rem; }
      @media (min-width: 1300px) and (max-width: 1366px) {
        .company-profile .commonSrc .mat-card .hotel-block {
          padding: 4rem 4rem 4rem 3rem; } }
      @media (min-width: 1199px) and (max-width: 1299px) {
        .company-profile .commonSrc .mat-card .hotel-block {
          padding: 4rem 4rem 4rem 3rem; } }
    .company-profile .commonSrc .mat-card .hotel-table {
      border: 1px solid #e8e283;
      padding: 15px 10px 15px 30px;
      margin-left: 15px;
      font-style: italic;
      font-size: 13px;
      background: #fffeef; }
      .company-profile .commonSrc .mat-card .hotel-table .disclaimer {
        vertical-align: top; }
    .company-profile .commonSrc .mat-card .bottom-note {
      font-style: italic;
      font-size: 13px;
      background: #fffeef;
      padding: 15px 10px 15px 30px;
      border: 1px solid #e8e283;
      margin-bottom: 0;
      position: absolute;
      bottom: 0; }
    .company-profile .commonSrc .mat-card h2 {
      color: #666; }
    .company-profile .commonSrc .mat-card p {
      font-size: 19px; }
    .company-profile .commonSrc .mat-card h5 {
      color: #666;
      font-size: 19px;
      line-height: 30px; }
    .company-profile .commonSrc .mat-card .bookButton {
      background: #AFDB69;
      color: #fff;
      font-size: 23px;
      text-transform: uppercase;
      border-radius: 15px;
      padding: 14px 40px;
      box-shadow: 0 0 10px #999;
      text-decoration: none; }
      .company-profile .commonSrc .mat-card .bookButton:focus {
        outline: none; }
    .company-profile .commonSrc .mat-card .bookLink {
      color: #999;
      font-size: 20px;
      text-decoration: underline;
      display: block;
      padding-top: 2em;
      text-align: center; }
  .company-profile .stand-detail .fasciaName {
    color: #268240; }
  .company-profile .stand-detail .fasciaTitle {
    color: #666 !important;
    margin-top: 10px;
    padding-bottom: 0px; }
  .company-profile .stand-detail h5 {
    color: #268240;
    margin-top: 3px;
    font-size: 18px;
    padding-bottom: 10px; }
  .company-profile .stand-detail hr {
    margin-top: 0px;
    margin-bottom: 0px; }
  .company-profile .stand-detail h3 {
    margin-top: 0px; }
  .company-profile .stand-detail h4 {
    font-size: 18px; }
  .company-profile .stand-detail td {
    padding: 3px; }
  .company-profile .stand-detail .stall-img {
    width: 140px; }
  .company-profile .stand-detail .priortcustom {
    padding-left: 3px;
    margin-bottom: 0; }
  .company-profile .org-detail .othercat {
    background: #eee;
    padding: 12px;
    margin-top: 15px;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 600; }
    .company-profile .org-detail .othercat span {
      font-weight: 100; }
  .company-profile .org-detail h5 {
    color: #268240;
    margin-top: 3px;
    font-size: 18px;
    padding-bottom: 10px; }
  .company-profile .org-detail hr {
    margin-top: 0px;
    margin-bottom: 0px; }
  .company-profile .org-detail .dsc-tit {
    white-space: nowrap;
    vertical-align: top;
    padding-top: 2rem; }
  .company-profile .org-detail .productOuter {
    display: flex;
    align-items: center;
    height: 100%;
    border: 1px solid #ccc; }
    .company-profile .org-detail .productOuter .prod-img {
      text-align: center;
      margin: 0 auto;
      max-height: 145px; }
  .company-profile .org-detail .stall-img {
    width: 120px;
    height: 85px; }

.quota h5 {
  color: #268240;
  font-size: 18px;
  padding-bottom: 10px; }
.quota hr {
  margin-top: 10px; }
.quota .badg {
  color: #F2CD75 !important;
  background: #fff !important;
  line-height: 25px; }
.quota .badgreen {
  color: #008940 !important;
  background: #fff !important;
  line-height: 25px; }
.quota .green {
  color: #7DE4AF; }
.quota .stand {
  color: #000;
  background: #F2F3F6; }
.quota .white {
  color: #999;
  background: #F5F6FA; }
  .quota .white i {
    vertical-align: middle;
    margin-right: 4px; }
  .quota .white img {
    width: 18px;
    margin-right: 0.5em;
    text-align: center;
    margin-left: 2px; }
.quota .ext {
  color: #6716B7;
  background: #EDEBFA; }
.quota .tot {
  color: #3982AF;
  background: #F4F8FF; }
.quota .use {
  color: #38AB6D;
  background: #EFFFF4; }
.quota .bal {
  color: #980202;
  background: #F9F2F5; }
.quota .fullwhite {
  background: #fff; }
.quota .table > tbody > tr > td, .quota .table > tbody > tr > th, .quota .table > tfoot > tr > td, .quota .table > tfoot > tr > th, .quota .table > thead > tr > td, .quota .table > thead > tr > th {
  border: 0;
  padding: 8px;
  font-size: 14px;
  line-height: 1.42857143; }
.quota .table > thead > tr > th {
  border: 0; }

.badgesQuota .table > tbody > tr > th, .badgesQuota .table > tfoot > tr > th, .badgesQuota .table > thead > tr > th {
  border: 0;
  padding: 18px 8px;
  font-size: 16px;
  line-height: 1.42857143; }
.badgesQuota .table > tbody > tr > td, .badgesQuota .table > tfoot > tr > td, .badgesQuota .table > thead > tr > td {
  border: 0;
  padding: 12px 8px;
  font-size: 18px;
  line-height: 1.42857143; }

.wordWrap {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all; }

    /* CATEGORY INTREST PAGE    
**********************************************************/
.profileIntrest .intrestList {
  background: #eee;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  height: 56px; }
  .profileIntrest .intrestList:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
  .profileIntrest .intrestList .mat-list-item-content {
    height: 66px !important;
    padding: 0 !important;
    display: block !important; }
  .profileIntrest .intrestList img {
    border-radius: 6px 0 0 6px;
    min-width: auto !important; }
  .profileIntrest .intrestList h5 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    font-size: 14px !important;
    max-width: 54%;
    white-space: normal;
    color: #000;
    padding-bottom: 0; }
    @media (max-width: 767px) {
      .profileIntrest .intrestList h5 {
        max-width: 45%; } }
  .profileIntrest .intrestList .checkInterest {
    float: left;
    vertical-align: middle;
    width: 100%; }
    .profileIntrest .intrestList .checkInterest .mat-checkbox {
      width: 100%;
      float: left;
      text-align: left; }
      .profileIntrest .intrestList .checkInterest .mat-checkbox .mat-checkbox-layout {
        display: block !important;
        margin-bottom: 0 !important; }
        .profileIntrest .intrestList .checkInterest .mat-checkbox .mat-checkbox-layout .mat-checkbox-inner-container {
          margin: 22px 18px 0 0;
          float: right; }
  .profileIntrest .intrestList h6 {
    float: right;
    vertical-align: middle;
    margin: 0;
    padding: 15px 15px 15px 5px;
    cursor: pointer; }

.exhibitors .exhisearch {
  color: rgba(0, 0, 0, 0.42); }
.exhibitors .ExhiProfile {
  box-shadow: 0 0 17px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 17px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 17px rgba(0, 0, 0, 0.6);
  background-color: #fff;
  margin: 0px auto 0;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  height: 85px;
  width: 85px; }
  .exhibitors .ExhiProfile img {
    position: relative;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    transform: translateY(-50%); }
.exhibitors .mat-card {
  position: relative;
  padding: 24px 15px 15px; }
  .exhibitors .mat-card .edit {
    position: absolute;
    right: 0px;
    top: 3px;
    color: #a6a6a6;
    z-index: 1000; }
.exhibitors h3 {
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  font-size: 20px; }
.exhibitors a {
  text-decoration: unset !important; }
.exhibitors p {
  font-size: 15px;
  color: #a6a6a6;
  margin-bottom: 8px; }
  .exhibitors p .wordWidth {
    white-space: nowrap;
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block; }
  .exhibitors p .material-icons {
    font-size: 20px;
    position: relative;
    right: 3px; }
  .exhibitors p span {
    vertical-align: top; }
.exhibitors .exhibitor-pagi .mat-list {
  padding-top: 0px; }
  .exhibitors .exhibitor-pagi .mat-list .mat-list-item {
    display: inline-block !important;
    height: 40px; }
    .exhibitors .exhibitor-pagi .mat-list .mat-list-item .mat-list-item-content {
      display: unset !important;
      padding: 0 8px; }
      .exhibitors .exhibitor-pagi .mat-list .mat-list-item .mat-list-item-content .mat-button {
        min-width: auto !important;
        padding: 0px !important; }

.furniture-list .table-responsive .main-table {
  table-layout: fixed; }
.furniture-list .table-responsive .main_first_td {
  padding-right: 0px;
  border: unset;
  padding-top: 0px; }
  .furniture-list .table-responsive .main_first_td .first_tr {
    height: 70px;
    background: #F5F6FB; }
    .furniture-list .table-responsive .main_first_td .first_tr th {
      vertical-align: middle; }
  .furniture-list .table-responsive .main_first_td .compName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
.furniture-list .table-responsive .main_second_td {
  width: 260px;
  overflow: auto;
  padding-left: 0px !important;
  border: unset;
  padding-top: 0px; }
  .furniture-list .table-responsive .main_second_td .head_main {
    height: 35px; }
    .furniture-list .table-responsive .main_second_td .head_main th {
      padding: 6px 4px !important; }
    .furniture-list .table-responsive .main_second_td .head_main .item {
      background: #EDEBF8;
      text-align: center;
      border-right: 2px solid #fff; }
  .furniture-list .table-responsive .main_second_td .std {
    background: #F4F8FF;
    padding: 13px 4px;
    border-right: 2px solid #fff;
    text-align: center; }
  .furniture-list .table-responsive .main_second_td .ext {
    background: #EDEBF8; }
  .furniture-list .table-responsive .main_second_td .tot {
    background: #F4F8FF;
    border-right: 2px solid #fff; }

.mrgn-none {
  margin: 0; }

.mrgn-auto {
  margin: 0 auto; }

.mrgn-tb-sm {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.mrgn-all-xs {
  margin: 0.5rem !important; }

.mrgn-all-md {
  margin: 1rem; }

.mrgn-l-xs {
  margin-left: 0.5rem; }

.mrgn-l-sm {
  margin-left: 0.675rem; }

.mrgn-l-md {
  margin-left: 1rem; }

.mrgn-l-lg {
  margin-left: 2rem; }

.mrgn-l-r-sm {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.mrgn-b-none {
  margin-bottom: 0 !important; }

.mrgn-b-xs {
  margin-bottom: 0.5rem; }

.mrgn-b-sm {
  margin-bottom: 0.675rem; }

.mrgn-b-md {
  margin-bottom: 1rem !important; }

.mrgn-b-lg {
  margin-bottom: 2rem !important; }

.mrgn-b-xl {
  margin-bottom: 3rem !important; }

.mrgn-t-xl {
  margin-top: 3rem !important; }

.mrgn-t-none {
  margin-top: 0; }

.mrgn-t-xs {
  margin-top: 0.5rem; }

.mrgn-t-sm {
  margin-top: 0.675rem; }

.mrgn-t-md {
  margin-top: 1rem !important; }

.mrgn-t-lg {
  margin-top: 2rem !important; }

.mrgn-r-none {
  margin-right: 0; }

.mrgn-r-xs {
  margin-right: 0.5rem; }

.mrgn-r-sm {
  margin-right: 0.675rem; }

.mrgn-r-md {
  margin-right: 1rem; }

.mrgn-r-lg {
  margin-right: 2rem; }

.padding-none {
  padding: 0; }

.pad-t-none {
  padding-top: 0 !important; }

.pad-b-none {
  padding-bottom: 0 !important; }

.pad-l-none {
  padding-left: 0 !important; }

.pad-r-none {
  padding-right: 0 !important; }

.pad-t-sm {
  padding-top: 0.5rem; }

.pad-t-md {
  padding-top: 1rem; }

.pad-t-lg {
  padding-top: 2rem; }

.pad-t-xl {
  padding-top: 3rem; }

.pad-b-sm {
  padding-bottom: 0.5rem; }

.pad-b-md {
  padding-bottom: 1rem !important; }

.pad-b-lg {
  padding-bottom: 2rem; }

.pad-b-xl {
  padding-bottom: 3rem; }

.pad-l-none {
  margin-top: 0; }

.pad-l-sm {
  padding-left: 0.5rem; }

.pad-l-md {
  padding-left: 1rem !important; }

.pad-l-lg {
  padding-left: 2rem; }

.pad-l-xl {
  padding-left: 3rem; }

.pad-r-none {
  margin-top: 0; }

.pad-r-sm {
  padding-right: 0.5rem; }

.pad-r-md {
  padding-right: 1rem !important; }

.pad-r-lg {
  padding-right: 2rem; }

.pad-r-xl {
  padding-right: 3rem; }

.pad-all-sm {
  padding: 0.5rem; }

.pad-all-md {
  padding: 1rem; }

.pad-all-md-lg {
  padding: 1.5rem; }

.pad-t-l-r-md {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem; }

.pad-wrap {
  padding-left: 1rem;
  padding-right: 1rem; }

.pad-tb-sm {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.pad-t-l-r-b-md {
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.5rem; }

body .mat-pad-none {
  padding: 0 !important; }

.mat-pad-none {
  padding: 0 !important; }

.thumb-gap {
  margin: 0.2rem; }

[dir="rtl"] .mrgn-l-xs {
  margin-right: 0.5rem; }
[dir="rtl"] .mrgn-l-sm {
  margin-right: 0.675rem; }
[dir="rtl"] .mrgn-l-md {
  margin-right: 1rem; }
[dir="rtl"] .mrgn-l-lg {
  margin-right: 2rem; }

.mrgn-t-lx {
  margin-top: 3rem !important; }

.mrgn-b-lx {
  margin-bottom: 3rem !important; }

.mrgn-l-lx {
  margin-left: 3rem !important; }

.mrgn-r-lx {
  margin-right: 3rem !important; }

.mrgn-minus {
  margin-top: -10px !important; }

.contSpace {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  padding-top: 30px;
  padding-bottom: 30px; }
  @media (min-width: 1199px) and (max-width: 1299px) {
    .contSpace {
      padding-left: 1.5rem !important;
      padding-right: 1.5rem !important; } }
  .contSpace h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 0; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.float-none {
  float: none !important; }

.fullwidth {
  width: 100%; }

img {
  max-width: 100%;
  height: auto; }

.displayNone {
  display: none !important; }

.text-justify {
  text-align: justify !important; }

.text-nowrap {
  white-space: nowrap !important; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-lowercase {
  text-transform: lowercase !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-capitalize {
  text-transform: capitalize !important; }

.gene-text-xs {
  font-size: 50% !important; }

.gene-text-sm {
  font-size: 70% !important; }

.gene-text-md {
  font-size: 80% !important; }

.gene-text-lg {
  font-size: 110% !important; }

.gene-text-xl {
  font-size: 120% !important; }

.font-normal {
  font-weight: normal !important; }

.font-bold-eight {
  font-weight: 800 !important; }

.font-bold-six {
  font-weight: 600 !important; }

.font-bold-five {
  font-weight: 500 !important; }

.font-bold-four {
  font-weight: 400 !important; }

.font-bold-three {
  font-weight: 300 !important; }

.font-bold {
  font-weight: 700 !important; }

.text-inverse {
  color: #fff; }

.mat-white {
  background: #fff; }

.vertical-top {
  vertical-align: top; }

.vertical-bottom {
  vertical-align: bottom; }

.vertical-middel {
  vertical-align: middle; }

body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 15px;
  color: #333 !important; }

/* start sidenav */
.kexhibitor-container {
  background: #F0F0F0; }
  .kexhibitor-container .kexhibitor-sidenav {
    background: #008940;
    width: 250px; }
    .kexhibitor-container .kexhibitor-sidenav .kisanLogo {
      background: #007A39; }
    .kexhibitor-container .kexhibitor-sidenav .sideMenu {
      padding-top: 0 !important; }
      .kexhibitor-container .kexhibitor-sidenav .sideMenu .mat-divider {
        margin: 10px 0 !important; }
      .kexhibitor-container .kexhibitor-sidenav .sideMenu mat-list-item {
        height: auto !important; }
        .kexhibitor-container .kexhibitor-sidenav .sideMenu mat-list-item:hover {
          background: inherit !important; }
        .kexhibitor-container .kexhibitor-sidenav .sideMenu mat-list-item .mat-list-item-content {
          height: auto !important;
          padding: 0 !important; }
          .kexhibitor-container .kexhibitor-sidenav .sideMenu mat-list-item .mat-list-item-content:hover {
            background: inherit !important; }
          .kexhibitor-container .kexhibitor-sidenav .sideMenu mat-list-item .mat-list-item-content a {
            color: #fff !important;
            display: block;
            width: 100%;
            padding: 12px 16px !important;
            border-left: 4px solid #008940; }
            .kexhibitor-container .kexhibitor-sidenav .sideMenu mat-list-item .mat-list-item-content a:hover {
              color: #f1f1f1;
              background: #007A39;
              border-left: 4px solid #007A39; }
            .kexhibitor-container .kexhibitor-sidenav .sideMenu mat-list-item .mat-list-item-content a i {
              font-size: 24px;
              margin-right: 10px;
              width: 20px;
              vertical-align: middle;
              color: #A2D0B7; }
            .kexhibitor-container .kexhibitor-sidenav .sideMenu mat-list-item .mat-list-item-content a img {
              vertical-align: top; }
            .kexhibitor-container .kexhibitor-sidenav .sideMenu mat-list-item .mat-list-item-content a .iconTxt {
              font-size: 18px;
              color: #E4F2EB; }
          .kexhibitor-container .kexhibitor-sidenav .sideMenu mat-list-item .mat-list-item-content .active {
            border-left: 4px solid #D8D237;
            background: #007A39; }
  .kexhibitor-container .mat-drawer-content header .mat-toolbar {
    display: block !important;
    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    padding-bottom: 10px; }
    .kexhibitor-container .mat-drawer-content header .mat-toolbar .rightnav {
      display: inline-flex;
      float: right;
      padding: 0; }
      .kexhibitor-container .mat-drawer-content header .mat-toolbar .rightnav .lastLogBtn .mat-list-item-content {
        border-left: 1px solid #ddd;
        padding-left: 0; }
      .kexhibitor-container .mat-drawer-content header .mat-toolbar .rightnav .mat-list-item-content i {
        color: #BCBCCB;
        font-size: 20px; }
      .kexhibitor-container .mat-drawer-content header .mat-toolbar .rightnav .mat-list-item-content button {
        border-radius: 0; }
        .kexhibitor-container .mat-drawer-content header .mat-toolbar .rightnav .mat-list-item-content button .mat-button-focus-overlay {
          background: inherit !important; }

/* end sidenav */
.contSpace .mat-card-header {
  display: block; }
  .contSpace .mat-card-header .mat-card-header-text {
    display: block;
    width: 100%;
    margin: 0; }
    .contSpace .mat-card-header .mat-card-header-text h5 {
      font-size: 15px;
      padding-bottom: 5px; }
    .contSpace .mat-card-header .mat-card-header-text .onlyGreenpassTitle h5 {
      display: inline-block;
      width: 100%; }
      .contSpace .mat-card-header .mat-card-header-text .onlyGreenpassTitle h5 .brAdd {
        width: 80%;
        display: inline-block; }
.contSpace h5 {
  color: #268240;
  margin: 0; }
  .contSpace h5 .rightTxt {
    float: right;
    color: #666; }
.contSpace hr {
  margin-top: 10px;
  margin-bottom: 10px; }
.contSpace .redTxt {
  color: #C00606; }
.contSpace .redTxtB {
  font-weight: 600 !important;
  color: #C00606; }
.contSpace .mat-card-footer {
  margin: 0; }
  .contSpace .mat-card-footer h5 {
    font-size: 15px;
    color: #333; }
    .contSpace .mat-card-footer h5 .greenTxt {
      color: #008940; }
    .contSpace .mat-card-footer h5 .rightTxt {
      float: right; }
      .contSpace .mat-card-footer h5 .rightTxt i {
        color: #BCBCCB; }
  .contSpace .mat-card-footer p {
    font-size: 15px;
    margin-bottom: 5px; }

/* dropdown menu */
.whiteMenu {
  margin-top: 48px;
  border-radius: 4px;
  min-width: 170px !important; }
  .whiteMenu .mat-menu-content .mat-menu-item {
    height: auto !important;
    line-height: normal !important;
    padding: 6px 16px;
    outline: none;
    color: #333;
    font-size: 15px !important;
    font-weight: 500; }
    .whiteMenu .mat-menu-content .mat-menu-item i {
      vertical-align: middle;
      font-size: 20px; }

/* common css */
.topSelectBox .mat-form-field-label {
  color: #008940 !important;
  font-size: 16px !important; }

.mat-select-panel {
  margin-top: 35px; }
  .mat-select-panel .mat-option-text {
    color: #333 !important; }

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #333 !important; }

.mat-card {
  border-radius: 0px !important;
  font-family: 'Roboto', sans-serif !important; }

.mat-form-field {
  width: 100%; }
  .mat-form-field .mat-hint {
    font-size: 15px; }

.mat-form-field-label-wrapper {
  top: -1.30em !important; }
  .mat-form-field-label-wrapper label {
    font-size: 16px;
    font-family: 'Roboto', sans-serif !important; }

button:focus {
  outline: none !important; }

.pagination {
  margin: 0 !important; }

.pagination li {
  display: inline-block !important;
  margin: 0 2px; }

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background: #008940 !important;
  color: #fff !important; }

.pagination > li > a {
  color: #999 !important;
  height: 36px;
  font-size: 14px;
  border-radius: 4px; }

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
  color: #999 !important; }

/* start dashboard page */
.overviewBlock .allBlock .mat-card {
  padding: 10px;
  display: inline-block;
  width: 100%;
  height: 100%; }
  .overviewBlock .allBlock .mat-card .mat-card-header {
    display: inline-block;
    width: 100%;
    margin-bottom: 0.675rem;
    margin-top: 0.675rem; }
    .overviewBlock .allBlock .mat-card .mat-card-header .mat-list {
      padding: 0;
      float: left; }
      .overviewBlock .allBlock .mat-card .mat-card-header .mat-list .mat-list-item {
        height: auto; }
        .overviewBlock .allBlock .mat-card .mat-card-header .mat-list .mat-list-item .mat-list-item-content .mat-icon {
          border: 2px solid;
          border-radius: 50%;
          padding: 6px;
          vertical-align: top;
          width: 35px;
          height: 35px; }
          .overviewBlock .allBlock .mat-card .mat-card-header .mat-list .mat-list-item .mat-list-item-content .mat-icon i {
            line-height: 35px; }
          .overviewBlock .allBlock .mat-card .mat-card-header .mat-list .mat-list-item .mat-list-item-content .mat-icon span {
            font-family: 'Roboto', sans-serif !important;
            font-size: 17px; }
          @media (min-width: 1199px) and (max-width: 1299px) {
            .overviewBlock .allBlock .mat-card .mat-card-header .mat-list .mat-list-item .mat-list-item-content .mat-icon {
              width: 30px;
              height: 30px; } }
        .overviewBlock .allBlock .mat-card .mat-card-header .mat-list .mat-list-item .mat-list-item-content h4 {
          font-size: 25px;
          font-weight: 600; }
        @media (min-width: 1199px) and (max-width: 1299px) {
          .overviewBlock .allBlock .mat-card .mat-card-header .mat-list .mat-list-item .mat-list-item-content {
            padding: 0 6px; } }
      .overviewBlock .allBlock .mat-card .mat-card-header .mat-list .purpalHead .mat-list-item-content .mat-icon {
        color: #A3A0FB; }
      .overviewBlock .allBlock .mat-card .mat-card-header .mat-list .purpalHead .mat-list-item-content h4 {
        color: #A3A0FB; }
      @media (min-width: 1199px) and (max-width: 1399px) {
        .overviewBlock .allBlock .mat-card .mat-card-header .mat-list .purpalHead .mat-list-item-content p {
          font-size: 13px !important; } }
      .overviewBlock .allBlock .mat-card .mat-card-header .mat-list .blueHead .mat-list-item-content .mat-icon {
        color: #56D9FE; }
      .overviewBlock .allBlock .mat-card .mat-card-header .mat-list .blueHead .mat-list-item-content h4 {
        color: #56D9FE; }
      @media (min-width: 1199px) and (max-width: 1299px) {
        .overviewBlock .allBlock .mat-card .mat-card-header .mat-list .blueHead .mat-list-item-content p {
          font-size: 13px !important; } }
      .overviewBlock .allBlock .mat-card .mat-card-header .mat-list .greenHead .mat-list-item-content .mat-icon {
        color: #4AD991; }
      .overviewBlock .allBlock .mat-card .mat-card-header .mat-list .greenHead .mat-list-item-content h4 {
        color: #4AD991; }
      @media (min-width: 1199px) and (max-width: 1299px) {
        .overviewBlock .allBlock .mat-card .mat-card-header .mat-list .greenHead .mat-list-item-content p {
          font-size: 13px !important; } }
    .overviewBlock .allBlock .mat-card .mat-card-header .rightsideLink {
      float: right; }
      .overviewBlock .allBlock .mat-card .mat-card-header .rightsideLink button {
        color: #B9C1C7; }
  .overviewBlock .allBlock .mat-card .blockList .mat-list-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    height: auto; }
    .overviewBlock .allBlock .mat-card .blockList .mat-list-item:last-child {
      border-bottom: 0; }
    .overviewBlock .allBlock .mat-card .blockList .mat-list-item h4 {
      color: #000; }
    .overviewBlock .allBlock .mat-card .blockList .mat-list-item .lightGreen {
      color: #4AD991; }
    .overviewBlock .allBlock .mat-card .blockList .mat-list-item .lightYellow {
      color: #FFC06A; }
    .overviewBlock .allBlock .mat-card .blockList .mat-list-item .grey {
      color: #BFBFBF;
      white-space: nowrap; }
    .overviewBlock .allBlock .mat-card .blockList .mat-list-item .overviewBlock {
      color: #BFBFBF; }
    .overviewBlock .allBlock .mat-card .blockList .mat-list-item .lightRed {
      color: #FF7A8C; }
    .overviewBlock .allBlock .mat-card .blockList .mat-list-item h5 {
      font-size: 15px; }
    .overviewBlock .allBlock .mat-card .blockList .mat-list-item .greenColor {
      background: #DAF7E8;
      border-radius: 50%;
      padding: 6px;
      vertical-align: top;
      width: 28px;
      height: 28px; }
      .overviewBlock .allBlock .mat-card .blockList .mat-list-item .greenColor i {
        line-height: 28px;
        color: #4AD991;
        font-size: 22px; }
    .overviewBlock .allBlock .mat-card .blockList .mat-list-item .yellowColor {
      background: #FFF4E5;
      border-radius: 50%;
      padding: 6px;
      vertical-align: top;
      width: 28px;
      height: 28px; }
      .overviewBlock .allBlock .mat-card .blockList .mat-list-item .yellowColor i {
        line-height: 28px;
        color: #FFC06A;
        font-size: 22px; }
    .overviewBlock .allBlock .mat-card .blockList .mat-list-item .greyColor {
      background: #EFEFEF;
      border-radius: 50%;
      padding: 6px;
      vertical-align: top;
      width: 28px;
      height: 28px; }
      .overviewBlock .allBlock .mat-card .blockList .mat-list-item .greyColor i {
        line-height: 28px;
        color: #BFBFBF;
        font-size: 22px; }
    .overviewBlock .allBlock .mat-card .blockList .mat-list-item .redColor {
      background: #FFE2E6;
      border-radius: 50%;
      padding: 6px;
      vertical-align: top;
      width: 28px;
      height: 28px; }
      .overviewBlock .allBlock .mat-card .blockList .mat-list-item .redColor i {
        line-height: 28px;
        color: #FF7A8C;
        font-size: 22px; }

/* end dashboard page */
/*start stall list*/
.list {
  border-radius: 0; }
  .list .mat-expansion-panel {
    box-shadow: unset !important;
    background: unset; }
    .list .mat-expansion-panel .mat-expansion-panel-header {
      background: #F0F0F0;
      position: absolute;
      top: 0;
      right: 16px;
      z-index: 9999;
      display: inline-block !important;
      flex-direction: inherit !important;
      height: 26px !important;
      padding: 0 !important; }
      .list .mat-expansion-panel .mat-expansion-panel-header:hover {
        background: #F0F0F0 !important; }
      .list .mat-expansion-panel .mat-expansion-panel-header .mat-expansion-panel-header-description {
        display: inline;
        padding-top: 6px;
        margin-right: 0; }
    .list .mat-expansion-panel .mat-expansion-panel-content {
      background: #FFFFE6; }
      .list .mat-expansion-panel .mat-expansion-panel-content .mat-expansion-panel-body {
        padding-top: 10px;
        padding-bottom: 10px; }
        .list .mat-expansion-panel .mat-expansion-panel-content .mat-expansion-panel-body h6 {
          color: #000;
          font-weight: 600; }
  .list .mat-form-field-label-wrapper label {
    font-size: 12px !important;
    font-family: 'Roboto', sans-serif !important;
    top: 25px !important; }
  .list .mat-list {
    padding-top: 0px; }
    .list .mat-list .mat-list-item {
      display: inline-block !important;
      height: 40px; }
      .list .mat-list .mat-list-item .mat-list-item-content {
        display: unset !important;
        padding: 0 8px; }
        .list .mat-list .mat-list-item .mat-list-item-content .mat-button {
          min-width: auto !important;
          padding: 0px !important; }
    .list .mat-list .page {
      position: relative;
      bottom: 5px; }
  .list .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #008940; }
  .list .table-responsive table {
    table-layout: fixed; }
    .list .table-responsive table .blue-grey.lighten-5 {
      background: #F5F6FA !important; }
    .list .table-responsive table th {
      font-weight: 600;
      color: #008940;
      padding: 12px 4px !important;
      font-size: 15px;
      position: relative; }
      .list .table-responsive table th .table-filter {
        position: absolute;
        right: 0; }
    .list .table-responsive table td {
      font-weight: 600;
      font-size: 15px;
      padding: 12px 4px; }
      .list .table-responsive table td a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.87); }
      .list .table-responsive table td .comp-name {
        width: 155px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
        .list .table-responsive table td .comp-name a {
          text-decoration: none;
          color: rgba(0, 0, 0, 0.87); }
      .list .table-responsive table td .red-dot {
        background-color: red;
        width: 20px;
        height: 20px;
        color: red;
        margin: 0 auto;
        border-radius: 50%;
        cursor: pointer; }
      .list .table-responsive table td .yellow-dot {
        background-color: #FFDA83;
        width: 20px;
        height: 20px;
        color: yellow;
        margin: 0 auto;
        border-radius: 50%;
        cursor: pointer; }
      .list .table-responsive table td .green-dot {
        background-color: #44b649;
        width: 20px;
        height: 20px;
        color: #44b649;
        margin: 0 auto;
        border-radius: 50%;
        cursor: pointer; }
    .list .table-responsive table .nowrap {
      white-space: nowrap; }
    .list .table-responsive table .textNormal {
      font-weight: normal; }
      .list .table-responsive table .textNormal .resend {
        background: unset;
        border: unset;
        cursor: pointer; }
    .list .table-responsive table .redIcon {
      color: #E83852; }
      .list .table-responsive table .redIcon i {
        font-size: 24px; }
    .list .table-responsive table .greenIcon {
      color: #2DCC51; }
      .list .table-responsive table .greenIcon i {
        font-size: 24px; }
    .list .table-responsive table .actionLink a {
      color: #999; }
  .list .refreshBtn {
    position: relative;
    width: 100%;
    z-index: 9999;
    right: 45px;
    top: -2px;
    cursor: pointer; }
    .list .refreshBtn button {
      position: absolute;
      right: 0;
      top: 7px;
      color: rgba(0, 0, 0, 0.54);
      background: transparent;
      border: none; }
  .list .downloadBtn {
    position: relative;
    width: 100%;
    z-index: 9999;
    right: 75px;
    cursor: pointer; }
    .list .downloadBtn button {
      position: absolute;
      right: 0;
      top: 7px;
      color: rgba(0, 0, 0, 0.54);
      background: transparent;
      border: none; }
  .list .searchCountBtn {
    position: relative;
    width: 100%;
    z-index: 9999;
    right: 180px;
    cursor: pointer; }
    .list .searchCountBtn p {
      position: absolute;
      right: 0;
      top: 7px;
      color: rgba(0, 0, 0, 0.54);
      background: transparent;
      border: none; }

/* common css */
#bgcolorGreen {
  background: #008940; }

#bgcolorGray {
  background: #F0F0F0; }

/* start error msg */
.errorMsgPopup {
  max-width: 400px; }
  .errorMsgPopup .mat-dialog-actions {
    position: relative; }
    .errorMsgPopup .mat-dialog-actions .closeBtn {
      position: absolute;
      color: #999;
      right: -17px;
      top: -16px;
      background: inherit;
      border: 0;
      cursor: pointer; }
      .errorMsgPopup .mat-dialog-actions .closeBtn:focus {
        outline: none !important; }
  .errorMsgPopup .mat-list {
    padding-top: 0; }
    .errorMsgPopup .mat-list .mat-list-item {
      height: auto !important; }
      .errorMsgPopup .mat-list .mat-list-item .mat-list-item-content {
        padding: 0;
        align-items: flex-start; }
        .errorMsgPopup .mat-list .mat-list-item .mat-list-item-content .mat-icon {
          background: #008940;
          color: #fff;
          width: 35px !important;
          height: 35px !important;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }
          .errorMsgPopup .mat-list .mat-list-item .mat-list-item-content .mat-icon i {
            vertical-align: middle; }
        .errorMsgPopup .mat-list .mat-list-item .mat-list-item-content h4 {
          font-size: 20px;
          color: #008940;
          white-space: normal; }
        .errorMsgPopup .mat-list .mat-list-item .mat-list-item-content p {
          white-space: normal;
          color: #999;
          font-size: 16px;
          margin-top: 10px; }

/* end error msg */
/* start account already exit popup */
.already_exists .mat-dialog-container {
  border-radius: 10px; }

.exhitsPopup {
  max-width: 350px;
  text-align: center; }
  .exhitsPopup .mat-dialog-actions {
    position: relative;
    padding: 0; }
  .exhitsPopup .table_main {
    padding: 7px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 3px;
    border-radius: 8px; }
  .exhitsPopup .another {
    color: #008940 !important;
    text-decoration: underline !important;
    background: transparent;
    border: unset;
    cursor: pointer; }

/* end account already exit popup */
/* start confirmation msg */
.confirmMsgPopup {
  max-width: 300px; }
  .confirmMsgPopup .mat-dialog-actions {
    position: relative;
    padding: 0; }
    .confirmMsgPopup .mat-dialog-actions .closeBtn {
      position: absolute;
      color: #999;
      right: -17px;
      top: -26px;
      background: inherit;
      border: 0;
      cursor: pointer; }
      .confirmMsgPopup .mat-dialog-actions .closeBtn:focus {
        outline: none !important; }
  .confirmMsgPopup .mat-dialog-content h4 {
    font-size: 23px;
    color: #666; }
  .confirmMsgPopup .mat-dialog-content p {
    white-space: normal;
    color: #999;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0; }
    .confirmMsgPopup .mat-dialog-content p span {
      color: #333; }
  .confirmMsgPopup .footer-btn .grayBtn {
    background: #666;
    color: #fff;
    font-size: 17px;
    float: left;
    box-shadow: inherit;
    padding: 8px 20px;
    top: 24px;
    border-radius: 0 !important;
    width: 50%; }
  .confirmMsgPopup .footer-btn .greennewBtn {
    background: #008940;
    color: #fff;
    font-size: 17px;
    float: left;
    box-shadow: inherit;
    padding: 8px 20px;
    top: 24px;
    border-radius: 0 !important;
    width: 50%; }
  .confirmMsgPopup .footer-btn .greennBtn {
    background: #008940;
    color: #fff;
    font-size: 17px;
    float: right;
    box-shadow: inherit;
    padding: 5px 60px;
    top: 24px;
    border-radius: 0 !important;
    width: 50%; }
  .confirmMsgPopup .footer-btn .redBtn {
    background: #E45166;
    color: #fff;
    font-size: 17px;
    float: right;
    box-shadow: inherit;
    padding: 8px 20px;
    top: 24px;
    border-radius: 0 !important;
    width: 50%; }

/* end confirmation msg */
/* start approval conf */
.approvalConfPopup {
  max-width: 430px; }
  .approvalConfPopup .mat-dialog-actions {
    position: relative;
    padding: 0; }
    .approvalConfPopup .mat-dialog-actions .closeBtn {
      position: absolute;
      color: #999;
      right: -15px;
      top: -28px;
      background: inherit;
      border: 0;
      cursor: pointer; }
      .approvalConfPopup .mat-dialog-actions .closeBtn:focus {
        outline: none !important; }
  .approvalConfPopup .mat-dialog-content h4 {
    font-size: 23px;
    color: #666; }
  .approvalConfPopup .mat-dialog-content p {
    white-space: normal;
    color: #777;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0; }
    .approvalConfPopup .mat-dialog-content p span {
      color: #333; }
  .approvalConfPopup .mat-dialog-content .mat-list .mat-list-item .mat-list-item-content .mat-checkbox-checked label {
    color: #008940 !important;
    font-weight: 600; }
  .approvalConfPopup .mat-dialog-content .mat-list .mat-list-item .mat-list-item-content .mat-checkbox label {
    color: #777; }
    .approvalConfPopup .mat-dialog-content .mat-list .mat-list-item .mat-list-item-content .mat-checkbox label .mat-checkbox-label {
      margin-left: 5px; }
    .approvalConfPopup .mat-dialog-content .mat-list .mat-list-item .mat-list-item-content .mat-checkbox label .mat-checkbox-inner-container {
      width: 25px;
      height: 25px; }
    .approvalConfPopup .mat-dialog-content .mat-list .mat-list-item .mat-list-item-content .mat-checkbox label .mat-checkbox-background {
      border-radius: 6px !important; }
    .approvalConfPopup .mat-dialog-content .mat-list .mat-list-item .mat-list-item-content .mat-checkbox label .mat-checkbox-frame {
      border-radius: 6px !important; }
  .approvalConfPopup .footer-btn .grayBtn {
    background: #AAAAAA;
    color: #fff;
    font-size: 17px;
    float: left;
    box-shadow: inherit;
    padding: 8px 20px;
    top: 24px;
    border-radius: 0 !important;
    width: 50%; }
  .approvalConfPopup .footer-btn .blueBtn {
    background: #43425D;
    color: #fff;
    font-size: 17px;
    float: left;
    box-shadow: inherit;
    padding: 8px 20px;
    top: 24px;
    border-radius: 0 !important;
    width: 50%; }

/* end approval conf */
/* start all center pages */
.all_center_page {
  background: #008940; }
  .all_center_page .cards {
    max-width: 800px;
    height: 500px;
    padding: 0px;
    background: #ffffff;
    box-shadow: 0 0px 15px #333;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    .all_center_page .cards .logoBg {
      background: #f1f1f1;
      height: 500px;
      text-align: center;
      position: relative; }
      .all_center_page .cards .logoBg .logoImg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
    .all_center_page .cards .contentBg {
      background: #fff;
      height: 500px;
      position: relative; }
      .all_center_page .cards .contentBg form {
        width: 100%;
        padding: 35px 25px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
        .all_center_page .cards .contentBg form .h4 {
          font-size: 22px; }
        .all_center_page .cards .contentBg form .mat-raised-button[disabled] {
          box-shadow: none;
          background: #eee !important; }
    .all_center_page .cards .errorMessage {
      color: #ff0000;
      text-align: center;
      margin-bottom: 8px; }
  .all_center_page .btnGreen {
    background: #008940 !important;
    font-weight: bold !important;
    font-size: 18px !important;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    padding: 5px 32px;
    color: #fff; }

/* end all center pages */
/* CATEGORY INTREST POPUP PAGE	
**********************************************************/
.profileIntrestPop .intrestList {
  background: #fff;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  height: 66px; }
  .profileIntrestPop .intrestList:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
  .profileIntrestPop .intrestList .mat-list-item-content {
    height: 66px !important;
    padding: 0 !important;
    display: block !important; }
  .profileIntrestPop .intrestList img {
    border-radius: 6px 0 0 6px;
    min-width: auto !important; }
  .profileIntrestPop .intrestList h4 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    font-size: 17px;
    max-width: 54%;
    white-space: normal;
    margin-bottom: 0 !important; }
    @media (max-width: 767px) {
      .profileIntrestPop .intrestList h4 {
        max-width: 45%; } }
  .profileIntrestPop .intrestList .checkInterest {
    float: left;
    vertical-align: middle;
    width: 100%; }
    .profileIntrestPop .intrestList .checkInterest .mat-checkbox {
      width: 100%;
      float: left;
      text-align: left; }
      .profileIntrestPop .intrestList .checkInterest .mat-checkbox .mat-checkbox-layout {
        display: block !important;
        margin-bottom: 0 !important; }
        .profileIntrestPop .intrestList .checkInterest .mat-checkbox .mat-checkbox-layout .mat-checkbox-inner-container {
          margin: 22px 18px 0 0;
          float: right; }

.useLargeFont .intrestList h5 {
  font-size: 15px !important; }

/* START EDIT PROFILE
**********************************************************/
/* Organisation Page start*/
.orgSameEdit .mat-placeholder-required {
  display: none; }
.orgSameEdit .mat-focused .mat-form-field-label {
  color: #268240 !important; }
.orgSameEdit .mat-focused .mat-form-field-ripple {
  background: #268240 !important; }
.orgSameEdit .org-in {
  color: #e3242a;
  font-size: 14px;
  margin-left: 15px; }
.orgSameEdit .cont-per h4 {
  color: #098c46 !important;
  font-size: 14px;
  font-weight: 400; }
  .orgSameEdit .cont-per h4 .grayNote {
    color: #999; }
    @media (min-width: 1401px) and (max-width: 1500px) {
      .orgSameEdit .cont-per h4 .grayNote {
        font-size: 13px; } }
    @media (min-width: 1300px) and (max-width: 1400px) {
      .orgSameEdit .cont-per h4 .grayNote {
        font-size: 11px;
        padding-top: 3px; } }
    @media (min-width: 1199px) and (max-width: 1299px) {
      .orgSameEdit .cont-per h4 .grayNote {
        font-size: 9px;
        padding-top: 4px; } }
.orgSameEdit .cont-per hr {
  margin-top: 10px; }
.orgSameEdit .cont-per .mat-list {
  padding: 0; }
  .orgSameEdit .cont-per .mat-list .mat-list-item {
    height: 35px; }
    .orgSameEdit .cont-per .mat-list .mat-list-item .mat-list-item-content {
      padding: 0; }
      .orgSameEdit .cont-per .mat-list .mat-list-item .mat-list-item-content .mat-list-text h4 {
        font-family: 'Roboto', sans-serif !important;
        color: #666 !important; }
      .orgSameEdit .cont-per .mat-list .mat-list-item .mat-list-item-content .mat-icon i {
        color: #999;
        font-size: 22px; }
.orgSameEdit .cont-per .sameCordinator .mat-checkbox label {
  color: #666 !important;
  font-weight: 600; }
.orgSameEdit .cont-per .sameCordinator .mat-checkbox-checked label {
  color: #008940 !important;
  font-weight: 700; }

.matInfo {
  color: #a6a6a6; }
  .matInfo i {
    font-size: 22px;
    vertical-align: middle;
    cursor: pointer; }

.edit-profile .mat-placeholder-required {
  display: none; }
.edit-profile .mandatory {
  position: absolute;
  right: -12px;
  color: red; }

.customGrid {
  display: block;
  width: 100%;
  margin-top: 4px; }
  .customGrid .customCol {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px; }
    .customGrid .customCol .productOuter {
      display: flex;
      align-items: center;
      height: 100%;
      border: 1px solid #ccc;
      justify-content: center; }
      .customGrid .customCol .productOuter .prod-img {
        text-align: center;
        margin: 0 auto;
        max-height: 145px; }
  @media (min-width: 1367px) and (max-width: 1440px) {
    .customGrid .customCol {
      width: 120px;
      height: 120px; }
      .customGrid .customCol .productOuter .prod-img {
        max-height: 110px; } }
  @media (min-width: 1281px) and (max-width: 1366px) {
    .customGrid .customCol {
      width: 110px;
      height: 110px; }
      .customGrid .customCol .productOuter .prod-img {
        max-height: 100px; } }
  @media (min-width: 1199px) and (max-width: 1280px) {
    .customGrid .customCol {
      width: 100px;
      height: 100px;
      margin-right: 12px; }
      .customGrid .customCol .productOuter .prod-img {
        max-height: 90px; } }

.greenSaveBtn {
  color: #fff !important;
  background-color: #008940;
  font-size: 16px;
  border-radius: 5px !important;
  font-family: 'Roboto', sans-serif !important; }

.matHeight {
  height: 500px; }
  .matHeight .company-logo {
    width: 75px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover; }

.mat-form-field .mat-input-wrapper .mat-input-flex .mat-input-infix .mat-input-element {
  font-size: 16px !important;
  line-height: 25px; }

.orgBottomEdit .spacingLab {
  margin: 0 !important;
  padding: 0 !important; }
  .orgBottomEdit .spacingLab .detail-img {
    color: #008940;
    font-size: 13px;
    display: block; }
@media (min-width: 1300px) and (max-width: 1440px) {
  .orgBottomEdit .col-sm-2 {
    padding-right: 0 !important; }
  .orgBottomEdit h6 {
    font-size: 15px !important; } }
@media (min-width: 1199px) and (max-width: 1299px) {
  .orgBottomEdit h6 {
    font-size: 15px !important; } }
.orgBottomEdit .othercat {
  background: #eee;
  padding: 12px;
  font-size: 16px;
  border-radius: 7px;
  font-weight: 600; }
  .orgBottomEdit .othercat span {
    font-weight: 100; }
.orgBottomEdit .pad-r-sm {
  padding-right: 5px !important; }
.orgBottomEdit h6 {
  font-size: 16px;
  padding-top: 5px; }
@media (min-width: 1199px) and (max-width: 1299px) {
  .orgBottomEdit h6 {
    font-size: 15px; } }
.orgBottomEdit .add-category-popup i {
  font-size: 40px;
  vertical-align: middle;
  padding: 6px 0 0 0; }

.paymentDetails p {
  font-size: 18px; }
.paymentDetails .mat-checkbox {
  font-size: 15px; }

/* UPLOAD FILE 
**********************************************************/
.image-upload > input {
  display: none; }

.image-upload .imagesUploadCircle {
  position: relative;
  background: #e5e5e5;
  margin-bottom: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  color: #26b35a;
  cursor: pointer;
  font-size: 12px;
  height: 120px;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  width: 120px;
  z-index: 9999; }

.imagesUploadCircle img {
  display: block;
  margin: 0 auto;
  padding: 0 0 12px;
  text-align: center; }

.imagesUploadCircle #myImg {
  object-fit: contain;
  border-radius: 50%;
  height: 120px;
  padding: 0;
  position: absolute;
  top: 0;
  width: 120px;
  overflow: hidden; }

.imagesUploadCircle .midImg {
  text-shadow: 0 0 5px #000;
  z-index: 99;
  color: #fff;
  text-shadow: 0 0 5px #000;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%); }

.imagesUploadCircle .midImg i {
  font-size: 33px; }

/* END EDIT PROFILE */
/* FULLSCREEN POPUP
**********************************************************/
.topLink {
  position: relative;
  height: 63px;
  line-height: 55px;
  border: 0 !important;
  background: #008940; }

.topLink span {
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  color: #fff; }

.topLink .mat-list-item:first-child {
  float: left; }

.topLink .mat-list-item:last-child {
  float: right; }

.topLink .mat-list-item a {
  color: #fff !important;
  font-size: 15px; }

.my-full-screen-dialog {
  max-width: 100vw !important; }
  .my-full-screen-dialog .mat-dialog-container {
    max-width: none;
    width: 100vw;
    height: 100vh;
    padding: 0;
    background: rgba(0, 0, 0, 0.5); }
  .my-full-screen-dialog .transparent {
    background: inherit;
    width: 100%; }
  .my-full-screen-dialog .closeBtn {
    background: inherit;
    border: 0;
    padding-right: 0;
    cursor: pointer;
    color: #fff; }
    .my-full-screen-dialog .closeBtn:focus {
      outline: 0; }
  @media (min-width: 1000px) and (max-width: 1024px) {
    .my-full-screen-dialog .transparent {
      overflow: auto;
      max-height: 680px; } }
  @media (min-width: 767px) and (max-width: 768px) {
    .my-full-screen-dialog .transparent {
      overflow: auto;
      max-height: 920px; } }
  @media (min-width: 730px) and (max-width: 736px) {
    .my-full-screen-dialog .transparent {
      overflow: auto;
      max-height: 340px; } }
  @media (min-width: 600px) and (max-width: 620px) {
    .my-full-screen-dialog .transparent {
      overflow: auto;
      max-height: 900px; } }
  @media (min-width: 450px) and (max-width: 480px) {
    .my-full-screen-dialog .transparent {
      overflow: auto;
      max-height: 250px; } }
  @media (min-width: 410px) and (max-width: 414px) {
    .my-full-screen-dialog .transparent {
      overflow: auto;
      max-height: 630px; } }
  @media (min-width: 320px) and (max-width: 360px) {
    .my-full-screen-dialog .transparent {
      overflow: auto;
      max-height: 386px; } }
  @media (min-width: 374px) and (max-width: 375px) {
    .my-full-screen-dialog .transparent {
      overflow: auto;
      max-height: 600px; } }
  @media (min-width: 666px) and (max-width: 667px) {
    .my-full-screen-dialog .transparent {
      overflow: auto;
      max-height: 300px; } }

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #008940 !important; }

/* stall list css */
.icon-info span {
  display: inline-block;
  width: 23px;
  height: 23px;
  text-align: center;
  border-radius: 11px;
  color: #fff;
  font-size: 12px;
  line-height: 24px; }
.icon-info .F {
  background: #008D48; }
.icon-info .A {
  background: #795A2E; }
.icon-info .B {
  background: #7E5435; }
.icon-info .K {
  background: #006368; }
.icon-info .E {
  background: #E3242A; }
.icon-info .green {
  background: #3FC459; }
.icon-info .O {
  background: #F99D1C; }
.icon-info .N {
  background: #00e600; }
.icon-info .C {
  background: #14B368; }
.icon-info .D {
  background: #9aa92f; }
.icon-info .S {
  background: #C41425; }
.icon-info .T {
  background: #3777BC; }
.icon-info .U {
  background: #F99D1C; }
.icon-info .V {
  background: #059849; }
.icon-info .H {
  background: #DFC922; }
.icon-info .W {
  background: #00BDF2; }
.icon-info .E {
  background: #4ECCF2; }
.icon-info .P {
  background: #8C3030; }
.icon-info .I {
  background: #006835; }
.icon-info .G {
  background: #077B54; }
.icon-info .R {
  background: #D92423; }
.icon-info .NotFilled {
  background: #BFBFBF;
  position: relative;
  top: 6px; }
.icon-info .Pending {
  background: #FFDA83;
  position: relative;
  top: 6px; }
.icon-info .Approved {
  background: #2DCC51;
  position: relative;
  top: 6px; }
.icon-info .Rejected {
  background: #FF7285;
  position: relative;
  top: 6px; }
.icon-info .pending {
  background: #FFDA83;
  position: relative;
  top: 6px; }
.icon-info .paid {
  background: #2DCC51;
  position: relative;
  top: 6px; }
.icon-info .failed {
  background: #FF7285;
  position: relative;
  top: 6px; }
.icon-info .Uncheck {
  background: #d6d6d6;
  position: relative;
  top: 6px; }
.icon-info .Check {
  background: #9cd8aa;
  position: relative;
  top: 6px; }
.icon-info .Confirm {
  background: #008940;
  position: relative;
  top: 6px; }

::ng-deep .mat-tooltip {
  /* your own custom styles here */
  /* e.g. */ }

/* UI changes 12-7-18 */
.exhDate {
  color: #fff;
  padding: 1em 0 0;
  text-align: center; }
  .exhDate h4 {
    font-size: 22px;
    line-height: 25px;
    margin: 0; }

/* start chart */
.badgePage .refreshBtn button {
  background: transparent;
  border: none; }
.badgePage .badgesChart .mat-card {
  border-radius: 0 !important; }
.badgePage .badgesChart .badge-statistics-card .badge-statistics-content h6 {
  font-size: 13px; }
.badgePage .badgesChart .badge-statistics-card .badge-statistics-content .chartInner {
  width: 250px !important;
  height: 250px !important; }
.badgePage .badgesChart .badges-header-block {
  height: 80px;
  padding: 0 !important; }
  .badgePage .badgesChart .badges-header-block .mat-list {
    padding: 0;
    width: 85%;
    float: left; }
    .badgePage .badgesChart .badges-header-block .mat-list .mat-list-item {
      height: 80px; }
      .badgePage .badgesChart .badges-header-block .mat-list .mat-list-item .mat-list-item-content .mat-icon {
        color: #a3a1fb;
        border: 2px solid;
        border-radius: 50%;
        padding: 6px;
        vertical-align: top; }
      .badgePage .badgesChart .badges-header-block .mat-list .mat-list-item .mat-list-item-content .mat-list-text h4 {
        font-size: 28px;
        color: #a3a1fb; }
        .badgePage .badgesChart .badges-header-block .mat-list .mat-list-item .mat-list-item-content .mat-list-text h4 span {
          font-size: 18px; }
      .badgePage .badgesChart .badges-header-block .mat-list .mat-list-item .mat-list-item-content .mat-list-text p {
        font-size: 12px;
        color: #333;
        white-space: normal; }
    .badgePage .badgesChart .badges-header-block .mat-list .greenTxtTop .mat-list-item-content .mat-icon {
      color: #4AD991;
      border: 2px solid;
      border-radius: 50%;
      padding: 6px;
      vertical-align: top; }
    .badgePage .badgesChart .badges-header-block .mat-list .greenTxtTop .mat-list-item-content .mat-list-text {
      color: #4AD991; }
      .badgePage .badgesChart .badges-header-block .mat-list .greenTxtTop .mat-list-item-content .mat-list-text h4 {
        font-size: 30px; }
        .badgePage .badgesChart .badges-header-block .mat-list .greenTxtTop .mat-list-item-content .mat-list-text h4 span {
          font-size: 18px; }
    .badgePage .badgesChart .badges-header-block .mat-list .yellowTxt {
      float: left; }
      .badgePage .badgesChart .badges-header-block .mat-list .yellowTxt .mat-list-item-content .mat-icon {
        color: #EFC051; }
      .badgePage .badgesChart .badges-header-block .mat-list .yellowTxt .mat-list-item-content .mat-list-text h4 {
        font-size: 28px;
        color: #EFC051; }
      .badgePage .badgesChart .badges-header-block .mat-list .yellowTxt .mat-list-item-content .mat-list-text p {
        color: #333;
        font-size: 12px; }
      .badgePage .badgesChart .badges-header-block .mat-list .yellowTxt .mat-list-item-content .balTxt {
        padding-top: 15px;
        font-size: 14px; }
    .badgePage .badgesChart .badges-header-block .mat-list .greenTxt {
      float: left; }
      .badgePage .badgesChart .badges-header-block .mat-list .greenTxt .mat-list-item-content .mat-icon {
        color: #4ad991; }
      .badgePage .badgesChart .badges-header-block .mat-list .greenTxt .mat-list-item-content .mat-list-text h4 {
        font-size: 28px;
        color: #4ad991; }
      .badgePage .badgesChart .badges-header-block .mat-list .greenTxt .mat-list-item-content .mat-list-text p {
        color: #333;
        font-size: 12px; }
      .badgePage .badgesChart .badges-header-block .mat-list .greenTxt .mat-list-item-content .balTxt {
        padding-top: 15px;
        font-size: 14px; }
.badgePage .badgesChart .rightsideLink {
  float: right;
  width: 15%; }
  .badgePage .badgesChart .rightsideLink button {
    color: #B9C1C7; }
.badgePage .latestBadgesIssue h4 {
  font-size: 18px;
  color: #333; }
.badgePage .latestBadgesIssue .mat-list-item {
  height: 63px !important; }
  .badgePage .latestBadgesIssue .mat-list-item .exhlogo_outer {
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 17px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 17px rgba(0, 0, 0, 0.6);
    background-color: #fff;
    padding: 0px;
    border-radius: 50%;
    width: 40px;
    height: 40px; }
    .badgePage .latestBadgesIssue .mat-list-item .exhlogo_outer img {
      border-radius: 50%;
      height: auto;
      width: auto;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain; }
  .badgePage .latestBadgesIssue .mat-list-item .mat-list-text h4 {
    font-size: 15px; }
  .badgePage .latestBadgesIssue .mat-list-item .mat-list-text p {
    font-size: 12px;
    color: #999; }
.badgePage .rightHeading {
  text-align: right; }
  .badgePage .rightHeading .mat-list-item {
    display: inline-block; }
    .badgePage .rightHeading .mat-list-item .mat-list-item-content {
      padding: 0 10px; }
      .badgePage .rightHeading .mat-list-item .mat-list-item-content button {
        background: inherit;
        border: 0px; }
      .badgePage .rightHeading .mat-list-item .mat-list-item-content i {
        color: #666; }
      .badgePage .rightHeading .mat-list-item .mat-list-item-content .mat-list-item-ripple {
        position: inherit !important; }

/* end chart */
/* custom tabs */
.customTabs ul {
  list-style: none;
  display: inline-flex;
  padding-left: 22px; }
  .customTabs ul li {
    font-size: 15px;
    padding: 10px; }
    .customTabs ul li:focus {
      outline: none !important; }
    .customTabs ul li a {
      color: #999;
      padding: 0 15px;
      text-decoration: none; }
      .customTabs ul li a:focus {
        outline: none; }
  .customTabs ul .active {
    border-bottom: 2px solid #268240;
    font-weight: bold; }
    .customTabs ul .active a {
      color: #268240; }
  @media (max-width: 800px) {
    .customTabs ul {
      padding-left: 70px; } }

/* end custom tabs */
/* start proposal dashboard */
.pro_dashboard .count p {
  margin-bottom: 5px; }
  .pro_dashboard .count p b {
    font-size: 23px; }

/* end proposal dashboard */
/* start badges list */
.badges-list .table-responsive table th {
  vertical-align: middle; }

/* end badges list */
/* start change password */
.changePassword .greenBtn {
  background: #008940;
  border-radius: 5px !important;
  color: #fff !important;
  padding: 4px 35px !important;
  box-shadow: inherit !important;
  font-size: 18px; }
.changePassword h6 {
  font-size: 18px; }
@media (min-width: 1199px) and (max-width: 1299px) {
  .changePassword li {
    font-size: 15px; } }

/* end change password */
/* start create exhibitor */
.create_exh .wrapper-progressBar {
  width: 100%; }
  .create_exh .wrapper-progressBar .progressBar li {
    list-style-type: none;
    float: left;
    width: 33%;
    position: relative;
    text-align: center; }
    .create_exh .wrapper-progressBar .progressBar li::before {
      line-height: 33px;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      border: 1px solid #ddd;
      display: block;
      text-align: center;
      margin: 0 auto 10px;
      background-color: white;
      font-size: 20px; }
    .create_exh .wrapper-progressBar .progressBar li::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: #ddd;
      top: 18px;
      left: -50%;
      z-index: -1; }
  .create_exh .wrapper-progressBar .progressBar li:nth-child(1)::before {
    content: "1"; }
  .create_exh .wrapper-progressBar .progressBar li:nth-child(2)::before {
    content: "2"; }
  .create_exh .wrapper-progressBar .progressBar li:nth-child(3)::before {
    content: "3"; }
  .create_exh .wrapper-progressBar .progressBar .active {
    color: #008940; }
    .create_exh .wrapper-progressBar .progressBar .active::before {
      border-color: #008940;
      background-color: #008940;
      color: #fff; }
    .create_exh .wrapper-progressBar .progressBar .active::after {
      background-color: #008940; }
.create_exh .progressBar li:first-child:after {
  content: none; }
.create_exh .next-btn {
  background: #007A39;
  color: #Fff;
  border: unset;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 600;
  display: block;
  margin: auto;
  cursor: pointer; }
.create_exh .mob-input {
  max-width: 300px;
  margin: auto;
  text-align: center; }
  .create_exh .mob-input input {
    font-weight: 600;
    font-size: 20px; }
.create_exh .main_form .mid {
  max-width: 450px;
  margin: auto; }
  .create_exh .main_form .mid input {
    font-weight: 600;
    font-size: 20px;
    color: #008940; }
  .create_exh .main_form .mid .mat-select-value-text {
    font-size: 20px;
    font-weight: 600;
    color: #008940; }
  .create_exh .main_form .mid textarea {
    font-weight: 600;
    font-size: 20px;
    color: #008940; }
.create_exh .main_form .divider {
  height: 3px;
  background: #eee;
  max-width: 636px;
  margin: 10px auto; }
.create_exh .main_form .cancel-btn {
  border-radius: 5px;
  background: #313131;
  color: #fff;
  border: unset;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer; }
.create_exh .main_form .create-btn {
  border-radius: 5px;
  background: #007A39;
  color: #fff;
  border: unset;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer; }
.create_exh .main_form .create-btn:disabled {
  background: #ABAAAB;
  cursor: auto; }

/* end create exhibitor */
/* start proposal */
.my-stall-screen-dialog .mat-dialog-container {
  padding: 15px;
  background: #008940; }

.proposal {
  padding: 10px; }
  .proposal .select .green-dot {
    background: #008940;
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
    border: 2px solid #fff;
    font-size: 12px;
    padding: 0px 5px;
    color: #fff; }
  .proposal .select .col-sm {
    width: 13%;
    padding: 0 5px;
    text-align: center; }
  .proposal .select .opt {
    line-height: 65px; }
  .proposal .select .new {
    display: flex;
    margin-top: 15px; }
    .proposal .select .new .add {
      font-size: 32px;
      border: 1px solid #ccc;
      margin: 2px;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      line-height: 29px;
      background: #fff;
      color: #008940;
      font-weight: 700;
      cursor: pointer; }
    .proposal .select .new .min {
      font-size: 32px;
      border: 1px solid #ccc;
      margin: 2px;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      line-height: 22px;
      background: #fff;
      color: #888;
      font-weight: 700;
      cursor: pointer; }
  .proposal .select .datepicker {
    margin-left: 4.4rem;
    margin-top: 1rem; }
    .proposal .select .datepicker .mat-form-field {
      width: 17%;
      margin-left: 20px; }
      .proposal .select .datepicker .mat-form-field button {
        font-size: 25px;
        color: #008940; }
        .proposal .select .datepicker .mat-form-field button svg {
          height: 34px;
          width: 35px; }
  .proposal .select .generate-btn {
    background: #008940;
    color: #fff;
    padding: 15px 25px;
    font-size: 20px;
    border: unset;
    font-weight: 600;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer; }
    .proposal .select .generate-btn .tick {
      display: inline-block;
      background: #fff;
      color: #008940;
      border-radius: 50%;
      width: 30px;
      margin-right: 10px; }
  .proposal .history a {
    text-decoration: underline !important; }
    .proposal .history a .material-icons {
      top: 6px;
      position: relative;
      right: 5px; }
  .proposal .title {
    display: block;
    text-align: center; }
    .proposal .title h3 {
      font-weight: 600;
      text-transform: capitalize; }
  .proposal .wrapper-progressBar {
    width: 100%;
    text-transform: capitalize; }
    .proposal .wrapper-progressBar .progressBar li {
      list-style-type: none;
      float: left;
      width: 33%;
      position: relative;
      text-align: center; }
      .proposal .wrapper-progressBar .progressBar li::before {
        line-height: 45px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: 1px solid #ddd;
        display: block;
        text-align: center;
        margin: 0 auto 10px;
        background-color: white;
        font-size: 25px; }
      .proposal .wrapper-progressBar .progressBar li::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #ddd;
        top: 25px;
        left: -50%;
        z-index: -1; }
    .proposal .wrapper-progressBar .progressBar li:nth-child(1)::before {
      content: "1"; }
    .proposal .wrapper-progressBar .progressBar li:nth-child(2)::before {
      content: "2"; }
    .proposal .wrapper-progressBar .progressBar li:nth-child(3)::before {
      content: "3"; }
    .proposal .wrapper-progressBar .progressBar .active {
      color: #008940; }
      .proposal .wrapper-progressBar .progressBar .active::before {
        border-color: #008940;
        background-color: #008940;
        color: #fff; }
      .proposal .wrapper-progressBar .progressBar .active::after {
        background-color: #008940; }
  .proposal .progressBar li:first-child:after {
    content: none; }
  .proposal .email-main {
    max-width: 875px;
    background: #B8B8B8;
    margin: auto;
    padding: 25px 25px;
    border-radius: 10px;
    margin-top: 20px; }
    .proposal .email-main .email-popup {
      width: 100%;
      background: #fff;
      padding: 15px 15px;
      border-radius: 10px;
      border: 1px solid #808080; }
  .proposal .search-exh input {
    width: 71%;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); }
    .proposal .search-exh input::focus {
      outline-color: #008940; }
  .proposal .search-exh input:focus {
    outline-color: #008940; }
  .proposal .search-exh .enter-btn {
    background: #008940;
    color: #fff;
    padding: 10px 30px;
    border: 1px solid #008940;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: 600;
    cursor: pointer; }
  .proposal .search-exh .close-btn {
    width: 45px;
    height: 45px;
    background: #707070;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid #707070;
    position: relative;
    right: 19px;
    cursor: pointer; }
  .proposal .search-exh .check-btn {
    width: 45px;
    height: 45px;
    background: #008940;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid #008940;
    position: relative;
    right: 19px; }
  .proposal .found-email {
    background: #fff;
    width: 72%;
    padding: 20px; }
    .proposal .found-email .mat-radio-button {
      display: block;
      margin-left: 10px; }
      .proposal .found-email .mat-radio-button .mat-radio-inner-circle {
        background: #008940; }
    .proposal .found-email .mat-radio-checked .mat-radio-outer-circle {
      border-color: #008940; }
    .proposal .found-email p {
      margin-bottom: 0; }
    .proposal .found-email a {
      text-decoration: underline !important; }
  .proposal .no-exh {
    background: #FFF6C7;
    width: 370px;
    color: #008940;
    padding: 20px; }
    .proposal .no-exh p {
      margin-bottom: 0; }
    .proposal .no-exh a {
      font-weight: 700; }

/* end proposal */
/* start extra requirement */
.quataPage .amount-btn {
  background: #008940;
  padding: 5px 15px;
  border: unset;
  color: #fff;
  border-radius: 5px;
  font-weight: 700; }
.quataPage .can-btn {
  background: #EAD3D3;
  padding: 5px 15px;
  border: unset;
  color: #CE4848;
  border-radius: 5px;
  font-weight: 700;
  margin-right: 15px; }
.quataPage .extra-reqtable table th {
  padding: 5px 10px;
  color: #666;
  font-weight: 600; }
.quataPage .extra-reqtable table td {
  padding: 10px; }
  .quataPage .extra-reqtable table td span {
    margin-left: 7px; }

/* end extra requirement */
/* start invoice */
.invoices .inv-table {
  width: 100%; }
  .invoices .inv-table th {
    padding: 8px;
    color: #666;
    font-weight: 600; }
  .invoices .inv-table td {
    padding: 8px; }
    .invoices .inv-table td a {
      cursor: pointer; }
    .invoices .inv-table td .material-icons {
      font-size: 30px;
      top: 8px;
      position: relative;
      left: 5px;
      color: #999; }

/* end invoice */
/*  start email popup  */
.email-popup {
  width: 700px;
  position: relative;
  padding: 0px 15px; }
  .email-popup p {
    position: absolute;
    right: -15px;
    top: -27px; }
  .email-popup input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 3px; }
    .email-popup input::placeholder {
      color: #ccc;
      padding-left: 10px; }
    .email-popup input:focus {
      outline-color: #008940; }
  .email-popup .ngx-editor-textarea {
    height: 350px !important; }
  .email-popup .email-btn {
    background: #008940;
    color: #fff;
    border-radius: 5px;
    padding: 5px 15px;
    border: unset;
    font-weight: 600;
    cursor: pointer; }
  .email-popup .email-btn:disabled {
    background: #ABAAAB;
    cursor: auto; }

/*  end email popup  */
.pavilion {
  border-collapse: collapse;
  text-align: center;
  color: #666; }

.pavilion td {
  padding: 5px 2px;
  border: 1px solid #ccc; }

.error-text {
  color: red;
  font-weight: bolder !important; }

.list .refresh_button {
  position: absolute;
  right: 0;
  top: 7px;
  color: rgba(0, 0, 0, 0.54);
  background: transparent;
  border: none;
  cursor: pointer; }

.green-text {
  color: #008940;
  font-weight: bolder !important; }

.bolder-text {
  font-weight: bolder !important; }

.ht-unset {
  line-height: unset; }

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 9999;
  background: url("../images/page-loader.gif") 50% 50% no-repeat #f9f9f9; }

/*# sourceMappingURL=style.css.map */
