/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'stall-detail.scss';
@import 'space.scss';
@import 'font-text.scss';

body{font-family:  'Roboto', sans-serif !important; font-size: 15px; color: #333 !important;}
/* start sidenav */
.kexhibitor-container{
    background: #F0F0F0;
    .kexhibitor-sidenav{
        background: #008940; width: 250px;
        .kisanLogo{ background: #007A39;}
        .sideMenu{ padding-top: 0 !important;
            .mat-expansion-panel-body{padding: 0 24px 0px !important;}
            .mat-divider{ margin: 10px 0 !important}
                mat-list-item{
                    height: auto !important;
                    &:hover{background:inherit !important;}
                    .mat-list-item-content{
                        height: auto !important; padding: 0 !important;
                        &:hover{background:inherit !important; }
                        a{
                            color: #fff !important; display: block; width: 100%; padding:10px 16px !important; border-left:4px solid #008940;
                            &:hover{ color: #f1f1f1; background:#007A39; border-left:4px solid #007A39; }
                            i{font-size:24px;margin-right:10px;width:20px;vertical-align:middle;color:#A2D0B7}
                            img{ vertical-align: top;}
                            .iconTxt{font-size: 18px; color: #E4F2EB;}
                        }
                        .active{border-left:4px solid #D8D237  !important; background: #004420; }
                }
            }
        }        
        .submanu{
            .mat-expansion-indicator::after{color: #A2D0B7 !important;}
            .mat-expansion-panel-content .mat-list-item {
                a {color: #fff !important;padding-right: 0px !important;}
                .material-icons{
                    font-size: 24px;
                    margin-right: 10px;
                    width: 20px;
                    vertical-align: middle;
                    color: #A2D0B7;
                }
                span{
                    color:#E4F2EB; font-size: 18px;
                }
            }
        }
    }
    .mat-drawer-content{
        header{
            .mat-toolbar{
                display:block!important;background:#fff;box-shadow:0 1px 5px 0 rgba(0,0,0,.10);padding-top:10px;padding-bottom:10px;
                .rightnav{
                    display:inline-flex;float:right;padding:0;
                    .lastLogBtn{
                        .mat-list-item-content{
                            border-left: 1px solid #ddd; padding-left: 0;
                        }
                    }
                    .mat-list-item-content{
                        i{
                            color: #BCBCCB; font-size: 20px;
                        }
                        button{
                            border-radius: 0;
                            .mat-button-focus-overlay{ background: inherit !important; }
                         }
                    }

                }
            }
        }
    }
}
/* end sidenav */
.contSpace{
    .mat-card-header{
        display: block;
        .mat-card-header-text{
            display:block;width:100%;margin:0;
            h5{
                font-size: 15px; padding-bottom: 5px;
            }
            .onlyGreenpassTitle{
                h5{
                    display: inline-block;width: 100%;
                    .brAdd {
                        width:80%; display: inline-block;
                    }
            }
        }
    }
    }
    h5{
        color: #268240; margin: 0;
        .rightTxt{
            float: right;color: #666;
        }
    }
    hr{
        margin-top: 10px; margin-bottom: 10px;
    }
    .redTxt{color:#C00606;}
    .redTxtB{font-weight: 600 !important;color:#C00606;}
    .mat-card-footer{
        margin: 0;
        h5{
            font-size: 15px; color: #333;
            .greenTxt{color: #008940;}
            .rightTxt{
                float: right;
                i{color: #BCBCCB;}
            }
        }
        p{font-size: 15px;margin-bottom:5px;}
    }
}
/* dropdown menu */
.whiteMenu{
    margin-top:13px;border-radius:4px;min-width:170px!important;
    .mat-menu-content {
        .mat-menu-item {
            height:auto!important;line-height:normal!important;padding:6px 16px;outline:none;color:#333;font-size:15px!important;font-weight:500;
            i{vertical-align: middle; font-size: 20px;}
        }
    }
}
/* common css */
.topSelectBox{
    .mat-form-field-label{color: #008940 !important; font-size: 16px !important;}
}
    .mat-select-panel{
        margin-top:35px;
        .mat-option-text{color: #333 !important;}
    }
    .mat-primary .mat-option.mat-selected:not(.mat-option-disabled){ color: #333 !important;}
.mat-card{
    border-radius: 0px !important; font-family: 'Roboto', sans-serif !important;
}
.mat-form-field{
    width: 100%;
    .mat-hint{ font-size: 15px;}
}
.mat-form-field-label-wrapper{
    top:-1.30em !important;
    label{ font-size: 16px; font-family: 'Roboto', sans-serif !important;}
}
button:focus{outline:none!important}
.pagination{margin:0!important}
.pagination li{display:inline-block!important;margin:0 2px}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{background:#008940!important;color:#fff!important}
.pagination>li>a{color:#999!important;height:36px;font-size:14px;border-radius:4px}
.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover{color:#999!important}
/* start dashboard page */
.overviewBlock{
    .allBlock{
        .mat-card{
            padding:10px;display:inline-block;width:100%;height:100%;
              .mat-card-header{
                display:inline-block;width:100%;margin-bottom:.675rem;margin-top:.675rem;
                .mat-list{
                    padding:0;float:left;
                  .mat-list-item{
                    height: auto;
                    .mat-list-item-content{
                      .mat-icon{
                        border:2px solid;border-radius:50%;padding:6px;vertical-align:top;width:35px;height:35px;
                        i{line-height: 35px;}
                        span{font-family: 'Roboto', sans-serif !important; font-size: 17px;}
                        @media (min-width: 1199px) and (max-width:1299px){
                            width: 30px; height: 30px;
                         }
                      }
                      h4 {font-size: 25px; font-weight: 600;}
                    @media (min-width: 1199px) and (max-width:1299px){
                            padding: 0 6px;
                    }
                    }
                  }
                  .purpalHead{
                    .mat-list-item-content{
                        .mat-icon{color:#A3A0FB}
                        h4{color:#A3A0FB}
                        p{
                            @media (min-width: 1199px) and (max-width:1399px){
                                font-size: 13px !important;
                            }
                        }
                      }
                  }
                  .blueHead{
                    .mat-list-item-content{
                        .mat-icon{color:#56D9FE}
                        h4{color:#56D9FE}
                        p{
                            @media (min-width: 1199px) and (max-width:1299px){
                                font-size: 13px !important;
                            }
                        }
                      }
                  }
                  .greenHead{
                    .mat-list-item-content{
                        .mat-icon{color:#4AD991}
                        h4{color:#4AD991}
                        p{
                            @media (min-width: 1199px) and (max-width:1299px){
                                font-size: 13px !important;
                            }
                        }
                      }
                  }
                }
                .rightsideLink{float:right;
                  button{color: #B9C1C7;}
                }
              }
              .blockList{
                  .mat-list-item{
                    border-bottom: 1px solid rgba(0,0,0,.12); height: auto;
                    &:last-child{ border-bottom:0;}
                    h4{color: #000; }
                    .lightGreen{color: #4AD991; }
                    .lightYellow{color: #FFC06A;}
                    .grey{ color: #BFBFBF;white-space: nowrap;}
                    .overviewBlock{color: #BFBFBF;}
                    .lightRed{color: #FF7A8C; }
                      h5{font-size: 15px;}
                      .greenColor{background:#DAF7E8;border-radius:50%;padding:6px;vertical-align:top;width:28px;height:28px;
                        i{line-height:28px;color:#4AD991;font-size:22px}
                        }
                        .yellowColor{background:#FFF4E5;border-radius:50%;padding:6px;vertical-align:top;width:28px;height:28px;
                            i{line-height:28px;color:#FFC06A;font-size:22px}
                        }
                        .greyColor{background:#EFEFEF;border-radius:50%;padding:6px;vertical-align:top;width:28px;height:28px;
                            i{line-height:28px;color:#BFBFBF;font-size:22px}
                        }
                        .redColor{background:#FFE2E6;border-radius:50%;padding:6px;vertical-align:top;width:28px;height:28px;
                            i{line-height:28px;color:#FF7A8C;font-size:22px}
                }
              }
            }
        }
    }
    }
  /* end dashboard page */

    /*start stall list*/
    .list {
        border-radius: 0;
        .mat-accordion{display: block;padding: 0;}
        .mat-expansion-panel {
             box-shadow: unset !important; background: unset;
            .mat-expansion-panel-header {
                background:#F0F0F0;position:absolute;top:0;right:0px;z-index:9999;display:inline-block!important;flex-direction:inherit!important;height:26px!important;padding:0!important;
                &:hover{ background: #F0F0F0 !important;}
                .mat-expansion-panel-header-description{
                    display:inline;padding-top:6px;margin-right:0;
                }
            }
            .mat-expansion-panel-content {
                background: #FFFFE6;
                .mat-expansion-panel-body{
                    padding-top:10px;padding-bottom:10px;
                    h6{
                        color: #000; font-weight: 600;
                    }
                }
            }
        }
        .mat-form-field-label-wrapper {
            label{font-size:12px!important;font-family:'Roboto', sans-serif !important;top:25px!important}
        }
        .mat-list{
            padding-top: 0px;
            .mat-list-item{
                display:inline !important; height:40px;
                .mat-list-item-content{
                    display:unset !important; padding: 0 8px;
                    .mat-button{
                        min-width:auto !important; padding: 0px !important;
                    }
                }
            }
            .page{position:relative;bottom:5px}
    }
    .mat-checkbox-checked.mat-accent {
        .mat-checkbox-background{background-color: #008940;}
    }
    .table-responsive {
      table {table-layout: fixed;
        .blue-grey.lighten-5 { background: #F5F6FA !important;}
        th {
            font-weight:600;color:#008940;padding:12px 4px!important;font-size:15px;position:relative;
            .table-filter{position:absolute;right:0}
        }
        td {
          font-weight: 600; font-size:15px;  padding:12px 4px;
          a{ text-decoration: none; color: rgba(0,0,0,.87);}
          .comp-name {
            width:155px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
                a{text-decoration: none; color: rgba(0,0,0,.87); }
            }
            .red-dot{background-color:red;width:20px;height:20px;color:red;margin:0 auto;border-radius:50%;cursor:pointer}
            .yellow-dot{background-color:#FFDA83;width:20px;height:20px;color:#ff0;margin:0 auto;border-radius:50%;cursor:pointer}
            .green-dot{background-color:#44b649;width:20px;height:20px;color:#44b649;margin:0 auto;border-radius:50%;cursor:pointer}
        }
        .nowrap{white-space: nowrap;}
        .textNormal{
            font-weight: normal;
            .resend{ background: unset; border:unset;cursor: pointer;}
          }
        .redIcon {
          color: #E83852;
          i{font-size: 24px;}
        }
        .greenIcon {
          color: #2DCC51;
          i{font-size: 24px;}
        }
        .actionLink{
            a{color: #999;}
        }
      }
    }
    .refreshBtn{
        position:relative;width:100%;z-index:9999;right:25px;top:-2px;cursor:pointer;
        button{position:absolute;right:0;top:7px;color:rgba(0,0,0,.54);background:transparent;border:none}
    }
    .downloadBtn{
        position:relative;width:100%;z-index:9999;right:75px;cursor:pointer;
        button{position:absolute;right:0;top:7px;color:rgba(0,0,0,.54);background:transparent;border:none}
    }
    .searchCountBtn{
        position:relative;width:100%;z-index:9999;right:180px;cursor:pointer;
        p{position:absolute;right:0;top:7px;color:rgba(0,0,0,.54);background:transparent;border:none}
    }
}
/* common css */
#bgcolorGreen{background: #008940;}
#bgcolorGray{background: #F0F0F0;}
/* start error msg */
.errorMsgPopup{
    max-width: 400px;
    .mat-dialog-actions{
        position: relative; min-height: 30px;
        .closeBtn {
            position:absolute;color:#999;right:-17px;top:-16px;background:inherit;border:0;cursor:pointer;
            &:focus{ outline: none !important;}
        }
    }
    .mat-list{
        padding-top:0;
        .mat-list-item{
            height: auto !important;
            .mat-list-item-content{
                padding: 0; align-items: flex-start;
                .mat-icon{background:#008940;color:#fff;width:35px!important;height:35px!important;text-align:center;
                    i{vertical-align:middle}
                }
                h4{font-size:20px;color:#008940;white-space:normal}
                p{white-space:normal;color:#999;font-size:16px;margin-top:10px}
            }
        }
    }
}
/* end error msg */
/* start account already exit popup */
.already_exists{
    .mat-dialog-container{border-radius: 10px;}
}
.exhitsPopup{
    max-width: 350px; text-align: center;
    .mat-dialog-actions{position:relative;padding:0}
    .table_main{padding:7px;box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);margin-bottom:3px;border-radius:8px}
    .another{color:#008940!important;text-decoration:underline!important;background:transparent;border:unset;cursor:pointer}
}
/* end account already exit popup */
/* start confirmation msg */
.confirmMsgPopup{
    max-width: 300px;
    .mat-dialog-actions{
        position: relative; padding: 0;
        .closeBtn{position:absolute;color:#999;right:-17px;top:-40px;background:inherit;border:0;cursor:pointer;
            &:focus{outline:none!important}
        }
    }
    .mat-dialog-content{
        h4{font-size:23px;color:#666}
        p{
            white-space:normal;color:#999;font-size:15px;margin-top:10px;margin-bottom:0;
            span{color:#333}
        }
    }
    .footer-btn{
        .mat-card-footer{
            // margin: 0 !important;
            .grayBtn{background:#666;color:#fff;font-size:17px;float:left;box-shadow:inherit;padding:8px 20px;top:24px;border-radius:0!important;width:50%}
            .greennewBtn{background:#008940;color:#fff;font-size:17px;float:left;box-shadow:inherit;padding:8px 20px;top:24px;border-radius:0!important;width:50%}
            .greennBtn{background:#008940;color:#fff;font-size:17px;float:right;box-shadow:inherit;padding:5px 60px;top:24px;border-radius:0!important;width:50%}
            .redBtn{background:#E45166;color:#fff;font-size:17px;float:right;box-shadow:inherit;padding:8px 20px;top:24px;border-radius:0!important;width:50%}
        }
    }
}
/* end confirmation msg */

/* start approval conf */
.approvalConfPopup{
    max-width:470px;
    .mat-dialog-actions{
        position: relative;
        padding: 0;
        .closeBtn{position:absolute;color:#999;right:-15px;top:-28px;background:inherit;border:0;cursor:pointer;
            &:focus{outline:none!important}}
    }
    .mat-dialog-content{
        h4{font-size:23px;color:#666}
        p{white-space:normal;color:#777;font-size:16px;margin-top:10px;margin-bottom:0;
            span{color:#333}
        }
        .mat-list{
            .mat-list-item{
                .mat-list-item-content{
                    padding: 0 5px;
                    .mat-checkbox-checked{
                        label {color:#008940 !important; font-weight: 600;}
                    }
                    .mat-checkbox{
                        label{
                            color: #777;
                            .mat-checkbox-label{margin-left: 5px;}
                            .mat-checkbox-inner-container{width:25px;height:25px}
                            .mat-checkbox-background{border-radius:6px!important}
                            .mat-checkbox-frame{border-radius:6px!important}
                        }
                    }
                }
            }
        }
    }
    .footer-btn{
        .mat-card-footer{
            margin: 0 -16px -16px -16px !important;
            .grayBtn{background:#AAA;color:#fff;font-size:17px;float:left;box-shadow:inherit;padding:8px 20px;top:24px;border-radius:0!important;width:50%}
            .blueBtn{background:#43425D;color:#fff;font-size:17px;float:left;box-shadow:inherit;padding:8px 20px;top:24px;border-radius:0!important;width:50%}
        }
    }
}
/* end approval conf */
/* start all center pages */
.all_center_page {
    background: #008940;
    .cards{max-width:800px;height:500px;padding:0;background:#fff;box-shadow:0 0 15px #333;position:absolute;margin:auto;left:0;right:0;top:0;bottom:0;
        .logoBg{background:#f1f1f1;height:500px;text-align:center;position:relative;
            .logoImg{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)}
            }
     .contentBg {
        background:#fff;height:500px;position:relative;
        form{
            width:100%;padding:35px 25px;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);
            .h4{font-size: 22px}
            .mat-raised-button[disabled] {box-shadow: none; background: #eee !important;}
        }
     }
     .errorMessage{color:red;text-align:center;margin-bottom:8px}
 }
 .btnGreen{background:#008940!important;font-weight:bold!important;font-size:18px!important;-webkit-border-radius:30px;-moz-border-radius:30px;-ms-border-radius:30px;border-radius:30px;padding:5px 32px;color:#fff}
}
/* end all center pages */

/* CATEGORY INTREST POPUP PAGE
**********************************************************/
.profileIntrestPop{
    .intrestList{
        background:#fff;border-radius:6px;-webkit-border-radius:6px;height:66px;
        &:hover{box-shadow:0 0 5px rgba(0,0,0,.3)}
        .mat-list-item-content{height:66px!important;padding:0!important;display:block!important}
        img{border-radius:6px 0 0 6px;min-width:auto!important}
        h4{
            display:inline-block;vertical-align:middle;margin-left:12px;font-size:17px;max-width:54%;white-space:normal;margin-bottom:0!important;
            @media (max-width:767px){max-width:45%}}
        .checkInterest {
            float:left; vertical-align: middle; width: 100%;
             .mat-checkbox{
                 width: 100%; float: left; text-align: left;
                .mat-checkbox-layout{
                    display: block !important; margin-bottom: 0 !important;
                        .mat-checkbox-inner-container{
                            margin: 22px 18px 0 0;float: right;
                        }
                    }
             }
        }

    }
}
.useLargeFont{
    .intrestList{
        h5{font-size:15px !important; }
    }
}
/* START EDIT PROFILE
**********************************************************/
/* Organisation Page start*/
.orgSameEdit{
    .mat-placeholder-required{display: none;}
    .mat-focused {
        .mat-form-field-label{color:#268240 !important;}
        .mat-form-field-ripple{background: #268240 !important;}
    }
    .org-in{ color: #e3242a;font-size: 14px;margin-left: 15px;}
    .cont-per{
        h4{
            color: #098c46 !important; font-size: 14px;font-weight:400;
            .grayNote{
                color:#999 ;
                @media (min-width: 1401px) and (max-width:1500px){
                    font-size: 13px;
                }
                @media (min-width: 1300px) and (max-width:1400px){
                    font-size: 11px;
                    padding-top:3px;
                }
                @media (min-width: 1199px) and (max-width:1299px){
                    font-size: 9px;
                    padding-top: 4px;
                }
            }
        }
        hr{margin-top:10px;}
        .mat-list{
            padding:0;
            .mat-list-item{
                height:35px;
                .mat-list-item-content{
                    padding:0;
                    .mat-list-text{
                        h4{
                            font-family: 'Roboto', sans-serif !important; color: #666 !important;
                        }
                    }
                    .mat-icon{
                        i{
                            color: #999; font-size: 22px;
                        }
                    }
                }
            }
        }
    .sameCordinator{
        .mat-checkbox{
            label{
                color:#666 !important; font-weight: 600;
            }
        }
        .mat-checkbox-checked{
            label {
                color:#008940 !important; font-weight:700;
            }
        }
    }
    }
}
.matInfo{
    color: #a6a6a6;
    i{font-size:22px;vertical-align:middle;cursor:pointer}
}
.edit-profile{
    .mat-placeholder-required{ display: none;}
    .mandatory{position:absolute;right:-12px;color:red}
}
.customGrid{
    display:block;width:100%;margin-top:4px;
    .customCol{
        width:150px;height:150px;float:left;margin-right:20px;margin-bottom:20px;
    .productOuter{
        display:flex;align-items:center;height:100%;border:1px solid #ccc;justify-content:center;
        .prod-img{text-align:center;margin:0 auto;max-height:145px}
        }
    }
    @media (min-width: 1367px) and (max-width:1440px){
    .customCol{width: 120px; height: 120px;
            .productOuter{
                .prod-img{max-height:110px;}
            }
        }
    }
    @media (min-width: 1281px) and (max-width:1366px){
        .customCol{
            width:110px;height:110px;
            .productOuter{
                .prod-img{max-height:100px}
            }
        }
    }
    @media (min-width: 1199px) and (max-width:1280px){
        .customCol{width:100px;height:100px;margin-right:12px;
            .productOuter{
                .prod-img{max-height:90px}
            }
        }
    }
}
.greenSaveBtn{color:#fff!important;background-color:#008940;font-size:16px;border-radius:5px!important;font-family:'Roboto', sans-serif !important}
.matHeight{
    height:500px;
    .company-logo{width:75px;height:80px;border-radius:50%;object-fit:cover}
}
.mat-form-field{
    .mat-input-wrapper{
        .mat-input-flex{
            .mat-input-infix{
                .mat-input-element{
                    font-size: 16px !important; line-height:25px;
                }
            }
        }
    }
}
.orgBottomEdit{
    .spacingLab{
        margin: 0 !important; padding: 0 !important;
        .detail-img{color:#008940; font-size: 13px; display: block;}
    }
    @media (min-width: 1300px) and (max-width:1440px){
        .col-sm-2{padding-right: 0 !important;}
        h6{font-size:15px !important;}
    }
    @media (min-width: 1199px) and (max-width:1299px){
        h6{font-size:15px !important;}
    }
    .othercat{
        background:#eee;padding:12px;font-size:16px;border-radius:7px;font-weight:600;
        span{font-weight: 100;}
    }
    .pad-r-sm{padding-right: 5px !important;}
    h6{font-size: 16px; padding-top: 5px;}
    @media (min-width: 1199px) and (max-width:1299px){
        h6{font-size:15px;}
    }
    .add-category-popup{
        i{font-size:40px;vertical-align:middle;padding:6px 0 0 0}
    }
}
.paymentDetails{
    p{font-size:18px}
    .mat-checkbox{font-size:15px}
}
/* UPLOAD FILE
**********************************************************/
.image-upload > input{ display:none; }
.image-upload .imagesUploadCircle{position:relative; background:#e5e5e5; margin-bottom: 10px; border-radius:50%; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);  color:#26b35a; cursor:pointer; font-size:12px; height:120px; text-transform:uppercase; transition:all .2s ease-in-out; -webkit-transition:all .2s ease-in-out; width:120px; z-index:9999; }
.imagesUploadCircle img{ display:block; margin:0 auto; padding:0 0 12px; text-align:center; }
.imagesUploadCircle #myImg{object-fit: contain; border-radius:50%; height:120px; padding:0; position:absolute; top:0; width:120px; overflow: hidden }
.imagesUploadCircle .midImg{text-shadow:0 0 5px #000;z-index:99;color:#fff;text-shadow:0 0 5px #000;left:50%;position:absolute;top:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%)}.imagesUploadCircle .midImg i{font-size:33px}
/* END EDIT PROFILE */

/* FULLSCREEN POPUP
**********************************************************/
.topLink{position:relative;height:63px;line-height:55px;border:0!important;background:#008940}
.topLink span{display:inline-block;font-size:15px;font-weight:400;color:#fff}
.topLink .mat-list-item:first-child{float:left}
.topLink .mat-list-item:last-child{float:right}
.topLink .mat-list-item a{color:#fff!important;font-size:15px}
.my-full-screen-dialog{
    max-width: 100vw !important;
    .mat-dialog-container{max-width:none;width:100vw;height:100vh;padding:0;background:rgba(0,0,0,0.5)}
    .transparent{background:inherit;width:100%}
    .closeBtn{background:inherit;border:0;padding-right:0;cursor:pointer;color:#fff;
        &:focus{outline:0}
    }
@media (min-width:1000px) and (max-width:1024px){
        .transparent{overflow: auto; max-height:680px;}
    }
@media (min-width:767px) and (max-width:768px){
        .transparent{overflow: auto; max-height:920px;}
    }
@media (min-width:730px) and (max-width:736px){
        .transparent{overflow: auto;  max-height:340px; }
    }
    @media (min-width:600px) and (max-width:620px){
        .transparent{overflow: auto; max-height:900px; }
    }
    @media (min-width:450px) and (max-width:480px){
        .transparent{ overflow: auto; max-height:250px; }
    }
     @media (min-width:410px) and (max-width:414px){
        .transparent{overflow: auto;max-height:630px;}
    }
    @media (min-width:320px) and (max-width:360px){
        .transparent{ overflow: auto; max-height:386px; }
    }
    @media (min-width:374px) and (max-width:375px){
        .transparent{ overflow: auto; max-height:600px; }
    }
     @media (min-width:666px) and (max-width:667px){
        .transparent{ overflow: auto; max-height:300px;}
    }
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
    background-color:#008940 !important;
}
/* stall list css */
.icon-info{
    span{display:inline-block;width:23px;height:23px;text-align:center;border-radius:11px;color:#fff;font-size:12px;line-height:24px}
    .F{background:#008D48}
    .A{background:#795A2E}
    .B{background:#7E5435}
    .K{background:#006368}
    .E{background:#E3242A}
    .green{background:#3FC459}
    .O{background:#F99D1C}
    .N{background:#00e600}
    .C{background:#14B368}
    .D{background:#9aa92f}
    .S{background:#C41425}
    .T{background:#3777BC}
    .U{background:#F99D1C}
    .V{background:#059849}
    .H{background:#DFC922}
    .W{background:#00BDF2}
    .E{background:#4ECCF2}
    .P{background:#8C3030}
    .I{background:#006835}
    .G{background:#077B54}
    .R{background:#D92423}
    .NotFilled{background:#BFBFBF;position:relative;top:6px}
    .Pending{background:#FFDA83;position:relative;top:6px}
    .Approved{background:#2DCC51;position:relative;top:6px}
    .Rejected{background:#FF7285;position:relative;top:6px}
    .pending{background:#FFDA83;position:relative;top:6px}
    .paid{background:#2DCC51;position:relative;top:6px}
    .failed{background:#FF7285;position:relative;top:6px}
    .Uncheck{background:#d6d6d6;position:relative;top:6px}
    .Check{background:#9cd8aa;position:relative;top:6px}
    .Confirm{background:#008940;position:relative;top:6px}
}
::ng-deep .mat-tooltip {
    /* your own custom styles here */
    /* e.g. */
}
/* UI changes 12-7-18 */
.exhDate{color:#fff;padding:1em 0 0;text-align:center;
    h4{font-size:22px;line-height:25px;margin:0}
}
/* start chart */
.badgePage{
    .refreshBtn{
        button{background:transparent;border:none; vertical-align: middle;}
      border:unset;background: transparent;
      .mat-radio-group{ vertical-align: middle;
        .mat-radio-label-content{ padding-left: 5px;}
        .mat-radio-button{margin:0 10px;}
        .greenC{
            .mat-radio-outer-circle{border-color: #008940  !important;}
            .mat-radio-inner-circle{ background:#008940  !important}
            .mat-radio-label-content{ color: #008940}
        }
    }
    }
    .badgesChart{
        .mat-card{border-radius: 0 !important;}
        .badge-statistics-card{
            .badge-statistics-content{
                h6{font-size: 13px;}
                .chartInner {width: 200px !important; height: 200px !important;}
            }
        }
        .badges-header-block{
            height: 70px; padding: 0 !important;
            .mat-list{
                padding: 0; width: 85%; float: left;
                .mat-list-item{
                    height: 80px;
                    .mat-list-item-content{
                        .mat-icon{color:#a3a1fb;border:2px solid;border-radius:50%;padding:6px;vertical-align:top}
                        .mat-list-text{
                            h4{font-size:28px;color:#a3a1fb;
                                span{font-size:18px}
                            }
                                p{font-size:12px;color:#333;white-space:normal}
                        }
                    }
                }
                .greenTxtTop{
                    .mat-list-item-content{
                        .mat-icon{color:#4AD991;border:2px solid;border-radius:50%;padding:6px;vertical-align:top}
                        .mat-list-text{
                            color: #4AD991;
                            h4{font-size: 30px;
                                span{font-size: 18px;}
                            }
                        }
                    }
                }
                .yellowTxt{
                    float: left;
                    .mat-list-item-content{
                        .mat-icon{color: #EFC051;}
                        .mat-list-text{
                            h4{font-size:28px;color:#EFC051}
                            p{color:#333;font-size:12px}
                        }
                        .balTxt{padding-top:15px;font-size:14px}
                    }
                }
                .greenTxt{
                    float: left;
                    .mat-list-item-content{
                        .mat-icon{color: #4ad991;}
                        .mat-list-text{
                            h4{font-size:28px;color:#4ad991}
                            p{color:#333;font-size:12px}
                        }
                        .balTxt{padding-top:15px;font-size:14px}
                    }
                }
            }
        }
        .rightsideLink{float:right;width:15%;
            button{color:#B9C1C7}
        }
    }
    .latestBadgesIssue{
       h4{font-size: 18px; color: #333;}
       .mat-list-item{
           height: 63px !important;
           .exhlogo_outer{box-shadow:0 0 17px rgba(0,0,0,.6);-webkit-box-shadow:0 0 17px rgba(0,0,0,.6);-moz-box-shadow:0 0 17px rgba(0,0,0,.6);background-color:#fff;padding:0;border-radius:50%;width:40px;height:40px;
            img{border-radius:50%;height:auto;width:auto;max-width:100%;max-height:100%;object-fit:contain}
        }
        .mat-list-text{
            h4{font-size:15px}
            p{font-size:12px;color:#999}
        }
       }
    }
    .rightHeading{
        text-align: right;
        .mat-list-item{
            display: inline-block;
            .mat-list-item-content{
                padding: 0 10px;
                button{ background: inherit; border: 0px;}
                i{color: #666;}
                .mat-list-item-ripple{position: inherit !important;}
            }
        }
    }
}
/* end chart */

/* custom tabs */
.customTabs{
    ul{ list-style: none; display:inline-flex; padding-left:22px;
        li{font-size: 15px; padding: 10px;
            &:focus{ outline: none !important; }
            a{
                color:#999;padding:0 15px;text-decoration:none;
                &:focus{outline: none;}
            }
        }
        .active{
            border-bottom:2px solid #268240; font-weight: bold;
            a{color:#268240;}
        }
        @media (max-width:800px){
            padding-left:70px;
        }
    }
}
/* end custom tabs */
/* start proposal dashboard */
.pro_dashboard{
    .count{
        p{
            margin-bottom: 5px;
            b{font-size: 23px;}
        }

    }
}
/* end proposal dashboard */

/* start badges list */
.badges-list .table-responsive table th{vertical-align: middle;}
/* end badges list */

/* start change password */
    .changePassword{
        .greenBtn{background:#008940;border-radius:5px!important;color:#fff!important;padding:4px 35px!important;box-shadow:inherit!important;font-size:18px}
        h6{font-size:18px}
        @media (min-width: 1199px) and (max-width:1299px){
            li{font-size: 15px;}
        }
    }
/* end change password */
/* start create exhibitor */
.create_exh{
    .wrapper-progressBar {
        width: 100%;
        .progressBar {
            li {
                list-style-type:none;float:left;width:33%;position:relative;text-align:center;
                &::before{line-height:33px;border-radius:50%;width:35px;height:35px;border:1px solid #ddd;display:block;text-align:center;margin:0 auto 10px;background-color:white;font-size:20px;
                }
                &::after{content:"";position:absolute;width:100%;height:4px;background-color:#ddd;top:18px;left:-50%;z-index:-1}
            }
            li:nth-child(1)::before{content: "1"}
            li:nth-child(2)::before{content: "2"}
            li:nth-child(3)::before{content: "3"}
            .active {color: #008940;
                &::before{border-color:#008940;background-color:#008940;color:#fff}
                &::after{background-color:#008940}
            }
        }
    }
    .progressBar li:first-child:after {content: none;}
    .imagesUploadCircle{
        position:relative;border-radius:50%;transition:all .2s ease-in-out;width:120px;height:120px;vertical-align:middle;text-align:center;box-shadow:0 0 10px rgba(0,0,0,.6);margin:10px 0 15px;
        img{border-radius:50%;display:block;height:120px;margin:0 auto;padding:0;text-align:center;width:120px;object-fit:contain;box-shadow:0 0 10px rgba(0,0,0,0.6)}
        .add{position:relative;right:0;top:44px;background:transparent;color:#ccc;font-size:30px;width:120px;height:120px}
        .fileUpload {
            position:relative;overflow:hidden;top:-120px!important;border-radius:50%!important;opacity:0;z-index:999;box-shadow:0 0 10px rgba(0,0,0,.6);
            #logo-id{padding:0;font-size:33px;cursor:pointer;opacity:0;filter:alpha(opacity=0);z-index:9999;width:88px;height:89px}
            input[type=file] { display: block;}
        }
        .img-preview{max-width:100%;border-radius:50%}
        input#fakeUploadLogo{cursor:pointer;height:100%;left:0;opacity:0;position:absolute;top:0;width:100%;border-radius:50%}
        .groupuploadIcon{left:35px;position:relative;top:-38px;cursor:pointer;font-size:28px;color:#666}
    }
    .next-btn {
        background:#007A39;color:#Fff;border:unset;padding:10px 30px;border-radius:5px;font-weight:600;display:block;margin:auto;cursor:pointer;
    }
    .mob-input{max-width: 300px; margin: auto; text-align: center;
        input{font-weight: 600;font-size: 20px;}
    }
    .main_form{
        .mid{max-width: 515px; margin: auto;
            input{font-weight:600;font-size:20px;color:#008940}
            .mat-select-value-text{font-size:20px;font-weight:600;color:#008940}
            textarea{font-weight:600;font-size:20px;color:#008940}
        }
        .divider{height:3px;background:#eee;max-width:636px;margin:10px auto}
        .cancel-btn{border-radius:5px;background:#313131;color:#fff;border:unset;width:100%;padding:10px;margin-top:10px;cursor:pointer}
        .create-btn{border-radius:5px;background:#007A39;color:#fff;border:unset;width:100%;padding:10px;margin-top:10px;cursor:pointer}
        .create-btn:disabled{background:#ABAAAB;cursor:auto}
    }
}
/* end create exhibitor */
/* start proposal */
.my-stall-screen-dialog .mat-dialog-container{padding:15px;background:#008940}
.my-Comp-screen-dialog .mat-dialog-container{padding:15px;background:#CE9025}
.proposal{
    padding: 10px;
    mat-expansion-panel{
        .bank-details {
          .mat-form-field-flex{background: #fff !important;border: 1px solid #808080;
            border-radius: 5px;}
        }
      }
      .proformaAccordion{
          .prodServices{
            .mat-form-field-flex{
                background: #fff;
                border: 1px solid #808080;
                border-radius: 5px;
                padding: 10px;
            }
          }
      }
    .select{
        .green-dot{background:#008940;display:inline-block;margin-left:5px;cursor:pointer;border:2px solid #fff;font-size:12px;padding:0 5px;color:#fff}
        .add{font-size:32px;border:1px solid #ccc;margin:2px;border-radius:50%;width:30px;height:30px;line-height:29px;background:#fff;color:#008940;font-weight:700;cursor:pointer;text-align:center}
        .col-sm{max-width:10%;padding:0 5px;text-align:center}
        .stdno{
            text-align: center;
            .mat-form-field{background: #fff;}
            .mat-form-field-underline {
                display: none;
            }
            .mat-form-field-infix{text-align: center;}
        }
        .dis-toggle{
            .mat-form-field{background: #E8E8E8;}
            .mat-form-field-underline {
                display: none;
            }  
            .mat-form-field-infix{text-align: center;    width: 115px;}
        }
        .dis-toggle{
            .mat-slide-toggle{
                position: absolute; right: 2px; top: 2px; color:#ffc107;
                .mat-slide-toggle-thumb{height:14px;width:14px;background:#008940;border:1px solid #ccc}
                .mat-slide-toggle-bar{width:28px;height:10px;background:#008940}
            }
            .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb{background: #ffc107 !important;}
            .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar{background: #ffc107 !important;}
        }
        .opt{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 23px;
            max-width: 7%;
        }
        .new {
            display: flex; margin-top: 15px;align-items: center;
            .add{font-size:32px;border:1px solid #ccc;margin:2px;border-radius:50%;width:30px;height:30px;line-height:29px;background:#fff;color:#008940;font-weight:700;cursor:pointer;text-align:center}
            .min{font-size:32px;border:1px solid #ccc;margin:2px;border-radius:50%;width:30px;height:30px;line-height:26px;background:#fff;color:#888;font-weight:700;cursor:pointer;text-align:center}
        }
        .extra-btn{margin:auto;background:#E9E9E9;padding:5px 16px;font-weight:600;font-size:17px}
        .extra-req{
            // .add-exta{padding:0 0 0 30px}
            .pad-fv{padding:0 5px}
        }
        .datepicker{
            padding: 0px 7% !important;
            .mat-form-field{
                width:45%; margin-left: 20px;
                .mat-input-element{ font-size: 15px; color: #008940;font-weight: 600;}
                button{
                    font-size: 25px; color: #008940;
                    svg{
                        height: 34px; width:35px;
                    }
                }
            }
        }
        .datepicker .mat-radio-checked .mat-radio-outer-circle {
            border-color: #008940 !important;
        }
        .datepicker .mat-radio-button.mat-accent .mat-radio-inner-circle{background-color:#008940 !important}
        .datepickerB{
            .mat-form-field{
                button{
                    font-size: 25px; color: #008940;
                    svg{
                        height: 34px; width:35px;
                    }
                }
            }
        }
        .generate-btn {
            background:#008940;color:#fff;padding:15px 25px;font-size:20px;border:unset;font-weight:600;border-radius:5px;text-transform:uppercase;cursor:pointer;
            .tick{display:inline-block;background:#fff;color:#008940;border-radius:50%;width:30px;margin-right:10px}
        }
        .normal-btn {
            background:#008940;color:#fff;padding:3px 25px;font-size:15px;border:unset;font-weight:600;border-radius:5px;text-transform:uppercase;cursor:pointer;
        }
        .proformaAccordion{
            .addExtra{background: #F1EAD7 !important;}
            .sponOption{background: #F6F4DC !important;}
            .mat-expansion-panel{ margin:12px 0% 12px 7% !important; border-radius: 0; background: #E9E9E9; box-shadow: 0 1px 0px #CCC !important;
                h5{ font-size: 19px; margin: 0}
                .mat-expanded{
                    .mat-expansion-panel-header-title{ color: #008940}
                }
                .mat-expansion-panel-header-title{ color: #333}
                .mat-expansion-panel-content{ color: #333;}
            }
            .mat-expansion-panel-spacing {
                background: #F9F4D0;
                .content{
                    textarea{ height: 60px !important;}
                    .mat-input-element{ font-size: 15px}
                    .bank-details{
                        label{
                            font-size: 15px; width: 100%;
                        }
                        .clearBankDetails {
                          text-decoration: underline;
                          cursor: pointer;
                        }
                        .mat-input-element{ font-size: 15px}
                        .mat-radio-button{
                            .mat-radio-outer-circle{
                                border-color: rgba(0,0,0,.3);
                                border-width: 1px;
                                background: #fff;
                            }
                        }
                        .mat-radio-checked{
                            .mat-radio-outer-circle{border-color: #008940;}
                        }
                        .mat-accent{
                            .mat-radio-inner-circle {background-color: #008940}
                        }
                    }
                }
            }
        }
    }
    .history{
        a{
            text-decoration: underline !important;
            .material-icons{top: 6px; position: relative; right: 5px;}
        }
    }
    .title{
        display: block; text-align: center;
        h3{ font-weight: 600; text-transform: capitalize;}
    }
    .wrapper-progressBar {
        width: 100%; text-transform: capitalize;
        .progressBar {
            li {
                list-style-type:none;float:left;width:33%;position:relative;text-align:center;
                &::before{line-height:45px;border-radius:50%;width:50px;height:50px;border:1px solid #ddd;display:block;text-align:center;margin:0 auto 10px;background-color:white;font-size:25px; }
                &::after{content:"";position:absolute;width:100%;height:4px;background-color:#ddd;top:25px;left:-50%;z-index:-1}
            }
            li:nth-child(1)::before{content: "1"}
            li:nth-child(2)::before{content: "2"}
            li:nth-child(3)::before{content: "3"}
            .active {
                color: #008940;
                &::before{border-color:#008940;background-color:#008940;color:#fff}
                &::after{background-color:#008940}
            }
        }
    }
    .progressBar li:first-child:after {content: none;}
    .email-main{
        max-width:875px;background:#B8B8B8;margin:auto;padding:25px 25px;border-radius:10px;margin-top:20px;
        .email-btn{background:#008940;color:#fff;border-radius:5px;padding:5px 15px;border:unset;font-weight:600;cursor:pointer}
        .email-btn:disabled{background:#ABAAAB;cursor:auto}
        .email-popup{
            width:100%;background:#fff;padding:15px 15px;border-radius:10px;border:1px solid gray;
            .pdf_main{overflow-y:scroll;height:500px;overflow-x:hidden;border-bottom:1px solid #ccc;
                .pdfViewer{overflow-x:hidden}}
        }
    }
    .search-exh{
        input{
            width:71%;padding:10px;border-bottom-left-radius:5px;border-top-left-radius:5px;border:1px solid #ccc;box-shadow:0 0 4px rgba(0,0,0,.4);
            &:focus{outline-color:#008940}
        }
        input:focus{outline-color: #008940;}
        .enter-btn{background:#008940;color:#fff;padding:10px 30px;border:1px solid #008940;border-bottom-right-radius:5px;border-top-right-radius:5px;font-weight:600;cursor:pointer}
        .close-btn{width:45px;height:45px;background:#707070;color:#fff;font-size:20px;border-radius:50%;border:1px solid #707070;position:relative;right:19px;cursor:pointer}
        .check-btn{width:45px;height:45px;background:#008940;color:#fff;font-size:20px;border-radius:50%;border:1px solid #008940;position:relative;right:19px}
    }
    .found-email {
        background: #fff; width: 72%; padding: 20px;
        .create_new{color:#008940;font-weight:600;text-decoration:underline}
        .mat-radio-button{
            display: block;
            margin-left: 10px;
            .mat-radio-label{
                display: block;
                .mat-radio-label-content{
                    width:90%;
                    p{
                        .time{float: right;}
                    }
                }
            }
            .mat-radio-inner-circle {background: #008940;}
        }
        .mat-radio-checked{
            .mat-radio-outer-circle{border-color: #008940;}
        }
        p{margin-bottom: 0;}
        a{text-decoration: underline !important;}
    }
    .no-exh {
        background:#FFF6C7;width:370px;color:#008940;padding:20px;
        p{margin-bottom:0}
        a{font-weight:700}
    }
}
.email_conf{
    .mat-dialog-container{padding-left:0;padding-right:0;overflow-x:hidden}
}
/* end proposal */
.kisan18{
    .extra-list{
        .mat-list{
            .mat-list-item{
                .mat-list-item-content{ padding: 0px !important;}
            }
        }
    }
}
.popup_dist{
    .mat-dialog-container{
        padding: 24px 0px; overflow-x: hidden;
        .mat-dialog-actions{min-height: 0px;}
    }
}
/* start extra requirement */
.quataPage{
    .amount-btn{background:#008940;padding:5px 15px;border:unset;color:#fff;border-radius:5px;font-weight:700}
    .can-btn{background:#EAD3D3;padding:5px 15px;border:unset;color:#CE4848;border-radius:5px;font-weight:700;margin-right:15px}
    .extra-reqtable{
        table{
            th{padding:5px 10px;color:#666;font-weight:600}
            td{padding:10px;
                span{margin-left:7px}
            }
        }
    }
}
/* end extra requirement */
/* start invoice */
.invoices{
    .inv-table{
        width: 100%;
        th{padding:8px;color:#666;font-weight:600}
        td{
            padding: 8px;
            a{cursor: pointer;}
            .material-icons{font-size:30px;top:8px;position:relative;left:5px;color:#999}
            .table-list-style{list-style:none;padding:0}
            .action-col{position:absolute;top:50%;text-align:center;transform:translate(-50%,-50%);left:70%}
            .paper-plane{position:absolute;top:50%;text-align:center;transform:translate(-50%,-50%);left:50%}
            .edit{position:absolute;top:50%;text-align:center;transform:translate(-50%,-50%);left:30%}
        }
    }
}
/* end invoice */
/*  start email popup  */
.email-popup{
    width: 700px;
    position: relative;
    padding: 0px 15px;
    p{
        position: absolute;
        right: -15px;
        top: -27px;
    }
    input{
        width:100%;border-radius:5px;border:1px solid #ccc;padding:3px;
        &::placeholder{color:#ccc;padding-left:10px}
        &:focus{outline-color:#008940}
    }
    .ngx-editor-textarea{height: 350px !important;}
}
/*  end email popup  */
.pavilion{border-collapse:collapse;text-align:center;color:#666;
    td{padding:5px 2px;border:1px solid #ccc}
}
.error-text{ color: red; font-weight: bolder !important; }
.list .refresh_button {
    position:absolute;right:0;top:7px;color:rgba(0,0,0,.54);background:transparent;border:none;cursor:pointer;
}
.green-text{ color: #008940; font-weight: bolder !important; }
.bolder-text {font-weight: bolder !important; }
.ht-unset { line-height: unset;}
.loader{position:fixed;left:0;top:0;width:100%;height:100%;opacity:.5;z-index:9999;background:url(../images/page-loader.gif) 50% 50% no-repeat rgb(249,249,249)}
/* customer product list */
.customGrid{
    display:block;width:100%;margin-top:0;margin-bottom:10px;
    .customCol{width:150px;height:150px;float:left;margin-right:20px;margin-bottom:20px;
        .productOuter{position:relative;justify-content:center}
    }
    .addMediaIcon{display:inline-block;border:1px solid #ccc;line-height:150px;width:150px;height:150px;text-align:center;cursor:pointer}
    @media (min-width: 1367px) and (max-width:1440px){
        .customCol{width: 120px; height: 120px;
            .productOuter{
                .prod-img{max-height:110px;}
            }
        }
        .addMediaIcon{line-height:120px;width:120px;height:120px}
    }
    @media (min-width: 1281px) and (max-width:1366px){
        .customCol{
            width: 110px; height: 110px;
            .productOuter{
                .prod-img{max-height:100px;}
            }
        }
        .addMediaIcon{line-height:110px;width:110px;height:110px}
    }
    @media (min-width: 1199px) and (max-width:1280px){
        .customCol{
            width:100px;height:100px;margin-right:12px;
            .productOuter{
                .prod-img{max-height:90px}
            }
        }
        .addMediaIcon{line-height:100px;width:100px;height:100px}
    }
}
.customerPro{
    margin: 16px 0 0; text-align: left;
      .file-upload-product {display: none;}
        label{color: #666;}
    span.add-product-image{
        cursor:pointer;display:inline-block;border:1px solid #000;width:150px;height:150px;text-align:center;transform:translate(-50% -50%);line-height:145px;
        @media (min-width: 1367px) and (max-width:1440px){
            width:120px;height:120px;line-height:115px;
        }
        @media (min-width: 1281px) and (max-width:1366px){
            width:110px;height:110px;line-height:105px;
        }
        @media (min-width: 1199px) and (max-width:1280px){
            width:100px;height:100px;line-height:95px;
        }
    }
    .closeIcon {
        vertical-align:top;cursor:pointer;position:absolute;right:-5px;top:-5px;
    }
}
.fileContainer {overflow: hidden; position: relative;}
.fileContainer [type=file]{cursor:inherit;display:block;font-size:999px;filter:alpha(opacity=0);min-height:100%;min-width:100%;opacity:0;position:absolute;right:0;text-align:right;top:0}
.fileContainer{display:inline-block;border:1px solid #ccc;line-height:110px;width:110px;height:110px;text-align:center;cursor:pointer}
.fileContainer [type=file]{cursor:pointer}
/* start edit company info */
.edit-company-info{
    .main_form{
        .mid{
            max-width: 530px;
            input{font-size:15px}
            textarea{font-size:15px}
            .mat-select-value-text{font-size:15px}
        }
        .divider{height:2px;background:#eee;max-width:636px;margin:10px auto 30px}
    }
    .font-small{font-size:15px;}
    .mat-card{
        padding: 0 !important;
        mat-card-header{
            background: #008940; margin: 0 auto !important; display: inherit !important;
            img{max-width:100%;max-height:100%}
            h2{color:#fff;font-size:25px;margin-bottom:0!important}
            .fileContainer{
                border-radius:50%;box-shadow:0 4px 8px 0 rgba(0,0,0,.5),0 6px 20px 0 rgba(0,0,0,.3);background:#fff;
                .add{position:relative;right:0;top:10px;background:transparent;color:#ccc;font-size:30px}
            }
            .headInput{
                input{background:inherit;border-top:0;border-left:0;border-right:0;border-color:#00E673;padding:0 20px;font-size:25px;text-align:center;color:#fff;font-weight:600}
            }
            .divider{background:#00E673;height:1px;width:35%;margin:0 auto;margin-top:.5em}
        }
        .mat-hint{font-size: 13px;}
    }
    .btn-outer{
        max-width: 530px; margin: 15px auto 25px;
        .cancel-btn{border-radius:5px;background:#313131;color:#fff;border:unset;width:100%;padding:10px;margin-top:10px;cursor:pointer}
        .create-btn{border-radius:5px;background:#007A39;color:#fff;border:unset;width:100%;padding:10px;margin-top:10px;cursor:pointer}
        .create-btn:disabled{background:#ABAAAB;cursor:auto}
    }
}
/* end edit company info */
.mrgn-l-r{margin-left: 0 !important; margin-right: 0 !important;}
/* proforma css */
// .proposal{
//     .email-main{
//         .email-popup{
//             padding: 15px 5px;
//             .proforma-invoice-scroll{
//                 overflow-x: hidden;
//                 height:500px;
//                 overflow-y: auto;
//                 width: 100%;
//                 .page{
//                     overflow: hidden;
//                     height: 100% !important;
//                 }
//             }
//         }
//     }
// }


/* invite status */
.inviteStatusBtn{
    .csvBtn{
      background: transparent;
      border: none;
      cursor:pointer
    }
    .font-large{ font-size: 18px; margin-bottom: 0}
    .mat-radio-group{ vertical-align: middle;
        .mat-radio-label-content{ padding-left: 5px;}
        .mat-radio-button{margin:0 10px;}
        .blackC{
            .mat-radio-outer-circle{border-color: #000  !important;}
            .mat-radio-inner-circle{ background:#000  !important}
            .mat-radio-label-content{ color: #000}
        }
        .grayC{
            .mat-radio-outer-circle{border-color: #666  !important;}
            .mat-radio-inner-circle{ background:#666  !important}
            .mat-radio-label-content{ color: #666}
        }
        .yellowC{
            .mat-radio-outer-circle{border-color:#f1ae30  !important;}
            .mat-radio-inner-circle{ background:#f1ae30  !important}
            .mat-radio-label-content{ color:#f1ae30}
        }
        .orangeC{
            .mat-radio-outer-circle{border-color:#fc9003  !important;}
            .mat-radio-inner-circle{ background:#fc9003  !important}
            .mat-radio-label-content{ color: #fc9003}
        }
        .greenC{
            .mat-radio-outer-circle{border-color: #008940  !important;}
            .mat-radio-inner-circle{ background:#008940  !important}
            .mat-radio-label-content{ color: #008940}
        }
    }
}

.konnectPage{
    .mat-card{border-radius: 0 !important;}
    .report-header-block{
            height: 70px; padding: 0 !important;
            .mat-list{
                padding: 0; width: 100%;
                .mat-list-item{
                    .mat-list-item-content{
                        .mat-icon{color:#a3a1fb;border:2px solid;border-radius:50%;padding:6px;vertical-align:top}
                        .mat-list-text{
                            h4{font-size:28px;color:#a3a1fb;
                                span{font-size:18px}
                            }
                                p{font-size:12px;color:#333;white-space:normal}
                        }
                    }
                }
                .greenTxt{
                    float: left;
                    .mat-list-item-content{
                        .mat-icon{color: #408941; text-align: center;
                            i{
                                img{width: 18px;}
                            }
                        }
                        .mat-list-text{
                            h4{font-size:22px;color:#408941}
                            p{color:#333;font-size:10px}
                        }
                        .balTxt{padding-top:15px;font-size:14px}
                    }
                }
            }
    }
    .greenValue{
        background: #008941; color: #fff;
        p{
            i{ vertical-align: middle; font-size: 20px;}
        }
        h2{color: #fff; font-size:54px; padding:19px 0;}
        hr{border-color: #fff; opacity: 0.5; margin-bottom: 0}
    }
    .konnect-table{
        .table{ font-size:15px; table-layout: fixed;
            td{ vertical-align: middle; padding:8px;
                .nameSpan{white-space: nowrap; width:140px; text-overflow: ellipsis; overflow: hidden; display: inline-block; line-height:30px;}
             }
            .borderRd{ border-radius: 50%; float: left; margin-right: 5px}  
            th { vertical-align: middle; word-break: break-word; text-align: center;
                background:#f2f2f2; font-weight:600;color:#333;padding:12px 4px!important;font-size:14px;position:relative;
                .table-filter{position:absolute;right: -10px !important;
                    i{vertical-align: middle; margin-right: 4px;}
                }
            } 
            .redTxt{ color: #C00606}
            .orangeTxt{ color: #E7B12B}
            ul{ padding:0; list-style: none; display: inline-flex; margin: 0;
                li{ cursor: pointer;}
            }
        }
        .topFilter{
            .mat-icon{i{color: #666;}}
            .mat-form-field-infix{ margin-left:6px;}
        }
        .pagi{
            font-size: 15px;
            .mat-list{
                padding-top: 0px;
                .mat-list-item{ font-size:15px !important;
                    display:inline !important;
                    .mat-list-item-content{
                        display:unset !important; padding: 0 8px;
                        .mat-button{
                            min-width:auto !important; padding: 0px !important; line-height: normal;
                        }
                    }
                }
                .page{position:relative;bottom:5px}
            }
        }
        .greennewBtn{background:#fff;color:#008940; cursor: pointer; font-weight:600; border:2px solid #008940; font-size:13px; line-height:30px; float:right;box-shadow:inherit;padding:0 10px;top:-10px;border-radius:6!important;}
    }

    .qrcodePrint{padding:200px 100px; width: 1655px; height: 2340px; background: #fff; color: #000;}
    .qrcodePrintLarge{padding:80px; width:3450px; height:3450px; color: #fff;
        h2{ padding:0; color: #fff; font-size:110px; margin-top:80px; margin-bottom: 0;}
    }
    .printLargeGreen{ background: #008940}
    .printLargeBlue{ background: #03B7EE}
    .printLargeRed{ background: #cc0000}
}


/* digital preview catelog */
.digital-prev{
    background: #f1f1f1;
    h2{
        color: #008940;
        font-size: 23px;
        font-weight: 600;
    }
    h3{
        color: #333;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        i{
            font-size: 26px;
            vertical-align: middle;
        }
    }
    .list{
        .shortList{
            display: block;
            width: 240px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        @media (max-width:568px){
            .textC{ text-align: center; padding-left: 15px !important;}
            .ExhiProfile{margin-bottom: 10px !important;}
            .shortList{ width: 100%;}
        }
        @media (max-width:767px){

            .ExhiProfile{margin-bottom: 10px !important;}
        }
        .mat-card{ border-radius:4px !important;}
        .ExhiProfile {
            box-shadow:0 0 14px rgba(0,0,0,.6);-webkit-box-shadow:0 0 14px rgba(0,0,0,.6);-moz-box-shadow:0 0 14px rgba(0,0,0,.6);background-color:#fff;margin:0 auto 0;position:relative;overflow:hidden;border-radius:50%;height:85px;width:85px;
            img{position:relative;height:auto;width:auto;max-width:100%;max-height:100%;top:50%;transform:translateY(-50%)}
        }
        a{
            cursor: pointer;
            text-decoration: none;
            color: #333;
            h3{
                color: #000;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-transform: capitalize;
                font-size: 20px;
                
            }
        }
        
        p{ margin-bottom: 0.3rem;
        i{
            vertical-align: middle;
            font-size: 18px;
            margin-right: 5px;
        }
        }
    }
    .filterOuter{
        margin: 15px 0;
        background: #fff;
        padding: 10px 20px;
        box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
        border-radius: 4px;
        .topFilter{ margin-bottom:1.5rem;}
    }
    .applyFilter{
        .appTxt{ float: left;}
        ul{
            margin-bottom: 0;
            float: left;
            padding: 0;
            list-style: none;
            li{
                display: inline-block;
                vertical-align: middle;
                color: #008940;
                background: #f1f1f1;
                padding: 3px 6px;
                border-radius: 4px;
                font-size: 15px;
                cursor: pointer;
            i{
                vertical-align: middle;
                font-size: 18px;
                color: #333;
            }
            }
        }
    }
    .company-profile{
        .org-detail{
            .tRight{ text-align: right;}
        }
    }
    @media (max-width:411px){
        .pad-l-xl{ padding-right:1rem !important; padding-left: 1rem  !important;}
    }
    @media (max-width:767px){
        h2{ margin-bottom: 10px;}
    }
    @media (max-width:1024px){
        .company-profile{
            .org-detail{
                h5{ font-size: 18px !important;}
                .dsc-tit{ font-size: 17px;}
                table{
                    td{ font-size: 17px;}
                }
            }
            .company-info{
                 h3{ font-size: 24px;}
                 h5{ font-size: 18px !important;}
                p{ font-size: 17px;}
                .stall-booked{
                    .mat-list{
                        .mat-list-item{
                            .mat-list-item-content{
                                .mat-list-text{
                                    h4{ font-size: 17px;}
                                }
                            }
                        }
                    }
                } 
            }
           
        }
        .profileIntrest{
            .intrestList{
                h5{ font-size: 15px !important;}
            }
        } 
    }

    @media (max-width:480px){
        .company-profile{
            .org-detail{
                .tRight{ text-align: left;}
            }
            .company-info{
                .profileImg{ margin-bottom: 10px;}
                 h3{ font-size: 24px;}
                 h5{ font-size: 18px !important; text-align: left !important;}
                p{ font-size: 17px;}
            }
           
        }
    }
}

/* reports header */
.kisanLogo{
    .textR{ text-align: right;}
    .textL{ text-align: left;}
    @media (max-width:767px){
        .textR{ text-align: center;}
        .textL{ text-align: center;}
    }
}



.ng-image-slider .ng-image-slider-container .main .main-inner .img-div{ cursor: pointer !important;}


// @media (max-width:480px){
//     .ng-image-slider .ng-image-slider-container .main .main-inner .img-div{
//         border:2px solid red !important;
//         width: 300px !important;
//         height: 153px !important;
//     }
//     .ng-image-slider .ng-image-slider-container .main .main-inner .img-div img{
//        width: 100% !important;  height: 100% !important;
//     }
// }

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    background-color:#008940 !important;
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 44px !important;
    img{
        width: 30px;
        height: 30px;
    }
}
.company-profile .list .mat-form-field-type-mat-select .mat-form-field-label {
    top: 35px !important;
}
.stallStatus .filter .search .mat-form-field-label-wrapper label {
    top: 19px !important;
    font-size: 15px !important;
}
.stallStatus .filter .search .material-icons {
    font-size: 30px;
    top: 0px;
    position: relative;
    left: -1px;
    color: #6f6e6e;
}
.stallStatus .filter .search .mat-form-field-flex{
    background: #edecec;
}
.stallStatus .filter .selected .mat-form-field-flex span.ng-star-inserted {
    font-size: 15px;
    font-weight: 600;
}