<div class="all_center_page">
        <main class="mid-section">
            <mat-card class="cards">
              <div class="row no-gutters">
                <div class="col-sm-6">
                  <div class="logoBg">
                    <div class="logoImg"><img src="assets/images/kisan_logo_green.png" title="logo" width="250"></div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="contentBg"> 
                        <div class="pageNotFound pad-l-lg pad-r-lg">
                                <div class="mrgn-b-md">
                                        <img src="assets/images/kisan_logo_white.png" title="logo" width="180">
                                    </div>
                                        <div class="row text-center">
                                            <div class="col-md-5">
                                                <img src="assets/images/error-404.png" width="170">
                                            </div>
                                
                                            <div class="col-md-7">
                                                <h1 style="font-size: 75px;font-weight: bold;">404</h1>
                                                <h4>Page not found</h4>
                                            </div>
                                        </div>
                                        <br>
                                        <div style="text-align: center;">
                                
                                            <p>Oops, Sorry we can't find that page.</p>
                                        </div>
                                        <div class="text-center">
                                            <button class="text-uppercase btnGreen mrgn-t-md mrgn-b-md" mat-raised-button  [routerLink]="['/dashboard']"> Go Home</button>
                                        </div>
                        </div>
                      
                      </div><!-- end content bg-->
                </div>
              </div>
            </mat-card>
          </main>
        </div>