<div id="loader"  style="display:none;" class="loader"></div>
<div class="container-fluid contSpace">
    <div class="row changePassword">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="mrgn-t-none mrgn-b-lg">Map Gmail to send proforma & proposals</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-6 allBlock">            
            <mat-card>
                <form #mapGmail="ngForm" (ngSubmit)="onSubmit(mapGmail)">
                    <div class="row pad-l-lg pad-r-lg">
                        <div class="col-sm-12 mrgn-b-lg">
                            <ul>
                                <li>Go to <a href="https://myaccount.google.com/security" target="_blank">Google Security</a> and turn on 'Less secure app access'</li>
                            </ul>
                        </div>
                        <div class="col-sm-12">
                            <mat-form-field class="example-full-width pad-b-sm">
                                <input matInput placeholder="Gmail ID" name="email" id="email"  [(ngModel)]="email"
                                    required minlength="5" onkeyup="allowEmail(this);restrictSpace(this);"
                                     type="text" />
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12">
                            <mat-form-field class="example-full-width pad-b-sm">
                                <input matInput placeholder="Gmail Password" name="password" 
                                    id="password" [(ngModel)]="pwd" required minlength="2"
                                    type="password" appBlockCopyPaste />
                            </mat-form-field>
                        </div>                       
                        <div class="col-sm-12 mrgn-t-sm">
                            <button type="submit" mat-raised-button 
                                [disabled]="mapGmail.invalid || !validateEmail()" 
                                class="greenBtn text-uppercase">Save </button>
                        </div>
                    </div>
                </form>
            </mat-card>
    </div>
  </div>
  </div>