<div class="categoryPopup">
        <!-- top link-->
        <div class="topLink topLinkGreen box-shadow-top-strip mrgn-none" id='topLinkGreen'>
            <div class="container-fluid">
                <mat-list>
                    <mat-list-item>
                        <span class="mrgn-l-md">Interests - Select the areas of your interest</span>
                    </mat-list-item>
                    <mat-list-item>
                        <a class="text-uppercase text-right widthfull"><button mat-dialog-close class="closeBtn">
                        <i class="material-icons">close</i>
                        </button></a>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
        <!-- end top link-->
        
        <!--fullscreen Container-->
        <section class="fullscreenSection">
            <div class="container mrgn-auto">
                <div class="profileIntrestPop pad-t-lg">
                    <div class="row">
                            <div class="col-sm-4">
                                <div class="pad-t-l-r-b-md">
                                    <mat-list class="intrestList mat-pad-none">
                                        <mat-list-item>
                                            <div class="checkInterest text-right mrgn-t-none mrgn-r-none">
                                                <mat-checkbox>
                                                    <img src="assets/images/farm_services.jpg" width="65" height="65" />
                                                    <h4 class="font-bold-four mrgn-b-none">Farm Services</h4>
                                                </mat-checkbox>
                                            </div>
                                        </mat-list-item>
                                    </mat-list>
                                </div>
                            </div>
                            <div class="col-sm-4">
                            <div class="pad-t-l-r-b-md">
                                <mat-list class="intrestList mat-pad-none">
                                    <mat-list-item>
                                        <div class="checkInterest text-right mrgn-t-none mrgn-r-none">
                                            <mat-checkbox>
                                                <img src="assets/images/farm_services.jpg" width="65" height="65" />
                                                <h4 class="font-bold-four mrgn-b-none">Farm Services</h4>
                                            </mat-checkbox>
                                        </div>
                                    </mat-list-item>
                                </mat-list>
                            </div>
                        </div>
                        <div class="col-sm-4">
                        <div class="pad-t-l-r-b-md">
                            <mat-list class="intrestList mat-pad-none">
                                <mat-list-item>
                                    <div class="checkInterest text-right mrgn-t-none mrgn-r-none">
                                        <mat-checkbox>
                                            <img src="assets/images/farm_services.jpg" width="65" height="65" />
                                            <h4 class="font-bold-four mrgn-b-none">Farm Services</h4>
                                        </mat-checkbox>
                                    </div>
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    <div class="pad-t-l-r-b-md">
                        <mat-list class="intrestList mat-pad-none">
                            <mat-list-item>
                                <div class="checkInterest text-right mrgn-t-none mrgn-r-none">
                                    <mat-checkbox>
                                        <img src="assets/images/farm_services.jpg" width="65" height="65" />
                                        <h4 class="font-bold-four mrgn-b-none">Farm Services</h4>
                                    </mat-checkbox>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>
                <div class="col-sm-4">
                <div class="pad-t-l-r-b-md">
                    <mat-list class="intrestList mat-pad-none">
                        <mat-list-item>
                            <div class="checkInterest text-right mrgn-t-none mrgn-r-none">
                                <mat-checkbox>
                                    <img src="assets/images/farm_services.jpg" width="65" height="65" />
                                    <h4 class="font-bold-four mrgn-b-none">Farm Services</h4>
                                </mat-checkbox>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
            <div class="col-sm-4">
            <div class="pad-t-l-r-b-md">
                <mat-list class="intrestList mat-pad-none">
                    <mat-list-item>
                        <div class="checkInterest text-right mrgn-t-none mrgn-r-none">
                            <mat-checkbox>
                                <img src="assets/images/farm_services.jpg" width="65" height="65" />
                                <h4 class="font-bold-four mrgn-b-none">Farm Services</h4>
                            </mat-checkbox>
                        </div>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
                    </div> <!--End Row -->
                </div>
            </div>
        </section>
        <!--End fullscreen Container -->
        </div>