<!-- Start Profile page -->
<div id="loader"   class="loader"></div>
<form #editStallInfo="ngForm" (ngSubmit)="onSubmit(editStallInfo)">
    <div class="container-fluid contSpace">
        <span *ngIf="!(isSuccess)" class="errorMessage"> {{message}} </span>
        <div class="row company-profile edit-profile" *ngIf="stallDetails.stallinfo" >
            <div class="col-sm-12 headerInfo">
                <div class="row">
                    <div class="col-sm-6 mrgn-t-none mrgn-b-md "  >
                        <h2 class="headerLeft "  >
                            <div class="float-left "  [ngClass]="{'grey-txt':stallDetails.stallinfo.status=='Pending' && stallDetails.stallinfo.is_formsubmitted==0,'green-txt':stallDetails.stallinfo.status=='Approved','yellow-txt':stallDetails.stallinfo.status=='Pending'  && stallDetails.stallinfo.is_formsubmitted==1,'red-txt':stallDetails.stallinfo.status=='Rejected'}">
                                ID -<span class="font-bold-six mrgn-r-md">{{stallId}}</span>
                            </div>
                            <div *ngIf="showStallNumber" class="float-left  pad-r-md" [ngClass]="{'grey-txt':stallDetails.stallinfo.status=='Pending' && stallDetails.stallinfo.is_formsubmitted==0,'green-txt':stallDetails.stallinfo.status=='Approved','yellow-txt':stallDetails.stallinfo.status=='Pending'  && stallDetails.stallinfo.is_formsubmitted==1,'red-txt':stallDetails.stallinfo.status=='Rejected'}" >
                                |
                            </div>
                            <div *ngIf="showStallNumber" class="float-left " [ngClass]="{'grey-txt':stallDetails.stallinfo.status=='Pending' && stallDetails.stallinfo.is_formsubmitted==0,'green-txt':stallDetails.stallinfo.status=='Approved','yellow-txt':stallDetails.stallinfo.status=='Pending'  && stallDetails.stallinfo.is_formsubmitted==1,'red-txt':stallDetails.stallinfo.status=='Rejected'}">
                                Stall no -<span class="font-bold-six mrgn-r-md">{{stallDetails.stallinfo.alloted_stall_no}}</span>
                            </div>
                            <div class="stall-status text-uppercase" [ngClass]="{'grey-txt':stallDetails.stallinfo.status=='Pending' && stallDetails.stallinfo.is_formsubmitted==0,'green-txt':stallDetails.stallinfo.status=='Approved','yellow-txt':stallDetails.stallinfo.status=='Pending'  && stallDetails.stallinfo.is_formsubmitted==1,'red-txt':stallDetails.stallinfo.status=='Rejected'}" >
                                <span class="green-dot mrgn-l-sm mrgn-r-sm" *ngIf="stallDetails.stallinfo.status=='Approved'"></span>
                                <span class="yellow-dot mrgn-l-sm mrgn-r-sm" *ngIf="stallDetails.stallinfo.is_formsubmitted==1  && stallDetails.stallinfo.status=='Pending'"></span>
                                <span class="grey-dot mrgn-l-sm mrgn-r-sm" *ngIf="stallDetails.stallinfo.is_formsubmitted==0 && stallDetails.stallinfo.status=='Pending'"> </span>

                                <span class="red-dot mrgn-l-sm mrgn-r-sm" *ngIf="stallDetails.stallinfo.status=='Rejected'"></span>
                                {{stallDetails.stallinfo.status=='Pending' ? (stallDetails.stallinfo.is_formsubmitted ? 'Pending' : 'Not Filled') : stallDetails.stallinfo.status }}
                            </div>
                        </h2>
                    </div>
                    <div class="col-sm-6 text-right mrgn-t-none mrgn-b-md">
                        <div class="headerRight">
                            <button type="submit" [disabled]="editStallInfo.invalid || !validateSKU() || !(orgNameMarathiFormControl.valid) " mat-raised-button class="greenBtn text-uppercase">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row" >
                    <div class="col-sm-6" >
                        <mat-card class="" >
                            <h5 class="font-bold-six">Organisation details</h5>
                            <hr class="mrgn-b-lg">
                            <div class="row">
                                <div class="col-sm-3 text-center company-info">
                                    <div class="profileImg"><img class="company-logo" [src]="defaultExhibitorImage"></div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="col-sm-12">
                                        <mat-form-field class="example-full-width pad-b-sm">
                                            <span class="mandatory">*</span>
                                            <input matInput placeholder="Organisation Name" name="company_name" id="company_name"
                                                [(ngModel)]="stallDetails.stallinfo.company_name" value="" required
                                                onkeyup="orgName(this);restrictMultiSpace(this);" />
                                                <!-- " orgNameallowOrganizationName(this);" -->
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width pad-b-sm">

                                            <input class="orgnameBold" matInput placeholder="संस्थेचे नाव" [formControl]="orgNameMarathiFormControl" [(ngModel)]="stallDetails.stallinfo.company_name_marathi"
                                                name="company_name_marathi" id="company_name_marathi" />
                                                <mat-error *ngIf="orgNameMarathiFormControl.hasError('pattern')">
                                                  कृपया संस्थेचे नाव मराठीत लिहा.
                                              </mat-error>

                                          </mat-form-field>

                                    </div>
                                    <div class="col-sm-12">
                                        <mat-form-field class="example-full-width pad-b-sm">
                                            <span class="mandatory">*</span>
                                            <input matInput placeholder="Address" name="address" id="address" value=""
                                                    [(ngModel)]="stallDetails.stallinfo.address" required />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <mat-form-field class="example-full-width pad-b-sm">
                                                    <mat-select placeholder="Country" name="country" id="country"
                                                        (ngModelChange)="removestatecity(stallDetails.stallinfo.country)" [(ngModel)]="stallDetails.stallinfo.country" required>
                                                        <mat-option *ngFor="let country_name of countries;"  value="{{country_name}}">
                                                            {{country_name}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-6" *ngIf="stallDetails.stallinfo.country=='India'" >
                                                <mat-form-field class="example-full-width pad-b-sm">
                                                    <mat-select placeholder="State" name="state" id="state"
                                                        [(ngModel)]="stallDetails.stallinfo.state" required
                                                        (ngModelChange)="showCities(stallDetails.stallinfo.state)" >
                                                            <mat-option *ngFor="let key of objectKeys(states) "
                                                                [value]="key">
                                                                {{key}}
                                                            </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-6" *ngIf="stallDetails.stallinfo.country=='India'">
                                                <mat-form-field class="example-full-width pad-b-sm">
                                                    <mat-select placeholder="City" name="city" id="city"
                                                            [(ngModel)]="stallDetails.stallinfo.city" required>
                                                        <mat-option *ngFor="let city of cities " [value]="city">
                                                            {{city}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-sm-6">
                                                <mat-form-field class="example-full-width pad-b-sm">
                                                    <input matInput placeholder="Postal Code" name="zip" id="zip"
                                                        value="" required  [(ngModel)]="stallDetails.stallinfo.zip"
                                                        onkeyup="allowNumbers(this);" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <mat-form-field class="example-full-width pad-b-sm">
                                            <input matInput placeholder="Company Email" value="" name="company_email"
                                                id="company_email" value="" required
                                                [(ngModel)]="stallDetails.stallinfo.company_email" onkeyup="allowEmail(this);" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-12">
                                        <mat-form-field class="example-full-width pad-b-sm">
                                            <input type="tel" matInput placeholder="Company Phone" maxlength="20"
                                                id="company_phone" name="company_phone" value="" required
                                                [(ngModel)]="stallDetails.stallinfo.company_phone" onkeyup="allowContactNumber(this);" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-12">
                                        <mat-form-field class="example-full-width pad-b-sm">
                                            <input matInput placeholder="Website" value="" name="website" name="website"
                                            [(ngModel)]="stallDetails.stallinfo.company_website" />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                    <div class="col-sm-6 orgSameEdit">
                         <mat-card class="cont-per mrgn-b-md">
                            <h4>
                                <span class="font-bold">Co-ordinator</span> - Person who booked the stall
                                <!--<i class="material-icons infoIcon"  matTooltip="
                                Contact information for farmers to know about your product" >info</i>-->
                                <span class="grayNote float-right">This info will not be printed in fair catalogue </span>
                            </h4>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <mat-list class="coordinator-mat-list">
                                        <mat-list-item>
                                            <mat-icon mat-list-icon>
                                              <i class="material-icons">person_outline</i>
                                            </mat-icon>
                                            <h4 mat-line class="text-capitalize large-font">{{(stallDetails.stallinfo)?.booked_by_fname}} {{(stallDetails.stallinfo)?.booked_by_lname}}</h4>
                                        </mat-list-item>
                                        <mat-list-item>
                                            <mat-icon mat-list-icon>
                                              <i class="material-icons">phone_android</i>
                                            </mat-icon>
                                            <h4 mat-line *ngIf="(stallDetails.stallinfo)?.booked_by_mobile">{{(stallDetails.stallinfo)?.booked_by_mobile}}</h4>
                                            <h4 mat-line *ngIf="!(stallDetails.stallinfo)?.booked_by_mobile" class="redTxtB">Not Available</h4>
                                        </mat-list-item>
                                        <mat-list-item>
                                            <mat-icon mat-list-icon>
                                              <i class="material-icons">mail_outline</i>
                                            </mat-icon>
                                            <h4 mat-line *ngIf="(stallDetails.stallinfo)?.booked_by_email">{{(stallDetails.stallinfo)?.booked_by_email}}</h4>
                                            <h4 mat-line *ngIf="!(stallDetails.stallinfo)?.booked_by_email" class="redTxtB">Not Available</h4>
                                        </mat-list-item>
                                    </mat-list>
                                </div>
                            </div>
                        </mat-card>
                        <mat-card class="cont-per">
                            <h5><span class="font-bold">Contact Person</span>  - for farmers and businesses to contact.</h5>
                            <hr class="mrgn-b-lg" />
                                <!-- <div class="sameCordinator mrgn-t-lg mrgn-b-lg">
                                        <mat-checkbox>Same as the co-ordinator</mat-checkbox>
                                    </div> -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <mat-form-field class="example-full-width pad-b-md">
                                        <input matInput placeholder="First Name" name="contact_person_first_name"
                                            id="contact_person_first_name"  value="" required
                                            [(ngModel)]="stallDetails.stallinfo.contact_person_first_name"
                                            onkeyup="restrictSpecial(this);restrictMultiSpace(this);"  />
                                            <!-- allowAtoZandSpace(this); -->
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field class="example-full-width pad-b-md">
                                        <input matInput placeholder="Last Name" name="contact_person_last_name"
                                        id="contact_person_last_name" value="" required
                                        [(ngModel)]="stallDetails.stallinfo.contact_person_last_name"
                                        onkeyup="restrictSpecial(this);restrictMultiSpace(this);" />
                                        <!-- allowAtoZandSpace(this); -->
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <mat-form-field class="example-full-width pad-b-md">
                                        <input matInput placeholder="Designation" maxlength="50"
                                            name="contact_person_designation" id="contact_person_designation" value=""
                                            [(ngModel)]="stallDetails.stallinfo.contact_person_designation" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                </div>
                            </div>
                        </mat-card>
                        <mat-card class="cont-per" *ngIf="stallDetails.stallinfo.status=='Approved'">
                            <h5><span class="font-bold">Layout Stall Details</span></h5>
                            <hr class="mrgn-b-lg" />
                            <div class="row">
                                <div class="col-sm-6">
                                    <mat-form-field class="example-full-width pad-b-md">
                                        <input matInput placeholder="Stall No" name="alloted_stall_no"
                                            id="alloted_stall_no"  value="" maxlength="4"
                                            [(ngModel)]="stallDetails.stallinfo.alloted_stall_no"
                                              />
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field class="example-full-width pad-b-md">
                                        <input matInput placeholder="Hall No" name="alloted_hall_no"
                                        id="alloted_hall_no" value="" maxlength="4"
                                        [(ngModel)]="stallDetails.stallinfo.alloted_hall_no"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                </div>
                            </div>

                        </mat-card>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row mrgn-t-lg mrgn-b-m">
                    <div class="col-sm-6">
                        <mat-card class="stand-detail">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h5 class="font-bold-six">Stall details</h5>
                                </div>
                                <div class="col-sm-8 ">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="SKU" maxlength="50" required
                                                    name="sku" id="sku" value=""
                                                    [(ngModel)]="stallDetails.stallinfo.sku"
                                                    (ngModelChange)="changeSKU()"
                                                    />
                                            </mat-form-field>
                                            <p *ngIf="!isSKUValid" style="color:red;margin-top:-30px;font-size:90%;">* Invalid SKU</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Priority Number" maxlength="50"
                                                    name="priority_number" id="priority_number" value=""
                                                    [(ngModel)]="stallDetails.stallinfo.priority_number" />
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="mrgn-b-md">
                            <div class="row mrgn-t-md mrgn-b-md">
                                <div class="col-sm-4">
                                    <img *ngIf="isSKUValid" class="stall-img mrgn-t-sm" src="{{stallDetails.stallinfo.stand_image}}" alt="Stall Image">
                                    <!--<p class="mrgn-t-md">SKU:
                                    <b> {{stallDetails.stallinfo.sku}}</b>
                                    </p>  -->
                                </div>
                                <div class="col-sm-8">
                                    <table>
                                        <tr>
                                            <td style="vertical-align:top;">Pavillion</td>
                                            <td style="vertical-align:top;">: </td>
                                            <td class="font-bold-six" style="vertical-align:top;"> {{stallDetails.stallinfo.pavillion_name }}</td>
                                        </tr>
                                        <tr>
                                            <td>Area</td>
                                            <td>: </td>
                                            <td class="font-bold-six">  {{stallDetails.stallinfo.area }} sq.m.</td>
                                        </tr>
                                        <tr>
                                            <td>Location</td>
                                            <td>: </td>
                                            <td class="font-bold-six"> {{stallDetails.stallinfo.stand_location_name }}</td>
                                        </tr>
                                        <tr>
                                            <td>Type</td>
                                            <td>: </td>
                                            <td class="font-bold-six"> {{stallDetails.stallinfo.stand_type_name }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <hr class="mrgn-t-sm"  *ngIf="stallDetails.stallinfo.stand_type=='P'">
                            <div class="col-sm-6 pad-l-none mrgn-t-md"  *ngIf="stallDetails.stallinfo.stand_type=='P'">
                                <mat-form-field class="example-full-width ">
                                    <span class="mandatory">*</span>
                                    <input matInput placeholder="Fascia Name" maxlength="25"
                                        name="fascia_name" id="fascia_name" value=""
                                        [(ngModel)]="stallDetails.stallinfo.fascia_name"  [required]="stallDetails.stallinfo.stand_type=='P'" />
                                </mat-form-field>
                            </div>
                        </mat-card>
                    </div>
                    <div class="col-sm-6">
                        <mat-card class="">
                            <h5 class="font-bold-six">Payment details</h5>
                            <hr class="mrgn-b-lg">
                            <div class="row">
                                <div class="col-sm-6">
                                    <table>
                                        <tr>
                                            <td>Price ₹</td>
                                            <td class="pad-r-sm">: </td>
                                            <td class="font-bold-six text-right"> {{getRupeeFormat(stallDetails.stallinfo.base_amount)}}</td>
                                        </tr>
                                        <tr>
                                            <td>Discount ₹</td>
                                            <td class="pad-r-sm">: </td>
                                            <td class="font-bold-six text-right"> {{getRupeeFormat(stallDetails.stallinfo.total_discount)}}</td>
                                        </tr>
                                        <tr>
                                            <td>Subtotal ₹</td>
                                            <td class="pad-r-sm">: </td>
                                            <td class="font-bold-six text-right"> {{getRupeeFormat(stallDetails.stallinfo.base_amount - stallDetails.stallinfo.total_discount)}}</td>
                                        </tr>
                                        <tr>
                                            <td>Tax amount ₹</td>
                                            <td class="pad-r-sm">: </td>
                                            <td class="font-bold-six text-right"> {{getRupeeFormat(stallDetails.stallinfo.total_tax)}}</td>
                                        </tr>
                                        <tr>
                                            <td>TDS ₹</td>
                                            <td class="pad-r-sm">: </td>
                                            <td class="font-bold-six text-right"> {{getRupeeFormat(stallDetails.stallinfo.tds_amount)}}</td>
                                        </tr>
                                        <tr>
                                            <td>Amount Paid ₹</td>
                                            <td class="pad-r-sm">: </td>
                                            <td class="font-bold-six ">
                                                <mat-form-field class="example-full-width " style="max-width:80px;text-align:right;">
                                                    <input matInput placeholder="paid amt." maxlength="15" required
                                                        name="paid_amount" id="paid_amount" value=""
                                                        [(ngModel)]="stallDetails.stallinfo.paid_amount"
                                                        onkeyup="allowNumbers(this);"
                                                        />
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-sm-6">
                                    <div class="paymentDetails">
                                        <mat-checkbox [disabled]="!showaddGST" name="is_gstin" id="is_gstin" [(ngModel)]="stallDetails.stallinfo.is_GSTIN"
                                            (ngModelChange)="changeIsGSTIN()" >Registered under GST Act</mat-checkbox>
                                        <p *ngIf="!showaddGST" class="mrgn-t-sm">GSTIN : <span class="font-bold-six">{{stallDetails.stallinfo.GSTIN}}</span></p>
                                        <div class="col-sm-12" *ngIf="showaddGST && stallDetails.stallinfo.is_GSTIN">
                                            <mat-form-field class="example-full-width pad-b-md">
                                                <input matInput placeholder="GSTIN" maxlength="50"
                                                    name="GSTIN" id="GSTIN" value=""
                                                    [(ngModel)]="stallDetails.stallinfo.GSTIN" [required]="stallDetails.stallinfo.is_GSTIN"/>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row mrgn-t-lg mrgn-b-m">
                    <div class="col-sm-12">
                        <mat-card class="orgBottomEdit">
                            <h5 class="font-bold-six">Organisation details</h5>
                            <hr class="mrgn-b-lg" />
                            <div class="row mrgn-t-lg mrgn-b-lg">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <h6 class="spacingLab">Product Categories
                                                 <!--<span class="float-right">:</span>
                                                <span class="matInfo"><i class="material-icons infoIcon" matTooltip="Area of interst of your product.">info</i></span>
                                               <span class="detail-img">Max. 3 categories </span>-->
                                            </h6>
                                        </div>
                                        <div  style="vertical-align: top;width:20px;">:</div>
                                        <div class="col-sm-9 ">
                                            <div class="profileIntrest useLargeFont">
                                                <div *ngIf="finalCategory.length==0" class="font-bold-six  wordWrap redTxtB"><h6>Not Available</h6></div>
                                                <div class="row mrgn-t-sm">
                                                    <div   class="col-md-12 col-lg-4" style="margin-bottom:10px;" *ngFor="let category of finalCategory">
                                                        <mat-list class="intrestList mat-pad-none mrgn-none">
                                                        <mat-list-item>
                                                            <div class="checkInterest  mrgn-t-none mrgn-r-none">
                                                            <img src="{{category.image_url}}" width="55" height="55" />
                                                            <h5 class="font-bold-four mrgn-b-none">{{category.name}}</h5>
                                                            </div>
                                                        </mat-list-item>
                                                        </mat-list>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="stallDetails.stallinfo && stallDetails.stallinfo.product_category_other!=''" class=" col-md-4 othercat">Other : <span>{{stallDetails.stallinfo.product_category_other}}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <h6 class="spacingLab">
                                                About Product & Services
                                                <!--<span class="float-right">:</span>
                                                <span class="matInfo"><i class="material-icons infoIcon"  matTooltip="Add product description for the farmer.">info</i></span>-->
                                            </h6>
                                        </div>
                                        <div  style="vertical-align: top;width:20px;">:</div>
                                        <div class="col-sm-9">
                                            <mat-form-field class="widthfull">
                                                <textarea name="product_info" id="product_info" required rows="1" #productDes minlength="10" maxlength="100" [(ngModel)]="stallDetails.stallinfo.product_info" matInput placeholder="Please enter product description"></textarea>
                                                <mat-hint align="end">{{productDes.value.length}} / 100</mat-hint>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mrgn-t-md">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <h6 class="spacingLab">Product Media
                                                <!--<span class="matInfo"><i class="material-icons infoIcon" matTooltip="Upload product document, photos or videos. Min.1 - Max.5">info</i></span>
                                                <span class="float-right">:</span>
                                                <span class="detail-img">Min.1 - Max.5 </span>-->
                                            </h6>
                                        </div>
                                        <div  style="vertical-align: top;width:20px;">:</div>
                                        <div class="col-sm-9">
                                            <div *ngIf="productImages.length==0" class="font-bold-six  wordWrap redTxtB"><h6>Not Available</h6></div>
                                            <div class="customGrid mrgn-t-sm">
                                                <div  class="customCol" *ngFor="let prodImage of productImages">
                                                    <div class="productOuter">
                                                        <img class="prod-img" src="{{prodImagePrefix + prodImage}}"
                                                            *ngIf="(prodImage)" alt="Not Available">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" *ngIf="stallDetails.stallinfo.quota_details[0]">
                <div class="row mrgn-t-md mrgn-b-m">
                    <div class="col-sm-12">
                        <mat-card class="quota  mrgn-t-lg">
                            <h5 class="pad-b-md font-bold-six">Quota</h5>
                            <table class="table table-striped text-center " style="width:500px">
                                <thead>
                                    <tr>
                                        <th scope="col" class="white text-left">PRODUCT</th>
                                        <th scope="col" class="stand">STANDARD</th>
                                        <th scope="col" class="ext">EXTRA</th>
                                        <th scope="col" class="tot">TOTAL</th>
                                        <th scope="col" class="use">USED</th>
                                        <th scope="col" class="bal">BALANCE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="stallDetails.stallinfo.quota_details[0]">
                                        <th scope="row" class="badg white text-left">
                                            <i class="material-icons"> assignment_ind</i>Badge
                                        </th>
                                        <td class="stand text-right" >
                                            <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                <input matInput placeholder=""
                                                    maxlength="3" required name="bdg_std"
                                                    id="bdg_std" value=""
                                                    [(ngModel)]="stallDetails.stallinfo.quota_details[0].standard"
                                                    onkeyup="allowDigits(this);" (ngModelChange)="changeQuota(0)"
                                                />
                                            </mat-form-field>
                                        </td>
                                        <td class="ext text-right" >
                                            <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                <input matInput placeholder="" maxlength="3"
                                                    required name="bdg_extra" id="bdg_extra"
                                                    value=""  onkeyup="allowDigits(this);"
                                                    [(ngModel)]="stallDetails.stallinfo.quota_details[0].extra"
                                                (ngModelChange)="changeQuota(0)"  />
                                            </mat-form-field>
                                        </td>
                                        <td class="tot text-right" >{{stallDetails.stallinfo.quota_details[0].total}}</td>
                                        <td class="use text-right" >{{stallDetails.stallinfo.quota_details[0].used}}</td>
                                        <td class="bal text-right" >{{stallDetails.stallinfo.quota_details[0].balance}}</td>
                                    </tr>
                                    <tr *ngIf="stallDetails.stallinfo.quota_details[1]">
                                        <th scope="row" class="badgreen white text-left">
                                            <img src="../../assets/images/greenpassIcon.png" alt="greenpassicon"> Greenpass
                                        </th>
                                        <td class="stand text-right" >
                                            <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                <input matInput placeholder="" maxlength="3"
                                                    required name="gp_std" id="gp_std" value=""
                                                    [(ngModel)]="stallDetails.stallinfo.quota_details[1].standard"
                                                    onkeyup="allowDigits(this);" (ngModelChange)="changeQuota(1)"
                                                />
                                            </mat-form-field>
                                        </td>
                                        <td class="ext text-right" >
                                            <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                <input matInput placeholder="" maxlength="3"
                                                    required name="gp_extra" id="gp_extra" value=""
                                                    [(ngModel)]="stallDetails.stallinfo.quota_details[1].extra"
                                                    onkeyup="allowDigits(this);" (ngModelChange)="changeQuota(1)"
                                                />
                                            </mat-form-field>
                                        </td>
                                        <td class="tot text-right" >{{stallDetails.stallinfo.quota_details[1].total}}</td>
                                        <td class="use text-right" >{{stallDetails.stallinfo.quota_details[1].used}}</td>
                                        <td class="bal text-right" >{{stallDetails.stallinfo.quota_details[1].balance}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </mat-card>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 mrgn-t-lg" *ngIf="stallDetails.stallinfo.furniture_details[0]">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="commonHead services commonSrc">
                            <h3 class="font-bold-seven">
                                <img src="assets/images/extra-icon.png"> Facilities at stall
                            </h3>
                            <mat-card class="mrgn-t-md mrgn-b-lg">
                                <table class="table extraTable">
                                    <thead>
                                        <tr class="imgRow">
                                            <th rowspan="2" class="tableTitle" style="width:100px;">Product</th>
                                            <th style="width:70px;"><img src="assets/images/director's-chair.png" width="30"></th>
                                            <th style="width:70px;"><img src="assets/images/spot-lamp.png" width="30"></th>
                                            <th style="width:70px;"><img src="assets/images/plug-point.png" width="30"></th>
                                            <th style="width:70px;"><img src="assets/images/octonorm-counter.png" width="30"></th>
                                            <th style="width:70px;"><img src="assets/images/round-table.png" width="30"></th>
                                            <th style="width:70px;"><img src="assets/images/prefab-panel.png" width="30"></th>
                                            <th style="width:70px;"><img src="assets/images/table-6' X 2'.png" width="30"></th>
                                            <th style="width:70px;"><img src="assets/images/plastic-chair.png" width="30"></th>
                                            <th style="width:70px;"><img src="assets/images/power.png" width="30"></th>
                                            <th style="width:70px;"><img src="assets/images/halogen-200W.png" width="30"></th>
                                            <th style="width:70px;"><img src="assets/images/halogen-100W.png" width="30"></th>
                                            <th style="width:70px;"><img src="assets/images/security.png" width="30"></th>
                                            <th style="width:82px;"><img src="assets/images/security.png" width="30"></th>
                                        </tr>
                                        <tr>
                                            <th>Chair</th>
                                            <th>Spot lamp</th>
                                            <th>Plug point 5A</th>
                                            <th>Octonorm Counter</th>
                                            <th>Round Table</th>
                                            <th>Prefab Panel</th>
                                            <th>Table 6'X2'</th>
                                            <th>Plastic chair</th>
                                            <th>Power in KW</th>
                                            <th>LED 200W</th>
                                            <th>LED 100W</th>
                                            <th>Security<br> Day Shift</th>
                                            <th>Security<br> Night Shift</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="extraEdit">
                                            <td class="tableTitle">Standard</td>
                                            <td>
                                                <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                    <input matInput  maxlength="3" required name="std_chair" id="std_chair"
                                                        value="" onkeyup="allowDigits(this);"
                                                        [(ngModel)]="stallDetails.stallinfo.furniture_details[0].std_chair"
                                                         (ngModelChange)="changeFacilities('std_chair','extra_chair')"/>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                    <input matInput  maxlength="3" required name="std_spot_lamp"
                                                        id="std_spot_lamp" value="" onkeyup="allowDigits(this);"
                                                        [(ngModel)]="stallDetails.stallinfo.furniture_details[0].std_spot_lamp"
                                                         (ngModelChange)="changeFacilities('std_spot_lamp','extra_spot_lamp')"/>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                    <input matInput  maxlength="3" required name="std_plug_point" id="std_plug_point" value="" onkeyup="allowDigits(this);"
                                                        [(ngModel)]="stallDetails.stallinfo.furniture_details[0].std_plug_point"
                                                        (ngModelChange)="changeFacilities('std_plug_point','extra_plug_point')"/>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                    <input matInput  maxlength="3" required name="std_octonom_counter"
                                                        id="std_octonom_counter" value="" onkeyup="allowDigits(this);"
                                                        [(ngModel)]="stallDetails.stallinfo.furniture_details[0].std_octonom_counter"
                                                         (ngModelChange)="changeFacilities('std_octonom_counter','extra_octonom_counter')" />
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                    <input matInput  maxlength="3" required name="std_round_table_glass_top"
                                                        id="std_round_table_glass_top" value="" onkeyup="allowDigits(this);"
                                                        [(ngModel)]="stallDetails.stallinfo.furniture_details[0].std_round_table_glass_top"
                                                         (ngModelChange)="changeFacilities('std_round_table_glass_top','extra_round_table_glass_top')"/>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                    <input matInput  maxlength="3" required name="std_panel" id="std_panel" value="" onkeyup="allowDigits(this);"
                                                    [(ngModel)]="stallDetails.stallinfo.furniture_details[0].std_panel"
                                                     (ngModelChange)="changeFacilities('std_panel','extra_panel')"/>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                    <input matInput  maxlength="3" required name="std_table_frill_6_2"
                                                        id="std_table_frill_6_2" value="" onkeyup="allowDigits(this);"
                                                        [(ngModel)]="stallDetails.stallinfo.furniture_details[0].std_table_frill_6_2"
                                                         (ngModelChange)="changeFacilities('std_table_frill_6_2','extra_table_frill_6_2')" />
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                    <input matInput  maxlength="3" required name="std_plastic_chair"
                                                        id="std_plastic_chair" value="" onkeyup="allowDigits(this);"
                                                        [(ngModel)]="stallDetails.stallinfo.furniture_details[0].std_plastic_chair"
                                                         (ngModelChange)="changeFacilities('std_plastic_chair','extra_plastic_chair')"/>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                    <input matInput  maxlength="3" required name="std_power" id="std_power" value="" onkeyup="allowDigits(this);"
                                                    [(ngModel)]="stallDetails.stallinfo.furniture_details[0].std_power"
                                                     (ngModelChange)="changeFacilities('std_power','extra_power')" />
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                    <input matInput  maxlength="3" required name="std_halogen_400"
                                                        id="std_halogen_400" value="" onkeyup="allowDigits(this);"
                                                        [(ngModel)]="stallDetails.stallinfo.furniture_details[0].std_halogen_400"
                                                         (ngModelChange)="changeFacilities('std_halogen_400','extra_halogen_400')" />
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                    <input matInput  maxlength="3" required name="std_halogen_250"
                                                        id="std_halogen_250" value="" onkeyup="allowDigits(this);"
                                                        [(ngModel)]="stallDetails.stallinfo.furniture_details[0].std_halogen_250"
                                                         (ngModelChange)="changeFacilities('std_halogen_250','extra_halogen_250')" />
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                    <input matInput  maxlength="3" required name="std_security_day"
                                                        id="std_security_day"  value="" onkeyup="allowDigits(this);"
                                                        [(ngModel)]="stallDetails.stallinfo.furniture_details[0].std_security_day"
                                                         (ngModelChange)="changeFacilities('std_security_day','extra_security_day')"/>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                    <input matInput  maxlength="3" required name="std_security_night"
                                                        id="std_security_night" value="" onkeyup="allowDigits(this);"
                                                        [(ngModel)]="stallDetails.stallinfo.furniture_details[0].std_security_night"
                                                         (ngModelChange)="changeFacilities('std_security_night','extra_security_night')" />
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                        <tr class="extraRow extraEdit">
                                            <td class="tableTitle">Extra</td>
                                            <td>
                                                <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                    <input matInput  maxlength="3" required name="extra_chair"
                                                        id="extra_chair"  value="" onkeyup="allowDigits(this);"
                                                        [(ngModel)]="stallDetails.stallinfo.furniture_details[0].extra_chair"
                                                         (ngModelChange)="changeFacilities('std_chair','extra_chair')" />
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                    <input matInput  maxlength="3" required name="extra_spot_lamp"
                                                        id="extra_spot_lamp" value="" onkeyup="allowDigits(this);"
                                                        [(ngModel)]="stallDetails.stallinfo.furniture_details[0].extra_spot_lamp"
                                                         (ngModelChange)="changeFacilities('std_spot_lamp','extra_spot_lamp')"/>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                    <input matInput  maxlength="3" required name="extra_plug_point"
                                                        id="extra_plug_point" value="" onkeyup="allowDigits(this);"
                                                        [(ngModel)]="stallDetails.stallinfo.furniture_details[0].extra_plug_point"
                                                         (ngModelChange)="changeFacilities('std_plug_point','extra_plug_point')" />
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                    <input matInput  maxlength="3" required name="extra_octonom_counter"
                                                        id="extra_octonom_counter" value="" onkeyup="allowDigits(this);"
                                                        [(ngModel)]="stallDetails.stallinfo.furniture_details[0].extra_octonom_counter"
                                                         (ngModelChange)="changeFacilities('std_octonom_counter','extra_octonom_counter')" />
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                    <input matInput  maxlength="3" required name="extra_round_table_glass_top"
                                                        id="extra_round_table_glass_top" value="" onkeyup="allowDigits(this);"
                                                        [(ngModel)]="stallDetails.stallinfo.furniture_details[0].extra_round_table_glass_top"
                                                         (ngModelChange)="changeFacilities('std_round_table_glass_top','extra_round_table_glass_top')"/>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                    <input matInput  maxlength="3" required name="extra_panel" id="extra_panel"
                                                    value="" onkeyup="allowDigits(this);"
                                                    [(ngModel)]="stallDetails.stallinfo.furniture_details[0].extra_panel"
                                                     (ngModelChange)="changeFacilities('std_panel','extra_panel')" />
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                    <input matInput  maxlength="3" required name="extra_table_frill_6_2"
                                                        id="extra_table_frill_6_2"  value="" onkeyup="allowDigits(this);"
                                                        [(ngModel)]="stallDetails.stallinfo.furniture_details[0].extra_table_frill_6_2"
                                                         (ngModelChange)="changeFacilities('std_table_frill_6_2','extra_table_frill_6_2')"/>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                    <input matInput  maxlength="3" required name="extra_plastic_chair"
                                                        id="extra_plastic_chair" value="" onkeyup="allowDigits(this);"
                                                        [(ngModel)]="stallDetails.stallinfo.furniture_details[0].extra_plastic_chair"
                                                         (ngModelChange)="changeFacilities('std_plastic_chair','extra_plastic_chair')" />
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                    <input matInput  maxlength="3" required name="extra_power"
                                                        id="extra_power" value="" onkeyup="allowDigits(this);"
                                                        [(ngModel)]="stallDetails.stallinfo.furniture_details[0].extra_power"
                                                         (ngModelChange)="changeFacilities('std_power','extra_power')" />
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                    <input matInput  maxlength="3" required name="extra_halogen_400"
                                                        id="extra_halogen_400" value="" onkeyup="allowDigits(this);"
                                                        [(ngModel)]="stallDetails.stallinfo.furniture_details[0].extra_halogen_400"
                                                         (ngModelChange)="changeFacilities('std_halogen_400','extra_halogen_400')" />
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                    <input matInput  maxlength="3" required name="extra_halogen_250"
                                                        id="extra_halogen_250" value="" onkeyup="allowDigits(this);"
                                                        [(ngModel)]="stallDetails.stallinfo.furniture_details[0].extra_halogen_250"
                                                         (ngModelChange)="changeFacilities('std_halogen_250','extra_halogen_250')"/>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                    <input matInput  maxlength="3" required name="extra_security_day"
                                                        id="extra_security_day" value="" onkeyup="allowDigits(this);"
                                                        [(ngModel)]="stallDetails.stallinfo.furniture_details[0].extra_security_day"
                                                         (ngModelChange)="changeFacilities('std_security_day','extra_security_day')" />
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="example-full-width " style="width:40px;text-align:right;margin-top: -15px;">
                                                    <input matInput  maxlength="3" required name="extra_security_night"
                                                        id="extra_security_night" value="" onkeyup="allowDigits(this);"
                                                        [(ngModel)]="stallDetails.stallinfo.furniture_details[0].extra_security_night"
                                                         (ngModelChange)="changeFacilities('std_security_night','extra_security_night')" />
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                        <tr class="total">
                                            <td class="tableTitle">Total</td>
                                            <td>{{stallDetails.stallinfo.furniture_details[0].std_chair + stallDetails.stallinfo.furniture_details[0].extra_chair}}</td>
                                            <td>{{stallDetails.stallinfo.furniture_details[0].std_spot_lamp + stallDetails.stallinfo.furniture_details[0].extra_spot_lamp}}</td>
                                            <td>{{stallDetails.stallinfo.furniture_details[0].std_plug_point + stallDetails.stallinfo.furniture_details[0].extra_plug_point}}</td>
                                            <td>{{stallDetails.stallinfo.furniture_details[0].std_octonom_counter + stallDetails.stallinfo.furniture_details[0].extra_octonom_counter}}</td>
                                            <td>{{stallDetails.stallinfo.furniture_details[0].std_round_table_glass_top + stallDetails.stallinfo.furniture_details[0].extra_round_table_glass_top}}</td>
                                            <td>{{stallDetails.stallinfo.furniture_details[0].std_panel + stallDetails.stallinfo.furniture_details[0].extra_panel}}</td>
                                            <td>{{stallDetails.stallinfo.furniture_details[0].std_table_frill_6_2 + stallDetails.stallinfo.furniture_details[0].extra_table_frill_6_2}}</td>
                                            <td>{{stallDetails.stallinfo.furniture_details[0].std_plastic_chair + stallDetails.stallinfo.furniture_details[0].extra_plastic_chair}}</td>
                                            <td>{{stallDetails.stallinfo.furniture_details[0].std_power + stallDetails.stallinfo.furniture_details[0].extra_power}}</td>
                                            <td>{{stallDetails.stallinfo.furniture_details[0].std_halogen_400 + stallDetails.stallinfo.furniture_details[0].extra_halogen_400}}</td>
                                            <td>{{stallDetails.stallinfo.furniture_details[0].std_halogen_250 + stallDetails.stallinfo.furniture_details[0].extra_halogen_250}}</td>
                                            <td>{{stallDetails.stallinfo.furniture_details[0].std_security_day + stallDetails.stallinfo.furniture_details[0].extra_security_day}}</td>
                                            <td>{{stallDetails.stallinfo.furniture_details[0].std_security_night + stallDetails.stallinfo.furniture_details[0].extra_security_night}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 headerInfo">
                <div class="row">
                    <div class="col-sm-6 mrgn-t-md mrgn-b-md"> </div>
                    <div class="col-sm-6 text-right mrgn-t-md mrgn-b-md">
                        <div class="headerRight">
                            <button type="submit" [disabled]="editStallInfo.invalid || !validateSKU() || !(orgNameMarathiFormControl.valid) " mat-raised-button class="greenBtn text-uppercase">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
