
.profile-pic {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: contain;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.file-upload {
    display: none;
}

.upload-photo {
    /* position: relative; */
    height: calc(100% -65px);
    /* top: 65px;
    width: 60%; */
    margin: 0 auto;
    padding: 20px;
    /* resize: both; */
    overflow: auto;
}

.profile-name {
    margin-top: 30px;
}


:host .bgbox {
    background-color: #fff !important;
    height: 50px !important;
    width: 250px !important;
    border-radius: 5px !important;
    padding: 0px 8px !important;
    font-size: 18px !important;
    line-height: 18px !important;
    margin-top: 5px !important;
    color: #000 !important;
}

:host md-form-field.profile-name .mat-input-wrapper > .mat-form-field-underline {
    background-color: transparent !important;
}

:host md-checkbox.gstCheck .mat-checkbox-layout .mat-checkbox-label {
    line-height: 24px;
    font-size: 14px !important;
}



