<div id="loader"   class="loader"></div>
<div class="container-fluid contSpace">
  <div class="row badgePage">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6">
          <h2 class="mrgn-t-none mrgn-b-lg">Badges - Overview</h2>
        </div>
        <div class="col-sm-6 text-right">
          <div class="refreshBtn">
            <button style="cursor:pointer" matTooltip="Download" type="button" (click)="exportBadgesOverviewCSV()">
              <i class="material-icons">get_app</i>
            </button>
            <button style="cursor:pointer" matTooltip="Refresh" type="button" (click)="reload_badges()">
              <i class="material-icons">refresh</i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row" *ngIf="isSuccess && total_badges > 0">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 allBlock mrgn-b-lg badgesChart">
          <mat-card class="badges-header-block">
            <mat-list>
              <mat-list-item class="yellowTxt">
                <mat-icon mat-list-icon>
                  <i class="material-icons">assignment_ind</i>
                </mat-icon>
                <h4 mat-line class="font-bold-six">{{ badges_issued.used_badges }}<span> / {{ badges_issued.total_badges }}</span>
                </h4>
                <p mat-line> Badges issued </p>
              </mat-list-item>
            </mat-list>
            <div class="rightsideLink">
              <button mat-icon-button class="mrgn-t-md">
                <mat-icon class="text-center"><i class="material-icons">more_horiz</i></mat-icon>
              </button>
            </div>
          </mat-card>
          <mat-card class="badge-statistics-card">
            <mat-card-content>
              <div class="badge-statistics-content">
                <h6>Gauge Chart</h6>
                <canvas class="mrgn-auto chartInner" baseChart width="280" height="280" [labels]="badgesIssuedChartLabels" [colors]="badgesIssuedChartColors"
                  [data]="badgesIssuedChartData" [chartType]="badgesIssuedChartType">
                </canvas>
              </div>
            </mat-card-content>
          </mat-card>
        </div><!-- end allBlock-->

        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 allBlock mrgn-b-lg badgesChart">
          <mat-card class="badges-header-block">
            <mat-list>
              <mat-list-item class="">
                <mat-icon mat-list-icon>
                  <i class="material-icons">assignment_ind</i>
                </mat-icon>
                <h4 mat-line class="font-bold-six">{{ companies_badges.count }}<span> / {{ companies_badges.total }}</span>
                </h4>
                <p mat-line> Companies have issued atleast 1 badge </p>
              </mat-list-item>
            </mat-list>
            <div class="rightsideLink">
              <button mat-icon-button class="mrgn-t-md">
                <mat-icon class="text-center"><i class="material-icons">more_horiz</i></mat-icon>
              </button>
            </div>
          </mat-card>
          <mat-card class="badge-statistics-card">
            <mat-card-content>
              <div class="badge-statistics-content">
                <h6>Gauge Chart</h6>
                <canvas class="mrgn-auto chartInner" baseChart width="280" height="280" [labels]="companyIssuesBadgesChartLabels" [colors]="companyIssuesBadgesChartColors"
                  [data]="companyIssuesBadgesChartData" [chartType]="companyIssuesBadgesChartType">
                </canvas>
              </div>
            </mat-card-content>
          </mat-card>
        </div><!-- end allBlock-->

        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 allBlock mrgn-b-lg latestBadgesIssue">
          <mat-card class="badge-statistics-card">
            <mat-card-header class="mrgn-t-sm mrgn-b-sm">
              <h4>Latest Badge issuing exhibitor</h4>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
              <mat-list>
                <mat-list-item *ngFor="let item of latest_issued_badges">
                  <mat-icon mat-list-icon class="exhlogo_outer">
                      <img [src]="getLogoUrl(item.logo_big_thumb)" alt="logo">
                  </mat-icon>
                  <h4 mat-line><span class="font-bold-six">{{ item.company_name }}</span> issued {{ item.total }} badges</h4>
                  <p mat-line>{{ item.latest_timestamp|timeAgo }}</p>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div><!-- end allBlock-->
      </div>
    </div>

    <div class="col-sm-12 list">
      <mat-card class="quota badgesQuota mrgn-b-lx">

        <div class="row" layout="row" layout-align="space-between center">
          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <mat-icon matPrefix><i class="material-icons">search</i></mat-icon>
              <input type="text" (keyup)="search_badges($event)" [(ngModel)]="badges_search" matInput placeholder="Search by company name"
              />
            </mat-form-field>
          </div>
          <div class="col-sm-2 ">
          
          </div>
          <div class="col-sm-2 ">
            <mat-form-field>
              <mat-select placeholder="Pavillion" [(ngModel)]="badges_filter.pavillion_type" (ngModelChange)="get_badges_report()">
                <mat-option value="">All</mat-option>
                <mat-option *ngFor="let item of masterData.pavillion_types" value="{{item.short_code}}">
                  {{item.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-2 ">
            <mat-form-field>
              <mat-select placeholder="Type" [(ngModel)]="badges_filter.stand_type" (ngModelChange)="get_badges_report()">
                <mat-option value="">All</mat-option>
                <mat-option *ngFor="let item of masterData.stand_types" value="{{item.short_code}}">
                  {{item.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-2 ">
            <mat-form-field>
              <mat-select placeholder="Location" [(ngModel)]="badges_filter.stand_location" (ngModelChange)="get_badges_report()">
                <mat-option value="">All</mat-option>
                <mat-option *ngFor="let item of masterData.stand_locations" value="{{item.short_code}}">
                  {{item.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row" *ngIf="isSuccess && total_badges > 0">
          <div class="col-sm-12 exhibitor-pagi mrgn-t-md">
            <div class="row">
              <div class="col-sm-3">
                <span>Showing: {{ badges_start_item }}-{{ badges_end_item }} of {{ total_badges }}</span>
              </div>

              <div class="col-sm-9 text-right">
                <mat-list role="list">
                  <mat-list-item role="listitem">
                    <button mat-button [disabled]="badges_current_page==0" (click)="badges_current_page=0;get_badges_report()">
                      <i class="material-icons">first_page</i>
                    </button>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <button mat-button [disabled]="badges_current_page==0" (click)="badges_current_page=badges_current_page-1;get_badges_report()">
                      <i class="material-icons">keyboard_arrow_left</i>
                    </button>
                  </mat-list-item>
                  <mat-list-item role="listitem">Page  {{ badges_current_page + 1 }} of  {{ badges_total_pages }}</mat-list-item>
                  <mat-list-item role="listitem">
                    <button mat-button [disabled]="badges_current_page==(badges_total_pages-1)" (click)="badges_current_page=badges_current_page+1;get_badges_report()">
                      <i class="material-icons">navigate_next</i>
                    </button>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <button mat-button [disabled]="badges_current_page==(badges_total_pages-1)" (click)="badges_current_page=(badges_total_pages-1);get_badges_report()">
                      <i class="material-icons">last_page</i>
                    </button>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </div>
        </div>
        <table class="table table-striped text-center" *ngIf="isSuccess && total_badges > 0">
          <thead>
            <tr>
              <th scope="col" class="white text-center text-uppercase">Sr.no</th>
              <th scope="col" class="white text-left text-uppercase" (click)="sort_badges('company_name')" matTooltip="click to sort on this column">Organisation
                <span  class="table-filter" *ngIf="badges_sort_col=='company_name'">													
                    <i *ngIf="badges_sort_dir==1" class="material-icons">arrow_drop_down</i>
                    <i *ngIf="badges_sort_dir==0" class="material-icons">arrow_drop_up</i>
                </span>
              </th>
              <th scope="col" class="stand text-center text-uppercase" (click)="sort_badges('standard')" matTooltip="click to sort on this column">STANDARD
                <span  class="table-filter" *ngIf="badges_sort_col=='standard'">													
                    <i *ngIf="badges_sort_dir==1" class="material-icons">arrow_drop_down</i>
                    <i *ngIf="badges_sort_dir==0" class="material-icons">arrow_drop_up</i>
                </span>
              </th>
              <th scope="col" class="ext text-center text-uppercase" (click)="sort_badges('extra')" matTooltip="click to sort on this column">EXTRA
                <span  class="table-filter" *ngIf="badges_sort_col=='extra'">													
                    <i *ngIf="badges_sort_dir==1" class="material-icons">arrow_drop_down</i>
                    <i *ngIf="badges_sort_dir==0" class="material-icons">arrow_drop_up</i>
                </span>
              </th>
              <th scope="col" class="tot text-center text-uppercase" (click)="sort_badges('total')" matTooltip="click to sort on this column">TOTAL
                <span  class="table-filter" *ngIf="badges_sort_col=='total'">													
                    <i *ngIf="badges_sort_dir==1" class="material-icons">arrow_drop_down</i>
                    <i *ngIf="badges_sort_dir==0" class="material-icons">arrow_drop_up</i>
                </span>
              </th>
              <th scope="col" class="use text-center text-uppercase" (click)="sort_badges('used')" matTooltip="click to sort on this column">USED
                <span  class="table-filter" *ngIf="badges_sort_col=='used'">													
                    <i *ngIf="badges_sort_dir==1" class="material-icons">arrow_drop_down</i>
                    <i *ngIf="badges_sort_dir==0" class="material-icons">arrow_drop_up</i>
                </span>
              </th>
              <th scope="col" class="bal text-center text-uppercase" (click)="sort_badges('balance')" matTooltip="click to sort on this column">BALANCE
                <span  class="table-filter" *ngIf="badges_sort_col=='balance'">													
                    <i *ngIf="badges_sort_dir==1" class="material-icons">arrow_drop_down</i>
                    <i *ngIf="badges_sort_dir==0" class="material-icons">arrow_drop_up</i>
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let badge of badges; let i = index">
              <td class="fullwhite">{{ pagesize*badges_current_page + i + 1 }}</td>
              <td class="fullwhite text-left">{{ badge.organisation }}</td>
              <td class="stand text-center font-bold-six">{{ badge.standard }}</td>
              <td class="ext text-center font-bold-six">{{ badge.extra }}</td>
              <td class="tot text-center font-bold-six">{{ badge.total }}</td>
              <td class="use text-center font-bold-six">{{ badge.used }}</td>
              <td class="bal text-center font-bold-six">{{ badge.balance }}</td>
            </tr>
          </tbody>
        </table> 
        <span *ngIf="!(isSuccess)" class="errorMessage"> {{ errorMessage }} </span>
			  <span *ngIf="total_badges==0" class="errorMessage"> No records found </span> 
        <div class="row" *ngIf="isSuccess && total_badges > 0">
            <div class="col-sm-12 exhibitor-pagi mrgn-t-md">
              <div class="row">
                <div class="col-sm-3">
                  <span>Showing: {{ badges_start_item }}-{{ badges_end_item }} of {{ total_badges }}</span>
                </div>
  
                <div class="col-sm-9 text-right">
                  <mat-list role="list">
                    <mat-list-item role="listitem">
                      <button mat-button [disabled]="badges_current_page==0" (click)="badges_current_page=0;get_badges_report()">
                        <i class="material-icons">first_page</i>
                      </button>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      <button mat-button [disabled]="badges_current_page==0" (click)="badges_current_page=badges_current_page-1;get_badges_report()">
                        <i class="material-icons">keyboard_arrow_left</i>
                      </button>
                    </mat-list-item>
                    <mat-list-item role="listitem">Page  {{ badges_current_page + 1 }} of  {{ badges_total_pages }}</mat-list-item>
                    <mat-list-item role="listitem">
                      <button mat-button [disabled]="badges_current_page==(badges_total_pages-1)" (click)="badges_current_page=badges_current_page+1;get_badges_report()">
                        <i class="material-icons">navigate_next</i>
                      </button>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      <button mat-button [disabled]="badges_current_page==(badges_total_pages-1)" (click)="badges_current_page=(badges_total_pages-1);get_badges_report()">
                        <i class="material-icons">last_page</i>
                      </button>
                    </mat-list-item>
                  </mat-list>
                </div>
              </div>
            </div>
          </div>
      </mat-card>
    </div>



  </div>
</div>