.createStand{
    h2{
        .note {
            font-size: 15px;
            color: #888;
        }
    }
    .submitbtn:disabled {
        background: #ccc !important;
    }
    .standImg{
        .uploadImg{
            position: relative;
            display: inline-block;
            color: #008940;
            font-weight: 600;
            text-decoration: underline;
            font-size: 18px;
            input[type="file"] {
                cursor: pointer;
                opacity: 0;
                position: absolute;
                right: 0;
                text-align: right;
                top: 0;
            }
        }
        .imgOuter {
            width: 150px;
            height: 150px;
            background: #fff;
            line-height: 150px;
            text-align: center;
            margin-right: 25px;
            cursor: pointer;
            .material-icons {
                font-size: 45px;
                vertical-align: middle;
                color: #008940;
                padding-bottom: 15px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    td {
        padding: 13px 0;
    }
    td:nth-child(1) {
        font-weight: 600;
    }
    td:nth-child(1) span {
        font-weight: 400;
        font-size: 15px;
    }
    .dropdownSec td:nth-child(3) {
        font-weight: 600;
    }
    .sta{ 
        text-transform: capitalize;
        margin-left: 30px;
        font-weight: 400;
        font-size: 21px;
        vertical-align: middle;
    }
    .round {
        width: 20px;
        height: 20px;
        margin: auto;
        border-radius: 50%;
        line-height: 20px;
        color: #fff;
        display: inline-block;
        vertical-align:middle;
    }
    .inputF{
        height: 45px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: 10px;
        font-size: 18px;
    }
    .booked{background: #008940;}
    .available{background: #94E3A6;}
    .blocked {background: #7D4E07;}
    .proposed {background: #DDD710;}
    .reserved {background: #EFB414;}
    .partial{background: #0C459A;}
    .submitbtn{
        background: #008940;
        color: #fff;
        padding: 5px 40px;
        font-weight: 600;
        font-size: 16px;
    }
}