<div id="loader"   class="loader" style="display:none;"></div>
<div class="container-fluid contSpace">
  <div class="createStand">
    <h2 *ngIf="action=='add'">
      Add New Stand <span class="note">(*All Fields are mandatory.)</span>
    </h2>
    <h2 *ngIf="action=='edit'">
      Edit Stand Details <span class="note">(*All Fields are mandatory.)</span>
      <span class="sta" ><span class="round {{stall_info.status}}"> </span> {{stall_info.status}} </span>
    </h2>
    <div class="createSection">
      <form #stallInfo="ngForm"  (ngSubmit)="onSubmit(stallInfo)" >
        <div class="standImg mt-3">
          <table>
            <tr>
              <td style="width: 140px;">Stand Image *</td>
              <td>
                <div class="imgOuter">
                  <!-- <span class="material-icons">add_photo_alternate</span> -->
                  <img *ngIf="stall_info.image_url" [src]="stall_info.image_url" />
                </div>
              </td>
              <td>
                <p>Support File format - .png,.jpg,.jpeg,.gif <br>Max Size upto {{this.maxFileSize}} MB</p>
                <p class="uploadImg">
                  <span *ngIf="action=='add'">Upload Image</span>
                  <span *ngIf="action=='edit'">Upload Other Image</span>
                  <input type="file" accept=".png,.jpg,.jpeg,.gif" (change)="uploadStandImage($event)" >
                </p>
              </td>
            </tr>
          </table>
        </div>
        <div class="dropdownSec stallStatus">
          <table class="filter">
            <tr>
              <td>Pavilion *</td>
              <td>
                <mat-form-field appearance="fill">
                  <mat-label>Pavilion </mat-label>
                  <mat-select required name="pavillion" id="pavillion" [(ngModel)]="stall_info.pavillion_type" (ngModelChange)="setSKU()">
                    <mat-option *ngFor="let item of masterdata.pavillion_types" [value]="item.short_code">
                      {{item.short_code}} - {{item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td class="text-center" style="width: 100px;">Type *</td>
              <td>
                <mat-form-field appearance="fill">
                  <mat-label>Stand Type </mat-label>
                  <mat-select required name="stand_type" id="stand_type" [(ngModel)]="stall_info.stand_type" (ngModelChange)="setSKU()">
                    <mat-option *ngFor="let item of masterdata.stand_types" [value]="item.short_code">
                      {{item.short_code}} - {{item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>Location *</td>
              <td>
                <mat-form-field appearance="fill">
                  <mat-label>Stand Locations </mat-label>
                  <mat-select required name="stand_location" id="stand_location" [(ngModel)]="stall_info.stand_location" (ngModelChange)="setSKU()">
                    <mat-option *ngFor="let item of masterdata.stand_locations" value="{{item.short_code}}">
                      {{item.short_code}} - {{item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td class="text-center">Area *</td>
              <td>
                <input onkeyup="allowNumbers(this);" maxlength="3" required type="text" class="inputF" name="area" id="area" [(ngModel)]="stall_info.area" (ngModelChange)="setSKU()" />
              </td>
            </tr>
            <tr>
              <td>Stand No. *</td>
              <td>
                <input required type="text" class="inputF" name="stand_number" id="stand_number" [(ngModel)]="stall_info.stand_number" (ngModelChange)="check_stall_by_stand_number()" />
              </td>
              <td class="text-center">SKU</td>
              <td>{{stall_info.sku}}</td>
            </tr>
            <tr>
              <td style="width: 140px;">
                Price in Rs. *<br><span>(Excluding GST)</span>
              </td>
              <td>
                <input (keyup)="pricekeyup();" maxlength="10" type="text" 
                  class="inputF" placeholder="" name="price" required id="price" 
                  [(ngModel)]="stall_info.price" />
              </td>
            </tr>
          </table>
        </div> 
        <div class="text-center" style="width: 70%;color:red;font-weight: 600;">{{errorMessage}}</div>
        <div class="text-center" style="width: 70%;">
          <button type="submit" mat-button class="submitbtn" [disabled]="!validateinfo(stallInfo)">Submit</button>
        </div>
      </form>
    </div>
  </div>  
</div>
