<div id="loader"   class="loader" style="display:none;"></div>
<div class="proposal">
  <div class="container-fluid contSpace">
    <!--<div class="text-right history" *ngIf="offer_type=='proposal'" >
      <a href="/proposal/proposal-history"><i class="material-icons">restore</i> Proposal History</a>
    </div>
    <div class="text-right history" *ngIf="offer_type=='proforma invoice'" >
      <a href="/proposal/proforma-history" ><i class="material-icons">restore</i> Confirmation History</a>
    </div>-->
    <div class="row mrgn-t-sm title" >
      <h3 *ngIf="offer_type!='proforma invoice'">Generate {{offer_type}}</h3>
      <h3 *ngIf="offer_type=='proforma invoice'">Stand Confirmation Process</h3>
    </div>
    <div class="row" >
      <div class="col-sm-12 block">
        <div class="wrapper-progressBar">
          <ul class="progressBar">
            <li class="active">Enter Email Address</li>
            <li *ngIf="offer_type!='proforma invoice'" >Generate {{offer_type}}</li>
            <li *ngIf="offer_type=='proforma invoice'" >Select Stand</li>
            <li *ngIf="offer_type!='proforma invoice'">Send {{offer_type}}</li>
            <li *ngIf="offer_type=='proforma invoice'">Send Confirmation</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row mrgn-t-xl">
      <div class="col-sm-10 offset-md-2">
        <p>To send <span style="text-transform: capitalize;">{{offer_type}}</span>, request you to enter email id or company name.</p>
        <div class="search-exh"  >
          <input type="text"  id="searchText" autofocus name="searchText" placeholder="Enter Exhibitor Email / Mobile or Company Name" required
            [(ngModel)]="searchText"  (ngModelChange)="onChange($event, oldValue)" #oldValue="ngModel"
            onkeyup="restrictMultiSpace(this)"
            (keyup.enter)="searchExhibitor()"
            (keyup)="showEmailDoesNotExists=false;showMultipleAccountsExists=false;showOrgNameDoesNotExists=false;showEnter=true;showClose=false;showFound=false;" />
          <button type="button" [disabled]="searchText.trim().length < 2" *ngIf="showEnter" id="emailsubmit" name="emailsubmit" (click)="searchExhibitor()" class="enter-btn">Enter</button>
          <button id="emailclose" (click)="searchText='';showEnter=true;showClose=false;showFound=false;showEmailDoesNotExists=false;showOrgNameDoesNotExists=false;showMultipleAccountsExists=false;" name="emailclose" *ngIf="showClose" type="button" class="close-btn">X</button>
          <button id="emailfound" name="emailfound" *ngIf="showFound" type="button" class="check-btn" >✔</button>
        </div>
        <!--<div class="search-exh" *ngIf="searchType=='email'" >
            <input type="text"  id="email" name="email" placeholder="Enter Exhibitor Email" required
              [(ngModel)]="searchEmail" onkeyup="allowEmail(this);" (change)="searchExhibitor()"
              (keyup)="showEmailDoesNotExists=false;showMultipleAccountsExists=false;showEnter=true;showClose=false;showFound=false;" />
            <button type="button" *ngIf="showEnter" id="emailsubmit" name="emailsubmit" (click)="searchExhibitor()" class="enter-btn">Enter</button>
            <button id="emailclose" (click)="searchType='organisation_name';showEnter=true;showClose=false;showFound=false;showEmailDoesNotExists=false;showOrgNameDoesNotExists=false;showMultipleAccountsExists=false;" name="emailclose" *ngIf="showClose" type="button" class="close-btn">X</button>
            <button id="emailfound" name="emailfound" *ngIf="showFound" type="button" class="check-btn" >✔</button>
        </div>
        <div class="search-exh" *ngIf="searchType=='organisation_name'" >
          <input type="text" name="org_name"  id="org_name" placeholder="Enter Company Name" required
            [(ngModel)]="searchOrgName" onkeyup="allowOrganizationName(this);" (change)="searchExhibitor()"
            (keyup)="showOrgNameDoesNotExists=false;showMultipleAccountsExists=false;showEnter=true;showClose=false;showFound=false;" />
          <button type="button" *ngIf="showEnter" (click)="searchExhibitor()" class="enter-btn">Enter</button>
          <button type="button" *ngIf="showClose" (click)="searchType='email';showEnter=true;showClose=false;showFound=false;showEmailDoesNotExists=false;showOrgNameDoesNotExists=false;showMultipleAccountsExists=false;" class="close-btn">X</button>
          <button type="button" *ngIf="showFound" class="check-btn" >✔</button>
        </div> -->
        <div class="found-email" *ngIf="showMultipleAccountsExists">
          <p *ngIf="searchType=='email'" >Found <b>{{ profiles.length}}</b> mobile numbers matching to {{searchText}}.</p>
          <p *ngIf="searchType=='organisation_name'" >Found <b>{{ profiles.length}}</b> email ids matching to {{searchText}}.</p>
          <p style="margin-bottom:10px;">Select one to proceed further.</p>
          <mat-radio-group *ngIf="searchType=='organisation_name'" class="mrgn-b-md" aria-label="Select an option">
            <mat-radio-button  *ngFor="let profile of profiles; let i = index" value="1" (click)="selectedUsername=profile.username;redirecttocreate(profile);">
              <b>{{ profile.organisation_name}}</b><br>
              <p><span *ngIf="profile.email">{{profile.email}}</span>
                <span *ngIf="!profile.email">{{profile.mobile}}</span>
                <span class="time" *ngIf="profile.last_login">(last login - {{profile.last_login | date:'dd-MMM-y' }})</span>
                <span class="time" *ngIf="!profile.last_login">(created - {{profile.created_on | date:'dd-MMM-y' }})</span>
            </p>
            </mat-radio-button>
          </mat-radio-group>
          <mat-radio-group *ngIf="searchType=='email'" class="mrgn-b-md" aria-label="Select an option">
              <mat-radio-button   *ngFor="let profile of profiles; let i = index" value="1" (click)="selectedUsername=profile.username;redirecttocreate(profile);">
                  <b>{{ profile.organisation_name}}</b><br>
                  <p><span *ngIf="profile.email">{{profile.email}}</span>
                    <span *ngIf="!profile.email">{{profile.mobile}}</span>
                    <span class="time" *ngIf="profile.last_login">(last login - {{profile.last_login | date:'dd-MMM-y' }})</span>
                    <span class="time" *ngIf="!profile.last_login">(created - {{profile.created_on | date:'dd-MMM-y' }})</span>
                  </p>
              </mat-radio-button>
            </mat-radio-group>
         <p style="color:#999;">* if you found exhibitor with different email id, please contact exhibitor to change the associated email id.</p>
          <hr>
          <p style="color:#999;">If this is not the exhibitor you are looking for then, click here to <a href="/proposal/create-exhibitor" class="create_new">Create New Exhibitor</a></p>
        </div>
        <div class=" mrgn-t-lg" *ngIf="showEmailDoesNotExists" style="width:72%;">
          <div class="no-exh" style="margin:auto">
            <p>There is no exhibitor account with this email id.</p>
            <p>To generate {{offer_type}} for this email id, try to</p>
            <a >search with company name.</a><br>
            or<br>
            <a style="text-decoration: underline;color:#008940;" href="/proposal/create-exhibitor">Create New Exhibitor</a>
          </div>
        </div>
        <div class="mrgn-t-lg" *ngIf="showOrgNameDoesNotExists" style="width:72%;">
            <div class="no-exh" style="margin:auto">
              <p>There is no exhibitor account matching with <b>{{searchText}}</b>.</p>
              <p>To generate {{offer_type}}, at first you need to </p>
              <a style="text-decoration: underline;color:#008940;" href="/proposal/create-exhibitor">Create New Exhibitor</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>





