<div id="loader"   class="loader"></div>
<div class="container-fluid contSpace">
  <div class="invoices company-profile">
    <div class="col-sm-12 list">
      <div class="row">
        <div class="refreshBtn">
          <button style="cursor:pointer" type="button" matTooltip="Refresh" (click)="get_list()" matTooltip="Refresh">
            <i class="material-icons">refresh</i>
          </button>
        </div>
        <mat-accordion class="example-headers-align col-sm-12">
          <mat-panel-title>
            <h3>Logs</h3>
          </mat-panel-title>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-description class="text-right">
                <mat-icon matTooltip="Info"><i class="material-icons">info</i></mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row icon-info">
              <div class="col-sm-8">
                <h6>Pavillions:</h6>
                <div class="row">
                  <div class="col-sm-3" style="padding: 0px 2px 0px 12px;">
                    <!-- <p class="mrgn-b-xs"><span class="agriF">AF</span> : Agri Finance</p>-->
                    <div class="mrgn-b-xs" style="float:left;clear:both;width:100%;" *ngFor="let pav_type of (masterdata.pavillion_types  | slice:0:6) ;">
                      <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                      <div style="float:left;width:12px;text-align:center;"> : </div>
                      <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                    </div>
                  </div>
                  <div class="col-sm-5" style="padding: 0px 2px;">
                    <div class="mrgn-b-xs" style="float:left;clear:both;width:100%;" *ngFor="let pav_type of (masterdata.pavillion_types  | slice:6:12) ;">
                      <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                      <div style="float:left;width:12px;text-align:center;"> : </div>
                      <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                    </div>
                  </div>
                  <div class="col-sm-4" style="padding: 0px 2px;">
                    <div class="mrgn-b-xs" style="float:left;clear:both;width:100%;" *ngFor="let pav_type of (masterdata.pavillion_types  | slice:12:18) ;">
                      <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                      <div style="float:left;width:12px;text-align:center;"> : </div>
                      <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <h6>Type:</h6>
                <p class="mrgn-b-xs" ><img src="../../assets/images/canopy.jpg" width="25px" /> :Canopy</p>
                <p class="mrgn-b-xs" ><img src="../../assets/images/covered_bare.jpg" width="25px" /> : Covered Bare</p>
                <p class="mrgn-b-xs" ><img src="../../assets/images/marquee.jpg" width="25px" /> : Marquee</p>
                <p class="mrgn-b-xs" ><img src="../../assets/images/greenhouse.jpg" width="25px" /> : Greenhouse</p>
                <p class="mrgn-b-xs" ><img src="../../assets/images/open_space.jpg" width="25px" /> : Open Space</p>
                <p class="mrgn-b-xs" ><img src="../../assets/images/prefab.jpg" width="25px" /> : Prefab</p>
              </div>
              <div class="col-sm-2">
                <h6>Location:</h6>
                <p class="mrgn-b-xs" *ngFor="let std_loc of masterdata.stand_locations;">
                  <img src="../../assets/images/{{std_loc.short_code}}.png" width="23">: {{std_loc.name}}
                </p>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="row" style="margin-top:15px;">
        <mat-card class="inv-table">
          <div class="stallStatus pl-3 pr-3 pt-3">
             <table class="filter">
                <tr>
                  <td>
                    <mat-form-field class="example-full-width search" >
                      <mat-icon matPrefix><i class="material-icons">search</i></mat-icon>
                      <input type="text" [(ngModel)]="search" (keyup)="search_records($event)" matInput placeholder="Search by company name or person"  />
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="grpOne" [ngClass]="{'selected':product_filter.pavillion_type!=''}">
                      <mat-select placeholder="Pavillion" [(ngModel)]="product_filter.pavillion_type" (ngModelChange)="current_page=0;get_list()">
                        <mat-option value="">All</mat-option>
                        <mat-option *ngFor="let item of masterdata.pavillion_types" value="{{item.short_code}}">
                          {{item.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="grpOne" [ngClass]="{'selected':product_filter.stand_type!=''}">
                      <mat-select placeholder="Type" [(ngModel)]="product_filter.stand_type" (ngModelChange)="current_page=0;get_list()">
                        <mat-option value="">All</mat-option>
                        <mat-option *ngFor="let item of masterdata.stand_types" value="{{item.short_code}}">
                          {{item.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field> 
                  </td>
                  <td>
                    <mat-form-field class="grpOne" [ngClass]="{'selected':product_filter.stand_location!=''}">
                      <mat-select placeholder="Location" [(ngModel)]="product_filter.stand_location" (ngModelChange)="current_page=0;get_list()">
                        <mat-option value="">All</mat-option>
                        <mat-option *ngFor="let item of masterdata.stand_locations" value="{{item.short_code}}">
                          {{item.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-form-field [ngClass]="{'selected':filter.from_name!=''}">
                      <mat-select placeholder="IssuedBy" [(ngModel)]="filter.from_name"  (ngModelChange)="current_page=0;get_list()">
                        <mat-option value="">All</mat-option>
                        <mat-option *ngFor="let issuedby of issuedBy" value="{{issuedby.from_name}}" style="text-transform: capitalize;">
                          {{issuedby.from_name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field [ngClass]="{'selected':is_expired!=''}">
                      <mat-select placeholder="Status" [(ngModel)]="is_expired"  (ngModelChange)="current_page=0;get_list()">
                        <mat-option value="">All</mat-option>
                        <mat-option value="0">Valid</mat-option>
                        <mat-option value="1">Invalid</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field [ngClass]="{'selected':filter.offer_type!=''}">
                      <mat-select placeholder="Sent" [(ngModel)]="filter.offer_type"  (ngModelChange)="current_page=0;get_list()">
                        <mat-option value="">All</mat-option>
                        <mat-option value="proposal">Proposal</mat-option>
                        <mat-option value="proforma">Proforma</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field [ngClass]="{'selected':is_erc!=''}">
                      <mat-select placeholder="Extra Requirements" [(ngModel)]="is_erc"  (ngModelChange)="current_page=0;get_list()">
                        <mat-option value="">All</mat-option>
                        <mat-option value="0">No</mat-option>
                        <mat-option value="1">Yes</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field [ngClass]="{'selected':is_branding!=''}">
                      <mat-select placeholder="Sponsorship options" [(ngModel)]="is_branding"  (ngModelChange)="current_page=0;get_list()">
                        <mat-option value="">All</mat-option>
                        <mat-option value="0">No</mat-option>
                        <mat-option value="1">Yes</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                </tr>
             </table>
          </div>
          <span *ngIf="total==0" class="errorMessage"> No records found </span>
          <div class="row pl-3 pr-3" *ngIf="total > 0">
            <div class="col-sm-2">
              <span>Showing: {{start_item}}-{{end_item}} of {{total}}</span>
            </div>
            <div class="col-sm-2">
              <mat-checkbox class="example-margin" [(ngModel)]="showall" (ngModelChange)="toggle_show_all_records()">
                Show  All
              </mat-checkbox>
            </div>
            <div class="col-sm-8 text-right">
              <mat-list role="list">
                <mat-list-item role="listitem">
                  <button mat-button [disabled]="current_page==0" (click)="current_page=0;get_list();">
                    <i class="material-icons">first_page</i>
                  </button>
                </mat-list-item>
                <mat-list-item role="listitem">
                  <button mat-button [disabled]="current_page==0" (click)="current_page=current_page-1;get_list();">
                    <i class="material-icons">keyboard_arrow_left</i>
                  </button>
                </mat-list-item>
                <mat-list-item role="listitem">Page {{current_page + 1}} of {{pages}}</mat-list-item>
                <mat-list-item role="listitem">
                  <button mat-button [disabled]="current_page==(pages-1)" (click)="current_page=current_page+1;get_list();">
                    <i class="material-icons">navigate_next</i>
                  </button>
                </mat-list-item>
                <mat-list-item role="listitem">
                  <button mat-button [disabled]="current_page==(pages-1)" (click)="current_page=(pages-1);get_list();">
                    <i class="material-icons">last_page</i>
                  </button>
                </mat-list-item>
              </mat-list>
            </div>
          </div>
          <div *ngIf="total > 0">
            <table width="100%">
              <tr style="background:#F5F6FA;">
                <th style="width:40px;">Sr. No.</th>
                <th style="width:80px;" (click)="sort_records('sent_datetime')"
                  matTooltip="click to sort on this column" matTooltipPosition="above" >
                  Date
                  <span *ngIf="sort_col=='sent_datetime'" class="table-filter">
                    <i *ngIf="sort_dir==1" class="material-icons">arrow_drop_down</i>
                    <i *ngIf="sort_dir==0" class="material-icons">arrow_drop_up</i>
                  </span>
                </th>
                <th style="width:290px;" (click)="sort_records('company_name')"
                  matTooltip="click to sort on this column" matTooltipPosition="above">
                  Company Name
                  <span *ngIf="sort_col=='company_name'" class="table-filter">
                    <i *ngIf="sort_dir==1" class="material-icons">arrow_drop_down</i>
                    <i *ngIf="sort_dir==0" class="material-icons">arrow_drop_up</i>
                  </span>
                </th>
                <th style="width:32px;"  matTooltipPosition="above" matTooltip="Pavilion">Pav.</th>
                <th style="width:3%;" matTooltipPosition="above" matTooltip="Stand">Std.</th>
                <th style="width:40px;">Area</th>
                <th style="width:50px;" >Type</th>
                <th style="width:45px">Loc.</th>
                <th class="text-center" style="width:45px;"(click)="sort_records('extra_product_count')"
                  matTooltip="click to sort on this column" matTooltipPosition="above">
                  ER.
                  <span *ngIf="sort_col=='extra_product_count'" class="table-filter">
                    <i *ngIf="sort_dir==1" class="material-icons">arrow_drop_down</i>
                    <i *ngIf="sort_dir==0" class="material-icons">arrow_drop_up</i>
                  </span>
                </th>
                <th class="text-center" style="width:45px;"(click)="sort_records('sponsorship_count')"
                  matTooltip="click to sort on this column" matTooltipPosition="above">
                  BRAND.
                  <span *ngIf="sort_col=='sponsorship_count'" class="table-filter">
                    <i *ngIf="sort_dir==1" class="material-icons">arrow_drop_down</i>
                    <i *ngIf="sort_dir==0" class="material-icons">arrow_drop_up</i>
                  </span>
                </th>
                <th class="text-center" style="width:45px;" matTooltipPosition="above"
                    (click)="sort_records('offer_type')" 
                    matTooltip="click to sort on this column" >
                  Sent
                  <span *ngIf="sort_col=='offer_type'" class="table-filter">
                    <i *ngIf="sort_dir==1" class="material-icons">arrow_drop_down</i>
                    <i *ngIf="sort_dir==0" class="material-icons">arrow_drop_up</i>
                  </span>
                </th>
                <th class="text-center" style="width:60px;" matTooltipPosition="above"
                    (click)="sort_records('is_email_sent')" 
                    matTooltip="click to sort on this column">
                  Email
                  <span *ngIf="sort_col=='is_email_sent'" class="table-filter">
                    <i *ngIf="sort_dir==1" class="material-icons">arrow_drop_down</i>
                    <i *ngIf="sort_dir==0" class="material-icons">arrow_drop_up</i>
                  </span>
                </th>
                <!-- <th class="text-center" style="width:100px;"(click)="sort_records('extra_product_count')"
                  matTooltip="click to sort on this column" matTooltipPosition="above">
                  EX.
                  <span *ngIf="sort_col=='extra_product_count'" class="table-filter">
                    <i *ngIf="sort_dir==1" class="material-icons">arrow_drop_down</i>
                    <i *ngIf="sort_dir==0" class="material-icons">arrow_drop_up</i>
                  </span>
                </th> -->
                <th style="width:70px;" (click)="sort_records('payment_last_datetime')"
                  matTooltip="click to sort on this column" matTooltipPosition="above">
                  Pay<br> Date
                  <span *ngIf="sort_col=='payment_last_datetime'" class="table-filter">
                    <i *ngIf="sort_dir==1" class="material-icons">arrow_drop_down</i>
                    <i *ngIf="sort_dir==0" class="material-icons">arrow_drop_up</i>
                  </span>
                </th>
                <th style="width:100px;" (click)="sort_records('from_name')"
                  matTooltip="click to sort on this column" matTooltipPosition="above">
                  Issued <br> By
                  <span *ngIf="sort_col=='from_name'" class="table-filter">
                    <i *ngIf="sort_dir==1" class="material-icons">arrow_drop_down</i>
                    <i *ngIf="sort_dir==0" class="material-icons">arrow_drop_up</i>
                  </span>
                </th>
                <th class="text-center" style="width:100px;">Actions</th>
              </tr>
              <tr *ngFor="let record of records; let i = index" style="border-bottom: 1px solid lightgrey;">
                <td class="text-center" style="color: #888;">{{pagesize*current_page + i + 1}}</td>
                <td matTooltip="{{ record.sent_datetime | date:'hh:mm a' }}" matTooltipPosition="above">
                  {{record.sent_datetime | date:'dd MMM' }}
                </td>
                <td><b >{{record.company_name}}</b></td>                
                <td class="text-center icon-info smtbl">
                  <table>
                    <tr matTooltip="{{prodList.pavillion_name}}" matTooltipPosition="above" *ngFor="let prodList of record['products_list']">
                      <td>
                        <span class="{{prodList.pavillion_type}}">{{prodList.pavillion_type}}</span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="text-right smtbl">
                  <table width="100%">
                      <tr *ngFor="let prodList of record['products_list']">
                        <td style="font-weight: 600;">
                          {{prodList.stand_number}}
                        </td>
                      </tr>
                    </table>
                </td>
                <td class="text-right smtbl">
                  <table>
                    <tr *ngFor="let prodList of record['products_list']">
                      <td>
                        {{prodList.area}}
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="text-center smtbl">
                  <table>
                    <tr matTooltip="{{prodList.stand_type_name}}" matTooltipPosition="above" *ngFor="let prodList of record['products_list']">
                      <td>
                        <!-- {{prodList.stand_type}} -->
                        <img *ngIf="prodList.stand_type=='C'" src="../../assets/images/canopy.jpg" width="40" />
                        <img *ngIf="prodList.stand_type=='B'" src="../../assets/images/covered_bare.jpg" width="40" />
                        <img *ngIf="prodList.stand_type=='M'" src="../../assets/images/marquee.jpg" width="40" />
                        <img *ngIf="prodList.stand_type=='G'" src="../../assets/images/greenhouse.jpg" width="40" />
                        <img *ngIf="prodList.stand_type=='O'" src="../../assets/images/open_space.jpg" width="40" />
                        <img *ngIf="prodList.stand_type=='P'" src="../../assets/images/prefab.jpg" width="40" />
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="text-center smtbl" >
                  <table>
                    <tr matTooltip="{{prodList.stand_location_name}}" matTooltipPosition="above" *ngFor="let prodList of record['products_list']">
                      <td>
                        <img src="../../assets/images/{{prodList.stand_location}}.png"  width="23">
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="text-center">
                  <!-- <span *ngIf="record.extra_product_count > 0">
                    <mat-icon style="color: #008940;display: table-caption; font-size: 15px;">brightness_1</mat-icon>
                  </span> -->
                  <table>
                    <tr matTooltip="{{prodList.quantity}} - {{prodList.title}}" matTooltipPosition="above" *ngFor="let prodList of record['extra_products_list']">
                      <td>
                        <!-- {{prodList.stand_type}} -->
                        <img  src="{{prodList.image_url}}" width="30" />
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="text-center">
                  <!-- <span *ngIf="record.sponsorship_count > 0">
                    <mat-icon style="color: #008940;display: table-caption; font-size: 15px;">brightness_1</mat-icon>
                  </span> -->
                  <table>
                    <tr matTooltip="{{prodList.title}}" matTooltipPosition="above" *ngFor="let prodList of record['sponsorship_list']">
                      <td>
                        <!-- {{prodList.stand_type}} -->
                        <img  src="{{prodList.image_url}}" width="30" />
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="text-center" style="text-transform: capitalize;">
                  <span class="sentProp" *ngIf="record.offer_type=='proposal'" matTooltip="Proposal">P</span>
                  <span class="sentProf" *ngIf="record.offer_type=='proforma'" matTooltip="Proforma">R</span>
                </td>
                <td class="text-center" style="text-transform: capitalize;">
                  <span *ngIf="record.is_email_sent==1" matTooltip="Sent"><img src="../../assets/images/email-sent.png" /></span>
                  <span *ngIf="record.is_email_sent==0" matTooltip="Not Sent"><img src="../../assets/images/not-sent.png" /></span>
                </td>
                <!-- <td class="text-center">
                  <span *ngIf="record.extra_product_count > 0">
                    <mat-icon style="color: #008940;display: table-caption; font-size: 15px;">brightness_1</mat-icon>
                  </span>
                </td> -->
                <td class="text-center" [ngClass]="{'expDate':record.payment_date_expired==1}">
                  {{record.payment_last_datetime | date:'dd MMM' }}
                </td>
                <td style="text-transform: capitalize;">{{record.from_firstname}}</td>
                <td class="text-center">
                  <a *ngIf="record.offer_type=='proforma'" target="_blank" [href]="record.pdf_path" matTooltip="View proforma pdf">
                    <!-- <i style="font-size: 21px" class="material-icons">remove_red_eye</i> -->
                    <img src="../../assets/images/outlineEye.png" width="20px">
                  </a>
                  <a style="padding: 0px 5px;" href="/proposal/create-offer?offer_id={{record.offer_id}}" matTooltip="Edit">
                    <!-- <i style="font-size: 21px" class="material-icons">edit</i> -->
                    <img src="../../assets/images/outlineEdit.png" width="20px">
                  </a>
                  <a  matTooltip="Resend" *ngIf="record.payment_date_expired==0" href="/proposal/send-offer?notification_id={{record.id}}">
                    <img src="../../assets/images/paper-plane.png" width="20px">
                  </a>
                </td>
              </tr>
            </table>
            <div class="row mt-3 pl-3 pr-3" *ngIf="total > 0">
              <div class="col-sm-2">
                <span>Showing: {{start_item}}-{{end_item}} of {{total}}</span>
              </div>
              <div class="col-sm-2">
                <mat-checkbox class="example-margin" [(ngModel)]="showall" (ngModelChange)="toggle_show_all_records()">
                  Show  All
                </mat-checkbox>
              </div>
              <div class="col-sm-8 text-right">
                <mat-list role="list">
                  <mat-list-item role="listitem">
                    <button mat-button [disabled]="current_page==0" (click)="current_page=0;get_list();">
                      <i class="material-icons">first_page</i>
                    </button>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <button mat-button [disabled]="current_page==0" (click)="current_page=current_page-1;get_list();">
                      <i class="material-icons">keyboard_arrow_left</i>
                    </button>
                  </mat-list-item>
                  <mat-list-item role="listitem">Page {{current_page + 1}} of {{pages}}</mat-list-item>
                  <mat-list-item role="listitem">
                    <button mat-button [disabled]="current_page==(pages-1)" (click)="current_page=current_page+1;get_list();">
                      <i class="material-icons">navigate_next</i>
                    </button>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <button mat-button [disabled]="current_page==(pages-1)" (click)="current_page=(pages-1);get_list();">
                      <i class="material-icons">last_page</i>
                    </button>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
