.table-filter {
    vertical-align: middle;
}
.expDate{
    color: red;
    font-weight: 600;
}
.invoices .inv-table table{position: relative;width: 100%;
    table-layout: fixed;}
.invoices .inv-table th{
    position:sticky;
    top:0px;
    background: #F5F6FA;
    z-index: 99;
    padding: 8px 5px;
}
.invoices .inv-table {
    padding: 0px;
}
.invoices .inv-table td {
    padding: 8px 3px;
}
.smtbl td{padding: 3px !important;}
.sentProp {
    background: #EFB414;
    padding: 3px 8px;
    color: #fff;
    border-radius: 3px;
}
.sentProf {
    background: #7D4E07;
    padding: 3px 8px;
    color: #fff;
    border-radius: 3px;
}