.submanu{
    .mat-expansion-panel {
        box-shadow: unset;
        background: transparent;
        .mat-expansion-panel-header{padding: 0 20px !important;}
        .mat-expansion-panel-header-title {
            color:#E4F2EB; font-size: 18px;
            i {
                font-size: 24px;
                margin-right: 10px;
                width: 20px;
                vertical-align: middle;
                color: #A2D0B7;
            }
        }        
    }
}
.sideMenu{
    .mat-list-item{
        img{margin-right: 10px;vertical-align: middle;}
        .fa-user-plus{margin-right: 10px;vertical-align: top;}
    }
    .gone{
        background: #046732;
        a{border-left: 4px solid #046732;}
    }
}
.mat-drawer-inner-container{position: relative;}
.idAdmin{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #07c15f;
    a{border-left: 4px solid #07c15f !important;}
}
