<!--start left panel code-->
<mat-sidenav-container fullscreen class="kexhibitor-container">
  <mat-sidenav #sidenav class="kexhibitor-sidenav" mode="side" opened>
    <div class="kisanLogo text-center pad-t-md pad-b-md">
        <img src="./assets/images/kisan_web_logo_white_x50.png" alt="logo image" />
         <!-- <div class="exhDate">
          <h4>16-20 Dec, Pune</h4>
         </div> -->
    </div>
    <mat-nav-list class="sideMenu navigation"> 
        <mat-list-item *ngFor="let item of leftMenu" routerLink="{{item.path}}" [routerLinkActive]="'active'">
          <a routerLink="{{item.path}}" [routerLinkActive]="'active'" >
              <i class="material-icons" *ngIf="item.icon!='vendor' && item.icon!='furniture'">
                {{item.icon}}
              </i>
              <img src="../../assets/images/vendor_menu_logo.png" style="height:24px;margin-right:10px;" *ngIf="item.icon=='vendor'"/>
              <img src="../../assets/images/furniture_menu_logo.png" style="height:24px;margin-right:10px;" *ngIf="item.icon=='furniture'"/>
                  
            <span class="iconTxt font-bold-four">{{item.title}}</span>
          </a>
        </mat-list-item>
        <mat-list-item class="gone">
          <a routerLink="/proposal/stands" [ngClass]="{'active':router.url=='/proposal/stands' || 
              router.url.includes('/proposal/create-stand') || 
              (isOfferTypeMatched('proforma invoice') && router.url != '/proposal/logs')}">
            <i class="material-icons">store_mall_directory</i>
            <span class="iconTxt font-bold-four">Stand</span>
          </a>
        </mat-list-item> 
        <mat-list-item  class="gone">
          <a href="/proposal/search-exhibitor?offer_type=proposal" 
              [ngClass]="{'active':isOfferTypeMatched('proposal')}" >
            <i class="material-icons">send</i>
            <span class="iconTxt font-bold-four">Send Proposal</span>
          </a>
        </mat-list-item>
        <mat-list-item  class="gone">
          <a routerLink="/proposal/logs" [routerLinkActive]="'active'">
            <i class="material-icons">history</i> Log
          </a>
        </mat-list-item>
      </mat-nav-list>
      <mat-accordion class="submanu sideMenu" style="display:none;" >
        <mat-expansion-panel  [expanded]="router.url == '/proposal/proposal-history' || 
        router.url == '/proposal/proforma-history'">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <i class="material-icons">history</i> Log
            </mat-panel-title>
          </mat-expansion-panel-header>
         
          <mat-list-item>
            <a routerLink="/proposal/proposal-history" [routerLinkActive]="'active'" >
              <i class="material-icons">content_paste</i>
              <span class="iconTxt font-bold-four">Proposal</span>
            </a>
          </mat-list-item>

          <mat-list-item>
            <a routerLink="/proposal/proforma-history" [routerLinkActive]="'active'" >
              <img class="material-icons" src="assets/images/reserved.png" />
              <span class="iconTxt font-bold-four">Reserve</span>
            </a>
          </mat-list-item>
        
        </mat-expansion-panel>
      </mat-accordion>
      <mat-nav-list class="sideMenu navigation" style="display:none;">
        <mat-list-item>
          <a href="https://kisan.app/web/layout.html" target="_blank" >
            <i class="material-icons">dashboard</i>
            <span class="iconTxt font-bold-four">Thematic layout</span>
          </a>
        </mat-list-item>
        <mat-list-item style="display:none;">
          <a href="https://www.kisan.in/participation-fees" target="_blank">
            <img class="material-icons" src="assets/images/parti.png" />
            <span class="iconTxt font-bold-four">Participation Fees</span>
          </a>
        </mat-list-item>
        <mat-list-item style="display:none;">
          <a href="https://www.kisan.in/early-bird-offer" target="_blank">
            <img class="material-icons" src="assets/images/early_brid.png" />
            <span class="iconTxt font-bold-four">Early Bird Offer</span>
          </a>
        </mat-list-item> 
        <mat-list-item style="display:none;">
          <a href="https://www.kisan.in/downloads" target="_blank">
            <img class="material-icons" src="assets/images/branding-options.png" />
            <span class="iconTxt font-bold-four">Branding Options</span>
          </a>
        </mat-list-item> 
        <mat-list-item style="display:none;">
          <a href="https://www.kisan.in/downloads" target="_blank">
            <img class="material-icons" src="assets/images/structure-options.png" />
            <span class="iconTxt font-bold-four">Structure Options</span>
          </a>
        </mat-list-item>  
      </mat-nav-list>
      <mat-nav-list class="sideMenu navigation idAdmin">        
        <mat-list-item>
          <a href="{{oauth_base_url}}administrator/" target="_blank">
            <i class="fa fa-user-plus material-icons" aria-hidden="true" style="width: auto;"></i>
            <span class="iconTxt font-bold-four">KISAN ID Admin</span>
          </a>
        </mat-list-item> 
      </mat-nav-list>
     
  </mat-sidenav>

  <header>
      <mat-toolbar>
            <div class="customTabs float-left">
                    <ul class="mrgn-none" *ngIf="(router.url == '/services/badges') || (router.url == '/services/badges-list')">
                      <li routerLink="/services/badges" [routerLinkActive]="'active'"> <a routerLink="/services/badges">Overview</a></li>
                      <li routerLink="/services/badges-list" [routerLinkActive]="'active'"><a routerLink="/services/badges-list">List</a></li>
                    </ul>
            </div>
            <div class="customTabs float-left">
                    <ul class="mrgn-none" *ngIf="(router.url == '/services/invites') || (router.url == '/services/invites-list')">
                      <li routerLink="/services/invites" [routerLinkActive]="'active'"> <a routerLink="/services/invites">Overview</a></li>
                      <li routerLink="/services/invites-list" [routerLinkActive]="'active'"><a routerLink="/services/invites-list">List</a></li>
                    </ul>
            </div>

            <div class="customTabs float-left">
              <ul class="mrgn-none" *ngIf="(router.url == '/stalls/exhibitors') || (router.url == '/stalls/quota') || (router.url == '/stalls/invoices')">
                <li routerLink="/stalls/exhibitors" [routerLinkActive]="'active'"> <a routerLink="/stalls/exhibitors">Overview</a></li>
                <!-- <li routerLink="/stalls/quota" [routerLinkActive]="'active'"> <a routerLink="/stalls/quota">Extra</a></li>
                <li routerLink="/stalls/invoices" [routerLinkActive]="'active'"><a routerLink="/stalls/invoices">Invoices</a></li> -->
              </ul>
             </div>

             <!-- <div class="customTabs float-left">
              <ul class="mrgn-none" *ngIf="router.url.startsWith('/proposal/')">
                <li [ngClass]="{ 'active':isOfferTypeMatched('')  && router.url!='/proposal/stands'}"> <a href="/proposal/dashboard">Dashboard</a></li> 
                <li [ngClass]="{ 'active':router.url=='/proposal/stands' }" ><a href="/proposal/stands">Stalls</a></li>
                <li [ngClass]="{ 'active':isOfferTypeMatched('proposal') && router.url!='/proposal/stands' }" ><a href="/proposal/search-exhibitor/?offer_type=proposal">Proposal</a></li>
                <li style="display:none;" [ngClass]="{ 'active':isOfferTypeMatched('proforma invoice') && router.url!='/proposal/stands'}" > <a href="/proposal/search-exhibitor/?offer_type=proforma invoice">Proforma Invoice</a></li>                
              </ul>
             </div> -->

            <!-- <div class="customTabs float-left">
                <ul class="mrgn-none" *ngIf="(router.url == '/stalls/fair-catalogue-submited-list') || (router.url == '/stalls/fair-catalogue-pending-list')">
                  <li routerLink="/stalls/fair-catalogue-submited-list" [routerLinkActive]="'active'"> <a routerLink="/stalls/fair-catalogue-submited-list">Submitted</a></li>
                  <li routerLink="/stalls/fair-catalogue-pending-list" [routerLinkActive]="'active'"><a routerLink="/stalls/fair-catalogue-pending-list">Pending</a></li>
                </ul>
          </div> -->
          <mat-list class="rightnav">
              <!-- <mat-list-item>
                  <i class="material-icons"> gps_fixed</i>
              </mat-list-item>
              <mat-list-item> 
                  <i class="material-icons">forum</i>
              </mat-list-item>
              <mat-list-item> 
                <i class="material-icons">notifications</i> 
              </mat-list-item> -->
              <mat-list-item class="lastLogBtn">
                  <button mat-button [matMenuTriggerFor]="menu" class="text-capitalize">{{loggedInUserName}}<i class="material-icons mrgn-l-sm"> expand_more</i></button>
                  <!-- <button mat-button [matMenuTriggerFor]="menu" class="text-capitalize">{{loggedInUserName}}<i class="material-icons"> expand_more</i> <img src="./assets/images/userIcon.png" width="40" /></button> -->
                  <mat-menu #menu="matMenu" class="whiteMenu">
                    <button mat-menu-item routerLink="/profile/change-password">
                        <i class="material-icons mrgn-r-sm">https</i> <span>Change Password</span>
                    </button>
                    <button *ngIf="checkAllowedRoles(['exhibitormarketing'])" mat-menu-item  routerLink="/profile/gmail-setting">
                      <i class="material-icons mrgn-r-sm"> mail_outline </i> <span>Gmail Settings</span>
                    </button>
                    <button mat-menu-item (click)="logout()">
                      <i class="material-icons mrgn-r-sm">power_settings_new</i> <span>Logout</span>
                    </button>
                  </mat-menu>
                </mat-list-item>
             </mat-list>
         
    </mat-toolbar>
  </header>
  <div class="kexhibitor-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
<!--start left panel code-->