<div class="all_center_page" >
    <main class="mid-section">
        <div class="row kisanLogo text-center" style="padding-top:12px;margin-right: 0px;">
            <div class="col-sm-12">
                <img src="./assets/images/kisan_web_logo_white_x50.png" alt="logo image" />                      
            </div>
            <!-- <div class="col-sm-6 exhDate textL">
                <h4 class="">16-20 Dec, Pune</h4>
            </div>                        -->
        </div>       
        <router-outlet ></router-outlet>
    </main>
</div>