<!-- <div id="loader"   class="loader"></div> -->
<div class="container-fluid contSpace">
  <div class="stallStatus stall-list list">
    <div class="refreshBtn">
      <button mat-button class="stallBtn mr-2" >Send Proposal</button>
      <button mat-button class="stallBtn" >Send Proforma</button>
      <!-- <button matTooltip="Refresh" type="button"  class="ref">
        <i class="material-icons">autorenew</i>
      </button>
      <button class="ref" type="button" matTooltip="Download">
        <span class="material-icons">download</span>
      </button> -->
    </div>
    <mat-accordion class="example-headers-align col-sm-12">
      <mat-panel-title>
        <h3>Sponsorship Log</h3>
      </mat-panel-title>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-description class="text-right">            
            <mat-icon matTooltip="Info" style="margin-right: 10px;"><i class="material-icons">info</i></mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- <div class="row icon-info">
          <div class="col-sm-6">
            <h6>Pavillions:</h6>
            <div class="row">
              <div class="col-sm-6" style="padding: 0px 2px 0px 12px;">
                <div class="mrgn-b-xs" style="float:left;clear:both;width:100%;" *ngFor="let pav_type of (masterdata.pavillion_types  | slice:0:6) ;">
                  <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                  <div style="float:left;width:12px;text-align:center;"> : </div>
                  <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                </div>
              </div>
              <div class="col-sm-6" style="padding: 0px 2px;">
                <div class="mrgn-b-xs" style="float:left;clear:both;width:100%;" *ngFor="let pav_type of (masterdata.pavillion_types  | slice:6:12) ;">
                  <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                  <div style="float:left;width:12px;text-align:center;"> : </div>
                  <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2 listTable">
            <h6>Status:</h6>
            <p class="mrgn-b-xs"><span class="round available">A</span> : Available</p>
            <p class="mrgn-b-xs"><span class="round proposed">P</span> : Proposed</p>
            <p class="mrgn-b-xs"><span class="round reserved">R</span> : Reserved</p>
            <p class="mrgn-b-xs"><span class="round partial">FE</span> : Partial</p>
            <p class="mrgn-b-xs"><span class="round booked">E</span> : Booked</p>
            <p class="mrgn-b-xs"><span class="round blocked">B</span> : Blocked</p>
          </div>
          <div class="col-sm-2">
            <h6>Type:</h6>
            <p class="mrgn-b-xs" ><img src="../../assets/images/canopy.jpg" width="25px" /> :Canopy</p>
            <p class="mrgn-b-xs" ><img src="../../assets/images/covered_bare.jpg" width="25px" /> : Covered Bare</p>
            <p class="mrgn-b-xs" ><img src="../../assets/images/marquee.jpg" width="25px" /> : Marquee</p>
            <p class="mrgn-b-xs" ><img src="../../assets/images/greenhouse.jpg" width="25px" /> : Greenhouse</p>
            <p class="mrgn-b-xs" ><img src="../../assets/images/open_space.jpg" width="25px" /> : Open Space</p>
            <p class="mrgn-b-xs" ><img src="../../assets/images/prefab.jpg" width="25px" /> : Prefab</p>
          </div>
          <div class="col-sm-2">
            <h6>Location:</h6>
            <p class="mrgn-b-xs" *ngFor="let std_loc of masterdata.stand_locations;">
              <img src="../../assets/images/{{std_loc.short_code}}.png" width="23"> : {{std_loc.name}}
            </p>
          </div>
        </div> -->
      </mat-expansion-panel>
    </mat-accordion>
     <mat-card class="example-card mrgn-b-lg" style="margin-top:15px;">
      <!-- <div class="filter pl-3 pr-3">
        <table>
          <tr>
            <td colspan="2" style="vertical-align: top;">
              <div class="form-group has-search" [ngClass]="{'selected':stall_search!=''}">                             
                  <input type="text"  class="form-control" (keyup)="search_stalls($event)" [(ngModel)]="stall_search" matInput  placeholder="Search by Exh name, Stand no.">
              </div>
            </td>  
            <td>
              <mat-form-field appearance="fill" class="grpOne" [ngClass]="{'selected':stall_filter.pavillion_type!=''}">
                <mat-label>Item</mat-label>
                <mat-select placeholder="Pavillion" [(ngModel)]="stall_filter.pavillion_type" (ngModelChange)="get_stalls()">
                  <mat-option value="">All</mat-option>
                  <mat-option  value="">
                    Item 1
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="fill" class="grpOne" [ngClass]="{'selected':stall_filter.stand_type!=''}">
                <mat-label>Sent</mat-label>
                <mat-select placeholder="Sent" [(ngModel)]="stall_filter.stand_type" (ngModelChange)="get_stalls()">
                  <mat-option value="">All</mat-option>
                  <mat-option>
                   Proposal
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="fill" class="grpOne" [ngClass]="{'selected':stall_filter.stand_type!=''}">
                <mat-label>Date Reng</mat-label>
                <mat-select placeholder="Date Reng" [(ngModel)]="stall_filter.stand_type" (ngModelChange)="get_stalls()">
                  <mat-option value="">All</mat-option>
                  <mat-option>
                   Today
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="fill" class="grpOne" [ngClass]="{'selected':stall_filter.stand_type!=''}">
                <mat-label>Status</mat-label>
                <mat-select placeholder="Status" [(ngModel)]="stall_filter.stand_type" (ngModelChange)="get_stalls()">
                  <mat-option value="">All</mat-option>
                  <mat-option value="">
                   Proposal
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="fill" class="grpOne" [ngClass]="{'selected':stall_filter.stand_type!=''}">
                <mat-label>Person</mat-label>
                <mat-select placeholder="Person" [(ngModel)]="stall_filter.stand_type" (ngModelChange)="get_stalls()">
                  <mat-option value="">All</mat-option>
                  <mat-option value="">
                   Chetan
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
       </table>
    </div> -->
    <!-- <span *ngIf="!(isSuccess)" class="errorMessage"> {{message}} </span>
    <span *ngIf="total_stalls==0" class="errorMessage"> No records found </span> -->
    <!-- <div class="row pl-3 pr-3" *ngIf="isSuccess && total_stalls > 0">
      <div class="col-sm-3">
        <span>Showing: {{stall_start_item}}-{{stall_end_item}} of {{total_stalls}}</span>
      </div>
      <div class="col-sm-3">
        <mat-checkbox class="example-margin" [(ngModel)]="stall_showall" (ngModelChange)="toggle_show_all_stalls()">Show
          All</mat-checkbox>
      </div>
      <div class="col-sm-6 text-right">
        <mat-list role="list">
          <mat-list-item role="listitem">
            <button mat-button [disabled]="stall_current_page==0" (click)="stall_current_page=0;get_stalls();">
              <i class="material-icons">first_page</i>
            </button>
          </mat-list-item>
          <mat-list-item role="listitem">
            <button mat-button [disabled]="stall_current_page==0" (click)="stall_current_page=stall_current_page-1;get_stalls();">
              <i class="material-icons">keyboard_arrow_left</i>
            </button>
          </mat-list-item>
          <mat-list-item role="listitem">Page {{stall_current_page + 1}} of {{stall_pages}}</mat-list-item>
          <mat-list-item role="listitem">
            <button mat-button [disabled]="stall_current_page==(stall_pages-1)" (click)="stall_current_page=stall_current_page+1;get_stalls();">
              <i class="material-icons">navigate_next</i>
            </button>
          </mat-list-item>
          <mat-list-item role="listitem">
            <button mat-button [disabled]="stall_current_page==(stall_pages-1)" (click)="stall_current_page=(stall_pages-1);get_stalls();">
              <i class="material-icons">last_page</i>
            </button>
          </mat-list-item>
        </mat-list>
      </div>
    </div>   -->
    <div class="table-responsive" style="overflow-x: unset;;">
      <table class="table listTable" >
            <thead class="blue-grey lighten-5 text-uppercase">
                <tr class="columnSort">
                    <th class="text-center" style="width:20px;">SR. NO</th>
                    <th class="text-left" style="width:55px;cursor:pointer;" 
                      (click)="sort_stalls('stand_number')" matTooltip="Stand Number" matTooltipPosition="above" >
                      Item
                      <!-- <span *ngIf="stall_sort_col=='stand_number'" class="table-filter">
                        <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                        <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                      </span> -->
                    </th>
                    <th class="text-left" style="width:140px;cursor:pointer;" 
                       matTooltip="Pavilion" matTooltipPosition="above">
                        Exhibitor
                        <!-- <span *ngIf="stall_sort_col=='pavillion_type'" class="table-filter">
                          <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                          <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                        </span> -->
                    </th>
                    <th class="text-center" style="width:30px;cursor:pointer;" 
                      (click)="sort_stalls('cast(area as signed)')" matTooltip="click to sort on this column" matTooltipPosition="above">
                        Sent
                        <!-- <span *ngIf="stall_sort_col=='cast(area as signed)'" class="table-filter">
                          <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                          <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                        </span> -->
                    </th>
                    <th class="text-center" style="width:65px;cursor:pointer;"
                      (click)="sort_stalls('stand_type')" matTooltip="click to sort on this column" matTooltipPosition="above">
                        Sent Date
                        <!-- <span *ngIf="stall_sort_col=='stand_type'" class="table-filter">
                          <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                          <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                        </span> -->
                    </th>
                    <th class="text-center" style="width:65px;cursor:pointer;" 
                      (click)="sort_stalls('stand_location')" matTooltip="click to sort on this column" matTooltipPosition="above" >
                        Last Pay Date
                        <!-- <span *ngIf="stall_sort_col=='stand_location'" class="table-filter">
                          <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                          <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                        </span> -->
                    </th>
                    
                    <th class="text-center" style="width:70px;cursor:pointer;"
                      (click)="sort_stalls('status_code')" matTooltip="Status" matTooltipPosition="above" >
                        Amount+GST
                        <!-- <span *ngIf="stall_sort_col=='status_code'" class="table-filter">
                          <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                          <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                        </span> -->
                    </th>
                    <th style="width:65px;cursor:pointer;" 
                      (click)="sort_stalls('company_name')" matTooltip="click to sort on this column" matTooltipPosition="above">
                        Payment Status
                        <!-- <span *ngIf="stall_sort_col=='company_name'" class="table-filter">
                          <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                          <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                        </span> -->
                    </th>
                    <th class="text-right" style="width:60px;cursor:pointer;" 
                      (click)="sort_stalls('price')" matTooltip="click to sort on this column" matTooltipPosition="above" >
                        Payment Date
                        <!-- <span *ngIf="stall_sort_col=='price'" class="table-filter">
                          <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                          <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                        </span> -->
                    </th>
                    <th class="text-center" style="width:50px;cursor:pointer;" 
                      (click)="sort_stalls('discount_amount')" matTooltip="click to sort on this column" matTooltipPosition="above" >
                        Issued By
                        <!-- <span *ngIf="stall_sort_col=='discount_amount'" class="table-filter">
                          <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                          <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                        </span> -->
                    </th>
                    <th class="text-center" style="width:40px;">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center" style="color:#888">1</td>
                    <td class="text-left font-weight-bold" style="font-size: 16px;">Balloon</td>
                    <td class="comp-info text-left" matTooltip="" matTooltipPosition="above">
                      <div class="imgOuter">
                        <img src="../../assets/images/farm_services.jpg"  />
                      </div>
                      <span>Agro Tech</span>
                    </td>
                    <td class="text-center">P</td>
                    <td class="text-center" matTooltip="" matTooltipPosition="above">
                     24-March-21
                    </td>
                    <td class="text-center" matTooltip="" matTooltipPosition="above">
                      29-March-21
                    </td>
                    <td class="text-right"> 10,000</td>
                    <td class="text-center">Status</td>
                    <td class="text-center" matTooltip="" matTooltipPosition="above">
                      29-March-21
                    </td>
                    <td class="text-left">
                      Vishal
                    </td>
                    <td class="text-center" matTooltip="" matTooltipPosition="above">
                      Edit
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div class="row pl-3 pr-3" *ngIf="isSuccess && total_stalls > 0">
      <div class="col-sm-3">
        <span>Showing: {{stall_start_item}}-{{stall_end_item}} of {{total_stalls}}</span>
      </div>
      <div class="col-sm-3">
        <mat-checkbox class="example-margin" [(ngModel)]="stall_showall" (ngModelChange)="toggle_show_all_stalls()">Show
          All</mat-checkbox>
      </div>
      <div class="col-sm-6 text-right">
        <mat-list role="list">
          <mat-list-item role="listitem">
            <button mat-button [disabled]="stall_current_page==0" (click)="stall_current_page=0;get_stalls();">
              <i class="material-icons">first_page</i>
            </button>
          </mat-list-item>
          <mat-list-item role="listitem">
            <button mat-button [disabled]="stall_current_page==0" (click)="stall_current_page=stall_current_page-1;get_stalls();">
              <i class="material-icons">keyboard_arrow_left</i>
            </button>
          </mat-list-item>
          <mat-list-item role="listitem">Page {{stall_current_page + 1}} of {{stall_pages}}</mat-list-item>
          <mat-list-item role="listitem">
            <button mat-button [disabled]="stall_current_page==(stall_pages-1)" (click)="stall_current_page=stall_current_page+1;get_stalls();">
              <i class="material-icons">navigate_next</i>
            </button>
          </mat-list-item>
          <mat-list-item role="listitem">
            <button mat-button [disabled]="stall_current_page==(stall_pages-1)" (click)="stall_current_page=(stall_pages-1);get_stalls();">
              <i class="material-icons">last_page</i>
            </button>
          </mat-list-item>
        </mat-list>
      </div>
    </div>  -->
    </mat-card>

  </div>
</div>