.loader{z-index: 99999;}
.stallStatus{
    .stallBtn {
        background: #008940;
        color: #fff;
        padding: 5px 40px;
        font-weight: 600;
        font-size: 16px;
    }
    .row_booked{background: #caf7df;}
    .icon-info .listTable{background: transparent;position: relative;}
    .icon-info .listTable .round{border-radius: unset !important;}
    .selected .form-control{background: #f9f5d0 !important;}
    .sts .round{border-radius: unset !important;    text-transform: capitalize;}
    .refreshBtn button{right:10px;position: unset;}
    .clear {
        background: #E0E0E0;
        width: 46px;
        height: 46px;
        border: unset;
        border-radius: 50%;
        cursor: pointer;
        padding: 8px 5px 5px;
        font-weight: 700;
        margin-left: 0;
    }
    .example-card{padding: 0px;}
    .filter{   
        position: relative;
        padding: 18px;
        .reserveStand {
            position: absolute;
            right: 10px;
            top: 10px;
            border: unset;
            background: #008940;
            color: #fff;
            padding: 6px 25px;
            border-radius: 5px;
            box-shadow:0 1px 4px 0 #666;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 17px;
        }
        .reserveStand:hover{text-decoration: unset;}
        .searchBtn {
            background: #008940;
            border: unset;
            color: #fff;
            padding: 10px 8px 8px;
            border-radius: 50%;
            width: 46px;
            height: 46px;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
        }
        .form-group {
            margin-bottom: 0;
        }
        table{width:100%;table-layout: fixed;}
        td{padding-right: 5px;padding-bottom: 7px;}
        .has-search .form-control {
            padding-left: 1.375rem;height: 50px;background: #edecec;border: 1px solid #ccc;
        }
        .has-search .form-control:focus{background:#f9f5d0!important;}
        .has-search .form-control:active{background:#f9f5d0 !important;}
        .has-search .form-control-feedback {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 45px;
            line-height: 45px;
            text-align: center;
            pointer-events: none;
            color: #aaa;
        }
    }
    .listTable{
        background: #fff;
        .prc {
            padding-right: 5px !important;
        }
        .pers {
            padding-left: 5px !important;
        }
        th, td{padding: 13px 3px;vertical-align: middle;}
        td{color: #333;font-weight: 500;}
        th {
            font-weight: 600;
            font-size: 14px;
            background: #d0f9be;
            position: sticky;
            top: 0px;
            padding: 5px 3px !important;
            text-transform: capitalize;
            span{    font-size: 11px;}
        }
        .cName{
            overflow: hidden;
            text-overflow: ellipsis;
            width: 150px;
            display: inline-block;
            white-space: nowrap
        }
        .history{cursor: pointer;}
        .round {
            width: 20px;
            height: 20px;
            margin: auto;
            border-radius: 50%;
            line-height: 20px;
            color: #fff;
        }
        .booked{background: #008940;}
        .available{background: #94E3A6;}
        .blocked {background: #7D4E07;}
        .proposed {background: #DDD710;}
        .reserved {background: #EFB414;}
        .partial{background: #0C459A;}
        .open{background: #f26721;}
    }
}

.list{
    position: relative;
    .refreshBtn {
        position: absolute !important;
        width: auto !important;
        z-index: 9999;
        right: 50px;
        top: -2px;
        cursor: pointer;
        .ref {
            position: relative !important;
            top: 7px !important;
            right: 0px !important;
            left:8px;
        }
    }
}
.mat-select-panel {
    background: #f9f5d0 !important;
}
.comp-info {
    display: flex;
    align-items: center;
    margin-right: 7px;
    .imgOuter {
        width: 50px;
        height: 50px;
        min-width: 50px;
        border-radius: 50%;
        margin-right: 10px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 50%;
        }
    }
}