<div id="loader"   class="loader" ></div>
<div class="proposal">
  <div class="container-fluid">
   <!-- <div class="text-right history" *ngIf="offer_type=='proposal'" >
      <a href="/proposal/proposal-history"><i class="material-icons">restore</i> Proposal History</a>
    </div>
    <div class="text-right history" *ngIf="offer_type=='proforma invoice'" >
      <a href="/proposal/proforma-history" ><i class="material-icons">restore</i> Confirmation History</a>
    </div>-->
    <div class="row mrgn-t-sm title">
      <h3 *ngIf="offer_type!='proforma invoice' || !is_products">Generate {{offer_type}}</h3>
      <h3 *ngIf="offer_type=='proforma invoice' && is_products">Stand Confirmation Process</h3>
    </div>
    <div class="row">
      <div class="col-sm-12 block">
        <div class="wrapper-progressBar">
          <ul class="progressBar">
            <li class="active"><a href="/proposal/search-exhibitor?offer_type={{offer_type}}" > Enter Email Address</a></li>
            <li *ngIf="offer_type!='proforma invoice' || !is_products" class="active"><a href="/proposal/create-offer?offer_id={{offer_id}}" >Generate {{offer_type}}</a></li>
            <li *ngIf="offer_type=='proforma invoice' && is_products" class="active"><a href="/proposal/create-offer?offer_id={{offer_id}}" >Select Stand</a></li>
         
            <li *ngIf="offer_type!='proforma invoice' || !is_products" class="active" style="font-weight: 600;font-size: 18px;">Send {{offer_type}}</li>
            <li *ngIf="offer_type=='proforma invoice' && is_products" class="active" style="font-weight: 600;font-size: 18px;">Send Confirmation</li>
          </ul>
        </div>
      </div>
    </div>
    <form #sendOffer="ngForm"  (ngSubmit)="onSubmit(sendOffer)" >
      <div class="email-main">
        <div class="email-popup">
          <div class="mrgn-b-md mrgn-t-sm">
              <input type="text" name="ToEmail" placeholder="To" [(ngModel)]="toEmail"  required  />
          </div>
          <div class="mrgn-b-md">
              <input type="text" name="CCEmal" placeholder="CC" [(ngModel)]="ccEmails" /> 
          </div>
          <div class="mrgn-b-md">
              <input type="text" name="subject" placeholder="Subject" [(ngModel)]="subject" required/>
          </div>
          <div class="mrgn-b-md">
            <app-ngx-editor id="editor" name="editor" rows="5" required [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="html"></app-ngx-editor> 
            <!-- <ckeditor [(ngModel)]="html" [config]="ckeConfig"    #myckeditor="ngModel"  name="myckeditor"  required  debounce="500" >
              </ckeditor> -->
          </div>
          <div class="row">
              <div class="col-sm-4" >  
                <mat-checkbox *ngIf="offer_type=='proforma invoice'" name="send_pdf_attachment" class="example-margin" [(ngModel)]="send_pdf_attachment" > </mat-checkbox>               
                <a *ngIf="offer_type=='proforma invoice'" href="{{pdf_url}}" target="_blank"> 
                    <i class="material-icons" style="position: relative; top: 8px;color:#666;"> attach_file</i>
                  <span><img src="assets/images/pdf.png" /> </span>
                  <span style="color:#666;">{{pdf_name}}</span> </a> 
               
              </div>
              <div *ngIf="offer_type!='proforma invoice'" class="col-sm-8 text-right ">
                  <button type="submit"  [disabled]="!(sendOffer.valid && validateEmails())" class="email-btn">SEND EMAIL</button>
              </div>
              <div *ngIf="offer_type=='proforma invoice'" class="col-sm-8 text-right ">
                <!-- <button type="submit" (click)="send_email=0"  [disabled]="!(sendOffer.valid && validateEmails())" class="email-btn-res">RESERVE <span *ngIf="is_products">STAND</span> ONLY</button>-->
                <button type="submit" (click)="send_email=1" [disabled]="!(sendOffer.valid && validateEmails())" class="email-btn">RESERVE <span *ngIf="is_products">STAND</span> + SEND EMAIL</button> 
            </div>
          </div>    
        </div>
      </div>
    </form>
  </div>
</div> 