.proposal .history a { color: #268240; }
.active a { color: #268240;text-decoration: underline; }
.email-btn-res{
    background: #AAC61C;
    color: #fff;
    border-radius: 5px;
    padding: 5px 15px;
    border: unset;
    font-weight: 600;
    cursor: pointer;
    margin-right: 15px;
}