<div id="loader"   class="loader"></div>
<div class="container-fluid contSpace">
  <div class="row badgePage">
    <div class="col-sm-12 list">
      <!-- <div class="row">
         <div class="searchCountBtn"><p>1-8 of 1275</p></div>
          <div class="downloadBtn"><button style="cursor:pointer" type="button"><i class="material-icons">get_app</i></button></div>
          <div class="refreshBtn"><button style="cursor:pointer" type="button" (click)="get_stalls()"><i class="material-icons">
              refresh</i></button></div>
          <mat-accordion class="example-headers-align col-sm-12">
            <mat-panel-title>
              <h3>Stall booking request</h3>
            </mat-panel-title>
            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-description class="text-right">
                  <mat-icon><i class="material-icons">info</i></mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="row icon-info">
                <div class="col-sm-6">
                  <h6>Pavillions:</h6>
                  <div class="row">
                    <div class="col-sm-6" style="padding: 0px 2px 0px 12px;">
                     
                      <div class="mrgn-b-xs" style="float:left;clear:both;" *ngFor="let pav_type of (masterdata.pavillion_types  | slice:0:8) ;">
                        <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                        <div style="float:left;width:12px;text-align:center;"> : </div>
                        <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                      </div>
                    </div>
                    <div class="col-sm-6" style="padding: 0px 2px;">
                      <div class="mrgn-b-xs" style="float:left;clear:both;" *ngFor="let pav_type of (masterdata.pavillion_types  | slice:8:15) ;">
                        <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                        <div style="float:left;width:12px;text-align:center;"> : </div>
                        <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <h6>Type:</h6>
                  <p class="mrgn-b-xs" *ngFor="let std_type of masterdata.stand_types;">{{std_type.short_code}}: {{std_type.name}}</p>
                </div>
                <div class="col-sm-2">
                  <h6>Location:</h6>
                  <p class="mrgn-b-xs" *ngFor="let std_loc of masterdata.stand_locations;">
                    <img src="../../assets/images/{{std_loc.short_code}}.png" width="23">: {{std_loc.name}}
                  </p>
                </div>
                <div class="col-sm-2">
                  <h6>Form Status:</h6>
                  <p class="mrgn-b-xs"><span class="Approved"></span> : Aprroved</p>
                  <p class="mrgn-b-xs"><span class="Pending"></span> : Pending</p>
                  <p class="mrgn-b-xs"><span class="NotFilled"></span> : Not Filled</p>
                  <p class="mrgn-b-xs"><span class="Rejected"></span> : Rejected</p>
                  <h6>Payment Status:</h6>
                  <p class="mrgn-b-xs"><span class="pending"></span> : Pending</p>
                  <p class="mrgn-b-xs"><span class="paid"></span> : Paid</p>
                  <p class="mrgn-b-xs"><span class="failed"></span> : Failed</p>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div> -->
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6">
          <h2 class="mrgn-t-none mrgn-b-lg">Badges - List</h2>
        </div>
        <div class="col-sm-6 text-right">
            <span class="refreshBtn">
                <button style="cursor:pointer" matTooltip="Download" type="button" (click)="exportStallPasssCSV()">
                    <i class="material-icons">get_app</i>
                  </button>
              </span>
          <span class="refreshBtn">
            <button style="cursor:pointer" matTooltip="Refresh" type="button" (click)="reload_stall_passes()">
              <i class="material-icons">refresh</i>
            </button>
          </span>
        </div>
      </div>
    </div>
    <!-- start badges-list-->
    <div class="col-sm-12 mrgn-b-lg badges-list list">
      <mat-card>
        <div class="row" layout="row" layout-align="space-between center">
          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <mat-icon matPrefix><i class="material-icons">search</i></mat-icon>
              <input type="text" (keyup)="search_stall_passes($event)" [(ngModel)]="stall_passes_search" matInput placeholder="Search by company name or person"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="isSuccess && total_stall_passes > 0">
          <div class="col-sm-12 exhibitor-pagi mrgn-t-md">
            <div class="row">
              <div class="col-sm-3">
                <span>Showing: {{ stall_passes_start_item }}-{{ stall_passes_end_item }} of {{ total_stall_passes }}</span>
              </div>

              <div class="col-sm-9 text-right">
                <mat-list role="list">
                  <mat-list-item role="listitem">
                    <button mat-button [disabled]="stall_passes_current_page==0" (click)="stall_passes_current_page=0;get_stall_passes()">
                      <i class="material-icons">first_page</i>
                    </button>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <button mat-button [disabled]="stall_passes_current_page==0" (click)="stall_passes_current_page=stall_passes_current_page-1;get_stall_passes()">
                      <i class="material-icons">keyboard_arrow_left</i>
                    </button>
                  </mat-list-item>
                  <mat-list-item role="listitem">Page {{ stall_passes_current_page + 1 }} of  {{ stall_passes_total_pages }}</mat-list-item>
                  <mat-list-item role="listitem">
                    <button mat-button [disabled]="stall_passes_current_page==(stall_passes_total_pages-1)" (click)="stall_passes_current_page=stall_passes_current_page+1;get_stall_passes()">
                      <i class="material-icons">navigate_next</i>
                    </button>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <button mat-button [disabled]="stall_passes_current_page==(stall_passes_total_pages-1)" (click)="stall_passes_current_page=(stall_passes_total_pages-1);get_stall_passes()">
                      <i class="material-icons">last_page</i>
                    </button>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </div>
        </div>
        <mat-card-content *ngIf="isSuccess && total_stall_passes > 0">
          <div class="table-responsive">
            <table class="table">
              <thead class="blue-grey lighten-5">
                <tr>
                  <th style="width:30px">Sr. No.</th>
                  <th style="width:55px" (click)="sort_stall_passes('stall_id')" matTooltip="click to sort on this column">Stall ID 
                    <span  class="table-filter" *ngIf="stall_passes_sort_col=='stall_id'">													
                      <i *ngIf="stall_passes_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="stall_passes_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  <th style="width:115px" (click)="sort_stall_passes('first_name')" matTooltip="click to sort on this column">NAME 
                    <span  class="table-filter" *ngIf="stall_passes_sort_col=='first_name'">													
                      <i *ngIf="stall_passes_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="stall_passes_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                  <th style="width:90px">MOBILE NO.</th>
                  <th style="width:120px" (click)="sort_stall_passes('company_name')" matTooltip="click to sort on this column">COMPANY
                    <span  class="table-filter" *ngIf="stall_passes_sort_col=='company_name'">													
                      <i *ngIf="stall_passes_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="stall_passes_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                  <th style="width:60px" class="pd-rgt" (click)="sort_stall_passes('created_date')" matTooltip="click to sort on this column">CREATED TIME
                    <span  class="table-filter" *ngIf="stall_passes_sort_col=='created_date'">													
                      <i *ngIf="stall_passes_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="stall_passes_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                  <th style="width:40px" class="pd-rgt text-center">STATUS</th>
                  <th style="width:60px" class="pd-rgt" (click)="sort_stall_passes('collected_datetime')" matTooltip="click to sort on this column"> COLLECT TIME
                    <span  class="table-filter" *ngIf="stall_passes_sort_col=='collected_datetime'">													
                      <i *ngIf="stall_passes_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="stall_passes_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                  <th class="text-center" style="width:50px">BARCODE </th>
                  <th class="text-center" style="width:50px">SOURCE </th>
                  <th class="text-center" style="width:50px">RESEND BADGE</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor=" let pass of stall_passes; let i=index">
                  <td class="textNormal">{{ pagesize*stall_passes_current_page + i + 1 }}</td>
                  <td class="textNormal">
                    <a href="/stalls/stall-details/{{getBase64URIencode(pass.stall_id)}}">
                      {{ pass.stall_id }}
                    </a>
                  </td>
                  <td>{{ pass.first_name }} {{ pass.last_name }}</td>
                  <td>{{ pass.mobile }}</td>
                  <td>
                    <div class="comp-name">
                      <a href="/stalls/stall-details/{{getBase64URIencode(pass.stall_id)}}">
                        {{ pass.company_name }}
                      </a>
                    </div>
                  </td>
                  <td class="textNormal text-center">
                    {{ pass.created_date|date:'dd MMM'}}
                    <span>|</span>
                    {{ pass.created_date|date:'shortTime'}}
                  </td>
                  <td class="icon-info text-center">
                    <span class="Approved text-center" *ngIf="pass.collected_datetime"></span>
                    <span class="Pending text-center" *ngIf="!(pass.collected_datetime)"></span>
                  </td>
                  <td class="textNormal text-center">
                    {{ pass.collected_datetime|date:'dd MMM' }}
                    <span>|</span>
                    {{ pass.collected_datetime|date:'shortTime' }}
                  </td>
                  <td class="textNormal text-center">{{ pass.barcode }}</td>
                  <td class="textNormal text-center">
                    <span *ngIf="pass.csv_id != null || pass.csv_id ==''">C</span>
                    <span *ngIf="pass.csv_id == null ">M</span>
                    
                  </td>
                 <td class="textNormal text-center">
                  <button class="resend" matTooltip="Resend" *ngIf="pass.barcode" (click)="resendPass(pass.barcode)"><img style="max-height: 30px; max-width: 30px;" src="../../assets/images/resend.png"/></button>
                  <!-- <button class="refbtn" ng-click="refreshPage()"><i class="material-icons">autorenew </i> </button> -->
                 </td>
                   
                
                </tr>
              </tbody>
            </table>
          </div>
        </mat-card-content>
        <span *ngIf="!(isSuccess)" class="errorMessage"> {{ errorMessage }} </span>
        <span *ngIf="total_stall_passes==0" class="errorMessage"> No records found </span>
        <div class="row" *ngIf="isSuccess && total_stall_passes > 0">
          <div class="col-sm-12 exhibitor-pagi mrgn-t-md">
            <div class="row">
              <div class="col-sm-3">
                <span>Showing: {{ stall_passes_start_item }}-{{ stall_passes_end_item }} of {{ total_stall_passes }}</span>
              </div>

              <div class="col-sm-9 text-right">
                <mat-list role="list">
                  <mat-list-item role="listitem">
                    <button mat-button [disabled]="stall_passes_current_page==0" (click)="stall_passes_current_page=0;get_stall_passes()">
                      <i class="material-icons">first_page</i>
                    </button>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <button mat-button [disabled]="stall_passes_current_page==0" (click)="stall_passes_current_page=stall_passes_current_page-1;get_stall_passes()">
                      <i class="material-icons">keyboard_arrow_left</i>
                    </button>
                  </mat-list-item>
                  <mat-list-item role="listitem">Page {{ stall_passes_current_page + 1 }} of  {{ stall_passes_total_pages }}</mat-list-item>
                  <mat-list-item role="listitem">
                    <button mat-button [disabled]="stall_passes_current_page==(stall_passes_total_pages-1)" (click)="stall_passes_current_page=stall_passes_current_page+1;get_stall_passes()">
                      <i class="material-icons">navigate_next</i>
                    </button>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <button mat-button [disabled]="stall_passes_current_page==(stall_passes_total_pages-1)" (click)="stall_passes_current_page=(stall_passes_total_pages-1);get_stall_passes()">
                      <i class="material-icons">last_page</i>
                    </button>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div><!-- end lateststall-->
  </div>
</div>