<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div id="loader"   class="loader"></div>
<div class="container-fluid contSpace">
    <div class="row dashboardPage ">
        <div class="col-sm-12">
          <h2 class="mrgn-t-none mrgn-b-lg">Overview</h2>
        </div>
        <div class="col-sm-12">
            <div class="row overviewBlock">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 allBlock mrgn-b-lg">
                    <mat-card>
                        <mat-card-header class="mrgn-t-sm mrgn-b-sm">
                            <mat-list (click)="setStallListFormStatus('')" style="cursor:pointer;">
                                <mat-list-item class="purpalHead">
                                  <mat-icon mat-list-icon class="text-center"><i class="material-icons"> shopping_cart</i></mat-icon>
                                  <h4 mat-line>{{dashboardService.stalls_status_summary.total}}</h4>
                                  <p mat-line>Total stall booked</p>
                                </mat-list-item>
                            </mat-list>
                            <div class="rightsideLink" (click)="setStallListFormStatus('')">
                                <button mat-icon-button style="display:none;">
                                    <mat-icon class="text-center"><i class="material-icons">more_horiz</i></mat-icon>
                                </button>
                             </div> 
                        </mat-card-header>
                        <mat-divider></mat-divider>
                        <mat-card-content class="blockList" style="padding-top:1px;">
                             
                           <google-chart [data]="pieChartData"></google-chart>
                        </mat-card-content> 
                    </mat-card>
                </div><!-- end allBlock-->

                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 allBlock mrgn-b-lg">
                    <mat-card>
                        <mat-card-header class="mrgn-t-sm mrgn-b-sm" (click)="setStallListFormStatus('')" style="cursor:pointer;">
                            <mat-list>
                                <mat-list-item class="blueHead">
                                  <mat-icon mat-list-icon class="text-center"><i class="material-icons">book</i></mat-icon>
                                  <h4 mat-line>{{dashboardService.stalls_status_summary.total}}</h4>
                                  <p mat-line>Total Stalls</p>
                                </mat-list-item>
                            </mat-list>
                            <div class="rightsideLink" style="display:none;">
                                <button mat-icon-button>
                                    <mat-icon class="text-center"><i class="material-icons">more_horiz</i></mat-icon>
                                </button>
                            </div> 
                        </mat-card-header>
                        <mat-divider></mat-divider>
                        <mat-card-content class="blockList">
                            <mat-list>
                                <mat-list-item class="pad-t-md pad-b-md" (click)="setStallListFormStatus('Approved')" style="cursor:pointer;">
                                  <mat-icon mat-list-icon class="greenColor text-center"><i class="material-icons">cached</i></mat-icon>
                                  <h4 mat-line>{{dashboardService.stalls_status_summary.approved}} forms</h4>
                                  <h5 class="lightGreen">Approved</h5>
                                </mat-list-item>

                                <mat-list-item class="pad-t-md pad-b-md" (click)="setStallListFormStatus('Pending')" style="cursor:pointer;" >
                                    <mat-icon mat-list-icon class="yellowColor text-center"><i class="material-icons">update</i></mat-icon>
                                    <h4 mat-line>{{dashboardService.stalls_status_summary.pending_forms_received}} forms</h4>
                                    <h5 class="lightYellow">Pending</h5>
                                </mat-list-item>

                                <mat-list-item class="pad-t-md pad-b-md" (click)="setStallListFormStatus('NotFilled')" style="cursor:pointer;" >
                                    <mat-icon mat-list-icon class="greyColor text-center"><i class="material-icons">update</i></mat-icon>
                                    <h4 mat-line>{{dashboardService.stalls_status_summary.pending_forms_not_received}} forms</h4>
                                    <h5 class="grey">Not Filled</h5>
                                </mat-list-item>

                                <mat-list-item class="pad-t-md pad-b-md" (click)="setStallListFormStatus('Rejected')" style="cursor:pointer;">
                                    <mat-icon mat-list-icon class="redColor text-center"><i class="material-icons">cancel</i></mat-icon>
                                    <h4 mat-line>{{dashboardService.stalls_status_summary.rejected}} forms</h4>
                                    <h5 class="lightRed">Rejected</h5>
                                </mat-list-item>
                            </mat-list>
                        </mat-card-content>
                    </mat-card>
                </div><!-- end allBlock-->

                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 allBlock mrgn-b-lg">
                    <mat-card>
                        <mat-card-header>
                            <mat-list>
                                <mat-list-item class="greenHead">
                                  <mat-icon mat-list-icon class="text-center"><span class="font-bold-six">GST</span></mat-icon>
                                  <h4 mat-line>{{dashboardService.stalls_status_summary.gst_registered}}</h4>
                                  <p mat-line>Companies with GSTIN</p>
                                </mat-list-item>
                            </mat-list>
                            <div class="rightsideLink" style="display:none;">
                                <button mat-icon-button>
                                    <mat-icon class="text-center"><i class="material-icons">more_horiz</i></mat-icon>
                                </button>
                            </div> 
                        </mat-card-header>
                        <mat-divider></mat-divider>
                        <mat-card-content class="blockList">
                            <canvas class="mrgn-auto chartInner" baseChart width="280" height="280" [labels]="gstChartLabels" [colors]="gstChartColors"
                            [data]="[dashboardService.stalls_status_summary.gst_registered,dashboardService.stalls_status_summary.gst_not_registered]" [chartType]="gstChartType">
                          </canvas>
                        </mat-card-content>
                    </mat-card>
                </div><!-- end allBlock-->

                <!-- start lateststall-->
                <div class="col-sm-12 mrgn-b-lg list latestBooking" *ngIf="isSuccess">
                    <mat-card>
                        <mat-card-header class="mrgn-t-sm mrgn-b-sm">
                            <h3 class="mrgn-t-sm mrgn-b-md">Latest stall bookings</h3>
                        </mat-card-header>
                        <mat-card-content>
                            <span *ngIf="!(isSuccess)" class="errorMessage"> {{message}} </span>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="blue-grey lighten-5">
                                        <tr>
                                            <th style="width:45px">Sr. No.</th>
                                            <th style="width:45px" >
                                                ID                                                     
                                            </th>
                                            <th style="width:200px" >
                                                COMPANY                                                     
                                            </th>
                                            <th style="width:40px" class="pd-rgt" >
                                                Ar.                                                     
                                            </th>
                                            <th style="width:60px" class="pd-rgt">
                                                PAV.                                                    
                                            </th>
                                            <th style="width:60px" class="pd-rgt" >
                                                TYPE                                                    
                                            </th>
                                            <th style="width:50px" class="pd-rgt" >
                                                LOC.                                                    
                                            </th>
                                            <th style="width:120px" > 
                                                PRIORITY                                                    
                                            </th>
                                            <th style="width:60px" class="pd-rgt" >
                                                PAID                                                    
                                            </th>
                                            <th style="width:60px" class="pd-rgt" >
                                                FORM                                                    
                                            </th> 
                                            <th style="width:60px" class="pd-rgt" >
                                                K18                                                    
                                            </th>                     
                                            <th class="text-center" style="width:70px" >
                                                BOOKED ON                                                    
                                            </th>
                                            <th class="text-center" style="width:70px" >
                                                FORM SENT                                                    
                                            </th>
                                            <th style="width:70px" >
                                                SUBMIT.                                                    
                                            </th>
                                            <!-- <th class="pd-rgt">ACTIONS</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>                                                       
                                        <tr *ngFor="let stall of stalls; let i = index;">
                                            <td class="textNormal">{{i + 1}}</td>
                                            <td class="textNormal"><a href="/stalls/stall-details/{{getBase64URIencode(stall.id)}}">{{stall.id}}</a></td>
                                            <td><div class="comp-name"><a href="/stalls/stall-details/{{getBase64URIencode(stall.id)}}">{{stall.company_name}}</a></div></td>
                                            <td style="text-align:right;">{{stall.area}}</td>
                                            <td class="icon-info" style="text-align:center;" matTooltip="{{get_pavillion_name(stall.pavillion_type)}}" matTooltipPosition="above" >                     
                                            <span class="{{stall.pavillion_type}}">{{ stall.pavillion_type}}</span>
                                            </td>
                                            <td  style="text-align:center;" matTooltip="{{get_stand_type_name(stall.stand_type)}}" matTooltipPosition="above" >{{ stall.stand_type }}</td>
                                            <td matTooltip="{{get_stand_location_name(stall.stand_location)}}" matTooltipPosition="above" ><img src="../../assets/images/{{stall.stand_location}}.png" width="23"></td>
                                            <td class="nowrap">{{ stall.priority_number }}</td>
                                            <td class="icon-info" style="text-align:center;"  matTooltip="{{stall.payment_status}}" matTooltipPosition="above" >
                                                <span class="{{stall.payment_status}}"></span>
                                            </td>
                                            <td class="icon-info" style="text-align:center;"  matTooltip="{{stall.form_status}}" matTooltipPosition="above" >
                                                <span class="{{stall.form_status}}"></span>
                                            </td>
                                            <td class="icon-info" style="text-align:center;" *ngIf="stall.is_trusted" matTooltip="Trusted" matTooltipPosition="above" >
                                                <span class="Approved"></span>
                                            </td>
                                            <td class="icon-info" style="text-align:center;" *ngIf="!stall.is_trusted" matTooltip="New" matTooltipPosition="above" >
                                                <span class="NotFilled"></span>
                                              </td>
                                            <td class="textNormal text-center" matTooltip="{{ stall.booked_datetime | date:'hh:mm a' }}" matTooltipPosition="above" >{{ stall.booked_datetime | date:'dd MMM' }}</td>
                                            <td class="textNormal text-center" matTooltip="{{ stall.last_formlink_send_datetime | date:'hh:mm a' }}" matTooltipPosition="above" >{{ stall.last_formlink_send_datetime | date:'dd MMM' }}</td>
                                            <td class="textNormal text-center" matTooltip="{{ stall.form_submitted_date | date:'hh:mm a' }}" matTooltipPosition="above">{{ stall.form_submitted_date | date:'dd MMM' }}</td>                
                                        </tr>                
                                    </tbody>
                                </table>
                            </div>
                        </mat-card-content>
                        <mat-card-footer class="text-center show-more">
                            <hr />
                            <a href="/stalls/stall-list">Show More</a>
                        </mat-card-footer>
                    </mat-card>
                </div><!-- end lateststall-->
            </div>
        </div>
    </div>
</div>