.overviewBlock{
  .mat-card{
    padding: 10px;
    display: inline-block;
    width: 100%;
    .mat-card-header{
      .mat-list{
        padding: 0;
        float: left;
        .mat-list-item{
          height: auto;
          .mat-list-item-content{
            .mat-icon{
              color: #56D9FE !important;
              border: 2px solid !important;
              border-radius: 50%;
              padding: 6px;
              vertical-align: top;
            }
            h4 {
              font-size: 25px;
              font-weight: 600;
          }
          }
  
        }
      }
      .rightsideLink{
        float:right;
        button{
          color: #999;
        }
      }
    }
  }
}

.latestBooking{
  h3{
    font-size:20px;
    color: #008940;
  }
  .show-more{
    a{
      color: #008940;
      margin: 1em 0 !important;
      display: block;
    }
  }
}