<div id="loader"   class="loader"></div>
<div class="container-fluid " style="padding-top:10px;">
  <div class="row stall-list">
    <div class="col-sm-12">
      <div class="list">
        <mat-card class="example-card mrgn-b-lg" style="width:970px;margin:auto;padding:16px;" >
          <div class="row">
            <div class="col-sm-10">
              <h3>Stall Count With Pending Activities</h3>
            </div>
            <div class="col-sm-2">
                <button class="refresh_button" type="button" (click)="get_data()">
                  <i class="material-icons">refresh</i>
                </button>        
            </div>
          </div>
          <span *ngIf="!(isSuccess)" class="errorMessage"> {{message}} </span>          
          <div class="table-responsive" *ngIf="isSuccess && data['all']" >
            <table class="table">
              <thead class="blue-grey lighten-5">
                <tr>
                  <th style="width:80px">Particular</th>
                  <th style="width:45px;" class="text-right">All <div>{{data['all'].total}}</div></th>
                  <th class="icon-info text-right" style="width:45px;" *ngFor="let item of masterdata.pavillion_types;let i = index;" matTooltip="{{item.name}}" matTooltipPosition="above" [ngClass]="{'pd-rgt-7':i==(masterdata.pavillion_types.length-1)}">                   
                    <span  class="mrg-rgt-5 {{item.short_code}}">{{item.short_code}} </span> 
                    <div  *ngIf="data[item.short_code]">{{data[item.short_code].total}}</div>
                    <div *ngIf="!data[item.short_code]">-</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr >                 
                  <th >Payment</th>
                  <td  class="textNormal text-right">
                    <span matTooltip="{{get_percentage(data['all'].payment,data['all'].total)}} %" matTooltipPosition="above">
                      {{data['all'].payment}}
                    </span>
                  </td>
                  <td class="textNormal text-right" *ngFor="let item of masterdata.pavillion_types" >
                    <div *ngIf="data[item.short_code]" >
                      <span matTooltip="{{get_percentage(data[item.short_code].payment,data[item.short_code].total)}} %" matTooltipPosition="above">
                        {{data[item.short_code].payment}}
                      </span>
                    </div>
                    <span *ngIf="!data[item.short_code]">-</span>
                  </td>                  
                </tr>
                <tr >                 
                  <th >Approval</th>
                  <td class="textNormal text-right">
                      <span matTooltip="{{get_percentage(data['all'].approval,data['all'].total)}} %" matTooltipPosition="above">
                        {{data['all'].approval}}
                      </span>
                  </td>
                  <td class="textNormal text-right" *ngFor="let item of masterdata.pavillion_types" >
                    <div *ngIf="data[item.short_code]">
                      <span matTooltip="{{get_percentage(data[item.short_code].approval,data[item.short_code].total)}} %" matTooltipPosition="above">                     
                        {{data[item.short_code].approval}}
                      </span>
                    </div>
                    <span *ngIf="!data[item.short_code]">-</span>
                  </td>                  
                </tr>
                <tr >                 
                  <th >Profile OK</th>
                  <td class="textNormal text-right">
                    <span matTooltip="{{get_percentage(data['all'].profile_completed,data['all'].total)}} %" matTooltipPosition="above">                    
                      {{data['all'].profile_completed}}
                    </span>
                  </td>
                  <td class="textNormal text-right" *ngFor="let item of masterdata.pavillion_types" >
                    <div *ngIf="data[item.short_code]">
                      <span matTooltip="{{get_percentage(data[item.short_code].profile_completed,data[item.short_code].total)}} %" matTooltipPosition="above">                   
                        {{data[item.short_code].profile_completed}}
                      </span>
                    </div>
                    <span *ngIf="!data[item.short_code]">-</span>
                  </td>                  
                </tr>
                <tr >                 
                  <th ><i class="material-icons"> assignment_ind </i></th>
                  <td class="textNormal text-right">
                    <span matTooltip="{{get_percentage(data['all'].badges_issued,data['all'].total)}} %" matTooltipPosition="above">                    
                      {{data['all'].badges_issued}}
                    </span>
                  </td>
                  <td class="textNormal text-right" *ngFor="let item of masterdata.pavillion_types" >
                    <div *ngIf="data[item.short_code]">
                      <span matTooltip="{{get_percentage(data[item.short_code].badges_issued,data[item.short_code].total)}} %" matTooltipPosition="above">                       
                        {{data[item.short_code].badges_issued}}
                      </span>
                    </div>
                    <span *ngIf="!data[item.short_code]">-</span>
                  </td>                  
                </tr>
                <tr >                 
                  <th ><img src="../../assets/images/gp_green.png"  style="width:20px"/></th>
                  <td class="textNormal text-right">
                    <span matTooltip="{{get_percentage(data['all'].gp_issued,data['all'].total)}} %" matTooltipPosition="above">                    
                      {{data['all'].gp_issued}}
                    </span>
                  </td>
                  <td class="textNormal text-right" *ngFor="let item of masterdata.pavillion_types">
                    <div *ngIf="data[item.short_code]">
                      <span matTooltip="{{get_percentage(data[item.short_code].gp_issued,data[item.short_code].total)}} %" matTooltipPosition="above">                      
                        {{data[item.short_code].gp_issued}}
                      </span>
                    </div>
                    <span *ngIf="!data[item.short_code]">-</span>
                  </td>                  
                </tr>
                <tr >                 
                  <th ><i class="material-icons"> thumb_up_alt </i></th>
                  <td class="textNormal text-right">
                    <span matTooltip="{{get_percentage(data['all'].good2go,data['all'].total)}} %" matTooltipPosition="above">                    
                      {{data['all'].good2go}}
                    </span>
                  </td>
                  <td class="textNormal text-right" *ngFor="let item of masterdata.pavillion_types" >
                    <div *ngIf="data[item.short_code]">
                      <span matTooltip="{{get_percentage(data[item.short_code].good2go,data[item.short_code].total)}} %" matTooltipPosition="above">                     
                        {{data[item.short_code].good2go}}
                      </span>
                    </div>
                    <span *ngIf="!data[item.short_code]">-</span>
                  </td>                  
                </tr>
                <tr >                 
                  <th >Extra</th>
                  <td class="textNormal text-right">
                    <span matTooltip="{{get_percentage(data['all'].extra_paid,data['all'].total)}} %" matTooltipPosition="above">                    
                      {{data['all'].extra_paid}}
                    </span>
                  </td>
                  <td class="textNormal text-right" *ngFor="let item of masterdata.pavillion_types" >
                    <div *ngIf="data[item.short_code]">
                      <span matTooltip="{{get_percentage(data[item.short_code].extra_paid,data[item.short_code].total)}} %" matTooltipPosition="above">                     
                        {{data[item.short_code].extra_paid}}
                      </span>
                    </div>
                    <span *ngIf="!data[item.short_code]">-</span>
                  </td>                  
                </tr>
              </tbody>
            </table>
            <hr/> 
            <div class="row icon-info" style="margin:0px;font-size: 14px !important; ">                
              <div class="col-sm-2" style="padding: 0px 2px 0px 12px;">                   
                <div class="mrgn-b-xs" style="float:left;clear:both;width:100%" *ngFor="let pav_type of (masterdata.pavillion_types | slice:0:3 ) ; " >
                  <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                  <div style="float:left;width:12px;text-align:center;"> : </div>
                  <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                </div>
              </div>
              <div class="col-sm-2" style="padding: 0px 2px 0px 12px;">                   
                <div class="mrgn-b-xs" style="float:left;clear:both;width:100%" *ngFor="let pav_type of (masterdata.pavillion_types | slice:3:6 ) ; " >
                  <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                  <div style="float:left;width:12px;text-align:center;"> : </div>
                  <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                </div>
              </div>
              <div class="col-sm-2" style="padding: 0px 2px 0px 0px;">                   
                <div class="mrgn-b-xs" style="float:left;clear:both;width:100%" *ngFor="let pav_type of (masterdata.pavillion_types | slice:6:9 ) ; " >
                  <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                  <div style="float:left;width:12px;text-align:center;"> : </div>
                  <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                </div>
              </div>
              <div class="col-sm-3" style="padding: 0px 2px 0px 12px;">                   
                <div class="mrgn-b-xs" style="float:left;clear:both;width:100%" *ngFor="let pav_type of (masterdata.pavillion_types | slice:9:12 ) ; " >
                  <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                  <div style="float:left;width:12px;text-align:center;"> : </div>
                  <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                </div>
              </div>
              <div class="col-sm-3" style="padding: 0px 2px 0px 12px;">                   
                <div class="mrgn-b-xs" style="float:left;clear:both;width:100%" *ngFor="let pav_type of (masterdata.pavillion_types | slice:12:16 ) ; " >
                  <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                  <div style="float:left;width:12px;text-align:center;"> : </div>
                  <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                </div>
              </div>                                     
            </div>           
          </div>        
        </mat-card>
      </div>
    </div>
  </div>
</div>
 