<div class="container-fluid contSpace">
  <div class="row company-profile quataPage">
      <div class="col-sm-12 headerInfo">
          <div class="row">
            <div class="col-sm-5 mrgn-t-none mrgn-b-md">
              <h2 class="headerLeft">       
                <div class="float-left green-txt" >ID -
                  <span class="font-bold-six mrgn-r-md">1052</span>
                  <span class="font-bold-six mrgn-r-md" >Stall No - 1111</span>
                </div>
                <div class="stall-status text-uppercase" >
                  <span class="green-dot mrgn-l-sm mrgn-r-sm" ></span>
                  <!-- <span class="yellow-dot mrgn-l-sm mrgn-r-sm" *ngIf="stallDetails.stallinfo.is_formsubmitted==1  && stallDetails.stallinfo.status=='Pending'"></span>
                  <span class="grey-dot mrgn-l-sm mrgn-r-sm" *ngIf="stallDetails.stallinfo.is_formsubmitted==0 && stallDetails.stallinfo.status=='Pending'"> </span>
                 
                  <span class="red-dot mrgn-l-sm mrgn-r-sm" *ngIf="stallDetails.stallinfo.status=='Rejected'"></span>
                  {{stallDetails.stallinfo.status=='Pending' ? (stallDetails.stallinfo.is_formsubmitted ? 'Pending' : 'Not Filled') : stallDetails.stallinfo.status }} -->
                </div>
              </h2>
            </div>
      
            <div class="col-sm-7 text-right mrgn-t-none mrgn-b-md">
              <div class="headerRight">
                 <a href="/stalls/edit-stall-details/{{getBase64URIencode(stallId)}}" class="grayBtn edit mrgn-r-md"><i class="material-icons" style="position: relative;top: 7px;">edit</i></a>     
              </div>
            </div>
          </div>
        </div>
    
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-5">
            <mat-card class="company-info">
              <div class="row">
                <div class="col-sm-4 text-center">
                  <div class="profileImg"><img class="company-logo" [src]="defaultExhibitorImage"></div>
                </div>
                <div class="col-sm-8">
                  <h3 class="text-capitalize">{{(stallDetails.stallinfo)?.company_name}}</h3>
                  <h3 *ngIf="(stallDetails.stallinfo)?.company_name_marathi" class="text-capitalize">{{(stallDetails.stallinfo)?.company_name_marathi}}</h3>
                  <p class="add">{{(stallDetails.stallinfo)?.address}}</p>
                  <p class="add">{{(stallDetails.stallinfo)?.addressline2}}</p>
                  <p>{{(stallDetails.stallinfo)?.city}}, {{(stallDetails.stallinfo)?.state}}, {{(stallDetails.stallinfo)?.country}}.</p>
                  <p class="mrgn-t-sm" *ngIf="(stallDetails.stallinfo)?.GSTIN">
                    GSTIN : {{(stallDetails.stallinfo)?.GSTIN}}
                  </p>
                  <p class="mrgn-t-sm" *ngIf="!(stallDetails.stallinfo)?.GSTIN">GSTIN : <span class="redTxtB">Not Available</span></p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12"><hr /></div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <h5 class="font-bold-six mrgn-b-sm mrgn-t-sm text-right">Organisation <br />contact details</h5>
                </div>
                <div class="col-sm-8 stall-booked">
                  <mat-list>
                    <mat-list-item>
                      <mat-icon mat-list-icon>
                          <i class="material-icons">mail_outline</i>
                        </mat-icon>
                        <h4 mat-line *ngIf="(stallDetails.stallinfo)?.company_email">{{(stallDetails.stallinfo)?.company_email}}</h4>
                        <h4 mat-line *ngIf="!(stallDetails.stallinfo)?.company_email" class="redTxtB">Not Available</h4>
                      </mat-list-item>
                      <mat-list-item>
                        <mat-icon mat-list-icon>
                          <i class="material-icons">call</i>
                        </mat-icon>
                        <h4 mat-line *ngIf="(stallDetails.stallinfo)?.company_phone">{{(stallDetails.stallinfo)?.company_phone}}</h4>
                        <h4 mat-line *ngIf="!(stallDetails.stallinfo)?.company_phone" class="redTxtB">Not Available</h4>
                      </mat-list-item>
                      <mat-list-item>
                        <mat-icon mat-list-icon>
                          <i class="material-icons">language</i>
                        </mat-icon>
                        <h4 mat-line *ngIf="(stallDetails.stallinfo)?.company_website">{{(stallDetails.stallinfo)?.company_website}}</h4>
                        <h4 mat-line *ngIf="!(stallDetails.stallinfo)?.company_website" class="redTxtB">Not Available</h4>
                      </mat-list-item>
                    </mat-list>
                  </div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><hr /></div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                  <h5 class="font-bold-six mrgn-b-sm mrgn-t-sm text-right">Contact person</h5>
                  </div>
                  <div class="col-sm-8 stall-booked contactPose">
                    <mat-list>
                      <mat-list-item>
                        <mat-icon mat-list-icon>
                          <i class="material-icons">person_outline</i>
                        </mat-icon>
                          <h4 mat-line class="text-capitalize mrgn-t-md">{{(stallDetails.stallinfo)?.contact_person_first_name}} {{(stallDetails.stallinfo)?.contact_person_last_name}}</h4>
                          <p *ngIf="(stallDetails.stallinfo)?.contact_person_designation"  mat-line class="contact-pose-text">{{(stallDetails.stallinfo)?.contact_person_designation}}</p>
                          <p *ngIf="!(stallDetails.stallinfo)?.contact_person_designation" class="redTxtB contact-pose-text-red" mat-line>Not Available</p>
                      </mat-list-item>
                    </mat-list>
                  </div>
                </div>
            </mat-card>
            <mat-card class="company-info mrgn-t-lg">
              <div class="row">
                <div class="col-sm-12">
                  <h5 class="font-bold-six mrgn-b-sm">Coordinator</h5>
                </div>
              </div>
              <hr />
              <div class="row company-profile">
                <div class="col-sm-12 stall-booked">
                  <mat-list>
                    <mat-list-item>
                      <mat-icon mat-list-icon>
                        <i class="material-icons">person_outline</i>
                      </mat-icon>
                      <h4 mat-line class="text-capitalize large-font">{{(stallDetails.stallinfo)?.booked_by_fname}} {{(stallDetails.stallinfo)?.booked_by_lname}}</h4>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon mat-list-icon>
                        <i class="material-icons">mail_outline</i>
                     </mat-icon>
                      <h4 mat-line *ngIf="(stallDetails.stallinfo)?.booked_by_email">{{(stallDetails.stallinfo)?.booked_by_email}}</h4>
                      <h4 mat-line *ngIf="!(stallDetails.stallinfo)?.booked_by_email" class="redTxtB">Not Available</h4>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon mat-list-icon>
                        <i class="material-icons">phone_android</i>
                      </mat-icon>
                      <h4 mat-line *ngIf="(stallDetails.stallinfo)?.booked_by_mobile">{{(stallDetails.stallinfo)?.booked_by_mobile}}</h4>
                      <h4 mat-line *ngIf="!(stallDetails.stallinfo)?.booked_by_mobile" class="redTxtB">Not Available</h4>
                    </mat-list-item>
                      </mat-list>
                    </div>
                  </div>
            </mat-card>

            <mat-card class="stand-detail mrgn-t-lg" *ngIf="stallDetails.stallinfo">
              <div class="row">
                <div class="col-sm-5">
                  <h5 class="font-bold-six">Stall details</h5>
                </div>
                <div class="col-sm-7 pad-l-none">
                  <p class="priortcustom">Priority No - {{stallDetails.stallinfo.priority_number}}</p>
                </div>
                <div class="col-sm-12"><hr /></div>
              </div>
              <div class="row mrgn-t-md">
                <div class="col-sm-5">
                  <img class="stall-img" src="{{(stallDetails.stallinfo)?.stand_image}}" alt="Stall Image">
                  <p class="mrgn-t-md">SKU:
                    <b> {{(stallDetails.stallinfo)?.sku}}</b>
                  </p>               
                </div>
                <div class="col-sm-7 pad-l-none">               
                  <table class="mrgn-minus">
                    <tr>
                      <td class="vertical-top">Pavillion</td>
                      <td class="vertical-top">: </td>
                      <td class="font-bold-six">{{(stallDetails.stallinfo)?.pavillion_name}}</td>
                    </tr>                  
                    <tr>
                      <td>Area</td>
                      <td>: </td>
                      <td class="font-bold-six"> {{(stallDetails.stallinfo)?.area}} sq.m.</td>
                    </tr>
                    <tr>
                      <td>Location</td>
                      <td>: </td>
                      <td class="font-bold-six"> {{(stallDetails.stallinfo)?.stand_location_name}}</td>
                    </tr>
                    <tr>
                      <td>Type</td>
                      <td>: </td>
                      <td class="font-bold-six"> {{(stallDetails.stallinfo)?.stand_type_name}}</td>
                    </tr>
                    <tr>
                      <td>Price</td>
                      <td>: </td>
                      <td class="font-bold-six"> ₹ {{getRupeeFormat(stallDetails.stallinfo.paid_amount)}}/-</td>
                    </tr>
                  </table>
                </div>
              </div>
              <hr *ngIf="stallDetails.stallinfo.stand_type=='P'" />
              <h5 *ngIf="stallDetails.stallinfo.stand_type=='P'" class="fasciaTitle">Fascia Name : <span class="greenTxt font-bold-six fasciaName">{{(stallDetails.stallinfo)?.fascia_name}}</span> </h5>
              <h5 *ngIf="stallDetails.stallinfo.stand_type=='P' && !(stallDetails.stallinfo.fascia_name)" class="fasciaTitle">Fascia Name : <span class="redTxtB">Not Available</span> </h5>      
      
            </mat-card>
          </div>
          <div class="col-sm-7">
            <mat-card class="extra-reqtable">
              <div class="row">
                <div class="col-sm-6">
                  <h5 class="font-bold-six">Extra requirements</h5>
                </div>
                <div class="col-sm-6 text-right">
                  <button class="amount-btn">₹ 26,000/-</button>
                </div>
              </div>
              <hr>
              <div>
                <table width="100%">
                  <tr style="background: #F5F6FA;">
                    <th>PRODUCT</th>
                    <th class="text-center">TOTAL QTY ORDERED</th>
                    <th class="text-center">TOTAL (RS.)</th>
                  </tr>
                  <tr>
                    <td><img src="assets/images/director's-chair.png" width="50"><span>Director's chair</span></td>
                    <td class="text-center">4</td>
                    <td class="text-center">₹ 2000</td>
                  </tr>
                  <tr>
                    <td><img src="assets/images/spot-lamp.png" width="50"> <span>Spot lamp</span></td>
                    <td class="text-center">10</td>
                    <td class="text-center">₹ 3000</td>
                  </tr>
                  <tr>
                    <td><img src="assets/images/plug-point.png" width="50"><span>Plug point 5A</span></td>
                    <td class="text-center">5</td>
                    <td class="text-center">₹ 5000</td>
                  </tr>
                  <tr>
                    <td><img src="assets/images/octonorm-counter.png" width="50"><span>Octonorm Counter</span></td>
                    <td class="text-center">4</td>
                    <td class="text-center">₹ 4000</td>
                  </tr>
                </table>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
  </div>
</div>