.updateStallStatus{
    position: relative;
    h2{font-weight: 600;
        span{font-weight: 600;
            font-size: 17px;}
    }
    h4{font-weight: 600;
        margin: 16px 0;
        font-size: 22px;
    }
    .updateStatus{
        background: #008940;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        padding: 5px 40px;
    }
    .actionBtn {
        position: absolute;
        top: -5px;
        right: 5px;
    }
    .round {
        width: 20px;
        height: 20px;
        margin: auto;
        border-radius: 50%;
        line-height: 20px;
        color: #fff;
        display: inline-block;
        vertical-align: middle;
    }
    .booked{background: #008940;}
    .available{background: #94E3A6;}
    .blocked {background: #7D4E07;}
    .proposed {background: #DDD710;}
    .reserved {background: #EFB414;}
    .partial{background: #0C459A;}
    mat-radio-button {
        margin-right: 15px;
    }
    th, td {
        border: 1px solid #ccc;
        padding: 5px;
    }
    .updateStatus:disabled {
        background: #ccc !important;
    }
}