<div id="loader1"   class="loader"></div>
<div class="updateStallStatus">
  <div>
    <h2>{{stand_info.stand_number}} - Stall Status <span style="text-transform: capitalize;"><span class="round {{stand_info.status}}"> </span> {{stand_info.status}} </span></h2>
  </div>
  <div class="actionBtn" >
    <img style="cursor:pointer;" *ngIf="checkAllowedRoles(['exhibitoradmin'])" (click)="redirectEdit()" src="assets/images/edit.png" />
    <img style="cursor:pointer;" *ngIf="checkAllowedRoles(['exhibitoradmin'])" (click)="openDeleteConfDialog()" src="assets/images/delete.png" />
  </div>
  <form  #editStandStatus="ngForm" (ngSubmit)="onSubmit(editStandStatus)" *ngIf="status_list.length > 0">
    <div class="radioM form-group">
      <h4>Update Status</h4>
      <mat-radio-group aria-label="Select an option" class="example-radio-group" 
        [(ngModel)]="newstatus" name="set_status" id="set_status" required>
        <mat-radio-button class="example-radio-button" *ngFor="let status of status_list" [value]="status">
          <span style="text-transform: capitalize;">{{status}}</span>
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-form-field class="mt-3 example-full-width">
      <mat-label>Add comment</mat-label>
      <textarea matInput [(ngModel)]="comments" name="comments" id="comments" placeholder="Add comment" required></textarea>
    </mat-form-field>
    <div class="text-center">
      <button mat-button class="updateStatus" type="submit" [disabled]="editStandStatus.invalid">Update Status</button>
    </div>
  </form>
  <div *ngIf="total_stand_status_history > 0">
    <hr>
    <h4>Status History</h4>
    <table width="100%">
    <tr>
      <th style="width:100px">Date</th>
      <th style="width:110px">Status</th>
      <th style="width:150px">Org</th>
      <th class="text-center" style="width:100px">By</th>
      <th style="width:150px">Comment</th>
    </tr>
    <tr *ngFor="let log of stand_status_history; let i = index">
      <td matTooltip="{{ log.action_datetime | date:'hh:mm a' }}" matTooltipPosition="above" >
        {{log.action_datetime | date:'dd-MMM-yy' }}
      </td>
      <td><div class="round {{log.status}}"></div> {{log.status}}</td>
      <td >{{log.company_name}}</td>
      <td class="text-center">{{log.action_by_user_firstname}}</td>
      <td >{{log.notes}}</td>
    </tr>
    <!-- <tr>
      <td>23-Jan-20</td>
      <td><div class="round proposed"></div> Proposed</td>
      <td class="text-center">Vishal</td>
      <td>Received call on Jan 22.</td>
    </tr>
    <tr>
      <td>23-Jan-20</td>
      <td><div class="round available"></div> Available</td>
      <td class="text-center">-</td>
      <td></td>
    </tr> -->
  </table>
</div>
</div>
