.sku .valid {color:green}
.sku .invalid {color:red}
.invalid {color:red}
.generate-btn:disabled {
    background: #ABAAAB;
    cursor:auto;
}
// .proposal .select .datepicker{
//     margin:0px !important;
// }
.proposal .history a { color: #268240; }
.active a { color: #268240;text-decoration: underline; }
.gray {
    background: #F5F5F5;
    font-size: 14px;
    text-align: center;
    height: 65px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.diprice {
  background: #C5DED0;
  font-size: 16px;
  text-align: center;
  height: 65px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.disc {
  background: #DDE8E2;
  font-size: 16px;
  text-align: center;
  height: 65px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.notavb {
  color: red;
  margin-left: 85px;
  b{margin: 0 5px;}
}
.col-sm label {
  font-size: 15px;
}
.dis-toggle{
   label{
    width: 100%;
    text-align: left;
   }
}
.gstprice {
  background: #E8E6B3;
  font-size: 16px;
  text-align: right;
  height: 65px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 600;
  padding-right: 10px;
  span{width:100%;}
}
.white{background: #Fff;}
.quty{
  .value-button {
      display: inline-block;
      border: 1px solid #ddd;
      margin: 0px;
      width: 40px;
      height: 30px;
      text-align: center;
      vertical-align: middle;
      background: #eee;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-size: 30px;
      line-height: 25px;
    }
    .value-button:hover {
      cursor: pointer;
    }

     #decrease {
      margin-right: -4px;
      border-radius: 8px 0 0 8px;
    }

     #increase {
      margin-left: -4px;
      border-radius: 0 8px 8px 0;
    }

     #input-wrap {
      margin: 0px;
      padding: 0px;
    }

    input#number {
      text-align: center;
      border: none;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      margin: 0px;
      width: 40px;
      height: 30px;
      position: relative;
      top:0px;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
.mainTotal{background: #E8E6B3;
  margin: 0px 0% 0px 7% !important;padding-bottom: 7px; padding-right: 9%;
  b{font-size: 21px;}
  span{
    font-size: 13px;
    font-style: italic;
    position: relative;
    bottom: 10px;
  }
}
.mrgn-zero{
  margin: 0px !important;
}
.withgst{
  input{
    text-align: right;
    font-size: 16px !important;
    font-weight: 600;
    padding-right:8px !important;
  }
}
.add-exta{
  .new{
    padding: 0px;
    position: relative;
    left: 9px;
  }
}
