<div class="proposal">
    <div id="loader" name="loader" class="loader"></div>
    <div class="container-fluid pad-all-md">
        <!--<div class="text-right history" *ngIf="offer_type=='proposal'">
            <a href="/proposal/proposal-history"><i class="material-icons">restore</i> Proposal History</a>
        </div>
        <div class="text-right history" *ngIf="offer_type=='proforma invoice'">
            <a href="/proposal/proforma-history"><i class="material-icons">restore</i> Confirmation History</a>
        </div>-->
        <div class="row title">
            <h3 *ngIf="offer_type!='proforma invoice'">Generate {{offer_type}}</h3>
            <h3 *ngIf="offer_type=='proforma invoice'">Stand Confirmation Process</h3>
        </div>
        <div class="row">
            <div class="col-sm-12 block">
                <div class="wrapper-progressBar">
                    <ul class="progressBar">
                        <li class="active"><a href="/proposal/search-exhibitor?offer_type={{offer_type}}" > Enter Email Address </a></li>
                        <li *ngIf="offer_type!='proforma invoice'" class="active" style="font-weight: 600;font-size: 18px;">Generate {{offer_type}}</li>
                        <li *ngIf="offer_type=='proforma invoice'" class="active" style="font-weight: 600;font-size: 18px;">Select Stand</li>
                       
                        <li *ngIf="offer_type!='proforma invoice'">Send {{offer_type}}</li>
                        <li *ngIf="offer_type=='proforma invoice'">Send Confirmation</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mrgn-t-lg select">
            <div class="col-sm-12" *ngIf="exhinfo">
                <p>Generate <span style="text-transform: capitalize;">{{offer_type}}</span> for - <b><a  (click)="openCompDetailsDialog()" style="cursor:pointer;text-decoration: underline;">{{exhinfo.organisation_name}}</a></b>
                    <a class="green-dot" *ngIf="history_info && history_info.length>0" (click)="openStallDialog()">History</a>
                    <span class="add float-right" *ngIf="products.length === 0" (click)="addproduct()">+</span>
                </p>
                <div class="mb-4"  *ngFor="let product of products; let i = index">
                    <div class="row mrgn-zero">
                        <div class="col-sm opt">
                            <span> Option {{i+1}} </span>
                        </div>
                        <div class="col-sm sku stdno pad-l-none">
                            <label>Stand No</label>
                            <mat-form-field>
                                <input type="text" matInput name="stand_number_{{i}}" id="stand_number_{{i}}" maxlength="5" [(ngModel)]="product.stand_number" [ngClass]="{'valid':product.is_valid,'invalid': !product.is_valid}" (ngModelChange)="validateStandNumber(product)" />
                            </mat-form-field>
                        </div>
                        <div class="col-sm" style="max-width:11%;">
                            <label>Pavilion</label>
                            <div class="gray" [ngClass]="{ 'white':product.pavillion_name!='' }">{{product.pavillion_name}}</div>
                        </div>
                        <div class="col-sm">
                            <label>Stand Details</label>
                            <div class="gray" [ngClass]="{ 'white':product.stand_type_name!='' }">
                            {{product.stand_type_name}} <br/>
                            {{product.stand_location_name}}</div>
                        </div>
                        <div class="col-sm sku" style="max-width:8%;">
                            <label>Area</label>
                            <div class="gray" [ngClass]="{ 'white':product.area!='' }" style="font-size: 16px;">{{product.area}}</div>
                        </div>
                        <div class="col-sm sku" style="max-width:11%;">
                            <label>Price</label>
                            <div class="gray" [ngClass]="{ 'white':product.price!=0.00 }" style="font-size: 16px;">
                                <span *ngIf="product.price!=0.0"> {{getRupeeFormat(product.price)}} </span></div>
                        </div>
                        <div class="col-sm sku dis-toggle" style="max-width:11%;">
                            <mat-slide-toggle [(ngModel)]="product.is_checked" [ngStyle]="{'color': product.is_checked? '#ffc107':'#008940'}" (change)="slideToggle($event, product)"> {{product.is_checked? 'Rs.':'%'}}</mat-slide-toggle>
                            <label>Discount</label>
                            <mat-form-field class="disc">
                                <input onkeyup="allowContactNumber(this)" matInput type="text" name="discount_{{i}}" id="discount_{{i}}"  [(ngModel)]="product.discount_amount" (ngModelChange)="validateDiscount(product)" maxlength="7" />
                                <!-- onkeyup="allowContactNumber(this)" -->
                                <!-- [ngClass]="{ 'invalid': !product.is_valid_discount}" -->
                                <!--<mat-label>Discount %</mat-label>
                                <mat-select [(ngModel)]="product.discount_amount"> <mat-option [value]="0">None </mat-option>
                                    <mat-option [value]="3">3% </mat-option> <mat-option [value]="5">5%</mat-option>
                                    <mat-option [value]="8">8%</mat-option> <mat-option [value]="10">10%</mat-option>
                                    <mat-option [value]="13">13%</mat-option> <mat-option [value]="15">15%</mat-option>
                                    <mat-option [value]="18">18% </mat-option> <mat-option [value]="20">20%</mat-option>
                                    <mat-option [value]="23">23%</mat-option> <mat-option [value]="25">25%</mat-option>
                                    <mat-option [value]="28">28%</mat-option> <mat-option [value]="30">30%</mat-option>
                                    <mat-option [value]="33">33% </mat-option> <mat-option [value]="35">35%</mat-option>
                                    <mat-option [value]="38">38%</mat-option> <mat-option [value]="40">40%</mat-option>
                                    <mat-option [value]="43">43%</mat-option> <mat-option [value]="45">45%</mat-option>
                                    <mat-option [value]="48">48% </mat-option> <mat-option [value]="50">50%</mat-option>
                                    <mat-option [value]="53">53%</mat-option> <mat-option [value]="55">55%</mat-option>
                                    <mat-option [value]="58">58%</mat-option> <mat-option [value]="60">60%</mat-option>
                                    <mat-option [value]="63">63% </mat-option> <mat-option [value]="65">65%</mat-option>
                                    <mat-option [value]="68">68%</mat-option> <mat-option [value]="70">70%</mat-option>
                                    <mat-option [value]="73">73%</mat-option> <mat-option [value]="75">75%</mat-option>
                                    <mat-option [value]="78">78% </mat-option> <mat-option [value]="80">80%</mat-option>
                                    <mat-option [value]="83">83%</mat-option> <mat-option [value]="85">85%</mat-option>
                                    <mat-option [value]="88">88%</mat-option> <mat-option [value]="90">90%</mat-option>
                                    <mat-option [value]="93">93% </mat-option> <mat-option [value]="95">95%</mat-option>
                                    <mat-option [value]="98">98%</mat-option> <mat-option [value]="100">100%</mat-option>
                                    </mat-select> -->
                            </mat-form-field>
                        </div>
                        
                        <div class="col-sm sku" style="max-width:11%;">
                            <label>Disc Price</label>
                            <div class="diprice" > 
                                <span *ngIf="product.discount_amount!=0">
                                    {{getDiscountPrice(product)}} 
                                </span>
                            </div>
                        </div>
                        <div class="col-sm sku" style="max-width:12%;">
                            <label>Price with GST</label>
                            <div class="gstprice"><span *ngIf="product.price!=0.0"> {{getPriceWithGST(product)}}  </span></div>
                        </div>
                        <div class="col-sm new" style="max-width: 9%;">
                            <div class="row mrgn-none">
                                <div class="add" (click)="addproduct()">+</div>
                                <div class="min" (click)="removeproduct(i)">-</div>
                                <!-- <div *ngIf="offer_type=='proforma invoice'" class="min" (click)="removeproduct(i)">-</div>
                                <div *ngIf="offer_type=='proposal' && products.length > 1" class="min" (click)="removeproduct(i)">-</div> -->
                            </div>
                        </div>
                    </div>
                    <div class="row notavb" *ngIf="!product.is_stand_availabel" >This stall is <b> NOT Available. </b> Please enter another stall number</div>
                </div>
                <mat-accordion  class="proformaAccordion"   >
                    <mat-expansion-panel  class="addExtra" #accordian  [expanded]="accordianexpand" (opened)="getExhibitorAddons();extraProd();isExtraReq = false" >
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h5 class="font-bold-six"> Add Extra Requirements</h5>
                                <!-- (click)="getShopifyExtraRequirment();isExtraReq= !isExtraReq;addExtraProducts();" -->
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="content">
                            <div class="extra-req" *ngIf="!isExtraReq">
                                <div class="add-exta">
                                    <div class="row mrgn-zero" *ngFor="let extraproduct of extra_products; let idx = index">
                                        <div class="col-sm pad-fv" style="max-width: 20%;">
                                            <mat-form-field>
                                                <mat-label>Stand</mat-label>
                                                <mat-select [(ngModel)]="extraproduct.stand_id" (ngModelChange)="selectedStandForAmenities(extraproduct)">
                                                    <!-- [(value)]="extraMasterData.SKU[idx]" -->
                                                    <!-- <mat-option value="">None</mat-option> -->
                                                    <mat-option *ngFor="let product of stalls_for_amenities" [value]="product.stand_id">{{product.stand_number}}</mat-option>
                                                </mat-select>

                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm pad-fv" style="max-width: 25%;">
                                            <mat-form-field>
                                                <mat-label>Product</mat-label>
                                                <mat-select [(ngModel)]="extraproduct.id" (ngModelChange)="selectedStandAmenity(extraproduct)">
                                                    <mat-option *ngFor="let exSKU of standAmenityMasterData" [value]="exSKU.id">{{exSKU.title}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm pad-fv" style="max-width: 15%;">
                                            <mat-form-field class="example-full-width">
                                                <input [value]="roundNumberV1(extraproduct.price,0)" matInput placeholder="Rate" readonly>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm pad-fv mrgn-t-md" style="max-width: 19%;">

                                            <div class="quty">
                                                <div (click)="decreaseQty(extraproduct)" class="value-button" id="decrease" value="Decrease Value">-</div>
                                                <input readonly [(ngModel)]="extraproduct.quantity" type="number" id="number" min='1' />
                                                <div (click)="increaseQty(extraproduct)" class="value-button" id="increase" value="Increase Value">+</div>
                                            </div>
                                        </div>
                                        <div class="col-sm pad-fv withgst" style="max-width: 13%;">
                                            <mat-form-field class="example-full-width">
                                                <input [value]="roundNumberV1(extraproduct.price*extraproduct.quantity*1.18,0)" matInput placeholder="Price with GST">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm new pad-fv" style="max-width: 8%;">
                                            <div class="add" (click)="addExtraProducts()">+</div>
                                            <div class="min" (click)="removeExtraProduct(idx)">-</div>
                                            <!-- *ngIf="extra_products.length > 1" -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
                <mat-accordion  class="proformaAccordion"   >
                    <mat-expansion-panel  class="sponOption" #accordian1 [expanded]="accordian1expand" (opened)="getExhibitorAddons();sponsorshipOptions();">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h5 class="font-bold-six">Branding Options</h5>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="content">
                            <div class="row extra-req" >
                                <div class="col-sm-12 add-exta">
                                    <div class="row" *ngFor="let soption of sponsorship_options; let idx = index">
                                        <div class="col-sm pad-fv" style="max-width: 25%;">
                                            <mat-form-field>
                                                <mat-label>Product</mat-label>
                                                <mat-select [(ngModel)]="soption.id" (ngModelChange)="selectedSponsershipOption(soption)">
                                                    <mat-option *ngFor="let item of sponsorshipMasterData" [value]="item.id">{{item.title}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm pad-fv" style="max-width: 15%;">
                                            <mat-form-field class="example-full-width">
                                                <input [value]="roundNumberV1(soption.price,0)" matInput placeholder="Rate" readonly>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm pad-fv" style="max-width: 38%;"></div>
                                        <div class="col-sm pad-fv withgst" style="max-width: 13%;">
                                            <mat-form-field class="example-full-width">
                                                <input [value]="roundNumberV1(soption.price*soption.quantity*1.18,0)" matInput placeholder="Price with GST">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm new pad-fv" style="max-width: 9%;">
                                            <div class="add" (click)="addSponsorshipOption()">+</div>
                                            <div class="min" (click)="removeSponsorshipOptions(idx)">-</div>
                                            <!-- *ngIf="extra_products.length > 1" -->
                                        </div>
                                    </div>
                                </div>
                            </div>      
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>

                <div class="mainTotal row"  >
                    <div class="col-sm-10 text-right mrgn-t-md">
                        Net Amount -
                    </div>
                    <div class="col-sm-2 text-right mrgn-t-md">
                        {{netamount}}
                    </div>
                    <div class="col-sm-10 text-right mrgn-t-sm">
                        <b>Total Amount -
                            <br><span>(inclusive GST)</span>
                        </b>
                    </div>
                    <div class="col-sm-2 text-right mrgn-t-sm">
                        <b>{{totalamount}}</b>
                    </div>
                </div>

                <div class="datepicker row">
                    <div class="col-sm-6 col-md-6 col-lg-6 mrgn-t-md pl-2">
                        Select Date For Last Payment
                        <mat-form-field>
                            <input matInput readonly [(ngModel)]="payment_last_date" [matDatepicker]="picker" [min]="minDate" placeholder="Choose a date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4 col-md-4 col-md-4 mrgn-t-md pad-t-md" *ngIf="offer_type=='proforma invoice'" style="display:none;">
                        <mat-checkbox [(ngModel)]="is_rebook" > Rebook</mat-checkbox>
                        <!--<mat-radio-group [(ngModel)]="is_rebook" >
                            <mat-radio-button  [value]="1" (click)="is_rebook=1-is_rebook;">Rebook</mat-radio-button>
                        </mat-radio-group>-->
                    </div>
                </div>
                <div class="text-center mrgn-t-lg" *ngIf="!offer_generated">
                    <button class="generate-btn" type="button" id="generate" name="generate" [disabled]="!(checkprice() && validate_offer() && validate_ExtraReq() && validate_SponsorshipOptions() )" (click)="create_offer()">
                        <span *ngIf="offer_type!='proforma invoice'">GENERATE {{offer_type}}</span>
                        <span *ngIf="offer_type=='proforma invoice'">CONTINUE</span>
                    </button>
                    <!-- <ng-template #proposal>
                <button  class="generate-btn" type="button" id="generate" name="generate"  [disabled]="!validate_offer()" (click)="create_offer()">GENERATE {{offer_type}}</button>
            </ng-template> -->
                </div>
                <div class="text-center mrgn-t-lg" *ngIf="offer_generated">
                    <button class="generate-btn" type="button" id="generate" name="generate"> <div class="tick">✔</div> {{offer_type}} GENERATED</button>
                </div>
            </div>
        </div>
    </div>
</div>
