<div id="loader"   class="loader"></div>
<div class="container-fluid contSpace">
  <div class="row stall-list">
    <div class="col-sm-12">
      <div class="list">
        <div class="row"> 
         
          <div class="refreshBtn"><button style="cursor:pointer" matTooltip="Download" type="button" (click)="get_stalls()"><i class="material-icons">refresh</i></button></div>
          <mat-accordion class="example-headers-align col-sm-12">
            <mat-panel-title>
              <h3>Stall booking request</h3>
            </mat-panel-title>
            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-description class="text-right">
                  <mat-icon matTooltip="Info"><i class="material-icons">info</i></mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="row icon-info">
                <div class="col-sm-6">
                  <h6>Pavillions:</h6>
                  <div class="row">
                    <div class="col-sm-5" style="padding: 0px 2px 0px 12px;">
                      <!-- <p class="mrgn-b-xs"><span class="agriF">AF</span> : Agri Finance</p>-->
                      <div class="mrgn-b-xs" style="float:left;clear:both;width:100%;" *ngFor="let pav_type of (masterdata.pavillion_types  | slice:0:9) ;">
                        <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                        <div style="float:left;width:12px;text-align:center;"> : </div>
                        <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                      </div>
                    </div>
                    <div class="col-sm-7" style="padding: 0px 2px;">
                      <div class="mrgn-b-xs" style="float:left;clear:both;width:100%;" *ngFor="let pav_type of (masterdata.pavillion_types  | slice:9:18) ;">
                        <div style="float:left;"> <span class="{{pav_type.short_code}}">{{pav_type.short_code}}</span> </div>
                        <div style="float:left;width:12px;text-align:center;"> : </div>
                        <div style="float:left;max-width:82%;text-align:left;">{{pav_type.name}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <h6>Type:</h6>
                  <p class="mrgn-b-xs" *ngFor="let std_type of masterdata.stand_types;">{{std_type.short_code}}: {{std_type.name}}</p>
                </div>
                <div class="col-sm-2">
                  <h6>Location:</h6>
                  <p class="mrgn-b-xs" *ngFor="let std_loc of masterdata.stand_locations;">
                    <img src="../../assets/images/{{std_loc.short_code}}.png" width="23">: {{std_loc.name}}
                  </p>
                </div>
                <div class="col-sm-2">
                  <h6>Form Status:</h6>
                  <p class="mrgn-b-xs"><span class="Approved"></span> : Aprroved</p>
                  <p class="mrgn-b-xs"><span class="Pending"></span> : Pending</p>
                  <p class="mrgn-b-xs"><span class="NotFilled"></span> : Not Filled</p>
                  <p class="mrgn-b-xs"><span class="Rejected"></span> : Rejected</p>
                  <h6>Payment Status:</h6>
                  <p class="mrgn-b-xs"><span class="pending"></span> : Pending</p>
                  <p class="mrgn-b-xs"><span class="paid"></span> : Paid</p>
                  <p class="mrgn-b-xs"><span class="failed"></span> : Failed</p>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <mat-card class="example-card mrgn-b-lg" style="margin-top:15px;">
          <div class="row" layout="row" layout-align="space-between center">
            <div class="col-sm-4">
              <mat-form-field class="example-full-width">
                <mat-icon matPrefix><i class="material-icons">search</i></mat-icon>
                <input type="text" (keyup)="search_stalls($event)" [(ngModel)]="stall_search" matInput placeholder="Search by company name or person"
                />
              </mat-form-field>
            </div>
            <div class="col-sm-2 ">
              <mat-form-field>
                <mat-select placeholder="Form Status" [(ngModel)]="stall_form_status" (ngModelChange)="get_stalls()">
                  <mat-option value="">All</mat-option>
                  <mat-option value="Approved">Approved</mat-option>
                  <mat-option value="Pending">Pending</mat-option>
                  <mat-option value="NotFilled">Not Filled</mat-option>
                  <mat-option value="Rejected">Rejected</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-2 ">
              <mat-form-field>
                <mat-select placeholder="Pavillion" [(ngModel)]="stall_filter.pavillion_type" (ngModelChange)="get_stalls()">
                  <mat-option value="">All</mat-option>
                  <mat-option *ngFor="let item of masterdata.pavillion_types" value="{{item.short_code}}">
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-2 ">
              <mat-form-field>
                <mat-select placeholder="Type" [(ngModel)]="stall_filter.stand_type" (ngModelChange)="get_stalls()">
                  <mat-option value="">All</mat-option>
                  <mat-option *ngFor="let item of masterdata.stand_types" value="{{item.short_code}}">
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-2 ">
              <mat-form-field>
                <mat-select placeholder="Location" [(ngModel)]="stall_filter.stand_location" (ngModelChange)="get_stalls()">
                  <mat-option value="">All</mat-option>
                  <mat-option *ngFor="let item of masterdata.stand_locations" value="{{item.short_code}}">
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-2 ">
              <mat-form-field>
                <mat-select placeholder="Payment Status" [(ngModel)]="stall_filter.payment_status" (ngModelChange)="get_stalls()">
                  <mat-option value="">All</mat-option>
                  <mat-option value="paid">
                    Paid
                  </mat-option>
                  <mat-option value="pending">
                    Pending
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <span *ngIf="!(isSuccess)" class="errorMessage"> {{message}} </span>
          <span *ngIf="total_stalls==0" class="errorMessage"> No records found </span>
          <div class="row" *ngIf="isSuccess && total_stalls > 0">
            <div class="col-sm-3">
              <span>Showing: {{stall_start_item}}-{{stall_end_item}} of {{total_stalls}}</span>
            </div>
            <div class="col-sm-3">
              <mat-checkbox class="example-margin" [(ngModel)]="stall_showall" (ngModelChange)="toggle_show_all_stalls()">Show
                All</mat-checkbox>
            </div>
            <div class="col-sm-6 text-right">
              <mat-list role="list">
                <mat-list-item role="listitem">
                  <button mat-button [disabled]="stall_current_page==0" (click)="stall_current_page=0;get_stalls();">
                    <i class="material-icons">first_page</i>
                  </button>
                </mat-list-item>
                <mat-list-item role="listitem">
                  <button mat-button [disabled]="stall_current_page==0" (click)="stall_current_page=stall_current_page-1;get_stalls();">
                    <i class="material-icons">keyboard_arrow_left</i>
                  </button>
                </mat-list-item>
                <mat-list-item role="listitem">Page {{stall_current_page + 1}} of {{stall_pages}}</mat-list-item>
                <mat-list-item role="listitem">
                  <button mat-button [disabled]="stall_current_page==(stall_pages-1)" (click)="stall_current_page=stall_current_page+1;get_stalls();">
                    <i class="material-icons">navigate_next</i>
                  </button>
                </mat-list-item>
                <mat-list-item role="listitem">
                  <button mat-button [disabled]="stall_current_page==(stall_pages-1)" (click)="stall_current_page=(stall_pages-1);get_stalls();">
                    <i class="material-icons">last_page</i>
                  </button>
                </mat-list-item>
              </mat-list>
            </div>
          </div>
          <div class="table-responsive" *ngIf="isSuccess && total_stalls > 0">
            <table class="table">
              <thead class="blue-grey lighten-5">
                <tr>
                  <th style="width:45px">Sr. No.</th>
                  <th style="width:45px" (click)="sort_stalls('id')" matTooltip="click to sort on this column" matTooltipPosition="above">
                    ID
                    <span *ngIf="stall_sort_col=='id'" class="table-filter">
                      <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                  <th style="width:200px" (click)="sort_stalls('company_name')" matTooltip="click to sort on this column">
                    COMPANY
                    <span *ngIf="stall_sort_col=='company_name'" class="table-filter">
                      <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                  <th style="width:40px" class="pd-rgt" (click)="sort_stalls('area')" matTooltip="click to sort on this column" matTooltipPosition="above">
                    Ar.
                    <span *ngIf="stall_sort_col=='area'" class="table-filter">
                      <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                  <th style="width:60px" class="pd-rgt" (click)="sort_stalls('pavillion_type')" matTooltip="click to sort on this column" matTooltipPosition="above">
                    PAV.
                    <span *ngIf="stall_sort_col=='pavillion_type'" class="table-filter">
                      <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                  <th style="width:60px" class="pd-rgt" (click)="sort_stalls('stand_type')" matTooltip="click to sort on this column" matTooltipPosition="above">
                    TYPE
                    <span *ngIf="stall_sort_col=='stand_type'" class="table-filter">
                      <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                  <th style="width:50px" class="pd-rgt" (click)="sort_stalls('stand_location')" matTooltip="click to sort on this column" matTooltipPosition="above">
                    LOC.
                    <span *ngIf="stall_sort_col=='stand_location'" class="table-filter">
                      <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                  <th style="width:90px" class="pd-rgt" (click)="sort_stalls('alloted_stall_no')" matTooltip="click to sort on this column" matTooltipPosition="above">
                    STALL_NO.
                    <span *ngIf="stall_sort_col=='alloted_stall_no'" class="table-filter">
                      <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                  <!-- <th style="width:50px" class="pd-rgt" (click)="sort_stalls('alloted_hall_no')" matTooltip="click to sort on this column" matTooltipPosition="above">
                    HALL_NO.
                    <span *ngIf="stall_sort_col=='alloted_hall_no'" class="table-filter">
                      <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th> -->
                  <th style="width:120px" (click)="sort_stalls('priority_number')" matTooltip="click to sort on this column" matTooltipPosition="above">
                    PRIORITY
                    <span *ngIf="stall_sort_col=='priority_number'" class="table-filter">
                      <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                  <th style="width:60px" class="pd-rgt" (click)="sort_stalls('payment_status')" matTooltip="click to sort on this column" matTooltipPosition="above">
                    Paid
                    <span *ngIf="stall_sort_col=='payment_status'" class="table-filter">
                      <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                  <th style="width:60px" class="pd-rgt" (click)="sort_stalls('form_status')" matTooltip="click to sort on this column" matTooltipPosition="above">
                    FORM
                    <span *ngIf="stall_sort_col=='form_status'" class="table-filter">
                      <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                  <th style="width:60px" class="pd-rgt" (click)="sort_stalls('is_trusted')" matTooltip="click to sort on this column" matTooltipPosition="above">
                    K18
                    <span *ngIf="stall_sort_col=='is_trusted'" class="table-filter">
                      <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                  <th class="text-center" style="width:70px" (click)="sort_stalls('booked_datetime')" matTooltip="click to sort on this column"
                    matTooltipPosition="above">
                    BOOKED ON
                    <span *ngIf="stall_sort_col=='booked_datetime'" class="table-filter">
                      <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                  <th class="text-center" style="width:70px" (click)="sort_stalls('last_formlink_send_datetime')" matTooltip="click to sort on this column"
                    matTooltipPosition="above">
                    FORM SENT
                    <span *ngIf="stall_sort_col=='last_formlink_send_datetime'" class="table-filter">
                      <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                  <th style="width:70px" (click)="sort_stalls('form_submitted_date')" matTooltip="click to sort on this column" matTooltipPosition="above">
                    FILLED
                    <span *ngIf="stall_sort_col=='form_submitted_date'" class="table-filter">
                      <i *ngIf="stall_sort_dir==1" class="material-icons">arrow_drop_down</i>
                      <i *ngIf="stall_sort_dir==0" class="material-icons">arrow_drop_up</i>
                    </span>
                  </th>
                  <!-- <th class="pd-rgt">ACTIONS</th>-->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let stall of stalls; let i = index">
                  <td class="textNormal">{{pagesize*stall_current_page + i + 1}}</td>
                  <td class="textNormal"><a href="/stalls/stall-details/{{getBase64URIencode(stall.id)}}">{{stall.id}}</a></td>
                  <td>
                    <div class="comp-name"><a href="/stalls/stall-details/{{getBase64URIencode(stall.id)}}">{{stall.company_name}}</a></div>
                  </td>
                  <td style="text-align:right;">{{stall.area}}</td>
                  <td class="icon-info" style="text-align:center;" matTooltip="{{get_pavillion_name(stall.pavillion_type)}}" matTooltipPosition="above">
                    <span class="{{stall.pavillion_type}}">{{ stall.pavillion_type}}</span>
                  </td>
                  <td style="text-align:center;" matTooltip="{{get_stand_type_name(stall.stand_type)}}" matTooltipPosition="above">
                    {{stall.stand_type }}
                  </td>
                  <td matTooltip="{{get_stand_location_name(stall.stand_location)}}" matTooltipPosition="above">
                    <img src="../../assets/images/{{stall.stand_location}}.png"  width="23">
                  </td>
                  <td class="textNormal">{{ stall.alloted_stall_no }}</td>
                  <!-- <td class="textNormal">{{ stall.alloted_hall_no }}</td> -->
                  <td class="nowrap">{{ stall.priority_number }}</td>
                  <td class="icon-info" style="text-align:center;" matTooltip="{{stall.payment_status}}" matTooltipPosition="above">
                    <span class="{{stall.payment_status}}"></span>
                  </td>
                  <td class="icon-info" style="text-align:center;" matTooltip="{{stall.form_status}}" matTooltipPosition="above">
                    <span class="{{stall.form_status}}"></span>
                  </td>
                  <td class="icon-info" style="text-align:center;" *ngIf="stall.is_trusted" matTooltip="Trusted" matTooltipPosition="above">
                    <span class="Approved"></span>
                  </td>
                  <td class="icon-info" style="text-align:center;" *ngIf="!stall.is_trusted" matTooltip="New" matTooltipPosition="above">
                    <span class="NotFilled"></span>
                  </td>
                  <!-- <td><div [ngClass]="{'red-dot': stall.is_formsubmitted==0,  'green-dot': stall.is_formsubmitted==1}"></div></td>
                    <td><div [ngClass]="{'red-dot': stall.status=='Rejected',  'green-dot': stall.status=='Approved' , 'yellow-dot': stall.status=='Pending'}"></div></td>-->
                  <td class="textNormal text-center" matTooltip="{{ stall.booked_datetime | date:'hh:mm a' }}" matTooltipPosition="above">
                    {{stall.booked_datetime | date:'dd MMM' }}
                  </td>
                  <!--<td class="textNormal text-center">{{ stall.created_date | date:'dd MMM  hh:mm a' }}</td>-->
                  <td class="textNormal text-center" matTooltip="{{ stall.last_formlink_send_datetime | date:'hh:mm a' }}" matTooltipPosition="above">{{
                    stall.last_formlink_send_datetime | date:'dd MMM' }}</td>
                  <td class="textNormal text-center" matTooltip="{{ stall.form_submitted_date | date:'hh:mm a' }}" matTooltipPosition="above">{{
                    stall.form_submitted_date | date:'dd MMM' }}</td>
                  <!-- <td>
                       <span><i class="material-icons">create</i></span> 
                       <span><i class="material-icons">person</i></span>
                    </td> -->
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row" *ngIf="isSuccess && total_stalls > 0">
            <div class="col-sm-12 text-right">
              <mat-list role="list">
                <mat-list-item role="listitem">
                  <button mat-button [disabled]="stall_current_page==0" (click)="stall_current_page=0;get_stalls();">
                    <i class="material-icons">first_page</i>
                  </button>
                </mat-list-item>
                <mat-list-item role="listitem">
                  <button mat-button [disabled]="stall_current_page==0" (click)="stall_current_page=stall_current_page-1;get_stalls();">
                    <i class="material-icons">keyboard_arrow_left</i>
                  </button>
                </mat-list-item>
                <mat-list-item role="listitem">Page {{stall_current_page + 1}} of {{stall_pages}}</mat-list-item>
                <mat-list-item role="listitem">
                  <button mat-button [disabled]="stall_current_page==(stall_pages-1)" (click)="stall_current_page=stall_current_page+1;get_stalls();">
                    <i class="material-icons">navigate_next</i>
                  </button>
                </mat-list-item>
                <mat-list-item role="listitem">
                  <button mat-button [disabled]="stall_current_page==(stall_pages-1)" (click)="stall_current_page=(stall_pages-1);get_stalls();">
                    <i class="material-icons">last_page</i>
                  </button>
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>