<!-- Start Profile page -->
<div id="loader" name="loader"  class="loader"> </div>
<div class="container-fluid contSpace">
  <div class="row company-profile">
    <div class="col-sm-12 headerInfo" *ngIf="stallDetails.stallinfo" >
      <div class="row">
        <div class="col-sm-4 mrgn-t-none mrgn-b-md">
          <h2 class="headerLeft">       
            <div class="float-left green-txt" *ngIf="stallDetails.stallinfo.status=='Approved'">ID -
              <span class="font-bold-six mrgn-r-md">{{stallId}}</span>
              <span class="font-bold-six mrgn-r-md" *ngIf="(stallDetails.stallinfo)?.alloted_stall_no">Stall No - {{(stallDetails.stallinfo)?.alloted_stall_no}}</span>
            </div>
            <div class="float-left yellow-txt" *ngIf="stallDetails.stallinfo.is_formsubmitted==1  && stallDetails.stallinfo.status=='Pending'">ID -
              <span class="font-bold-six mrgn-r-md">{{stallId}}</span>
            </div>
            <div class="float-left grey-txt" *ngIf="stallDetails.stallinfo.is_formsubmitted==0 && stallDetails.stallinfo.status=='Pending' ">ID -
              <span class="font-bold-six mrgn-r-md">{{stallId}}</span>
            </div>
            <div class="float-left red-txt" *ngIf="stallDetails.stallinfo.status=='Rejected'">ID -
              <span class="font-bold-six mrgn-r-md">{{stallId}}</span>
            </div>
            <div class="stall-status text-uppercase" [ngClass]="{'grey-txt':stallDetails.stallinfo.is_formsubmitted==0 && stallDetails.stallinfo.status=='Pending','yellow-txt':stallDetails.stallinfo.is_formsubmitted==1 && stallDetails.stallinfo.status=='Pending','green-txt':stallDetails.stallinfo.status=='Approved','red-txt':stallDetails.stallinfo.status=='Rejected'}">
              <span class="green-dot mrgn-l-sm mrgn-r-sm" *ngIf="stallDetails.stallinfo.status=='Approved'"></span>
              <span class="yellow-dot mrgn-l-sm mrgn-r-sm" *ngIf="stallDetails.stallinfo.is_formsubmitted==1  && stallDetails.stallinfo.status=='Pending'"></span>
              <span class="grey-dot mrgn-l-sm mrgn-r-sm" *ngIf="stallDetails.stallinfo.is_formsubmitted==0 && stallDetails.stallinfo.status=='Pending'"> </span>
             
              <span class="red-dot mrgn-l-sm mrgn-r-sm" *ngIf="stallDetails.stallinfo.status=='Rejected'"></span>
              {{stallDetails.stallinfo.status=='Pending' ? (stallDetails.stallinfo.is_formsubmitted ? 'Pending' : 'Not Filled') : stallDetails.stallinfo.status }}
            </div>
          </h2>
        </div>
  
        <div class="col-sm-8 text-right mrgn-t-none mrgn-b-md pull-right" >
          <div class="row pull-right" style="margin:0px;">
            <div class="headerRight " *ngIf="checkAllowedRoles(['exhibitoradmin']) && stallDetails.stallinfo">
              <a href="/stalls/edit-stall-details/{{getBase64URIencode(stallId)}}"  matTooltip="Edit" class="grayBtn padding-none edit mrgn-r-md" style="padding:0px;margin-right:0px;">
                <i class="material-icons" style="font-size:40px;" >edit</i>
              </a>
              <button mat-raised-button class="occurBtn edit text-uppercase" *ngIf="!stallDetails.stallinfo.is_formsubmitted && stallDetails.stallinfo.status=='Pending'" (click)="resendStallConfirmationFormLink()">Resend</button>            
            <!-- <span *ngIf="(stallDetails.stallinfo.stand_type == 'P' || stallDetails.stallinfo.stand_type == 'O' || 
                stallDetails.stallinfo.stand_type == 'B') && stallDetails.stallinfo.payment_status=='paid' && 
                stallDetails.stallinfo.status=='Approved'" (click)="openAddVendorEntryConfirmationDialog()" 
                style="cursor:pointer;" >
                  <img src="../../assets/images/vendor_green.png" style="height:30px;margin-top:-15px;" />
              </span>-->
              <button mat-raised-button class="occurBtn edit text-uppercase"(click)="openAddVendorEntryConfirmationDialog()"
                *ngIf="(stallDetails.stallinfo.stand_type == 'P' || stallDetails.stallinfo.stand_type == 'O' || 
                stallDetails.stallinfo.stand_type == 'B') && stallDetails.stallinfo.payment_status=='paid' && 
                stallDetails.stallinfo.status=='Approved'" >Send Vendor Form</button> 
              <a class="mrgn-l-md" *ngIf="stallDetails.stallinfo.vendor_coordination_form_submits > 0"  matTooltip="View vendor form" href="/services/vendor-details/{{getBase64URIencode(stallId)}}">
                <!-- <img src="../../assets/images/vendor_green.png" style="height:40px;margin-top:-5px;" /> -->
                <i class="material-icons" style="font-size: 50px;vertical-align: top;color: #008940;">assignment</i>
              </a>         
              <button mat-raised-button class="greenBtn edit text-uppercase" *ngIf="stallDetails.stallinfo.payment_status=='paid' && stallDetails.stallinfo.status=='Pending'"
                (click)="openApproveConfDialog()">Approve</button>  
              <button mat-raised-button class="redBtn edit text-uppercase" *ngIf="stallDetails.stallinfo.status=='Approved' || stallDetails.stallinfo.status=='Pending'"
                  (click)="openConfirmationDialog()">Reject</button>                    
            </div>
            <div style="width:55px;">
              <a href="{{supportCRMWebFormUrl}}" matTooltip="CRM Support"  target="_blank"><img src="../../assets/images/support.png" width="40"></a>
            </div>
          </div>        
        </div>
      </div>
    </div>


    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-5">
          <mat-card class="company-info">
            <div class="row">
              <div class="col-sm-4 text-center">
                <div class="profileImg"><img class="company-logo" [src]="defaultExhibitorImage"></div>
              </div>
              <div class="col-sm-8">
                <h3 class="text-capitalize">{{(stallDetails.stallinfo)?.company_name}}</h3>
                <h3 *ngIf="(stallDetails.stallinfo)?.company_name_marathi" class="text-capitalize">{{(stallDetails.stallinfo)?.company_name_marathi}}</h3>
                <p class="add">{{(stallDetails.stallinfo)?.address}}</p>
                <p class="add">{{(stallDetails.stallinfo)?.addressline2}}</p>
                <p>{{(stallDetails.stallinfo)?.city}}, {{(stallDetails.stallinfo)?.state}}, {{(stallDetails.stallinfo)?.country}}.</p>
                <p class="mrgn-t-sm" *ngIf="(stallDetails.stallinfo)?.GSTIN">
                  GSTIN : {{(stallDetails.stallinfo)?.GSTIN}}
                </p>
                <p class="mrgn-t-sm" *ngIf="!(stallDetails.stallinfo)?.GSTIN">GSTIN : <span class="redTxtB">Not Available</span></p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12"><hr /></div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <h5 class="font-bold-six mrgn-b-sm mrgn-t-sm text-right">Organisation <br />contact details</h5>
              </div>
              <div class="col-sm-8 stall-booked">
                <mat-list>
                  <mat-list-item>
                     <mat-icon mat-list-icon>
                        <i class="material-icons">mail_outline</i>
                      </mat-icon>
                      <h4 mat-line *ngIf="(stallDetails.stallinfo)?.company_email">{{(stallDetails.stallinfo)?.company_email}}</h4>
                      <h4 mat-line *ngIf="!(stallDetails.stallinfo)?.company_email" class="redTxtB">Not Available</h4>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon mat-list-icon>
                        <i class="material-icons">call</i>
                      </mat-icon>
                      <h4 mat-line *ngIf="(stallDetails.stallinfo)?.company_phone">{{(stallDetails.stallinfo)?.company_phone}}</h4>
                      <h4 mat-line *ngIf="!(stallDetails.stallinfo)?.company_phone" class="redTxtB">Not Available</h4>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon mat-list-icon>
                        <i class="material-icons">language</i>
                      </mat-icon>
                      <h4 mat-line *ngIf="(stallDetails.stallinfo)?.company_website">{{(stallDetails.stallinfo)?.company_website}}</h4>
                      <h4 mat-line *ngIf="!(stallDetails.stallinfo)?.company_website" class="redTxtB">Not Available</h4>
                    </mat-list-item>
                  </mat-list>
                 </div>
              </div>
               <div class="row">
                  <div class="col-sm-12"><hr /></div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                 <h5 class="font-bold-six mrgn-b-sm mrgn-t-sm text-right">Contact person</h5>
                </div>
                <div class="col-sm-8 stall-booked contactPose">
                  <mat-list>
                    <mat-list-item>
                      <mat-icon mat-list-icon>
                        <i class="material-icons">person_outline</i>
                      </mat-icon>
                        <h4 mat-line class="text-capitalize mrgn-t-md">{{(stallDetails.stallinfo)?.contact_person_first_name}} {{(stallDetails.stallinfo)?.contact_person_last_name}}</h4>
                        <p *ngIf="(stallDetails.stallinfo)?.contact_person_designation"  mat-line class="contact-pose-text">{{(stallDetails.stallinfo)?.contact_person_designation}}</p>
                        <p *ngIf="!(stallDetails.stallinfo)?.contact_person_designation" class="redTxtB contact-pose-text-red" mat-line>Not Available</p>
                    </mat-list-item>
                  </mat-list>
                </div>
              </div>
          </mat-card>

          <mat-card class="company-info mrgn-t-lg">
              <!--<mat-tab-group>
                  <mat-tab label="Contact Person">
                      <mat-list>
                          <mat-list-item>
                            <mat-icon mat-list-icon>
                              <i class="material-icons">person_outline</i>
                            </mat-icon>
                            <h4 mat-line class="text-capitalize large-font">{{(stallDetails.stallinfo)?.contact_person_first_name}} {{(stallDetails.stallinfo)?.contact_person_last_name}}</h4>
                          </mat-list-item>
                          <mat-list-item>
                            <mat-icon mat-list-icon>
                              <i class="material-icons">phone_android</i>
                            </mat-icon>
                            <h4 mat-line>{{(stallDetails.stallinfo)?.contact_person_mobile}}</h4>
                          </mat-list-item>
                          <mat-list-item>
                            <mat-icon mat-list-icon>
                              <i class="material-icons">mail_outline</i>
                            </mat-icon>
                            <h4 mat-line>{{(stallDetails.stallinfo)?.contact_person_email}}</h4>
                          </mat-list-item>
                          <mat-list-item>
                              <mat-icon mat-list-icon>
                                <i class="material-icons">language</i>
                              </mat-icon>
                              <h4 mat-line *ngIf="(stallDetails.stallinfo)?.company_website">{{(stallDetails.stallinfo)?.company_website}}</h4>
                              <h4 class="redTxtB font-bold-six" mat-line *ngIf="!(stallDetails.stallinfo)?.company_website">Not Available</h4>
                            </mat-list-item>
                      </mat-list>
                  </mat-tab>
                  <mat-tab label="Stall booked by">
                      <mat-list>
                          <mat-list-item>
                            <mat-icon mat-list-icon>
                              <i class="material-icons">person_outline</i>
                            </mat-icon>
                            <h4 mat-line class="text-capitalize large-font">{{(stallDetails.stallinfo)?.booked_by_fname}} {{(stallDetails.stallinfo)?.booked_by_lname}}</h4>
                          </mat-list-item>
                          <mat-list-item>
                            <mat-icon mat-list-icon>
                              <i class="material-icons">phone_android</i>
                            </mat-icon>
                            <h4 mat-line>{{(stallDetails.stallinfo)?.booked_by_mobile}}</h4>
                          </mat-list-item>
                          <mat-list-item>
                            <mat-icon mat-list-icon>
                              <i class="material-icons">mail_outline</i>
                            </mat-icon>
                            <h4 mat-line>{{(stallDetails.stallinfo)?.booked_by_email}}</h4>
                          </mat-list-item>
                         
                      </mat-list>
                  </mat-tab>
                </mat-tab-group>-->
                <div class="row">
                  <div class="col-sm-12">
                    <h5 class="font-bold-six mrgn-b-sm">Coordinator</h5>
                  </div>
               </div>
                <hr />
                <div class="row company-profile">
                  <div class="col-sm-12 stall-booked">
                    <mat-list>
                      <mat-list-item>
                        <mat-icon mat-list-icon>
                          <i class="material-icons">person_outline</i>
                        </mat-icon>
                        <h4 mat-line class="text-capitalize large-font">{{(stallDetails.stallinfo)?.booked_by_fname}} {{(stallDetails.stallinfo)?.booked_by_lname}}</h4>
                      </mat-list-item>
                      <mat-list-item>
                        <mat-icon mat-list-icon>
                          <i class="material-icons">mail_outline</i>
                        </mat-icon>
                        <h4 mat-line *ngIf="(stallDetails.stallinfo)?.booked_by_email">{{(stallDetails.stallinfo)?.booked_by_email}}</h4>
                        <h4 mat-line *ngIf="!(stallDetails.stallinfo)?.booked_by_email" class="redTxtB">Not Available</h4>
                      </mat-list-item>
                      <mat-list-item>
                        <mat-icon mat-list-icon>
                          <i class="material-icons">phone_android</i>
                        </mat-icon>
                        <h4 mat-line *ngIf="(stallDetails.stallinfo)?.booked_by_mobile">{{(stallDetails.stallinfo)?.booked_by_mobile}}</h4>
                        <h4 mat-line *ngIf="!(stallDetails.stallinfo)?.booked_by_mobile" class="redTxtB">Not Available</h4>
                      </mat-list-item>
                    </mat-list>
                  </div>
                </div>
          </mat-card>

          <mat-card class="stand-detail mrgn-t-lg" *ngIf="stallDetails.stallinfo">
            <div class="row">
              <div class="col-sm-5">
                <h5 class="font-bold-six">Stall details</h5>
              </div>
              <div class="col-sm-7 pad-l-none">
                <p class="priortcustom">Priority No - {{stallDetails.stallinfo.priority_number}}</p>
              </div>
              <div class="col-sm-12"><hr /></div>
            </div>
            <div class="row mrgn-t-md">
              <div class="col-sm-5">
                <img class="stall-img" src="{{(stallDetails.stallinfo)?.stand_image}}" alt="Stall Image">
                <p class="mrgn-t-md">SKU:
                  <b> {{(stallDetails.stallinfo)?.sku}}</b>
                </p>               
              </div>
              <div class="col-sm-7 pad-l-none">               
                <table class="mrgn-minus">
                  <tr>
                    <td class="vertical-top">Pavillion</td>
                    <td class="vertical-top">: </td>
                    <td class="font-bold-six">{{(stallDetails.stallinfo)?.pavillion_name}}</td>
                  </tr>                  
                  <tr>
                    <td>Area</td>
                    <td>: </td>
                    <td class="font-bold-six"> {{(stallDetails.stallinfo)?.area}} sq.m.</td>
                  </tr>
                  <tr>
                    <td>Location</td>
                    <td>: </td>
                    <td class="font-bold-six"> {{(stallDetails.stallinfo)?.stand_location_name}}</td>
                  </tr>
                  <tr>
                    <td>Type</td>
                    <td>: </td>
                    <td class="font-bold-six"> {{(stallDetails.stallinfo)?.stand_type_name}}</td>
                  </tr>
                  <tr>
                    <td>Price</td>
                    <td>: </td>
                    <td class="font-bold-six"> ₹ {{getRupeeFormat(stallDetails.stallinfo.paid_amount)}}/-</td>
                  </tr>
                </table>
              </div>
            </div>
            <hr *ngIf="stallDetails.stallinfo.stand_type=='P'" />
            <h5 *ngIf="stallDetails.stallinfo.stand_type=='P'" class="fasciaTitle">Fascia Name : <span class="greenTxt font-bold-six fasciaName">{{(stallDetails.stallinfo)?.fascia_name}}</span> </h5>
            <h5 *ngIf="stallDetails.stallinfo.stand_type=='P' && !(stallDetails.stallinfo.fascia_name)" class="fasciaTitle">Fascia Name : <span class="redTxtB">Not Available</span> </h5>      
    
          </mat-card>
        </div>
        <div class="col-sm-7">
          <mat-card class="org-detail">
            <div class="row">
              <div class="col-sm-6">
                <h5 class="font-bold-six">Organisation details</h5>
              </div>
              <!-- 22 May at 11.02Am. -->
              <div class="col-sm-6 text-right">
                <p *ngIf="(stallDetails.stallinfo)?.is_formsubmitted">Form filled on
                  <b>{{(stallDetails.stallinfo)?.form_submitted_date | date:'d MMM, h:mm a'}}</b>
                </p>
                <p *ngIf="(stallDetails.stallinfo)?.status=='Pending' && (stallDetails.stallinfo)?.last_formlink_send_datetime">Form link sent on
                  <b>{{(stallDetails.stallinfo)?.last_formlink_send_datetime | date:'d MMM, h:mm a'}}</b>
                </p>
              </div>
            </div>

            <hr>
            <!--<table width="100%" style="table-layout:fixed;">
              <tr>
                <td class="dsc-tit" style="width:140px">Product Categories</td>
                <td class="pad-r-md dsc-tit" style="width:10px">: </td>
                <td class="pad-t-md">
                  <div class="profileIntrest">
                    <div class="row">
                      <div class="col-md-12 col-lg-6 mrgn-t-md" *ngFor="let category of finalCategory">
                        <mat-list class="intrestList mat-pad-none mrgn-none">
                          <mat-list-item>
                            <div class="checkInterest  mrgn-t-none mrgn-r-none">
                              <img src="{{category.image_url}}" width="55" height="55" />
                              <h5 class="font-bold-four mrgn-b-none">{{category.name}}</h5>
                            </div>
                          </mat-list-item>
                        </mat-list>
                      </div>                      
                    </div>
                  </div>
                  <div *ngIf="stallDetails.stallinfo && stallDetails.stallinfo.product_category_other!=''" class=" col-md-12 othercat">Other : <span>{{stallDetails.stallinfo.product_category_other}}</span></div>
                 
                </td>
              </tr>
              <tr>
                <td class="dsc-tit" style="width:140px">Product Description</td>
                <td class="pad-r-md dsc-tit" style="width:10px">: </td>
                <td class="font-bold-six pad-t-lg wordWrap" *ngIf="(stallDetails.stallinfo)?.product_info"> {{(stallDetails.stallinfo)?.product_info}}</td>
                <td class="font-bold-six pad-t-lg wordWrap redTxtB" *ngIf="!(stallDetails.stallinfo)?.product_info"> Not Available</td>
              </tr>
              <tr>
                <td class="dsc-tit" style="width:140px">Product Photos</td>
                <td class="pad-r-md dsc-tit" style="width:10px">: </td>
                <td class="pad-t-lg">
                    <div class="customGrid">
                      <div class="customCol" *ngFor="let prodImage of productImages">
                        <div class="productOuter">
                          <img class="prod-img" src="{{prodImagePrefix + prodImage}}" *ngIf="(prodImage)" alt="Not Available">
                        </div>
                      </div>
                    </div>
                 
                </td>
              </tr>
            </table>-->
            <table width="100%" style="table-layout:fixed;">
              <tr>
                <td class="dsc-tit">Product Categories :</td>
              </tr>
              <tr>
                <td>
                  <div class="profileIntrest">
                    <div class="row">
                      <div class="col-md-12 col-lg-4 mrgn-t-md" *ngFor="let category of finalCategory">
                        <mat-list class="intrestList mat-pad-none mrgn-none">
                          <mat-list-item>
                            <div class="checkInterest  mrgn-t-none mrgn-r-none">
                              <img src="{{category.image_url}}" width="55" height="55" />
                              <h5 class="font-bold-four mrgn-b-none">{{category.name}}</h5>
                            </div>
                          </mat-list-item>
                        </mat-list>
                      </div>                      
                    </div>
                  </div>
                  <div *ngIf="stallDetails.stallinfo && stallDetails.stallinfo.product_category_other!=''" class=" col-md-12 othercat">Other : <span>{{stallDetails.stallinfo.product_category_other}}</span></div>
                 
                </td>
              </tr>
              <tr>
                <td class="dsc-tit">Product Description :</td>
              </tr>
              <tr>
                <td class="font-bold-six pad-t-sm wordWrap" *ngIf="(stallDetails.stallinfo)?.product_info"> {{(stallDetails.stallinfo)?.product_info}}</td>
                <td class="font-bold-six pad-t-sm wordWrap redTxtB" *ngIf="!(stallDetails.stallinfo)?.product_info"> Not Available</td>
              </tr>
              <tr>
                <td class="dsc-tit">Product Media:</td>
              </tr>
              <tr>
                <td class="pad-t-sm">
                    <div class="customGrid">
                      
                        <div class="customCol" *ngFor="let prod of productImages; let productIndex = index">
                            <div class="productOuter" *ngIf="prod.includes('.jpg') || prod.includes('.jpeg') || prod.includes('.png') || prod.includes('.JPG') || prod.includes('.JPEG') || prod.includes('.PNG')">
                                    <a [href]="prodImagePrefix + prod" target="_blank">
                                <img [src]="prodImagePrefix + prod" class="prod-img" />
                                </a>
                            </div>
                            <div class="productOuter" *ngIf="prod.includes('.pdf') || prod.includes('.doc') || prod.includes('.docx') || prod.includes('.PDF') || prod.includes('.DOC') || prod.includes('.DOCX')">
                                <a [href]="prodImagePrefix + prod" target="_blank">
                                    <img src="{{defaultDocumentImage}}" class="prod-img" />
                                </a>
                            </div>
                            <div class="productOuter" *ngIf="prod.includes('https://www.youtube.com') || prod.includes('https://vimeo.com')">
                                <a href="{{prod}}" target="_blank">
                                    <img src="{{defaultVideoImage}}" class="prod-img" />
                                </a>
                            </div>
                        </div>
                    </div>                 
                </td>
              </tr>
            </table>
          </mat-card>
          <mat-card class="quota  mrgn-t-lg">
            <h5 class="pad-b-md font-bold-six">Quota</h5>
            <table class="table table-striped text-center ">
              <thead>
                <tr>
                  <th scope="col" class="white text-left">PRODUCT</th>
                  <th scope="col" class="stand">STANDARD</th>
                  <th scope="col" class="ext">EXTRA</th>
                  <th scope="col" class="tot">TOTAL</th>
                  <th scope="col" class="use">USED</th>
                  <th scope="col" class="bal">BALANCE</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="badg white text-left">
                    <i class="material-icons"> assignment_ind</i>Badge</th>
                  <td class="stand" *ngIf="quotaDetails[0]?.standard">{{quotaDetails[0]?.standard}}</td>
                  <td class="stand" *ngIf="!quotaDetails[0]?.standard">0</td>
                  <td class="ext" *ngIf="quotaDetails[0]?.extra">{{quotaDetails[0]?.extra}}</td>
                  <td class="ext" *ngIf="!quotaDetails[0]?.extra">0</td>
                  <td class="tot" *ngIf="quotaDetails[0]?.total">{{quotaDetails[0]?.total}}</td>
                  <td class="tot" *ngIf="!quotaDetails[0]?.total">0</td>
                  <td class="use" *ngIf="quotaDetails[0]?.used">{{quotaDetails[0]?.used}}</td>
                  <td class="use" *ngIf="!quotaDetails[0]?.used">0</td>
                  <td class="bal" *ngIf="quotaDetails[0]?.balance">{{quotaDetails[0]?.balance}}</td>
                  <td class="bal" *ngIf="!quotaDetails[0]?.balance">0</td>
                </tr>
                <tr>
                  <th scope="row" class="badgreen white text-left">
                      <img src="../../assets/images/greenpassIcon.png" alt="greenpassicon"> Greenpass</th>
                    <td class="stand" *ngIf="quotaDetails[1]?.standard">{{quotaDetails[1]?.standard}}</td>
                    <td class="stand" *ngIf="!quotaDetails[1]?.standard">0</td>
                    <td class="ext" *ngIf="quotaDetails[1]?.extra">{{quotaDetails[1]?.extra}}</td>
                    <td class="ext" *ngIf="!quotaDetails[1]?.extra">0</td>
                    <td class="tot" *ngIf="quotaDetails[1]?.total">{{quotaDetails[1]?.total}}</td>
                    <td class="tot" *ngIf="!quotaDetails[1]?.total">0</td>
                    <td class="use" *ngIf="quotaDetails[1]?.used">{{quotaDetails[1]?.used}}</td>
                    <td class="use" *ngIf="!quotaDetails[1]?.used">0</td>
                    <td class="bal" *ngIf="quotaDetails[1]?.balance">{{quotaDetails[1]?.balance}}</td>
                    <td class="bal" *ngIf="!quotaDetails[1]?.balance">0</td>
                </tr>
              </tbody>
            </table>
            <!--<p class="font-bold-six redTxtB">Note: You can issue the Badges & Greenpass from 15th August onwards.</p>-->
          </mat-card>
        </div>
      </div>
    </div>
    <div class="col-sm-12 mrgn-t-lg" *ngIf='selectedFurnitureDetails'>
      <div class="row">
        <div class="col-sm-12">
           <div class="commonHead services commonSrc">
            <h3 class="font-bold-seven">
              <img src="assets/images/extra-icon.png"> Facilities at stall</h3>
            <mat-card class="mrgn-t-md mrgn-b-lg">
              <table class="table extraTable">
                <thead>
                  <tr class="imgRow">
                    <th rowspan="2" class="tableTitle" style="width:100px;">Product</th>
                    <th style="width:70px;"><img src="assets/images/director's-chair.png" width="30"></th>
                    <th style="width:70px;"><img src="assets/images/spot-lamp.png" width="30"></th>
                    <th style="width:70px;"><img src="assets/images/plug-point.png" width="30"></th>
                    <th style="width:70px;"><img src="assets/images/octonorm-counter.png" width="30"></th>
                    <th style="width:70px;"><img src="assets/images/round-table.png" width="30"></th>
                    <th style="width:70px;"><img src="assets/images/prefab-panel.png" width="30"></th>
                    <th style="width:70px;"><img src="assets/images/table-6' X 2'.png" width="30"></th>
                    <th style="width:70px;"><img src="assets/images/plastic-chair.png" width="30"></th>
                    <th style="width:70px;"><img src="assets/images/power.png" width="30"></th>
                    <th style="width:70px;"><img src="assets/images/halogen-200W.png" width="30"></th>
                    <th style="width:70px;"><img src="assets/images/halogen-100W.png" width="30"></th>
                    <th style="width:70px;"><img src="assets/images/security.png" width="30"></th>
                    <th style="width:82px;"><img src="assets/images/security.png" width="30"></th>
                  </tr>
                  <tr>
                    <th>Chair</th>
                    <th>Spot lamp</th>
                    <th>Plug point 5A</th>
                    <th>Octonorm Counter</th>
                    <th>Round Table</th>
                    <th>Prefab Panel</th>
                    <th>Table 6'X2'</th>
                    <th>Plastic chair</th>
                    <th>Power in KW</th>
                    <th>LED 200W</th>
                    <th>LED 100W</th>
                    <th>Security<br> Day Shift</th>
                    <th>Security<br> Night Shift</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="tableTitle">Standard</td>
                    <td>{{selectedFurnitureDetails.std_chair}}</td>
                    <td>{{selectedFurnitureDetails.std_spot_lamp}}</td>
                    <td>{{selectedFurnitureDetails.std_plug_point}}</td>
                    <td>{{selectedFurnitureDetails.std_octonom_counter}}</td>
                    <td>{{selectedFurnitureDetails.std_round_table_glass_top}}</td>
                    <td>{{selectedFurnitureDetails.std_panel}}</td>
                    <td>{{selectedFurnitureDetails.std_table_frill_6_2}}</td>
                    <td>{{selectedFurnitureDetails.std_plastic_chair}}</td>
                    <td>{{selectedFurnitureDetails.std_power}}</td>
                    <td>{{selectedFurnitureDetails.std_halogen_400}}</td>
                    <td>{{selectedFurnitureDetails.std_halogen_250}}</td>
                    <td>{{selectedFurnitureDetails.std_security_day}}</td>
                    <td>{{selectedFurnitureDetails.std_security_night}}</td>
                  </tr>
                  <tr class="extraRow">
                    <td class="tableTitle">Extra</td>
                    <td>{{selectedFurnitureDetails.extra_chair}}</td>
                    <td>{{selectedFurnitureDetails.extra_spot_lamp}}</td>
                    <td>{{selectedFurnitureDetails.extra_plug_point}}</td>
                    <td>{{selectedFurnitureDetails.extra_octonom_counter}}</td>
                    <td>{{selectedFurnitureDetails.extra_round_table_glass_top}}</td>
                    <td>{{selectedFurnitureDetails.extra_panel}}</td>
                    <td>{{selectedFurnitureDetails.extra_table_frill_6_2}}</td>
                    <td>{{selectedFurnitureDetails.extra_plastic_chair}}</td>
                    <td>{{selectedFurnitureDetails.extra_power}}</td>
                    <td>{{selectedFurnitureDetails.extra_halogen_400}}</td>
                    <td>{{selectedFurnitureDetails.extra_halogen_250}}</td>
                    <td>{{selectedFurnitureDetails.extra_security_day}}</td>
                    <td>{{selectedFurnitureDetails.extra_security_night}}</td>
                  </tr>
                  <tr class="total">
                    <td class="tableTitle">Total</td>
                    <td>{{selectedFurnitureDetails.std_chair + selectedFurnitureDetails.extra_chair}}</td>
                    <td>{{selectedFurnitureDetails.std_spot_lamp + selectedFurnitureDetails.extra_spot_lamp}}</td>
                    <td>{{selectedFurnitureDetails.std_plug_point + selectedFurnitureDetails.extra_plug_point}}</td>
                    <td>{{selectedFurnitureDetails.std_octonom_counter + selectedFurnitureDetails.extra_octonom_counter}}</td>
                    <td>{{selectedFurnitureDetails.std_round_table_glass_top + selectedFurnitureDetails.extra_round_table_glass_top}}</td>
                    <td>{{selectedFurnitureDetails.std_panel + selectedFurnitureDetails.extra_panel}}</td>
                    <td>{{selectedFurnitureDetails.std_table_frill_6_2 + selectedFurnitureDetails.extra_table_frill_6_2}}</td>
                    <td>{{selectedFurnitureDetails.std_plastic_chair + selectedFurnitureDetails.extra_plastic_chair}}</td>
                    <td>{{selectedFurnitureDetails.std_power + selectedFurnitureDetails.extra_power}}</td>
                    <td>{{selectedFurnitureDetails.std_halogen_400 + selectedFurnitureDetails.extra_halogen_400}}</td>
                    <td>{{selectedFurnitureDetails.std_halogen_250 + selectedFurnitureDetails.extra_halogen_250}}</td>
                    <td>{{selectedFurnitureDetails.std_security_day + selectedFurnitureDetails.extra_security_day}}</td>
                    <td>{{selectedFurnitureDetails.std_security_night + selectedFurnitureDetails.extra_security_night}}</td>
                  </tr>      
                </tbody>
              </table>
              
            </mat-card>
          </div>
        </div>     
      </div>
    </div>
  </div>
  <!-- End Profile page -->