<div id="loader"   class="loader"></div>
<div class="digital-prev mrgn-t-md mrgn-b-md">
  <div class="container-fluid pad-l-xl pad-r-xl" style="padding-top:10px;">
    <div class="row">
      <div class="col-sm-12"><h2 class="text-center mrgn-t-md">KISAN 2019 :: Exhibitors Digital Catalogue</h2></div>
    </div>
    <div class="row promotionalAds mrgn-t-md">
      <div class="col-sm-12">
        <ng-image-slider 
          [images]="imageObject" #nav,
          [imageSize]="{width:500, height:253, space: 5}"
          [infinite]="true"
          [imagePopup]="false"
          [autoSlide]="1"
          [animationSpeed]="3"
          (imageClick)="imageOnClick($event)"
        ></ng-image-slider>
      </div>
    </div> 
    <div class="filterOuter">
      <div class="row topFilter mrgn-t-md">
        <div class="col-sm-12 col-md-9">
          <div class="row">
            <div class="col-md-3 col-lg-2" *ngIf="states">
              <mat-form-field>
                <mat-label>States</mat-label>
                <mat-select multiple id="state" name="state" [(ngModel)]="exhibitors_filter.state" (ngModelChange)="showCities(exhibitors_filter.state)">
                  <mat-option *ngFor="let item of states | keyvalue " [value]="item.key" > 
                    {{item.key}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3 col-lg-2">
              <mat-form-field>
                <mat-label>City</mat-label>
                <mat-select multiple id="city" name="city" [(ngModel)]="exhibitors_filter.city" (ngModelChange)="get_stalls()" >
                  <mat-option *ngFor="let city of cities " [value]="city">
                    {{city}}
                </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3 col-lg-3">
              <mat-form-field>
                <mat-label>Pavillion</mat-label>
                <mat-select [(ngModel)]="exhibitors_filter.pavillion_type" (ngModelChange)="get_stalls()">
                  <mat-option value=""> All </mat-option>
                  <mat-option *ngFor="let item of masterdata.pavillion_types" value="{{item.short_code}}">
                    {{item.name}}
                  </mat-option>   
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3 col-lg-3">
              <mat-form-field>
                <mat-label>Category</mat-label>
                <mat-select multiple [(ngModel)]="exhibitors_filter.product_category" (ngModelChange)="get_stalls()">
                  <mat-option *ngFor="let item of categoryList" value="{{item.name}}">
                    {{item.name}}
                  </mat-option>   
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-md-3">
          <mat-form-field class="example-full-width exhisearch">
            <mat-icon matPrefix><i class="material-icons">search</i></mat-icon>
            <input type="text" matInput placeholder="Search name.." (keyup)="search_stalls($event)" [(ngModel)]="exhibitors_search" />
          </mat-form-field>  
        </div>
        <div class="col-sm-12">
          <div class="applyFilter"><span class="appTxt">Applied Filters:</span> 
            <ul>
              <li class="mrgn-l-sm" *ngFor="let filter of applied_filters ">
                {{filter}} <i class="material-icons" (click)="removefilter(filter)">close</i>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
    <span *ngIf="!(isSuccess)" class="errorMessage"> {{message}} </span>
    <span *ngIf="total_exhibitors==0" class="errorMessage"> No records found </span>
   <!--<div class="col-sm-12 exhibitor-pagi" *ngIf="isSuccess && total_exhibitors > 0">
      <div class="row">
        <div class="col-sm-3">
          <span>Showing: {{exhibitors_start_item}}-{{exhibitors_end_item}} of {{total_exhibitors}}</span> 
        </div>
        <div class="col-sm-3">
          <mat-checkbox class="example-margin" [(ngModel)]="exhibitors_showall" (ngModelChange)="toggle_show_all_stalls()" >Show All</mat-checkbox> 
        </div>
        <div class="col-sm-6 text-right">
          <mat-list role="list">
            <mat-list-item role="listitem">
              <button mat-button [disabled]="exhibitors_current_page==0" 
                  (click)="exhibitors_current_page=0;get_stalls();" >
                      <i class="material-icons">first_page</i>
              </button>
            </mat-list-item>
            <mat-list-item role="listitem">
              <button mat-button [disabled]="exhibitors_current_page==0" 
                  (click)="exhibitors_current_page=exhibitors_current_page-1;get_stalls();">
                      <i class="material-icons">keyboard_arrow_left</i>
              </button>
            </mat-list-item>
            <mat-list-item role="listitem" >Page  {{exhibitors_current_page + 1}} of  {{exhibitors_pages}}</mat-list-item> 
            <mat-list-item role="listitem">
              <button mat-button [disabled]="exhibitors_current_page==(exhibitors_pages-1)" 
                  (click)="exhibitors_current_page=exhibitors_current_page+1;get_stalls();">
                      <i class="material-icons">navigate_next</i>
              </button>
            </mat-list-item>
            <mat-list-item role="listitem">
              <button mat-button [disabled]="exhibitors_current_page==(exhibitors_pages-1)" 
                  (click)="exhibitors_current_page=(exhibitors_pages-1);get_stalls();">
                      <i class="material-icons">last_page</i>
              </button>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>--> 
    <div class="row list" *ngIf="isSuccess && total_exhibitors > 0">
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 mrgn-b-lg"  *ngFor="let exh_info of exhibitors">
        <mat-card>
          <div class="row">
            <div class="col-sm-4">
              <div class="ExhiProfile">
                <a  target="_blank" href="/reports/catalogue-detail/{{getBase64URIencode(exh_info.id)}}" >
                  <img [src]="getFullLogoUrl(exh_info.logo_big_thumb)" title="logo" />
                </a>
              </div>
            </div>
            <div class="col-sm-8 pad-l-none textC">
              <a class="shortList" target="_blank" href="/reports/catalogue-detail/{{getBase64URIencode(exh_info.id)}}" >
                <h3 class="font-bold-six">{{exh_info.company_name}}</h3>
              </a>
              <p class="shortList">{{exh_info.pavillion_name}}</p>
              <p class="shortList" styel="text-transform: capitalize;"><i class="material-icons">place</i >{{exh_info.city}}, {{exh_info.state}}, {{exh_info.country}}</p>
            </div>
          </div>                       
        </mat-card>
      </div> 
       <!-- <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mrgn-b-lg">
            <mat-card>
              <div class="row">
                <div class="col-sm-4">
                  <div class="ExhiProfile">
                    <img src="assets/images/exh-img.png" title="logo">
                  </div>
                </div>
                <div class="col-sm-8 pad-l-none">
                  <a href="#">
                    <h3 class="font-bold-six">DuPont</h3>
                  </a>
                  <p class="">Agri Input pavallion</p>
                  <p styel="text-transform: capitalize;"><i class="material-icons">place</i >Pune, Maharashtra, India</p>
                </div>
              </div>                       
            </mat-card>
        </div> 
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mrgn-b-lg">
            <mat-card>
              <div class="row">
                <div class="col-sm-4">
                  <div class="ExhiProfile">
                    <img src="assets/images/exh-img.png" title="logo">
                  </div>
                </div>
                <div class="col-sm-8 pad-l-none">
                  <a href="#">
                    <h3 class="font-bold-six">DuPont</h3>
                  </a>
                  <p class="">Agri Input pavallion</p>
                  <p styel="text-transform: capitalize;"><i class="material-icons">place</i >Pune, Maharashtra, India</p>
                </div>
              </div>                       
            </mat-card>
        </div> 
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mrgn-b-lg">
            <mat-card>
              <div class="row">
                <div class="col-sm-4">
                  <div class="ExhiProfile">
                    <img src="assets/images/exh-img.png" title="logo">
                  </div>
                </div>
                <div class="col-sm-8 pad-l-none">
                  <a href="#">
                    <h3 class="font-bold-six">DuPont</h3>
                  </a>
                  <p class="">Agri Input pavallion</p>
                  <p styel="text-transform: capitalize;"><i class="material-icons">place</i >Pune, Maharashtra, India</p>
                </div>
              </div>                       
            </mat-card>
        </div> 
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mrgn-b-lg">
            <mat-card>
              <div class="row">
                <div class="col-sm-4">
                  <div class="ExhiProfile">
                    <img src="assets/images/exh-img.png" title="logo">
                  </div>
                </div>
                <div class="col-sm-8 pad-l-none">
                  <a href="#">
                    <h3 class="font-bold-six">DuPont</h3>
                  </a>
                  <p class="">Agri Input pavallion</p>
                  <p styel="text-transform: capitalize;"><i class="material-icons">place</i >Pune, Maharashtra, India</p>
                </div>
              </div>                       
            </mat-card>
        </div> 
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 mrgn-b-lg">
            <mat-card>
              <div class="row">
                <div class="col-sm-4">
                  <div class="ExhiProfile">
                    <img src="assets/images/exh-img.png" title="logo">
                  </div>
                </div>
                <div class="col-sm-8 pad-l-none">
                  <a href="#">
                    <h3 class="font-bold-six">DuPont</h3>
                  </a>
                  <p class="">Agri Input pavallion</p>
                  <p styel="text-transform: capitalize;"><i class="material-icons">place</i >Pune, Maharashtra, India</p>
                </div>
              </div>                       
            </mat-card>
        </div> -->
    </div>
  </div>
</div>


<a id="back-to-top" href="#" class="back-to-top" role="button"> <img src="assets/images/topArrow.png" title="arrow"></a>